Repository wjw1-Evan/aspire-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

docs: 重构分页文档，消除重复内容
  docs/rules/00-分页规范.md
  docs/rules/backend/04-分页处理规范.md
Due: prettier --write

feat: 前端统一使用 PageParams 升级分页相关代码
  Platform.Admin/src/services/cloud-storage/api.ts
  Platform.Admin/src/services/iot/api.ts
  Platform.Admin/src/services/park/index.ts
  Platform.Admin/src/services/task/api.ts
  Platform.Admin/src/services/user/api.ts
  Platform.Admin/src/services/visit/index.ts
  Platform.Admin/src/services/workflow/api.ts
  Platform.Admin/src/services/xiaoke/api.ts
  Platform.Admin/src/types/page-params.ts
Due: prettier --write, eslint --fix

refactor: standardize pagination by introducing PageParams and ToPagedList extension methods across services and controllers
  Platform.Admin/src/pages/iot-platform/components/DataCenter.tsx
  Platform.Admin/src/pages/iot-platform/components/EventManagement.tsx
  Platform.Admin/src/pages/welcome/components/IoTEventAlertsCard.tsx
  Platform.Admin/src/services/iotService.ts
  Platform.ApiService/Controllers/ChatSessionsController.cs
  Platform.ApiService/Controllers/DocumentController.cs
  Platform.ApiService/Controllers/IoTController.cs
  Platform.ApiService/Controllers/ParkVisitController.cs
  Platform.ApiService/Controllers/PasswordBookController.cs
  Platform.ApiService/Controllers/StorageQuotaController.cs
  Platform.ApiService/Models/ChatModels.cs
  Platform.ApiService/Models/FileShare/FileShareControllerRequests.cs
  Platform.ApiService/Models/IoTRequestModels.cs
  Platform.ApiService/Models/ParkManagementModels.cs
  Platform.ApiService/Models/PasswordBookModels.cs
  Platform.ApiService/Services/BulkOperationService.cs
  Platform.ApiService/Services/ChatService.cs
  Platform.ApiService/Services/ChatSessionService.cs
  Platform.ApiService/Services/DocumentService.cs
  Platform.ApiService/Services/IChatService.cs
  Platform.ApiService/Services/IChatSessionService.cs
  Platform.ApiService/Services/IIoTService.cs
  Platform.ApiService/Services/IStorageQuotaService.cs
  Platform.ApiService/Services/IoTService.cs
  Platform.ApiService/Services/Mcp/Handlers/DocumentMcpToolHandler.cs
  Platform.ApiService/Services/Mcp/Handlers/NotificationMcpToolHandler.cs
  Platform.ApiService/Services/Park/IParkVisitService.cs
  Platform.ApiService/Services/Park/ParkVisitService.cs
  Platform.ApiService/Services/PasswordBookService.cs
  Platform.ApiService/Services/StorageQuotaService.cs
  Platform.ServiceDefaults/Extensions/PagingExtensions.cs
  Platform.ServiceDefaults/Models/PageParams.cs
  Platform.ServiceDefaults/Models/ToPagedList.cs
Due: prettier --write, eslint --fix

refactor: replace custom paging models with PageParams and update query extensions to use case-insensitive search
  Platform.Admin/package-lock.json
  Platform.ApiService/Services/Mcp/Handlers/FormMcpToolHandler.cs
  Platform.ApiService/Services/WorkflowTodoService.cs
  Platform.ServiceDefaults/Extensions/PagingExtensions.cs
  Platform.ServiceDefaults/Extensions/QueryableExtensions.cs
  Platform.ServiceDefaults/Models/PageParams.cs
  Platform.ServiceDefaults/Models/ToPagedList.cs
  aspire.config.json
Due: prettier --write

refactor: optimize QueryableExtensions to improve performance and readability
  Platform.ServiceDefaults/Extensions/QueryableExtensions.cs
Due: none

feat: implement server-side sorting for DataTable components across all modules
  Platform.Admin/src/components/DataTable/index.tsx
  Platform.Admin/src/pages/document/approval.tsx
  Platform.Admin/src/pages/document/list.tsx
  Platform.Admin/src/pages/my-activity/index.tsx
  Platform.Admin/src/pages/role-management/index.tsx
  Platform.Admin/src/pages/user-log/index.tsx
  Platform.Admin/src/pages/workflow/list.tsx
  Platform.ServiceDefaults/Extensions/QueryableExtensions.cs
Due: prettier --write, eslint --fix

feat: add column sorting support and backend parameter mapping to workflow tables
  Platform.Admin/src/pages/workflow/forms/index.tsx
  Platform.Admin/src/pages/workflow/knowledge-base/index.tsx
  Platform.Admin/src/pages/workflow/monitor.tsx
Due: prettier --write, eslint --fix

refactor: 优化 Admin 端代码并修复用户角色显示问题
  Platform.Admin/src/components/StatCard.tsx
  Platform.Admin/src/pages/cloud-storage/recycle/index.tsx
  Platform.Admin/src/pages/cloud-storage/shared/index.tsx
  Platform.Admin/src/pages/my-activity/index.tsx
  Platform.Admin/src/pages/task-management/components/TaskDetail.tsx
  Platform.Admin/src/pages/task-management/index.tsx
  Platform.Admin/src/pages/user-log/components/LogDetailDrawer.tsx
  Platform.Admin/src/pages/user-management/components/UserDetail.tsx
  Platform.Admin/src/pages/welcome/components/RecentActivitiesCard.tsx
  Platform.Admin/src/utils/task.ts
  Platform.ApiService/Services/IUserService.cs
  Platform.ApiService/Services/UserService.cs
Due: prettier --write, eslint --fix

docs: 更新 03-页面与组件结构.md，参考密码本模块完整实现
  docs/rules/frontend-admin/03-页面与组件结构.md
Due: prettier --write

refactor: migrate direct API requests in user management to dedicated service functions
  Platform.Admin/src/pages/user-management/index.tsx
  Platform.Admin/src/services/user/api.ts
Due: prettier --write, eslint --fix

refactor: remove password-book module and integrate @ant-design/pro-components
  Platform.Admin/package-lock.json
  Platform.Admin/package.json
  Platform.Admin/src/components/StatCard.tsx
  Platform.Admin/src/locales/zh-CN/pages.ts
  Platform.Admin/src/pages/password-book/components/ExportDialog.tsx
  Platform.Admin/src/pages/password-book/components/PasswordBookForm.tsx
  Platform.Admin/src/pages/password-book/components/PasswordGenerator.tsx
  Platform.Admin/src/pages/password-book/index.tsx
  Platform.Admin/src/pages/password-book/types.ts
  Platform.Admin/src/services/password-book/api.ts
  Platform.Admin/src/types/page-params.ts
  Platform.Admin/src/types/unified-api.ts
Due: prettier --write, eslint --fix

refactor: optimize password book edit flow by using local state instead of redundant API calls
  Platform.Admin/src/pages/password-book/index.tsx
  Platform.Admin/src/types/unified-api.ts
Due: prettier --write, eslint --fix

refactor: decouple authentication types from unified API definitions by moving them to a dedicated services module
  Platform.Admin/src/hooks/useAuthState.ts
  Platform.Admin/src/pages/password-book/index.tsx
  Platform.Admin/src/services/auth/types.ts
  Platform.Admin/src/services/user/api.ts
  Platform.Admin/src/types/unified-api.ts
Due: prettier --write, eslint --fix

refactor: streamline visit statistics page state management and API integration
  Platform.Admin/src/pages/cloud-storage/files/index.tsx
  Platform.Admin/src/pages/park-management/asset/index.tsx
  Platform.Admin/src/pages/park-management/contract/index.tsx
  Platform.Admin/src/pages/park-management/investment/index.tsx
  Platform.Admin/src/pages/park-management/statistics/index.tsx
  Platform.Admin/src/pages/park-management/visit-assessment/index.tsx
  Platform.Admin/src/pages/park-management/visit-knowledge-base/index.tsx
  Platform.Admin/src/pages/park-management/visit-statistics/index.tsx
Due: prettier --write, eslint --fix

refactor: add Drawer and Descriptions components to cloud storage files page
  Platform.Admin/src/pages/cloud-storage/files/index.tsx
Due: prettier --write, eslint --fix

refactor: remove user management types and add IoT table hook
  Platform.Admin/src/pages/account/center/index.tsx
  Platform.Admin/src/pages/cloud-storage/files/index.tsx
  Platform.Admin/src/pages/cloud-storage/quota/index.tsx
  Platform.Admin/src/pages/document/components/ApproveModal.tsx
  Platform.Admin/src/pages/document/components/DelegateModal.tsx
  Platform.Admin/src/pages/document/components/DocumentCreateModal.tsx
  Platform.Admin/src/pages/document/components/DocumentDetailDrawer.tsx
  Platform.Admin/src/pages/document/components/DocumentStatistics.tsx
  Platform.Admin/src/pages/document/components/DocumentSubmitModal.tsx
  Platform.Admin/src/pages/document/components/DynamicFormFields.tsx
  Platform.Admin/src/pages/document/components/RejectModal.tsx
  Platform.Admin/src/pages/document/components/ReturnModal.tsx
  Platform.Admin/src/pages/document/components/index.ts
  Platform.Admin/src/pages/document/components/types.ts
  Platform.Admin/src/pages/document/hooks/useDocumentManagement.ts
  Platform.Admin/src/pages/iot-platform/components/DataCenter.tsx
  Platform.Admin/src/pages/iot-platform/components/DataPointManagement.tsx
  Platform.Admin/src/pages/iot-platform/hooks/useIotTable.ts
  Platform.Admin/src/pages/iot-platform/index.tsx
  Platform.Admin/src/pages/organization/components/AssignUserModal.tsx
  Platform.Admin/src/pages/organization/index.tsx
  Platform.Admin/src/pages/user-management/components/JoinRequestsTable.tsx
  Platform.Admin/src/pages/user-management/components/UserForm.tsx
  Platform.Admin/src/pages/user-management/components/UserStatistics.tsx
  Platform.Admin/src/pages/user-management/components/UserTableActions.tsx
  Platform.Admin/src/pages/user-management/index.tsx
  Platform.Admin/src/pages/user-management/types.ts
Due: prettier --write, eslint --fix

refactor: streamline workflow monitor component and add custom node types for workflow designer
  Platform.Admin/src/global.less
  Platform.Admin/src/pages/cloud-storage/files/components/CreateFolderModal.tsx
  Platform.Admin/src/pages/cloud-storage/files/components/FileDetailDrawer.tsx
  Platform.Admin/src/pages/cloud-storage/files/components/FilePreviewModal.tsx
  Platform.Admin/src/pages/cloud-storage/files/components/RenameModal.tsx
  Platform.Admin/src/pages/cloud-storage/files/components/ShareModal.tsx
  Platform.Admin/src/pages/cloud-storage/files/components/UploadModal.tsx
  Platform.Admin/src/pages/cloud-storage/files/components/index.ts
  Platform.Admin/src/pages/cloud-storage/files/types.ts
  Platform.Admin/src/pages/cloud-storage/files/utils.ts
  Platform.Admin/src/pages/cloud-storage/recycle/index.tsx
  Platform.Admin/src/pages/cloud-storage/shared/index.tsx
  Platform.Admin/src/pages/iot-platform/components/DeviceManagement.tsx
  Platform.Admin/src/pages/iot-platform/components/EventManagement.tsx
  Platform.Admin/src/pages/iot-platform/components/GatewayManagement.tsx
  Platform.Admin/src/pages/park-management/asset/index.tsx
  Platform.Admin/src/pages/park-management/contract/index.tsx
  Platform.Admin/src/pages/park-management/enterprise-service/index.tsx
  Platform.Admin/src/pages/park-management/investment/index.tsx
  Platform.Admin/src/pages/park-management/statistics/components/index.ts
  Platform.Admin/src/pages/park-management/statistics/index.tsx
  Platform.Admin/src/pages/park-management/tenant/index.tsx
  Platform.Admin/src/pages/park-management/visit-assessment/index.tsx
  Platform.Admin/src/pages/park-management/visit-knowledge-base/index.tsx
  Platform.Admin/src/pages/park-management/visit-statistics/index.tsx
  Platform.Admin/src/pages/park-management/visit-task/index.tsx
  Platform.Admin/src/pages/workflow/components/BulkOperationsPanel.tsx
  Platform.Admin/src/pages/workflow/components/WorkflowDesigner.less
  Platform.Admin/src/pages/workflow/components/WorkflowDesigner.tsx
  Platform.Admin/src/pages/workflow/components/WorkflowDesignerConstants.ts
  Platform.Admin/src/pages/workflow/components/WorkflowExportModal.tsx
  Platform.Admin/src/pages/workflow/components/WorkflowImportModal.tsx
  Platform.Admin/src/pages/workflow/components/WorkflowSidebar.tsx
  Platform.Admin/src/pages/workflow/list.tsx
  Platform.Admin/src/pages/workflow/monitor.tsx
Due: prettier --write, eslint --fix

refactor: 删除多个页面的样式文件以简化代码结构
  Platform.Admin/src/pages/park-management/asset/index.less
  Platform.Admin/src/pages/park-management/contract/index.less
  Platform.Admin/src/pages/park-management/enterprise-service/index.less
  Platform.Admin/src/pages/park-management/investment/index.less
  Platform.Admin/src/pages/park-management/statistics/index.less
  Platform.Admin/src/pages/park-management/tenant/index.less
  Platform.Admin/src/pages/park-management/visit-assessment/index.less
  Platform.Admin/src/pages/park-management/visit-knowledge-base/index.less
  Platform.Admin/src/pages/park-management/visit-statistics/index.less
  Platform.Admin/src/pages/park-management/visit-task/index.less
Due: prettier --write

refactor: remove TaskTree component and related types; enhance TaskManagement with detailed task view and execution logs
  Platform.Admin/src/pages/task-management/components/GanttChart.tsx
  Platform.Admin/src/pages/task-management/components/TaskDetail.tsx
  Platform.Admin/src/pages/task-management/components/TaskExecutionPanel.tsx
  Platform.Admin/src/pages/task-management/components/TaskForm.tsx
  Platform.Admin/src/pages/task-management/components/TaskTree.tsx
  Platform.Admin/src/pages/task-management/index.tsx
  Platform.Admin/src/pages/task-management/types.ts
Due: prettier --write, eslint --fix

refactor: 统一用户管理页面代码风格
  Platform.Admin/src/pages/user-management/index.tsx
Due: prettier --write, eslint --fix

fix: 恢复 ModalForm 的 key 属性避免编辑时数据残留
  Platform.Admin/src/pages/user-management/index.tsx
Due: prettier --write, eslint --fix

feat: 添加 package-lock.json 文件以管理依赖版本
  .opencode/package-lock.json
Due: prettier --write

refactor: 优化统计页面组件结构，调整统计数据展示样式
  Platform.Admin/src/pages/park-management/statistics/index.tsx
  Platform.Admin/src/pages/role-management/index.tsx
  Platform.Admin/src/pages/task-management/components/ProjectDetail.tsx
  Platform.Admin/src/pages/workflow/components/WorkflowDesignerConstants.tsx
  Platform.AppHost/Platform.AppHost.csproj
  Platform.ServiceDefaults/Platform.ServiceDefaults.csproj
Due: prettier --write, eslint --fix

fix: 修复 Form 导入问题
  Platform.Admin/src/pages/organization/index.tsx
Due: prettier --write, eslint --fix

refactor: 清理 Admin 端无用代码并优化模块结构
  Platform.Admin/src/hooks/useCrudData.ts
  Platform.Admin/src/hooks/useRoleMap.ts
  Platform.Admin/src/hooks/useTablePagination.ts
  Platform.Admin/src/hooks/useTableResize.ts
  Platform.Admin/src/hooks/useUserList.ts
  Platform.Admin/src/hooks/useUserStatistics.ts
  Platform.Admin/src/pages/park-management/statistics/components/OverviewCards.tsx
  Platform.Admin/src/pages/park-management/statistics/components/index.ts
  Platform.Admin/src/pages/role-management/components/RoleForm.tsx
  Platform.Admin/src/pages/user-log/components/LogDetailDrawer.tsx
  Platform.Admin/src/pages/user-management/README.md
  Platform.Admin/src/pages/user-management/index.tsx
  Platform.Admin/src/pages/welcome/utils/index.ts
  Platform.Admin/src/services/ant-design-pro/api.ts
  Platform.Admin/src/services/ant-design-pro/index.ts
  Platform.Admin/src/services/ant-design-pro/typings.d.ts
  Platform.Admin/src/services/auth/types.ts
  Platform.Admin/src/services/cloud-storage/api.ts
  Platform.Admin/src/services/cloud-storage/index.ts
  Platform.Admin/src/services/cloud-storage/quotaApi.ts
  Platform.Admin/src/services/cloud-storage/recycleApi.ts
  Platform.Admin/src/services/cloud-storage/shareApi.ts
  Platform.Admin/src/services/cloud-storage/versionApi.ts
  Platform.Admin/src/services/menu/api.ts
  Platform.Admin/src/services/menu/types.ts
  Platform.Admin/src/services/organization/api.ts
  Platform.Admin/src/services/park/index.ts
  Platform.Admin/src/services/role/api.ts
  Platform.Admin/src/services/role/types.ts
  Platform.Admin/src/services/social/api.ts
  Platform.Admin/src/services/social/locationService.ts
  Platform.Admin/src/services/user-log/api.ts
  Platform.Admin/src/services/user-log/types.ts
  Platform.Admin/src/services/visit/index.ts
  Platform.Admin/src/services/workflow/execution-api.ts
  Platform.Admin/src/types/layout.ts
  Platform.Admin/src/utils/geolocation.ts
  Platform.Admin/src/utils/modalMigration.md
Due: prettier --write, eslint --fix

fix: 恢复被意外删除的服务文件
  Platform.Admin/src/pages/welcome/utils/index.tsx
  Platform.Admin/src/services/ant-design-pro/api.ts
  Platform.Admin/src/services/social/locationService.ts
Due: prettier --write, eslint --fix

fix: 验证码组件 API 不可用时优雅降级
  Platform.Admin/src/components/ImageCaptcha/index.tsx
Due: prettier --write, eslint --fix

fix: 修复验证码 API 路径与后端统一
  Platform.Admin/src/services/ant-design-pro/api.ts
Due: prettier --write, eslint --fix

fix: 修复 IoT 事件查询方法与未处理事件计数响应结构
  Platform.Admin/src/locales/zh-CN/menu.ts
  Platform.Admin/src/pages/welcome/components/IoTEventAlertsCard.tsx
  Platform.Admin/src/services/iot/api.ts
Due: prettier --write, eslint --fix

fix: 删除 document/list 中调用不存在接口的代码
  Platform.Admin/src/pages/document/list.tsx
Due: prettier --write, eslint --fix

fix: 修复任务管理 API 路径并补充缺失的翻译键
  Platform.Admin/src/locales/zh-CN/pages.ts
  Platform.Admin/src/pages/task-management/index.tsx
Due: prettier --write, eslint --fix

chore: 自动提交时同步推送到远程
  .opencode/commands/commit.md
Due: prettier --write

chore: 添加自动拉取远程代码功能
  .opencode/commands/commit.md
Due: prettier --write

feat: 添加自动构建命令文档
  .opencode/commands/build.md
Due: prettier --write

feat: 优化快速操作面板，增加折叠/展开和滚动功能
  Platform.Admin/src/pages/welcome/components/QuickActionsPanel.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json,css,less,md}
  eslint --fix: any of: **/*.{ts,tsx,js,jsx}
