Repository wjw1-Evan/aspire-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx,json,css,less,md}": [
    "prettier --write",
    "git add"
  ],
  "**/*.{ts,tsx,js,jsx}": [
    "eslint --fix",
    "git add"
  ]
}

fix: 更新登录逻辑以支持验证码显示条件
  Platform.Admin/src/pages/user/login/index.tsx
  Platform.ApiService/Filters/BusinessExceptionFilter.cs
  Platform.ApiService/Services/PasswordEncryptionService.cs
  Platform.AppHost.Tests/Platform.AppHost.Tests.csproj
  Platform.AppHost/Platform.AppHost.csproj
  Platform.ServiceDefaults/Platform.ServiceDefaults.csproj
Due: prettier --write, eslint --fix

refactor: 统一前端分页数据字段为 queryable/rowCount，配合后端 API 调整
  Platform.Admin/src/app.tsx
  Platform.Admin/src/pages/Welcome.tsx
  Platform.Admin/src/pages/document/create-by-workflow.tsx
  Platform.Admin/src/pages/document/create.tsx
  Platform.Admin/src/pages/iot-platform/components/DataCenter.tsx
  Platform.Admin/src/pages/my-activity/index.tsx
  Platform.Admin/src/pages/park-management/asset/index.tsx
  Platform.Admin/src/pages/park-management/contract/index.tsx
  Platform.Admin/src/pages/park-management/enterprise-service/index.tsx
  Platform.Admin/src/pages/park-management/investment/index.tsx
  Platform.Admin/src/pages/park-management/tenant/index.tsx
  Platform.Admin/src/pages/park-management/visit-knowledge-base/index.tsx
  Platform.Admin/src/pages/park-management/visit-task/index.tsx
  Platform.Admin/src/pages/role-management/index.tsx
  Platform.Admin/src/pages/user-log/index.tsx
  Platform.Admin/src/pages/user-management/types.ts
  Platform.Admin/src/pages/workflow/components/WorkflowDesigner.tsx
  Platform.Admin/src/pages/workflow/forms/index.tsx
  Platform.Admin/src/pages/workflow/knowledge-base/documents.tsx
  Platform.Admin/src/pages/workflow/knowledge-base/index.tsx
  Platform.Admin/src/pages/workflow/list.tsx
  Platform.Admin/src/pages/workflow/monitor.tsx
  Platform.Admin/src/pages/xiaoke-management/chat-history/components/ChatHistoryManagement.tsx
  Platform.Admin/src/pages/xiaoke-management/config/components/ConfigManagement.tsx
  Platform.Admin/src/request-error-config.ts
  Platform.Admin/src/services/chat/api.ts
  Platform.Admin/src/services/document/api.ts
  Platform.Admin/src/services/form/api.ts
  Platform.Admin/src/services/iot/api.ts
  Platform.Admin/src/services/iotService.ts
  Platform.Admin/src/services/user-log/api.ts
  Platform.Admin/src/services/user/api.ts
  Platform.Admin/src/services/workflow/api.ts
  Platform.Admin/src/services/workflow/execution-api.ts
  Platform.Admin/src/services/workflow/knowledge-base.ts
  Platform.Admin/src/types/unified-api.ts
  Platform.Admin/src/utils/apiResponse.ts
  Platform.Admin/src/utils/errorInterceptor.ts
Due: prettier --write, eslint --fix

refactor(admin): remove frontend data transformation, fully adopt backend pagination format (queryable/rowCount) across UI and API wrappers; align iot/document/workflow/service layers
  .playwright-mcp/page-2026-04-01T15-02-24-772Z.yml
  Platform.ApiService/Services/UserActivityLogService.cs
  Platform.ApiService/appsettings.Development.json
  docs/rules/backend/00-总览.md
  docs/rules/backend/01-控制器与权限.md
  docs/rules/backend/02-数据访问与审计.md
  docs/rules/backend/03-中间件与响应.md
  docs/rules/backend/04-分页处理规范.md
  docs/rules/backend/05-实时通信SSE.md
  docs/rules/backend/06-批量查询规范.md
  docs/rules/backend/07-类型命名规范.md
  docs/rules/backend/README.md
  docs/rules/backend/commit-message.txt
  docs/rules/frontend-admin/01-路由与菜单.md
Due: prettier --write

refactor(admin): 删除 paging 辅助工具 paged.ts，继续坚持后端统一分页字段（queryable/rowCount）
  Platform.Admin/src/pages/iot-platform/components/DataCenter.tsx
  Platform.Admin/src/pages/park-management/enterprise-service/index.tsx
  Platform.Admin/src/pages/park-management/investment/index.tsx
  Platform.Admin/src/pages/park-management/tenant/index.tsx
  Platform.Admin/src/pages/park-management/visit-task/index.tsx
  Platform.Admin/src/pages/role-management/index.tsx
  Platform.Admin/src/pages/user-log/index.tsx
  Platform.Admin/src/pages/workflow/knowledge-base/documents.tsx
  Platform.Admin/src/pages/workflow/knowledge-base/index.tsx
  Platform.Admin/src/pages/workflow/list.tsx
  docs/rules/frontend-admin/01-路由与菜单.md
  docs/rules/frontend-admin/02-服务层封装.md
  docs/rules/frontend-admin/03-页面与组件结构.md
  docs/rules/frontend-admin/04-TypeScript类型安全.md
  docs/rules/frontend-admin/05-页面风格统一规范.md
  docs/rules/frontend-admin/commit-message.txt
Due: prettier --write, eslint --fix

refactor(admin): 删除 dup apiResponse.ts，统一使用 Platform.Admin/src/types/unified-api.ts 作为 ApiResponse 的单一来源
  Platform.Admin/src/utils/apiResponse.ts
Due: prettier --write, eslint --fix

refactor(admin): 统一 ApiResponse 的后端适配，新增统一入口文件 Platform.Admin/src/utils/apiResponse.ts，并让 unified-api.ts 通过别名对接；确保全局导入统一来源
  Platform.Admin/src/types/unified-api.ts
  Platform.Admin/src/utils/apiResponse.ts
Due: prettier --write, eslint --fix

refactor(admin): 合并 ApiResponse 相关定义到 unified-api.ts，删除冗余 / utils/apiResponse.ts，统一来源为 unified-api
  Platform.Admin/src/types/unified-api.ts
  Platform.Admin/src/utils/apiResponse.ts
Due: prettier --write, eslint --fix

refactor(admin): 统一 ApiResponse 后端适配，废弃旧 ApiResponseLegacy，全局确保只使用新版类型
  Platform.Admin/src/types/unified-api.ts
Due: prettier --write, eslint --fix

refactor(admin): 优化 PagedResult<T> 注释格式，移除冗余示例
  Platform.Admin/src/types/unified-api.ts
Due: prettier --write, eslint --fix

fix: 修复前端编译错误，移除对已删除 paged.ts 的引用，改用后端统一字段
  Platform.Admin/src/pages/park-management/investment/index.tsx
  Platform.Admin/src/pages/workflow/knowledge-base/documents.tsx
Due: prettier --write, eslint --fix

refactor: 统一 MCP Handler 分页字段名并清理死代码
  Platform.Admin/src/pages/xiaoke-management/types.ts
  Platform.Admin/src/services/xiaoke/api.ts
  Platform.ApiService/Models/ProjectDtoModels.cs
  Platform.ApiService/Models/RuleModels.cs
  Platform.ApiService/Models/TaskDtoModels.cs
  Platform.ApiService/Models/User.cs
  Platform.ApiService/Services/Mcp/Handlers/DocumentMcpToolHandler.cs
  Platform.ApiService/Services/Mcp/Handlers/NotificationMcpToolHandler.cs
  Platform.ApiService/Services/Mcp/Handlers/TaskMcpToolHandler.cs
Due: prettier --write, eslint --fix

fix(admin): 统一 chat SessionListResponse 分页字段 totalPages → pageCount
  Platform.Admin/src/services/chat/api.ts
Due: prettier --write, eslint --fix

docs: 更新前后端分页类型规范文档
  docs/rules/backend/04-分页处理规范.md
  docs/rules/backend/README.md
  docs/rules/frontend-admin/04-TypeScript类型安全.md
  docs/rules/frontend-admin/README.md
Due: prettier --write

refactor: 移除不必要的 Microsoft.EntityFrameworkCore.DynamicLinq 包引用
  Platform.ApiService/Platform.ApiService.csproj
Due: none

fix(admin): 修复统一分页类型迁移后的 TypeScript 编译错误
  Platform.Admin/src/hooks/useRoleMap.ts
  Platform.Admin/src/pages/Welcome.tsx
  Platform.Admin/src/pages/cloud-storage/files/index.tsx
  Platform.Admin/src/pages/cloud-storage/quota/index.tsx
  Platform.Admin/src/pages/document/hooks/useDocumentManagement.ts
  Platform.Admin/src/pages/park-management/asset/index.tsx
  Platform.Admin/src/pages/park-management/contract/index.tsx
  Platform.Admin/src/pages/park-management/enterprise-service/index.tsx
  Platform.Admin/src/pages/park-management/investment/index.tsx
  Platform.Admin/src/pages/park-management/tenant/index.tsx
  Platform.Admin/src/pages/park-management/visit-task/index.tsx
  Platform.Admin/src/pages/task-management/components/ProjectMemberManagement.tsx
  Platform.Admin/src/pages/task-management/types.ts
  Platform.Admin/src/pages/user-management/components/UserDetail.tsx
  Platform.Admin/src/pages/user-management/components/UserForm.tsx
  Platform.Admin/src/pages/user-management/index.tsx
  Platform.Admin/src/pages/welcome/components/RecentActivitiesCard.tsx
  Platform.Admin/src/pages/workflow/components/NodeConfigDrawer.tsx
  Platform.Admin/src/pages/workflow/components/WorkflowDesigner.tsx
  Platform.Admin/src/pages/workflow/forms/index.tsx
  Platform.Admin/src/pages/workflow/list.tsx
  Platform.Admin/src/pages/workflow/monitor.tsx
  Platform.Admin/src/pages/xiaoke-management/chat-history/components/ChatHistoryManagement.tsx
  Platform.Admin/src/pages/xiaoke-management/config/components/ConfigManagement.tsx
  Platform.Admin/src/services/chat/api.ts
  Platform.Admin/src/services/role/api.ts
  Platform.Admin/src/services/user/api.ts
  Platform.Admin/src/types/unified-api.ts
  Platform.Admin/tsconfig.json
Due: prettier --write, eslint --fix

fix(api): 修复 storage-quota/warnings 端点使用旧版 PageResult 的问题
  Platform.ApiService/Controllers/StorageQuotaController.cs
Due: none

fix(api): 修复 FileVersionController 使用旧版 PageResult 的问题
  Platform.ApiService/Controllers/FileVersionController.cs
Due: none

refactor(api): 将分页逻辑下沉到服务层
  Platform.ApiService/Controllers/FileVersionController.cs
  Platform.ApiService/Controllers/StorageQuotaController.cs
  Platform.ApiService/Services/FileVersionService.cs
  Platform.ApiService/Services/IFileVersionService.cs
  Platform.ApiService/Services/IStorageQuotaService.cs
  Platform.ApiService/Services/StorageQuotaService.cs
Due: none

fix(api): 补充 ParkAssetService 的 PagedResult 类型引用
  Platform.ApiService/Services/Park/ParkAssetService.cs
Due: none

fix(api): 统一 BulkOperationService 返回类型为 PagedResult
  Platform.ApiService/Services/BulkOperationService.cs
  Platform.ApiService/Services/IWorkflowEnhancedServices.cs
Due: none

docs: 更新分页处理规范文档
  docs/rules/backend/04-分页处理规范.md
  docs/rules/backend/README.md
  docs/rules/frontend-admin/04-TypeScript类型安全.md
Due: prettier --write

refactor: 拆分角色统计与分页接口
  Platform.Admin/src/pages/role-management/index.tsx
  Platform.Admin/src/services/role/api.ts
  Platform.Admin/src/services/role/types.ts
  Platform.ApiService/Controllers/RoleController.cs
  Platform.ApiService/Services/IRoleService.cs
  Platform.ApiService/Services/RoleService.cs
Due: prettier --write, eslint --fix

fix(admin): 优化 IoT 平台统计数据的获取方式
  Platform.Admin/src/pages/iot-platform/components/DataPointManagement.tsx
  Platform.Admin/src/pages/iot-platform/components/EventManagement.tsx
  Platform.Admin/src/pages/iot-platform/components/GatewayManagement.tsx
Due: prettier --write, eslint --fix

docs: 添加统计与分页接口分离的规范文档
  docs/rules/backend/04-分页处理规范.md
  docs/rules/backend/README.md
  docs/rules/frontend-admin/04-TypeScript类型安全.md
Due: prettier --write

fix(api): 统一分页参数命名，将 Current 重命名为 Page
  Platform.Admin/src/services/iotService.ts
  Platform.ApiService/Controllers/FormController.cs
  Platform.ApiService/Controllers/IoTController.cs
  Platform.ApiService/Controllers/KnowledgeBaseController.cs
  Platform.ApiService/Controllers/RuleController.cs
  Platform.ApiService/Controllers/WorkflowController.cs
  Platform.ApiService/Controllers/XiaokeConfigController.cs
  Platform.ApiService/Models/AuthModels.cs
  Platform.ApiService/Models/IoTRequestModels.cs
  Platform.ApiService/Models/PasswordBookModels.cs
  Platform.ApiService/Services/ChatHistoryService.cs
  Platform.ApiService/Services/IIoTService.cs
  Platform.ApiService/Services/IoTService.cs
  Platform.ApiService/Services/Mcp/Handlers/NotificationMcpToolHandler.cs
  Platform.ApiService/Services/PasswordBookService.cs
  Platform.ApiService/Services/RuleService.cs
  Platform.ApiService/Services/XiaokeConfigService.cs
Due: prettier --write, eslint --fix

docs: 统一前后端分页规范文档
  docs/rules/00-分页规范.md
  docs/rules/00-通用原则.md
  docs/rules/README.md
  docs/rules/backend/04-分页处理规范.md
  docs/rules/backend/README.md
  docs/rules/frontend-admin/02-服务层封装.md
  docs/rules/frontend-admin/04-TypeScript类型安全.md
  docs/rules/frontend-admin/README.md
Due: prettier --write

fix: 修复编译器警告并拆分活动日志统计接口
  Platform.ApiService/Controllers/AuthController.cs
  Platform.ApiService/Controllers/JoinRequestController.cs
  Platform.ApiService/Controllers/RuleController.cs
  Platform.ApiService/Controllers/UserController.cs
  Platform.ApiService/Models/Response/ActivityLogStatisticsResponse.cs
  Platform.ApiService/Services/IUserActivityLogService.cs
  Platform.ApiService/Services/UserActivityLogService.cs
  Platform.ApiService/Services/WorkflowDefinitionQueryService.cs
  Platform.ServiceDefaults/Controllers/BaseApiController.cs
Due: none

fix(admin): 调用独立的统计接口获取活动日志统计数据
  Platform.Admin/src/pages/user-log/index.tsx
  Platform.Admin/src/services/user-log/api.ts
Due: prettier --write, eslint --fix

fix(admin): 添加 ThunderboltOutlined 导入
  Platform.Admin/src/pages/user-log/index.tsx
Due: prettier --write, eslint --fix

fix(api): 修复活动日志统计查询无法翻译为SQL的问题
  Platform.ApiService/Services/UserActivityLogService.cs
Due: none

fix(admin): 统计信息显示全局数据而非筛选后的数据
  Platform.Admin/src/pages/user-log/index.tsx
Due: prettier --write, eslint --fix

fix: 统一 user-log 和 my-activity 统计接口
  Platform.Admin/src/pages/my-activity/index.tsx
  Platform.Admin/src/services/user-log/api.ts
  Platform.ApiService/Controllers/UserController.cs
  Platform.ApiService/Services/IUserActivityLogService.cs
  Platform.ApiService/Services/UserActivityLogService.cs
Due: prettier --write, eslint --fix

fix: 恢复平均耗时统计，统一 user-log 和 my-activity 统计内容
  Platform.Admin/src/pages/my-activity/index.tsx
  Platform.Admin/src/pages/user-log/index.tsx
  Platform.Admin/src/services/user-log/api.ts
  Platform.ApiService/Models/Response/ActivityLogStatisticsResponse.cs
  Platform.ApiService/Services/UserActivityLogService.cs
Due: prettier --write, eslint --fix

fix(admin): 添加 SearchOutlined 导入
  Platform.Admin/src/pages/my-activity/index.tsx
Due: prettier --write, eslint --fix

Refactor sorting and pagination logic across services and controllers
  Platform.ApiService/Controllers/StorageQuotaController.cs
  Platform.ApiService/Controllers/UserController.cs
  Platform.ApiService/Controllers/WorkflowController.cs
  Platform.ApiService/Models/AuthModels.cs
  Platform.ApiService/Models/CloudStorageModels.cs
  Platform.ApiService/Models/ParkManagementModels.cs
  Platform.ApiService/Models/ProjectDtoModels.cs
  Platform.ApiService/Models/TaskDtoModels.cs
  Platform.ApiService/Models/User.cs
  Platform.ApiService/Services/BulkOperationService.cs
  Platform.ApiService/Services/CloudStorageService.cs
  Platform.ApiService/Services/Park/ParkEnterpriseServiceService.cs
  Platform.ApiService/Services/Park/ParkInvestmentService.cs
  Platform.ApiService/Services/Park/ParkTenantService.cs
  Platform.ApiService/Services/ProjectService.cs
  Platform.ApiService/Services/TaskService.cs
  Platform.ApiService/Services/UnifiedNotificationService.cs
  Platform.ApiService/Services/UserActivityLogService.cs
  Platform.ApiService/Services/UserService.cs
  Platform.ApiService/Services/WorkflowDefinitionQueryService.cs
  Platform.ServiceDefaults/Extensions/QueryableSortExtensions.cs
  Platform.ServiceDefaults/Models/PageParams.cs
Due: none

docs: 更新分页规范，统一前后端使用 ToPagedList 扩展方法
  docs/rules/00-分页规范.md
Due: prettier --write

docs: 明确说明 ToPagedList 的自动排序行为
  Platform.ServiceDefaults/Extensions/QueryableExtensions.cs
  docs/rules/00-分页规范.md
Due: prettier --write

docs: 更新分页规范中的 PageParams 定义
  docs/rules/00-分页规范.md
Due: prettier --write
