Repository wjw1-Evan/aspire-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx,json,css,less,md}": [
    "prettier --write",
    "git add"
  ],
  "**/*.{ts,tsx,js,jsx}": [
    "eslint --fix",
    "git add"
  ]
}

feat: 初始化时主动刷新过期 token，避免 401 跳转
  Platform.Admin/src/app.tsx
  Platform.Admin/src/services/ant-design-pro/api.ts
Due: prettier --write, eslint --fix

fix: 补充 task 管理页面缺失的国际化翻译键
  Platform.Admin/src/locales/ar-EG/modules/task.ts
  Platform.Admin/src/locales/bn-BD/modules/task.ts
  Platform.Admin/src/locales/de-DE/modules/task.ts
  Platform.Admin/src/locales/en-US/modules/task.ts
  Platform.Admin/src/locales/es-ES/modules/task.ts
  Platform.Admin/src/locales/fa-IR/modules/task.ts
  Platform.Admin/src/locales/fr-FR/modules/task.ts
  Platform.Admin/src/locales/id-ID/modules/task.ts
  Platform.Admin/src/locales/it-IT/modules/task.ts
  Platform.Admin/src/locales/ja-JP/modules/task.ts
  Platform.Admin/src/locales/ko-KR/modules/task.ts
  Platform.Admin/src/locales/pt-BR/modules/task.ts
  Platform.Admin/src/locales/ru-RU/modules/task.ts
  Platform.Admin/src/locales/th-TH/modules/task.ts
  Platform.Admin/src/locales/tr-TR/modules/task.ts
  Platform.Admin/src/locales/vi-VN/modules/task.ts
  Platform.Admin/src/locales/zh-CN/modules/task.ts
  Platform.Admin/src/locales/zh-TW/modules/task.ts
Due: prettier --write, eslint --fix

feat: 通知列表链接添加随机参数，点击后关闭下拉面板
  Platform.Admin/src/components/NoticeIcon/index.tsx
Due: prettier --write, eslint --fix

fix: BuildTaskTree 重复添加子任务的问题
  Platform.ApiService/Services/TaskService.cs
Due: none

feat: 项目详情任务增加信息展示，取消 Tab 切换
  Platform.Admin/src/pages/task-management/components/ProjectDetail.tsx
Due: prettier --write, eslint --fix

feat: QueryTasksAsync 添加 rootOnly 参数,子任务不再作为顶级行显示
  Platform.ApiService/Controllers/TaskController.cs
  Platform.ApiService/Services/ITaskCrudService.cs
  Platform.ApiService/Services/ITaskService.cs
  Platform.ApiService/Services/TaskCrudService.cs
  Platform.ApiService/Services/TaskService.cs
Due: none

feat: 任务列表默认展开树形子任务
  Platform.Admin/src/pages/task-management/index.tsx
Due: prettier --write, eslint --fix

fix: 改用受控expandedRowKeys确保列表默认展开父任务
  Platform.Admin/src/pages/task-management/index.tsx
Due: prettier --write, eslint --fix

fix: 项目列表排序无效--request未传递sort参数给后端
  Platform.Admin/src/pages/task-management/components/ProjectView.tsx
Due: prettier --write, eslint --fix

fix: 项目列表分页不生效--改用标准 {...params} 透传模式
  Platform.Admin/src/pages/task-management/components/ProjectView.tsx
Due: prettier --write, eslint --fix

fix: 园区管理模块ProTable排序标准化—移除手动sorter改用内置sort参数
  Platform.Admin/src/pages/park-management/asset/index.tsx
  Platform.Admin/src/pages/park-management/contract/index.tsx
  Platform.Admin/src/pages/park-management/enterprise-service/index.tsx
  Platform.Admin/src/pages/park-management/investment/index.tsx
  Platform.Admin/src/pages/park-management/visit-knowledge-base/index.tsx
Due: prettier --write, eslint --fix

fix: 工作流模块ProTable分页参数标准化—改用{...params}透传
  Platform.Admin/src/pages/workflow/forms/index.tsx
  Platform.Admin/src/pages/workflow/list.tsx
  Platform.Admin/src/pages/workflow/monitor.tsx
Due: prettier --write, eslint --fix

fix: 小科管理模块ProTable分页排序标准化—移除sortBy/sortOrder幻数字段
  Platform.Admin/src/pages/xiaoke-management/chat-history/components/ChatHistoryManagement.tsx
  Platform.Admin/src/pages/xiaoke-management/config/components/ConfigManagement.tsx
Due: prettier --write, eslint --fix

fix: 云存储和公文模块ProTable分页标准化—改用{...params}透传
  Platform.Admin/src/pages/cloud-storage/quota/index.tsx
  Platform.Admin/src/pages/document/list.tsx
Due: prettier --write, eslint --fix

refactor: 拆分 TaskMcpToolHandler，移除项目相关代码
  Platform.ApiService/Services/Mcp/Handlers/TaskMcpToolHandler.cs
Due: none

docs: 更新 MCP Handler 数量（23→30），新增云盘、配额、AI 聊天、小科配置模块
  Platform.ApiService/Services/Mcp/AGENTS.md
  README.md
  docs/agents/modules/mcp.md
Due: prettier --write

fix: 修复 ChatHistoryService 循环依赖导致小科会话 400 错误
  Platform.ApiService/Services/ChatHistoryService.cs
Due: none

feat: 添加 MCP 工具处理器（Auth/ChatAI/CloudStorage/Company/Dashboard/Role/Rule/StorageQuota/SystemMonitor/XiaokeConfig）
  Platform.ApiService/Services/Mcp/Handlers/AuthMcpToolHandler.cs
  Platform.ApiService/Services/Mcp/Handlers/ChatAiMcpToolHandler.cs
  Platform.ApiService/Services/Mcp/Handlers/CloudStorageMcpToolHandler.cs
  Platform.ApiService/Services/Mcp/Handlers/CompanyMcpToolHandler.cs
  Platform.ApiService/Services/Mcp/Handlers/DashboardMcpToolHandler.cs
  Platform.ApiService/Services/Mcp/Handlers/RoleMcpToolHandler.cs
  Platform.ApiService/Services/Mcp/Handlers/RuleMcpToolHandler.cs
  Platform.ApiService/Services/Mcp/Handlers/StorageQuotaMcpToolHandler.cs
  Platform.ApiService/Services/Mcp/Handlers/SystemMonitorMcpToolHandler.cs
  Platform.ApiService/Services/Mcp/Handlers/XiaokeConfigMcpToolHandler.cs
Due: none

refactor: MCP Handler 使用 IServiceScopeFactory 惰性解析聊天域服务以永久打破循环依赖
  Platform.ApiService/Services/Mcp/Handlers/ChatAiMcpToolHandler.cs
  Platform.ApiService/Services/Mcp/Handlers/XiaokeConfigMcpToolHandler.cs
Due: none

refactor: 修复小科 MCP 服务架构问题及 Fix 1-6
  Platform.ApiService/Controllers/ChatSessionsController.cs
  Platform.ApiService/Controllers/XiaokeConfigController.cs
  Platform.ApiService/Models/Dtos/XiaokeDtos.cs
  Platform.ApiService/Services/AiAssistantCoordinator.cs
  Platform.ApiService/Services/ChatAiService.cs
  Platform.ApiService/Services/ChatHistoryService.cs
  Platform.ApiService/Services/ChatService.cs
  Platform.ApiService/Services/ChatSessionService.cs
  Platform.ApiService/Services/IChatService.cs
  Platform.ApiService/Services/IChatSessionService.cs
  Platform.ApiService/Services/IMcpService.cs
  Platform.ApiService/Services/McpService.cs
Due: none

feat: 小科对话框支持显示历史对话内容
  Platform.Admin/src/components/AiAssistant/index.tsx
  Platform.Admin/src/locales/en-US/modules/other.ts
  Platform.Admin/src/locales/en-US/modules/xiaoke.ts
  Platform.Admin/src/locales/zh-CN/modules/other.ts
  Platform.Admin/src/locales/zh-CN/modules/xiaoke.ts
  Platform.Admin/src/pages/xiaoke-management/chat-history/components/ChatHistoryManagement.tsx
  Platform.Admin/src/services/chat/api.ts
  Platform.Admin/src/services/xiaoke/api.ts
Due: prettier --write, eslint --fix

fix: 改进对话标题生成重试机制及前端标题展示
  Platform.Admin/src/components/AiAssistant/index.tsx
  Platform.Admin/src/locales/en-US/modules/other.ts
  Platform.Admin/src/locales/en-US/modules/xiaoke.ts
  Platform.Admin/src/locales/zh-CN/modules/other.ts
  Platform.Admin/src/locales/zh-CN/modules/xiaoke.ts
  Platform.Admin/src/pages/xiaoke-management/chat-history/components/ChatHistoryDetail.tsx
  Platform.Admin/src/pages/xiaoke-management/chat-history/components/ChatHistoryManagement.tsx
  Platform.ApiService/Services/ChatAiService.cs
Due: prettier --write, eslint --fix

fix: 标题生成后通过SSE广播实时更新前端会话切换列表
  Platform.Admin/src/components/AiAssistant/index.tsx
  Platform.ApiService/Services/ChatAiService.cs
Due: prettier --write, eslint --fix

fix: 标题生成改为同步 await 避免 DbContext 作用域释放后 ObjectDisposedException
  Platform.ApiService/Services/ChatAiService.cs
Due: none

fix: 修复对话标题卡在"正在识别..."的问题
  Platform.Admin/src/components/AiAssistant/index.tsx
  Platform.ApiService/Services/ChatAiService.cs
Due: prettier --write, eslint --fix

feat: 两阶段对话标题策略——首条消息内容为标题，第二条消息触发AI总结
  Platform.ApiService/Services/ChatAiService.cs
  Platform.ApiService/Services/ChatService.cs
  Platform.ApiService/Services/ChatSessionService.cs
  Platform.ApiService/Services/IChatAiService.cs
  Platform.ApiService/Services/IChatSessionService.cs
Due: none

refactor: 简化对话标题生成并修复 Phase 2 标题写不进去的 bug
  Platform.ApiService/Services/AiAssistantCoordinator.cs
  Platform.ApiService/Services/ChatAiService.cs
  Platform.ApiService/Services/ChatService.cs
  Platform.ApiService/Services/ChatSessionService.cs
Due: none

feat: 添加小科 AI 助手的 en-US 国际化翻译
  Platform.Admin/src/locales/en-US/component.ts
Due: prettier --write, eslint --fix

feat: 给小科起英文名 Kai 并添加多语言支持
  Platform.Admin/src/components/AiAssistant/index.tsx
  Platform.Admin/src/locales/ar-EG/modules/other.ts
  Platform.Admin/src/locales/bn-BD/modules/other.ts
  Platform.Admin/src/locales/de-DE/modules/other.ts
  Platform.Admin/src/locales/en-US/component.ts
  Platform.Admin/src/locales/en-US/modules/other.ts
  Platform.Admin/src/locales/es-ES/modules/other.ts
  Platform.Admin/src/locales/fa-IR/modules/other.ts
  Platform.Admin/src/locales/fr-FR/modules/other.ts
  Platform.Admin/src/locales/id-ID/modules/other.ts
  Platform.Admin/src/locales/it-IT/modules/other.ts
  Platform.Admin/src/locales/ja-JP/modules/other.ts
  Platform.Admin/src/locales/ko-KR/modules/other.ts
  Platform.Admin/src/locales/pt-BR/modules/other.ts
  Platform.Admin/src/locales/ru-RU/modules/other.ts
  Platform.Admin/src/locales/th-TH/modules/other.ts
  Platform.Admin/src/locales/tr-TR/modules/other.ts
  Platform.Admin/src/locales/vi-VN/modules/other.ts
  Platform.Admin/src/locales/zh-CN/modules/other.ts
  Platform.Admin/src/locales/zh-TW/modules/other.ts
Due: prettier --write, eslint --fix

refactor: 统一搜索框占位文案为 pages.common.search
  Platform.Admin/src/pages/cloud-storage/files/index.tsx
  Platform.Admin/src/pages/cloud-storage/quota/index.tsx
  Platform.Admin/src/pages/cloud-storage/recycle/index.tsx
  Platform.Admin/src/pages/cloud-storage/shared/index.tsx
  Platform.Admin/src/pages/document/approval.tsx
  Platform.Admin/src/pages/document/list.tsx
  Platform.Admin/src/pages/iot-platform/components/DataCenter.tsx
  Platform.Admin/src/pages/iot-platform/components/DataPointManagement.tsx
  Platform.Admin/src/pages/iot-platform/components/DeviceManagement.tsx
  Platform.Admin/src/pages/iot-platform/components/EventManagement.tsx
  Platform.Admin/src/pages/iot-platform/components/GatewayManagement.tsx
  Platform.Admin/src/pages/join-requests/pending/index.tsx
  Platform.Admin/src/pages/my-activity/index.tsx
  Platform.Admin/src/pages/park-management/asset/index.tsx
  Platform.Admin/src/pages/park-management/contract/index.tsx
  Platform.Admin/src/pages/park-management/enterprise-service/index.tsx
  Platform.Admin/src/pages/park-management/investment/index.tsx
  Platform.Admin/src/pages/park-management/tenant/index.tsx
  Platform.Admin/src/pages/park-management/visit-assessment/index.tsx
  Platform.Admin/src/pages/park-management/visit-task/index.tsx
  Platform.Admin/src/pages/role-management/index.tsx
  Platform.Admin/src/pages/task-management/index.tsx
  Platform.Admin/src/pages/user-log/index.tsx
  Platform.Admin/src/pages/web-scraper/index.tsx
  Platform.Admin/src/pages/web-scraper/results/index.tsx
  Platform.Admin/src/pages/web-scraper/scrape-logs/index.tsx
  Platform.Admin/src/pages/workflow/forms/index.tsx
  Platform.Admin/src/pages/workflow/knowledge-base/index.tsx
  Platform.Admin/src/pages/workflow/list.tsx
  Platform.Admin/src/pages/workflow/monitor.tsx
  Platform.Admin/src/pages/xiaoke-management/chat-history/components/ChatHistoryManagement.tsx
  Platform.Admin/src/pages/xiaoke-management/config/components/ConfigManagement.tsx
Due: prettier --write, eslint --fix

refactor: 通知中心接入真实API
  Platform.Admin/src/components/NoticeIcon/index.tsx
  Platform.Admin/src/pages/notice/index.tsx
Due: prettier --write, eslint --fix

feat: 补充多语言国际化文案
  Platform.Admin/src/locales/en-US/modules/cloud-storage.ts
  Platform.Admin/src/locales/en-US/modules/other.ts
  Platform.Admin/src/locales/en-US/modules/park.ts
  Platform.Admin/src/locales/en-US/modules/task.ts
  Platform.Admin/src/locales/zh-CN/common/common.ts
  Platform.Admin/src/locales/zh-TW/modules/task.ts
Due: prettier --write, eslint --fix

feat: 欢迎页项目列表点击名称跳转到项目管理页并自动打开详情
  Platform.Admin/package.json
  Platform.Admin/src/pages/task-management/components/ProjectView.tsx
  Platform.Admin/src/pages/welcome/components/ProjectListCard.tsx
Due: prettier --write, eslint --fix

test: 添加用户注册集成测试
  Platform.AppHost.Tests/UserRegistrationTests.cs
Due: none

chore: 更新 package-lock.json（@umijs/max ^4.6.51 → ^4.6.53）
  Platform.Admin/package-lock.json
Due: prettier --write

fix: 测试环境设置 DOTNET_ENVIRONMENT=Testing
  Platform.AppHost.Tests/UserRegistrationTests.cs
Due: none

fix: MongoResource_ShouldExist 使用正确资源名 mongo
  Platform.AppHost.Tests/DatabaseContainerTests.cs
Due: none

fix: 测试隔离性 - 移除测试环境 MongoDB 数据卷避免锁文件冲突
  Platform.AppHost.Tests/AppHostFixture.cs
  Platform.AppHost.Tests/DatabaseContainerTests.cs
  Platform.AppHost.Tests/UserRegistrationTests.cs
  Platform.AppHost/AppHost.cs
Due: none

feat: 添加测试与开发冲突解决方案草稿文档
  .sisyphus/drafts/test-dev-conflict-resolution.md
  Platform.sln
Due: prettier --write

fix: 移除 YARP 配置中的注释行以清理代码
  Platform.AppHost/AppHost.cs
Due: none
