Repository wjw1-Evan/aspire-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx,json,css,less,md}": [
    "prettier --write",
    "git add"
  ],
  "**/*.{ts,tsx,js,jsx}": [
    "eslint --fix",
    "git add"
  ]
}

fix: 改进网页抓取的错误处理和调试信息
  Platform.ApiService/Services/WebScraper/HtmlScraper.cs
Due: none

fix: 修复 HtmlAgilityPack 解析逻辑
  Platform.ApiService/Services/WebScraper/HtmlScraper.cs
Due: none

fix: 执行抓取时不显示结果预览
  Platform.Admin/src/pages/web-scraper/index.tsx
Due: prettier --write, eslint --fix

feat: 执行抓取时实时更新状态
  Platform.Admin/src/pages/web-scraper/index.tsx
Due: prettier --write, eslint --fix

fix: 简化执行抓取逻辑，用户手动刷新查看状态
  Platform.Admin/src/pages/web-scraper/index.tsx
Due: prettier --write, eslint --fix

fix: 彻底解决网页抓取乱码问题
  Platform.ApiService/Services/WebScraper/HtmlScraper.cs
Due: none

fix: 修复状态枚举JSON序列化问题
  Platform.ApiService/Models/Entities/WebScrapingEntities.cs
Due: none

fix: 修复状态字段大小写匹配问题
  Platform.Admin/src/pages/web-scraper/index.tsx
Due: prettier --write, eslint --fix

fix: 彻底解决中文网站乱码问题
  Platform.ApiService/Services/WebScraper/HtmlScraper.cs
Due: none

fix: 修复HTTP压缩响应导致乱码
  Platform.ApiService/Services/WebScraper/HtmlScraper.cs
Due: none

feat: 增强HTTP请求头以绕过反爬虫检测
  Platform.ApiService/Services/WebScraper/HtmlScraper.cs
Due: none

fix: 移除Accept-Encoding头避免压缩内容乱码
  Platform.ApiService/Services/WebScraper/HtmlScraper.cs
Due: none

fix: 修复WebScraperService可能的null引用赋值警告
  Platform.ApiService/Services/WebScraperService.cs
Due: none

style: 调整网页抓取任务操作列宽度
  Platform.Admin/src/pages/web-scraper/index.tsx
Due: prettier --write, eslint --fix

docs: 更新操作列宽度计算规范
  docs/rules/frontend-admin/05-页面风格统一规范.md
Due: prettier --write

fix: 为抓取日志详情按钮添加图标
  Platform.Admin/src/pages/web-scraper/scrape-logs/index.tsx
Due: prettier --write, eslint --fix

feat: 定时表达式添加常用示例
  Platform.Admin/src/pages/web-scraper/components/TaskForm.tsx
Due: prettier --write, eslint --fix

fix: 修复抓取模式编辑时大小写不匹配问题
  Platform.Admin/src/pages/web-scraper/components/TaskForm.tsx
Due: prettier --write, eslint --fix

feat: 任务列表添加抓取深度、每层最大、模式、定时表达式列
  Platform.Admin/src/pages/web-scraper/index.tsx
Due: prettier --write, eslint --fix

fix: 修复抓取模式列表显示英文问题
  Platform.Admin/src/pages/web-scraper/index.tsx
Due: prettier --write, eslint --fix

fix: 统一抓取模式值为小写，修复编辑时显示英文问题
  Platform.Admin/src/pages/web-scraper/components/TaskForm.tsx
Due: prettier --write, eslint --fix

fix: 抓取模式改用Radio.Group确保中文显示
  Platform.Admin/src/pages/web-scraper/components/TaskForm.tsx
Due: prettier --write, eslint --fix

fix: 改回ProFormSelect，使用camelCase匹配API返回值
  Platform.Admin/src/pages/web-scraper/components/TaskForm.tsx
Due: prettier --write, eslint --fix

feat: 定时表达式添加悬停解释
  Platform.Admin/src/pages/web-scraper/index.tsx
Due: prettier --write, eslint --fix

fix: 定时表达式改为直接显示解释文字
  Platform.Admin/src/pages/web-scraper/index.tsx
Due: prettier --write, eslint --fix

fix: 移除重复的抓取深度列
  Platform.Admin/src/pages/web-scraper/index.tsx
Due: prettier --write, eslint --fix

feat: 添加网页抓取定时任务后台服务
  Platform.ApiService/BackgroundServices/WebScraperScheduledTaskHostedService.cs
  Platform.ApiService/Program.cs
Due: none

feat: 实现Per-scope ITenantContext多租户隔离，修复定时任务无法自动执行问题
  Platform.ApiService/BackgroundServices/WebScraperScheduledTaskHostedService.cs
  Platform.ServiceDefaults/Extensions/ServiceExtensions.cs
  Platform.ServiceDefaults/Services/ITenantContext.cs
Due: none

debug: 添加定时任务详细调试日志
  Platform.ApiService/BackgroundServices/WebScraperScheduledTaskHostedService.cs
Due: none

fix: 创建/更新任务时自动计算NextRunAt
  Platform.ApiService/Services/WebScraperService.cs
Due: none

fix: 修复CronExpressionParser按天迭代无法匹配每分钟执行的问题
  Platform.ApiService/Services/WebScraperService.cs
Due: none

debug: 添加UpdateTask和CreateTask中NextRunAt计算日志
  Platform.ApiService/Services/WebScraperService.cs
Due: none

debug: 在Controller和Service的UpdateTask入口添加日志
  Platform.ApiService/Controllers/WebScraperController.cs
  Platform.ApiService/Services/WebScraperService.cs
Due: none

fix: 后台服务自动修复NextRunAt为null的定时任务
  Platform.ApiService/BackgroundServices/WebScraperScheduledTaskHostedService.cs
Due: none

fix: 结果查询支持公开任务+调试日志，修复后台任务执行日志
  Platform.ApiService/BackgroundServices/WebScraperScheduledTaskHostedService.cs
  Platform.ApiService/Services/WebScraperService.cs
Due: none

debug: ExecuteTaskAsync添加任务查找日志
  Platform.ApiService/Services/WebScraperService.cs
Due: none

fix: ExecuteTaskAsync移除UserId过滤，仅按CompanyId过滤查找任务
  Platform.ApiService/Services/WebScraperService.cs
Due: none

fix: ExecuteTaskAsync使用IgnoreQueryFilters绕过所有租户过滤
  Platform.ApiService/Services/WebScraperService.cs
Due: none

fix: ExecuteTaskAsync显式设置CompanyId确保结果可被查询
  Platform.ApiService/Services/WebScraperService.cs
Due: none

fix: ExecuteTaskAsync内完成NextRunAt更新，简化后台服务逻辑
  Platform.ApiService/BackgroundServices/WebScraperScheduledTaskHostedService.cs
  Platform.ApiService/Services/WebScraperService.cs
Due: none
