Repository wjw1-Evan/aspire-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore: 删除未使用的DeleteConfirmModal组件
  Platform.Admin/src/components/DeleteConfirmModal.tsx
Due: prettier --write, eslint --fix

style: 优化企业切换器样式
  Platform.Admin/src/components/RightContent/AvatarDropdown.tsx
  Platform.Admin/src/components/RightContent/index.less
Due: prettier --write, eslint --fix

chore: 升级前端依赖版本
  Platform.Admin/package-lock.json
  Platform.Admin/package.json
Due: prettier --write

feat: 通知未读数从轮询改为SSE实时推送
  Platform.Admin/src/components/NoticeIcon/index.tsx
  Platform.ApiService/Controllers/NotificationSseController.cs
  Platform.ApiService/Services/UnifiedNotificationService.cs
Due: prettier --write, eslint --fix

feat: 优化通知图标加载状态显示
  Platform.Admin/src/components/NoticeIcon/index.tsx
Due: prettier --write, eslint --fix

style: 调整通知图标徽章偏移位置
  Platform.Admin/src/components/NoticeIcon/index.tsx
Due: prettier --write, eslint --fix

revert: 恢复通知为轮询方式
  Platform.Admin/src/components/NoticeIcon/index.tsx
  Platform.ApiService/Controllers/NotificationSseController.cs
  Platform.ApiService/Services/UnifiedNotificationService.cs
Due: prettier --write, eslint --fix

refactor: 简化通知组件，删除轮询
  Platform.Admin/src/components/NoticeIcon/index.tsx
Due: prettier --write, eslint --fix

feat: 使用SSE实现通知未读数实时推送
  Platform.Admin/src/components/NoticeIcon/index.tsx
  Platform.ApiService/Controllers/NotificationSseController.cs
  Platform.ApiService/Services/UnifiedNotificationService.cs
Due: prettier --write, eslint --fix

fix: 修复SSE推送时获取当前用户ID错误的问题
  Platform.ApiService/Services/UnifiedNotificationService.cs
Due: none

style: 统一公文列表页面布局样式与密码本保持一致
  Platform.Admin/src/pages/document/list.tsx
Due: prettier --write, eslint --fix

style: 统一公文审批页面布局样式与密码本保持一致
  Platform.Admin/src/pages/document/approval.tsx
Due: prettier --write, eslint --fix

feat: 公文列表新建按钮改为弹窗选择流程
  Platform.Admin/src/pages/document/list.tsx
Due: prettier --write, eslint --fix

fix: 统一公文API地址为/apiservice开头
  Platform.Admin/src/pages/document/approval.tsx
  Platform.Admin/src/pages/document/list.tsx
Due: prettier --write, eslint --fix

fix: 统一Admin端页面API地址为/apiservice开头
  Platform.Admin/src/pages/cloud-storage/files/index.tsx
  Platform.Admin/src/pages/cloud-storage/quota/index.tsx
  Platform.Admin/src/pages/cloud-storage/recycle/index.tsx
  Platform.Admin/src/pages/cloud-storage/shared/index.tsx
  Platform.Admin/src/pages/join-requests/pending/index.tsx
  Platform.Admin/src/pages/my-activity/index.tsx
  Platform.Admin/src/pages/organization/index.tsx
  Platform.Admin/src/pages/park-management/asset/index.tsx
  Platform.Admin/src/pages/park-management/contract/index.tsx
  Platform.Admin/src/pages/park-management/enterprise-service/index.tsx
  Platform.Admin/src/pages/park-management/investment/index.tsx
  Platform.Admin/src/pages/park-management/tenant/index.tsx
  Platform.Admin/src/pages/park-management/visit-knowledge-base/index.tsx
  Platform.Admin/src/pages/park-management/visit-task/index.tsx
  Platform.Admin/src/pages/password-book/index.tsx
  Platform.Admin/src/pages/role-management/index.tsx
  Platform.Admin/src/pages/share/index.tsx
  Platform.Admin/src/pages/task-management/index.tsx
  Platform.Admin/src/pages/user-log/index.tsx
  Platform.Admin/src/pages/user-management/components/UserDetail.tsx
  Platform.Admin/src/pages/user-management/index.tsx
Due: prettier --write, eslint --fix

fix: 统一services层API地址为/apiservice开头
  Platform.Admin/src/services/chat/api.ts
  Platform.Admin/src/services/company.ts
  Platform.Admin/src/services/document/api.ts
  Platform.Admin/src/services/form/api.ts
  Platform.Admin/src/services/menu/api.ts
  Platform.Admin/src/services/permission.ts
  Platform.Admin/src/services/role/api.ts
  Platform.Admin/src/services/task/api.ts
  Platform.Admin/src/services/task/project.ts
  Platform.Admin/src/services/unified-notification/api.ts
  Platform.Admin/src/services/user-log/api.ts
  Platform.Admin/src/services/workflow/api.ts
  Platform.Admin/src/services/workflow/knowledge-base.ts
  Platform.Admin/src/services/xiaoke/api.ts
Due: prettier --write, eslint --fix

fix: 修复重复的/apiservice前缀及错误路径
  Platform.Admin/src/pages/park-management/contract/index.tsx
  Platform.Admin/src/services/company.ts
  Platform.Admin/src/services/document/api.ts
  Platform.Admin/src/services/form/api.ts
  Platform.Admin/src/services/menu/api.ts
  Platform.Admin/src/services/permission.ts
  Platform.Admin/src/services/role/api.ts
  Platform.Admin/src/services/task/api.ts
  Platform.Admin/src/services/task/project.ts
  Platform.Admin/src/services/unified-notification/api.ts
  Platform.Admin/src/services/user-log/api.ts
  Platform.Admin/src/services/workflow/api.ts
  Platform.Admin/src/services/workflow/knowledge-base.ts
  Platform.Admin/src/services/xiaoke/api.ts
Due: prettier --write, eslint --fix

fix: 修复contract页面重复的/apiservice前缀
  Platform.Admin/src/pages/park-management/contract/index.tsx
Due: prettier --write, eslint --fix

fix: 修复company.ts中缺少/api路径的问题
  Platform.Admin/src/services/company.ts
Due: prettier --write, eslint --fix

fix: 修复 systemmonitor 健康检查端点 404 问题
  Platform.SystemMonitor/Program.cs
Due: none

docs: 更新 README 技术栈版本号
  README.md
Due: prettier --write

chore: 清理旧的工作流和测试脚本文件
  .agent/workflows/multi-language-support.md
  .github/agents/local.agent.md
  .opencode/commands/build.md
  .opencode/commands/commit.md
  .opencode/package-lock.json
  .playwright-mcp/page-2026-04-01T15-02-24-772Z.yml
  .vscode/mcp.json
  .vscode/settings.json
  scripts/run-unit-tests.sh
Due: prettier --write

chore: 升级 Aspire 相关包到 13.2.2 版本
  Platform.AppHost.Tests/Platform.AppHost.Tests.csproj
  Platform.AppHost/Platform.AppHost.csproj
  Platform.ServiceDefaults/Platform.ServiceDefaults.csproj
Due: none

feat: 拆分文件存储/GridFS为独立微服务 Platform.Storage
  Platform.Admin/config/proxy.ts
  Platform.Admin/src/pages/account/center/index.tsx
  Platform.Admin/src/pages/park-management/contract/index.tsx
  Platform.ApiService/Controllers/AvatarController.cs
  Platform.ApiService/Program.cs
  Platform.ApiService/Services/ChatAttachmentService.cs
  Platform.ApiService/Services/CloudStorageService.cs
  Platform.ApiService/Services/DocumentService.cs
  Platform.ApiService/Services/FilePreviewService.cs
  Platform.ApiService/Services/FileVersionService.cs
  Platform.ApiService/Services/StorageClient.cs
  Platform.ApiService/build_errors.txt
  Platform.AppHost/AppHost.cs
  Platform.ServiceDefaults/Extensions/ServiceExtensions.cs
  Platform.ServiceDefaults/Models/StorageModels.cs
  Platform.ServiceDefaults/Services/IFileStorageFactory.cs
  Platform.Storage/Controllers/FileStorageController.cs
  Platform.Storage/Platform.Storage.csproj
  Platform.Storage/Program.cs
  Platform.Storage/Services/GridFSStorageService.cs
  Platform.sln
Due: prettier --write, eslint --fix

refactor: 简化数据库连接配置，统一使用 mongodb
  Platform.ApiService/Program.cs
  Platform.ApiService/Properties/launchSettings.json
  Platform.AppHost/AppHost.cs
  Platform.AppHost/Platform.AppHost.csproj
  Platform.ServiceDefaults/Extensions/ServiceExtensions.cs
  Platform.Storage/Program.cs
  Platform.SystemMonitor/Program.cs
Due: prettier --write

fix: 修复 Ant Design Space 组件 direction 弃用警告
  Platform.Admin/src/components/HelpModal/tabs/TechStackContent.tsx
  Platform.Admin/src/components/JoinCompanyModal/index.tsx
  Platform.Admin/src/components/RightContent/ThemeSettingsDrawer.tsx
  Platform.Admin/src/components/ThemeSettings/index.tsx
  Platform.Admin/src/pages/cloud-storage/files/index.tsx
  Platform.Admin/src/pages/cloud-storage/quota/index.tsx
  Platform.Admin/src/pages/park-management/asset/index.tsx
  Platform.Admin/src/pages/park-management/statistics/index.tsx
  Platform.Admin/src/pages/park-management/visit-assessment/index.tsx
  Platform.Admin/src/pages/park-management/visit-knowledge-base/index.tsx
  Platform.Admin/src/pages/park-management/visit-statistics/index.tsx
  Platform.Admin/src/pages/park-management/visit-task/index.tsx
  Platform.Admin/src/pages/share/index.tsx
  Platform.Admin/src/pages/user-log/components/LogDetailDrawer.tsx
  Platform.Admin/src/pages/user-management/components/UserDetail.tsx
  Platform.Admin/src/pages/user-management/index.tsx
  Platform.Admin/src/pages/welcome/components/ApprovalOverviewCard.tsx
  Platform.Admin/src/pages/welcome/components/TaskOverviewCard.tsx
  Platform.Admin/src/pages/workflow/monitor.tsx
Due: prettier --write, eslint --fix

fix: 修复头像上传及 Storage 服务 DI 注册
  Platform.Admin/src/pages/account/center/index.tsx
  Platform.Storage/Program.cs
Due: prettier --write, eslint --fix

fix: 修复合同统计页面API路径错误
  Platform.Admin/src/pages/park-management/contract/index.tsx
Due: prettier --write, eslint --fix

feat: 添加楼宇/房源管理标签页切换
  Platform.Admin/src/pages/park-management/asset/index.tsx
Due: prettier --write, eslint --fix

style: 调整标签页样式
  Platform.Admin/src/pages/park-management/asset/index.tsx
Due: prettier --write, eslint --fix

refactor: 调整资产管理和招商管理一致的布局样式
  Platform.Admin/src/pages/park-management/asset/index.tsx
Due: prettier --write, eslint --fix

fix: 付款日期改为日期选择器
  Platform.Admin/src/pages/park-management/contract/index.tsx
Due: prettier --write, eslint --fix

refactor: 优化统计报表和公文管理页面样式
  Platform.Admin/src/pages/document/approval.tsx
  Platform.Admin/src/pages/document/list.tsx
  Platform.Admin/src/pages/park-management/statistics/index.tsx
  Platform.Admin/src/pages/park-management/visit-statistics/index.tsx
  Platform.Admin/src/pages/project-management/statistics/index.tsx
Due: prettier --write, eslint --fix

fix: 优化AGENTS.md命令路径为通用写法
  AGENTS.md
Due: prettier --write

docs: 更新开发文档统一开发标准
  AGENTS.md
Due: prettier --write

refactor: 简化QueryableExtensions，移除缓存避免并发竞态
  Platform.ServiceDefaults/Extensions/QueryableExtensions.cs
Due: none

refactor: 扩展搜索支持非string类型精确匹配
  Platform.ServiceDefaults/Extensions/QueryableExtensions.cs
Due: none

fix: 回滚搜索仅支持string类型，避免MongoDB Contains错误
  Platform.ServiceDefaults/Extensions/QueryableExtensions.cs
Due: none

fix: 过滤不可搜索的类型（如Dictionary），避免MongoDB Contains报错
  Platform.ServiceDefaults/Extensions/QueryableExtensions.cs
Due: none

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json,css,less,md}
  eslint --fix: any of: **/*.{ts,tsx,js,jsx}
