Repository wjw1-Evan/aspire-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

docs: 更新开发文档，添加操作按钮命名规范
  AGENTS.md
Due: prettier --write

refactor: 知识库文档页全面重构 - Drawer详情、响应式布局、自定义搜索栏、测试修复
  Platform.Admin/src/locales/en-US/modules/workflow.ts
  Platform.Admin/src/locales/zh-CN/modules/workflow.ts
  Platform.Admin/src/pages/workflow/__tests__/list.test.tsx
  Platform.Admin/src/pages/workflow/components/__tests__/BulkOperationsPanel.test.tsx
  Platform.Admin/src/pages/workflow/knowledge-base/documents.tsx
Due: prettier --write, eslint --fix

refactor: 知识库文档后端 - 简化异常处理、修复删除计数更新
  Platform.ApiService/Controllers/KnowledgeDocumentController.cs
  Platform.ApiService/Services/KnowledgeDocumentService.cs
Due: none

fix: IoT 设备/网关/数据点管理操作按钮统一为编辑/删除
  Platform.Admin/src/pages/iot-platform/components/DataPointManagement.tsx
  Platform.Admin/src/pages/iot-platform/components/DeviceManagement.tsx
  Platform.Admin/src/pages/iot-platform/components/GatewayManagement.tsx
Due: prettier --write, eslint --fix

fix: 走访任务操作按钮统一为编辑
  Platform.Admin/src/pages/park-management/visit-task/index.tsx
Due: prettier --write, eslint --fix

fix: 用户管理删除操作按钮统一为删除
  Platform.Admin/src/pages/user-management/index.tsx
Due: prettier --write, eslint --fix

fix: 修复 Dashboard 日期渲染、Form 警告，迁移 useMessage 钩子
  Platform.Admin/src/pages/dashboard/[id].tsx
  Platform.Admin/src/pages/dashboard/components/CardConfigForm.tsx
  Platform.Admin/src/pages/dashboard/components/DashboardDesigner.tsx
  Platform.Admin/src/pages/dashboard/index.tsx
  Platform.Admin/src/pages/dashboard/share/[token].tsx
  Platform.Admin/src/pages/dashboard/versions/index.tsx
  Platform.Admin/src/pages/dashboard/view/[id].tsx
Due: prettier --write, eslint --fix

fix: 修复 login 请求错误全局拦截器重复提示问题
  Platform.Admin/src/request-error-config.ts
Due: prettier --write, eslint --fix

refactor: 统一表格操作按钮规范，移除重复查看按钮，名称列改为可点击
  Platform.Admin/src/locales/en-US/common/common.ts
  Platform.Admin/src/locales/zh-CN/common/common.ts
  Platform.Admin/src/locales/zh-TW/common/common.ts
  Platform.Admin/src/pages/document/list.tsx
  Platform.Admin/src/pages/park-management/asset/index.tsx
  Platform.Admin/src/pages/park-management/contract/index.tsx
  Platform.Admin/src/pages/park-management/tenant/index.tsx
  Platform.Admin/src/pages/park-management/visit-task/index.tsx
  Platform.Admin/src/pages/password-book/index.tsx
  Platform.Admin/src/pages/workflow/knowledge-base/index.tsx
  Platform.Admin/src/pages/xiaoke-management/chat-history/components/ChatHistoryManagement.tsx
Due: prettier --write, eslint --fix

refactor: 移除不必要的 message 导入，统一使用 useMessage 钩子
  Platform.Admin/src/pages/dashboard/index.tsx
  Platform.Admin/src/pages/document/create.tsx
  Platform.Admin/src/pages/iot-platform/components/DataCenter.tsx
  Platform.Admin/src/pages/iot-platform/components/DataPointManagement.tsx
  Platform.Admin/src/pages/iot-platform/components/DeviceManagement.tsx
  Platform.Admin/src/pages/iot-platform/components/EventManagement.tsx
  Platform.Admin/src/pages/iot-platform/components/GatewayManagement.tsx
  Platform.Admin/src/pages/share/index.tsx
  Platform.Admin/src/pages/task-management/components/TaskForm.tsx
  Platform.Admin/src/pages/web-scraper/components/TaskForm.tsx
  Platform.Admin/src/pages/web-scraper/index.tsx
  Platform.Admin/src/pages/web-scraper/results/index.tsx
  Platform.Admin/src/pages/welcome/components/TaskOverviewCard.tsx
  Platform.Admin/src/pages/welcome/index.tsx
Due: prettier --write, eslint --fix

fix: 修复 CS8604/CS1572/CS1573 代码警告
  Platform.ApiService/Services/ChatAiService.cs
  Platform.ApiService/Services/ITaskService.cs
  Platform.ApiService/Services/McpService.cs
Due: none

fix: 优化角色管理菜单权限树的父子节点选中状态
  Platform.Admin/src/pages/role-management/components/RoleForm.tsx
  Platform.Admin/src/pages/role-management/index.tsx
Due: prettier --write, eslint --fix

refactor: 优化布局组件类型安全与代码规范
  Platform.Admin/config/config.ts
  Platform.Admin/src/app.tsx
  Platform.Admin/src/global.css
  Platform.Admin/src/types/index.ts
  Platform.Admin/src/types/layout.ts
Due: prettier --write, eslint --fix

feat: 优化存储配额查询性能与分页扩展
  Platform.ApiService/Services/StorageQuotaService.cs
  Platform.AppHost/AppHost.cs
  Platform.ServiceDefaults/Extensions/QueryableExtensions.cs
Due: none

fix: 修复 user-log 与 task-management 页面面包屑不显示问题；新增性能监控模块
  Platform.Admin/config/routes.ts
  Platform.Admin/src/app.tsx
  Platform.Admin/src/components/AiAssistant/index.tsx
  Platform.Admin/src/pages/welcome/components/TaskOverviewCard.tsx
  Platform.Admin/src/pages/workflow/components/WorkflowDesigner.tsx
  Platform.Admin/src/utils/errorInterceptor.ts
  Platform.Admin/src/utils/monitor.ts
  Platform.DataInitializer/Menus.json
Due: prettier --write, eslint --fix

chore: 添加 web-vitals 依赖
  Platform.Admin/package-lock.json
  Platform.Admin/package.json
Due: prettier --write

chore: 添加 pro-imports 优化脚本
  Platform.Admin/scripts/optimize-pro-imports.mjs
Due: none

perf: getInitialState 并行化 + 新增 debounce/parseMarkdown 工具
  Platform.Admin/src/app.tsx
  Platform.Admin/src/utils/debounce.ts
  Platform.Admin/src/utils/parseMarkdown.ts
Due: prettier --write, eslint --fix

fix: 去除我的活动页面重复标题，将 pageContainerProps.header.title 设为空字符串
  Platform.Admin/src/app.tsx
Due: prettier --write, eslint --fix

fix: 去除我的活动页面重复标题，设置 PageContainer title={false} 阻止路由菜单标题回退
  Platform.Admin/src/pages/my-activity/index.tsx
Due: prettier --write, eslint --fix

chore: 升级 Aspire 依赖版本 13.3.0 → 13.3.1
  Platform.AppHost/Platform.AppHost.csproj
  Platform.ServiceDefaults/Platform.ServiceDefaults.csproj
Due: none

fix: 全局禁用 ProLayout 自动页面标题，pageTitleRender: false 消除重复标题
  Platform.Admin/src/app.tsx
  Platform.Admin/src/pages/my-activity/index.tsx
Due: prettier --write, eslint --fix

fix: 移除 ProTable 多余 ProCard 嵌套，统一页面间距
  Platform.Admin/src/pages/dashboard/index.tsx
  Platform.Admin/src/pages/user-management/index.tsx
Due: prettier --write, eslint --fix

fix: 修复欢迎页 ProjectListCard 和 IoTEventAlertsCard API 无限循环调用问题
  Platform.Admin/src/pages/welcome/components/IoTEventAlertsCard.tsx
  Platform.Admin/src/pages/welcome/components/ProjectListCard.tsx
Due: prettier --write, eslint --fix

feat: 用户管理支持新建用户（含密码、自动加入企业）
  Platform.ApiService/Models/Entities/UserEntities.cs
  Platform.ApiService/Services/UserService.cs
Due: none

feat: 用户管理页面添加新建用户表单
  Platform.Admin/src/locales/en-US/modules/user.ts
  Platform.Admin/src/locales/zh-CN/modules/user.ts
  Platform.Admin/src/pages/user-management/index.tsx
  Platform.Admin/src/services/user/api.ts
Due: prettier --write, eslint --fix

feat: 企业服务支持AI自动分类和编辑功能
  Platform.ApiService/Controllers/ParkEnterpriseServiceController.cs
  Platform.ApiService/Models/Dtos/Response/Park/ParkEnterpriseServiceDto.cs
  Platform.ApiService/Services/Park/Enterprise/ParkEnterpriseServiceService.cs
  Platform.ApiService/Services/Park/IParkManagementServices.cs
Due: none

feat: 企业服务页面移除服务类别模块，接入AI自动分类
  Platform.Admin/package.json
  Platform.Admin/src/locales/zh-CN/modules/park.ts
  Platform.Admin/src/pages/park-management/enterprise-service/index.tsx
  Platform.Admin/src/pages/welcome/index.tsx
Due: prettier --write, eslint --fix

fix: 服务评价后列表评分显示异常
  Platform.Admin/src/pages/park-management/enterprise-service/index.tsx
Due: prettier --write, eslint --fix

refactor: 删除ServiceCategory，分类值由AI直接生成名称
  Platform.Admin/src/pages/park-management/enterprise-service/index.tsx
  Platform.ApiService/Controllers/ParkEnterpriseServiceController.cs
  Platform.ApiService/Models/Dtos/Response/Park/ParkEnterpriseServiceDto.cs
  Platform.ApiService/Models/Entities/Park/ParkEnterpriseServiceEntities.cs
  Platform.ApiService/Services/Park/Enterprise/ParkEnterpriseServiceService.cs
  Platform.ApiService/Services/Park/IParkManagementServices.cs
Due: prettier --write, eslint --fix

feat: 用 SkiaSharp 替换 SixLabors.ImageSharp，删除未使用的验证码服务
  Platform.ApiService/Controllers/AuthController.cs
  Platform.ApiService/Models/Dtos/CaptchaDtos.cs
  Platform.ApiService/Models/Entities/CaptchaImageEntity.cs
  Platform.ApiService/Models/Entities/LoginFailureRecordEntities.cs
  Platform.ApiService/Services/CloudStorageService.cs
  Platform.ApiService/Services/FilePreviewService.cs
  Platform.ApiService/Services/IImageCaptchaService.cs
  Platform.ApiService/Services/ImageCaptchaService.cs
  Platform.ServiceDefaults/Platform.ServiceDefaults.csproj
Due: none

chore: 覆盖 SharpCompress 和 Snappier 为安全版本
  Platform.AppHost.Tests/Platform.AppHost.Tests.csproj
  Platform.AppHost/Platform.AppHost.csproj
Due: none

feat: 添加图片上传功能到服务请求表单
  Platform.Admin/src/locales/en-US/modules/park.ts
  Platform.Admin/src/locales/zh-CN/modules/park.ts
  Platform.Admin/src/pages/park-management/enterprise-service/index.tsx
Due: prettier --write, eslint --fix

fix: 企业服务支持匿名文件预览与状态变更记录
  Platform.ApiService/Controllers/AvatarController.cs
  Platform.ApiService/Controllers/CloudStorageController.cs
  Platform.ApiService/Models/Dtos/Response/Park/ParkEnterpriseServiceDto.cs
  Platform.ApiService/Models/Entities/Park/ParkEnterpriseServiceEntities.cs
  Platform.ApiService/Services/CloudStorageService.cs
  Platform.ApiService/Services/FilePreviewService.cs
  Platform.ApiService/Services/FileShareService.cs
  Platform.ApiService/Services/ICloudStorageService.cs
  Platform.ApiService/Services/Park/Enterprise/ParkEnterpriseServiceService.cs
Due: none

feat: 企业服务页面支持图片预览居中、附件展示、行点击查看详情与状态历史时间线
  Platform.Admin/src/locales/en-US/modules/park.ts
  Platform.Admin/src/locales/zh-CN/modules/park.ts
  Platform.Admin/src/pages/park-management/enterprise-service/index.tsx
Due: prettier --write, eslint --fix

feat: 状态变更记录显示处理人与处理结果
  Platform.Admin/src/locales/en-US/modules/park.ts
  Platform.Admin/src/locales/zh-CN/modules/park.ts
  Platform.Admin/src/pages/park-management/enterprise-service/index.tsx
  Platform.ApiService/Services/Park/Enterprise/ParkEnterpriseServiceService.cs
Due: prettier --write, eslint --fix

refactor: 详情抽屉改为独立API获取数据
  Platform.Admin/src/pages/park-management/enterprise-service/index.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json,css,less,md}
  eslint --fix: any of: **/*.{ts,tsx,js,jsx}
