Repository wjw1-Evan/aspire-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix: 移除 ManagerId，确保更新成员时同步 ProjectMember 表
  Platform.ApiService/Services/ProjectService.cs
Due: none

fix: 删除详情中的项目成员标签页
  Platform.Admin/src/pages/task-management/components/ProjectDetail.tsx
Due: prettier --write, eslint --fix

feat: 项目列表过滤和权限控制，显示我创建或我是成员的项目
  Platform.ApiService/Controllers/ProjectController.cs
  Platform.ApiService/Models/ProjectDtoModels.cs
  Platform.ApiService/Services/IProjectService.cs
  Platform.ApiService/Services/Mcp/Handlers/ProjectMcpToolHandler.cs
  Platform.ApiService/Services/Mcp/Handlers/TaskMcpToolHandler.cs
  Platform.ApiService/Services/ProjectService.cs
Due: none

feat: 前端根据 canEdit/canDelete 控制编辑删除按钮显示
  Platform.Admin/src/pages/task-management/components/ProjectView.tsx
  Platform.Admin/src/services/task/project.ts
Due: prettier --write, eslint --fix

fix: 任务表单项目列表限制为用户可见项目
  Platform.Admin/src/pages/task-management/index.tsx
Due: prettier --write, eslint --fix

chore: 移除未使用的 Microsoft.Agents.AI 相关包引用
  Platform.ApiService/Platform.ApiService.csproj
  Platform.ApiService/Workflows/Executors/ExecutorBase.cs
  Platform.ApiService/Workflows/Executors/IWorkflowContext.cs
  Platform.ServiceDefaults/Platform.ServiceDefaults.csproj
Due: none

fix: 修复 ProjectService 中 IEnumerable<string?> 到 IEnumerable<string> 的可为 null 性警告
  Platform.ApiService/Services/ProjectService.cs
Due: none

feat: 卫星服务鉴权、Aspire 存储依赖与微服务文档对齐
  Platform.Admin/src/pages/account/center/index.tsx
  Platform.ApiService/Controllers/AvatarController.cs
  Platform.ApiService/Program.cs
  Platform.ApiService/Services/StorageClient.cs
  Platform.AppHost/AppHost.cs
  Platform.ServiceDefaults/Authentication/InternalApiKeyAuthenticationHandler.cs
  Platform.ServiceDefaults/Authentication/SatelliteAuthDefaults.cs
  Platform.ServiceDefaults/Authentication/SatelliteAuthenticationExtensions.cs
  Platform.Storage/Controllers/FileStorageController.cs
  Platform.Storage/Program.cs
  Platform.SystemMonitor/Controllers/SystemMonitorController.cs
  Platform.SystemMonitor/Program.cs
  docs/guides/MICROSERVICE-GUIDE.md
Due: prettier --write, eslint --fix

docs: 同步开发文档与当前编排（Storage、卫星认证、Redis 可选）
  AGENTS.md
  README.md
  docs/rules/README.md
  docs/rules/backend/00-总览.md
Due: prettier --write

refactor: 合并 Platform.Storage 到 Platform.ApiService
  Platform.ApiService/Controllers/FileStorageController.cs
  Platform.ApiService/Program.cs
  Platform.ApiService/Services/GridFSStorageService.cs
  Platform.ApiService/Services/StorageClient.cs
  Platform.AppHost/AppHost.cs
  Platform.AppHost/Platform.AppHost.csproj
  Platform.AppHost/aspire-output/docker-compose.yaml
  Platform.Storage/Platform.Storage.csproj
  Platform.Storage/Program.cs
  Platform.sln
Due: none

chore: 更新 AppHost 数据初始化依赖与 opencode 配置
  Platform.AppHost/AppHost.cs
  opencode.jsonc
Due: none

chore: 更新自动提交命令模板
  opencode.jsonc
Due: none

feat: 添加 aspire-watch 命令
  opencode.jsonc
Due: none

feat: 更新 aspire-watch 命令支持自动修复错误
  opencode.jsonc
Due: none

feat: 将 aspire-watch 改为 aspire-run 使用 dotnet run
  opencode.jsonc
Due: none

feat: aspire-run 运行成功后自动停止
  opencode.jsonc
Due: none

feat: aspire-run 应用启动成功后立即停止
  opencode.jsonc
Due: none

chore: 添加 filesystem MCP 服务器配置
  opencode.jsonc
Due: none

chore: 清理未使用的项目成员组件
  Platform.Admin/src/pages/task-management/components/ProjectMemberForm.tsx
  Platform.Admin/src/pages/task-management/components/ProjectMemberManagement.tsx
Due: prettier --write, eslint --fix

refactor: 移除无返回值方法中不必要的 try-catch (TaskService, WorkflowEngine.Notifications)
  Platform.ApiService/Services/TaskService.cs
  Platform.ApiService/Services/WorkflowEngine.Notifications.cs
Due: none

refactor: 移除有返回值方法中吞掉异常的不当 catch (WorkflowAnalyticsService, WorkflowPerformanceService, MenuAccessService)
  Platform.ApiService/Services/MenuAccessService.cs
  Platform.ApiService/Services/WorkflowAnalyticsService.cs
  Platform.ApiService/Services/WorkflowPerformanceService.cs
Due: none

feat: BusinessExceptionFilter 支持 ServiceException 自定义状态码
  Platform.ApiService/Filters/BusinessExceptionFilter.cs
Due: none

refactor: 删除 ServiceException，统一使用标准异常类型
  Platform.ApiService/Controllers/UserController.cs
  Platform.ApiService/Filters/BusinessExceptionFilter.cs
  Platform.ServiceDefaults/Exceptions/ServiceException.cs
Due: none

refactor: 优化Admin页面代码，遵循密码本开发标准
  Platform.Admin/src/pages/cloud-storage/files/index.tsx
  Platform.Admin/src/pages/organization/index.tsx
  Platform.Admin/src/pages/task-management/index.tsx
  Platform.Admin/src/pages/workflow/forms/index.tsx
Due: prettier --write, eslint --fix

docs: 为 Platform.Admin/src/pages 生成 AGENTS.md
  Platform.Admin/src/pages/AGENTS.md
Due: prettier --write

docs: 添加 MCP 处理器指南及开发规则索引
  Platform.ApiService/Services/Mcp/AGENTS.md
  docs/rules/AGENTS.md
Due: prettier --write

refactor: 完善软删除功能并移除冗余代码
  Platform.ApiService/Extensions/MongoFilterExtensions.cs
  Platform.ApiService/Services/SoftDeleteExtensions.cs
  Platform.ServiceDefaults/Services/PlatformDbContext.cs
Due: none

refactor: 精简 DTO 文件，合并到实体模型
  Platform.ApiService/Models/ProjectDtoModels.cs
  Platform.ApiService/Models/ProjectModels.cs
  Platform.ApiService/Models/TaskDtoModels.cs
  Platform.ApiService/Models/TaskModels.cs
Due: none

docs: 更新数据访问规范补充 PlatformDbContext 最新特性
  docs/rules/backend/02-数据访问与审计.md
Due: prettier --write

docs: 软删除统一使用 Remove()
  docs/rules/backend/02-数据访问与审计.md
Due: prettier --write

refactor: 移除 IsSystemContext 简化 PlatformDbContext
  Platform.ServiceDefaults/Services/PlatformDbContext.cs
  docs/rules/backend/02-数据访问与审计.md
Due: prettier --write

refactor: 简化 CurrentUserId 和 CurrentCompanyId 实现
  Platform.ServiceDefaults/Services/PlatformDbContext.cs
Due: none

refactor: 直接注入 ITenantContext 替代 IHttpContextAccessor
  Platform.ServiceDefaults/Services/PlatformDbContext.cs
Due: none

refactor: 清理 TenantContext 日志输出
  Platform.ServiceDefaults/Services/ITenantContext.cs
Due: none

refactor: ITenantContext 改为 Scoped，简化缓存实现
  Platform.ApiService/Services/UserCompanyService.cs
  Platform.ServiceDefaults/Extensions/ServiceExtensions.cs
  Platform.ServiceDefaults/Services/ITenantContext.cs
Due: none

refactor: 删除 CommonExtensions，统一使用 ApiService 扩展方法
  Platform.ApiService/Controllers/IoTController.cs
  Platform.ApiService/Controllers/StorageQuotaController.cs
  Platform.ApiService/Controllers/WorkflowController.cs
  Platform.ServiceDefaults/Extensions/CommonExtensions.cs
Due: none

refactor: 合并 ResourceExtensions 到 ValidationExtensions
  Platform.ApiService/Extensions/ResourceExtensions.cs
  Platform.ApiService/Extensions/ValidationExtensions.cs
Due: none

refactor: 移除 EnsureFound 和 EnsureSuccess 方法调用
  Platform.ApiService/Controllers/AuthController.cs
  Platform.ApiService/Controllers/CompanyController.cs
  Platform.ApiService/Controllers/IoTController.cs
  Platform.ApiService/Controllers/NoticeController.cs
  Platform.ApiService/Controllers/OrganizationController.cs
  Platform.ApiService/Controllers/RoleController.cs
  Platform.ApiService/Controllers/RuleController.cs
  Platform.ApiService/Controllers/UserController.cs
  Platform.ApiService/Controllers/XiaokeConfigController.cs
  Platform.ApiService/Extensions/ValidationExtensions.cs
Due: none

refactor: 精简 ValidationExtensions 移除未使用方法
  Platform.ApiService/Controllers/RuleController.cs
  Platform.ApiService/Extensions/ValidationExtensions.cs
Due: none

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json,css,less,md}
  eslint --fix: any of: **/*.{ts,tsx,js,jsx}
