Repository wjw1-Evan/aspire-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx,json,css,less,md}": [
    "prettier --write",
    "git add"
  ],
  "**/*.{ts,tsx,js,jsx}": [
    "eslint --fix",
    "git add"
  ]
}

fix: App 端通过 Metro proxy 解决 API 地址问题
  Platform.App/app/(tabs)/index.tsx
  Platform.App/constants/env-config.ts
  Platform.App/utils/constants.ts
Due: prettier --write, eslint --fix

fix: App 端通过 NativeModules.SourceCode 可靠获取开发服务器地址
  Platform.App/constants/env-config.ts
  Platform.App/utils/constants.ts
Due: prettier --write, eslint --fix

fix: 指定 App 开发服务器固定端口 18000
  Platform.AppHost/AppHost.cs
Due: none

fix: RN 0.83 使用 getDevServer() 替代已移除的 NativeModules.SourceCode
  Platform.App/constants/env-config.ts
Due: prettier --write, eslint --fix

fix: token 过期自动刷新，刷新失败则退出登录
  Platform.App/services/api.ts
  Platform.App/services/sseService.ts
Due: prettier --write, eslint --fix

fix: 添加 expo-dev-client 依赖并更新权限配置
  Platform.App/app.json
  Platform.App/eas.json
  Platform.App/package-lock.json
  Platform.App/package.json
Due: prettier --write

fix: 更新 TabLayout 组件的样式以改善 tabBar 显示效果 fix: 修改 FloatingActionMenu 组件的布局以优化 FAB 对齐方式
  Platform.App/app/(tabs)/_layout.tsx
  Platform.App/components/FloatingActionMenu.tsx
Due: prettier --write, eslint --fix

refactor: 将 App 端主色调修改为新西兰银蕨色 (#4A7C59)
  Platform.App/constants/AppStyles.ts
  Platform.App/constants/Colors.ts
  Platform.App/utils/task.ts
Due: prettier --write, eslint --fix

refactor: 统一 logout 按钮配色为银蕨绿主色调
  Platform.App/app/(tabs)/profile.tsx
Due: prettier --write, eslint --fix

docs: 将银蕨色配色方案写入开发文档，禁止页面中硬编码配色
  docs/agents/modules/frontend.md
  docs/agents/modules/mobile.md
Due: prettier --write

refactor: 清理 App 端所有硬编码配色，统一使用主题颜色
  Platform.App/app/(auth)/login.tsx
  Platform.App/app/(auth)/register.tsx
  Platform.App/app/(tabs)/index.tsx
  Platform.App/app/(tabs)/profile.tsx
  Platform.App/app/(tabs)/projects/index.tsx
  Platform.App/app/(tabs)/tasks/index.tsx
  Platform.App/app/enterprise-service/[id].tsx
  Platform.App/app/enterprise-service/create.tsx
  Platform.App/app/enterprise-service/edit/[id].tsx
  Platform.App/app/enterprise-service/index.tsx
  Platform.App/app/task/[id].tsx
  Platform.App/components/FloatingActionMenu.tsx
  Platform.App/components/ui/MenuItemCard.tsx
  Platform.App/constants/AppStyles.ts
  Platform.App/constants/Colors.ts
Due: prettier --write, eslint --fix

refactor: 优化 App 端网络基础设施
  Platform.App/app/(tabs)/index.tsx
  Platform.App/app/_layout.tsx
  Platform.App/hooks/useApi.ts
  Platform.App/locales/en.json
  Platform.App/locales/zh.json
  Platform.App/package-lock.json
  Platform.App/package.json
  Platform.App/services/api.ts
  Platform.App/services/sseService.ts
  Platform.App/utils/constants.ts
  Platform.App/utils/tokenRefreshManager.ts
Due: prettier --write, eslint --fix

feat: 添加小科 AI 聊天页面
  Platform.App/app/xiaoke/index.tsx
  Platform.App/services/xiaokeService.ts
  Platform.App/types/xiaoke.ts
Due: prettier --write, eslint --fix

fix: 修复 App 端 React Native Web 弃用警告
  Platform.App/package-lock.json
  Platform.App/package.json
  Platform.App/patches/react-native-screens+4.23.0.patch
  Platform.App/patches/react-native-toast-message+2.3.3.patch
Due: prettier --write

fix: 修复 @react-navigation 中 pointerEvents 弃用警告
  Platform.App/patches/@react-navigation+bottom-tabs+7.15.13.patch
  Platform.App/patches/@react-navigation+elements+2.9.17.patch
Due: none

docs: 更新 Aspire 文档说明
  .aspire/readme.txt
Due: none

feat: 添加 iOS bundleIdentifier 和 punycode 依赖
  Platform.App/app.json
  Platform.App/package-lock.json
  Platform.App/package.json
Due: prettier --write

fix: 修复App端refresh token竞态条件导致的重放攻击误判
  Platform.App/services/api.ts
  Platform.App/services/sseService.ts
  Platform.App/utils/token.ts
  Platform.App/utils/tokenRefreshManager.ts
Due: prettier --write, eslint --fix

fix: 修复 web端 mix 布局下任意点击跳首页的问题
  Platform.Admin/src/app.tsx
Due: prettier --write, eslint --fix

refactor: 简化 profile 页面样式，移除过度设计元素和死代码
  Platform.App/app/(tabs)/index.tsx
  Platform.App/app/(tabs)/profile.tsx
  Platform.App/app/_layout.tsx
  Platform.App/app/xiaoke/index.tsx
Due: prettier --write, eslint --fix

fix: 移除 header title 点击导航，防止误触跳转首页
  Platform.Admin/src/app.tsx
Due: prettier --write, eslint --fix

fix: 修复 App端和网页版点击穿透到首页的问题
  Platform.Admin/src/app.tsx
  Platform.App/app/_layout.tsx
Due: prettier --write, eslint --fix

fix: profile 页改用 useFocusEffect 确保每次聚焦时刷新数据
  Platform.App/app/(tabs)/profile.tsx
Due: prettier --write, eslint --fix

fix: 首页组件路由守卫，防止 Web 端 Tab 切换后内容泄露
  Platform.App/app/(tabs)/index.tsx
Due: prettier --write, eslint --fix

fix: 移除 HomeScreen 的 pointerEvents=auto 覆盖，让 RN 非活跃屏幕保护机制生效
  Platform.App/app/(tabs)/index.tsx
Due: prettier --write, eslint --fix

fix: 启用 react-native-screens 使 Web 端非活跃标签页 display:none，修复点击穿透
  Platform.App/app/_layout.tsx
Due: prettier --write, eslint --fix

fix: patch react-native-web 移除 pointerEvents 已弃用 prop 的警告
  Platform.App/app/(tabs)/index.tsx
  Platform.App/app/(tabs)/profile.tsx
  Platform.App/patches/react-native-web+0.21.2.patch
Due: prettier --write, eslint --fix

chore: 升级 Aspire 依赖至 13.3.3 并注释 Expo App 注册
  Platform.AppHost/AppHost.cs
  Platform.AppHost/Platform.AppHost.csproj
  Platform.ServiceDefaults/Platform.ServiceDefaults.csproj
Due: none

docs: 添加 App 端调试说明
  .aspire/readme.txt
Due: none

refactor: 迁移 App 端存储至 expo-secure-store 并移除 react-native-web
  Platform.App/README.md
  Platform.App/app.json
  Platform.App/app/(tabs)/index.tsx
  Platform.App/app/(tabs)/profile.tsx
  Platform.App/app/_layout.tsx
  Platform.App/package-lock.json
  Platform.App/package.json
  Platform.App/patches/react-native-web+0.21.2.patch
  Platform.App/utils/storage.ts
Due: prettier --write, eslint --fix

feat: 添加 App 端启动动画
  Platform.App/app/_layout.tsx
  Platform.App/components/SplashScreen.tsx
Due: prettier --write, eslint --fix

refactor: 移除 App 端已弃用的 react-native 深度导入，使用 expo-constants hostUri
  Platform.App/constants/env-config.ts
Due: prettier --write, eslint --fix

feat: 全局配置 headerBackButtonDisplayMode 为 minimal
  Platform.Admin/src/app.tsx
Due: prettier --write, eslint --fix

feat: App 端全局配置 headerBackButtonDisplayMode 为 minimal
  Platform.App/app/_layout.tsx
Due: prettier --write, eslint --fix

feat: 首页通知铃铛显示未读消息数量，支持 SSE 实时更新
  Platform.App/app/(tabs)/index.tsx
  Platform.App/app/_layout.tsx
  Platform.App/app/notifications.tsx
  Platform.App/app/notifications/[id].tsx
  Platform.App/contexts/NotificationContext.tsx
  Platform.App/services/sseService.ts
  Platform.App/types/notification.ts
Due: prettier --write, eslint --fix

fix: 通知详情已读时间本地化显示，移除接收时间
  Platform.App/app/notifications/[id].tsx
Due: prettier --write, eslint --fix

fix: 从通知详情返回时静默刷新列表，不显示下拉刷新动画
  Platform.App/app/notifications.tsx
Due: prettier --write, eslint --fix

fix: 通知详情恢复显示接收时间（本地化格式）
  Platform.App/app/notifications/[id].tsx
Due: prettier --write, eslint --fix

fix: 通知使用 createdAt 字段显示接收时间
  Platform.App/app/notifications.tsx
  Platform.App/app/notifications/[id].tsx
  Platform.App/types/notification.ts
Due: prettier --write, eslint --fix

fix: 优化RefreshToken并发刷新时的攻击检测，区分并发刷新与真正token重用攻击
  Platform.ApiService/Services/LoginService.cs
Due: none
