Repository wjw1-Evan/aspire-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx,json,css,less,md}": [
    "prettier --write",
    "git add"
  ],
  "**/*.{ts,tsx,js,jsx}": [
    "eslint --fix",
    "git add"
  ]
}

fix: 添加匹配通知的详细调试日志
  Platform.ApiService/Services/TaskLauncher.cs
Due: none

fix: 添加AI筛选的详细调试日志
  Platform.ApiService/Services/WebScraperService.cs
Due: none

feat: 通知未读数量实现 SSE 服务器推送
  Platform.Admin/src/components/NoticeIcon/index.tsx
  Platform.Admin/src/components/UnifiedNotificationCenter/UnifiedNotificationList.tsx
  Platform.Admin/src/services/unified-notification/api.ts
  Platform.ApiService/Controllers/NotificationSseController.cs
  Platform.ApiService/Services/IUnifiedNotificationService.cs
  Platform.ApiService/Services/UnifiedNotificationService.cs
  Platform.App/services/notificationService.ts
Due: prettier --write, eslint --fix

fix: 修复 SSE 事件数据为 0 时不更新的问题
  Platform.Admin/src/components/NoticeIcon/index.tsx
Due: prettier --write, eslint --fix

debug: 添加 SSE 接收所有事件的调试日志
  Platform.Admin/src/components/NoticeIcon/index.tsx
Due: prettier --write, eslint --fix

debug: 添加后端 SSE 写入调试日志
  Platform.ApiService/Controllers/NotificationSseController.cs
Due: none

debug: 添加 SSE 初始化调试日志
  Platform.ApiService/Controllers/NotificationSseController.cs
Due: none

debug: 添加获取统计前的日志
  Platform.ApiService/Controllers/NotificationSseController.cs
Due: none

fix: 简化 SSE 代码，移除不必要的日志和 try-catch
  Platform.ApiService/Controllers/NotificationSseController.cs
Due: none

feat: 添加 token 刷新调试日志
  Platform.Admin/src/app.tsx
  Platform.Admin/src/utils/tokenRefreshManager.ts
Due: prettier --write, eslint --fix

fix: 修复前端 SSE 事件监听代码
  Platform.Admin/src/components/NoticeIcon/index.tsx
  Platform.ApiService/appsettings.Development.json
  Platform.ApiService/appsettings.json
Due: prettier --write, eslint --fix

feat: 移除欢迎页系统资源监控模块
  Platform.Admin/src/locales/zh-CN/welcome.ts
  Platform.Admin/src/pages/Welcome.tsx
  Platform.Admin/src/pages/welcome/components/index.ts
Due: prettier --write, eslint --fix

fix: 删除 welcome 路由和 system-monitor/resources 接口
  Platform.Admin/config/routes.ts
  Platform.ApiService/Controllers/SystemMonitorController.cs
Due: prettier --write, eslint --fix

fix: 恢复 welcome 路由配置
  Platform.Admin/config/routes.ts
Due: prettier --write, eslint --fix

fix: 移除欢迎页系统资源监控模块
  Platform.Admin/src/pages/Welcome.tsx
  Platform.Admin/src/pages/welcome/components/index.ts
  Platform.Admin/src/services/system/api.ts
Due: prettier --write, eslint --fix

perf: 移除欢迎页和IoT平台的定时刷新功能
  Platform.Admin/src/pages/iot-platform/index.tsx
  Platform.Admin/src/pages/welcome/components/IoTEventAlertsCard.tsx
  Platform.Admin/src/pages/welcome/components/ProjectListCard.tsx
Due: prettier --write, eslint --fix

fix: 通知铃铛显示未读数量0
  Platform.Admin/src/components/NoticeIcon/index.tsx
Due: prettier --write, eslint --fix

fix: 修复未读消息统计，添加企业ID过滤并显示未读数量0
  Platform.ApiService/Services/UnifiedNotificationService.cs
Due: none

fix: 修复未读消息统计缺少用户ID过滤
  Platform.ApiService/Services/UnifiedNotificationService.cs
Due: none

1
  Platform.ApiService/Middleware/UserContextMiddleware.cs
Due: none

fix: 移除未读统计中的企业ID过滤，仅按用户ID过滤
  Platform.ApiService/Services/UnifiedNotificationService.cs
Due: none

fix: 抑制 EF Core 的 Bulk Write 日志输出
  Platform.ApiService/appsettings.Development.json
  Platform.ApiService/appsettings.json
  Platform.AppHost/appsettings.json
Due: prettier --write

chore: remove unused development appsettings file from AppHost
  Platform.AppHost/appsettings.Development.json
Due: prettier --write

fix: 修复通知未读数统计逻辑，支持跨租户通知显示并添加前端兜底加载
  Platform.Admin/src/components/NoticeIcon/index.tsx
  Platform.ApiService/Services/UnifiedNotificationService.cs
Due: prettier --write, eslint --fix

refactor: 恢复使用 DbContext 的自动租户过滤统计通知未读数
  Platform.ApiService/Services/UnifiedNotificationService.cs
Due: none

feat: 重新开发基于 SSE 的全新通知系统，包含玻璃拟态前端交互
  Platform.Admin/src/components/NoticeIcon/index.less
  Platform.Admin/src/components/NoticeIcon/index.tsx
  Platform.Admin/src/hooks/useNotificationStream.ts
  Platform.Admin/src/services/notification/api.ts
  Platform.ApiService/Controllers/NotificationController.cs
  Platform.ApiService/Controllers/NotificationStreamController.cs
  Platform.ApiService/Models/Entities/AppNotification.cs
  Platform.ApiService/Services/NotificationService.cs
  Platform.ApiService/Services/SingletonNotificationStreamManager.cs
Due: prettier --write, eslint --fix

chore: 清理旧版通知系统代码并完成全量功能迁移
  Platform.Admin/src/components/UnifiedNotificationCenter/UnifiedNotificationList.tsx
  Platform.Admin/src/components/UnifiedNotificationCenter/index.less
  Platform.Admin/src/components/UnifiedNotificationCenter/index.tsx
  Platform.Admin/src/services/unified-notification/api.ts
  Platform.ApiService/Controllers/NoticeController.cs
  Platform.ApiService/Controllers/NotificationSseController.cs
  Platform.ApiService/Controllers/UnifiedNotificationController.cs
  Platform.ApiService/Models/Dtos/NoticeDtos.cs
  Platform.ApiService/Models/Entities/NoticeEntities.cs
  Platform.ApiService/Models/Enums/CommonEnums.cs
  Platform.ApiService/Services/INoticeService.cs
  Platform.ApiService/Services/IUnifiedNotificationService.cs
  Platform.ApiService/Services/JoinRequestService.cs
  Platform.ApiService/Services/Mcp/Handlers/NoticeMcpToolHandler.cs
  Platform.ApiService/Services/Mcp/Handlers/NotificationMcpToolHandler.cs
  Platform.ApiService/Services/NoticeService.cs
  Platform.ApiService/Services/NotificationService.cs
  Platform.ApiService/Services/TaskCrudService.cs
  Platform.ApiService/Services/TaskExecutionService.cs
  Platform.ApiService/Services/TaskLauncher.cs
  Platform.ApiService/Services/UnifiedNotificationService.cs
  Platform.ApiService/Services/WorkflowEngine.Notifications.cs
  Platform.ApiService/Services/WorkflowEngine.cs
  Platform.App/app/notifications.tsx
  Platform.App/services/notificationService.ts
  Platform.App/types/notification.ts
Due: prettier --write, eslint --fix

fix: 修复 SSE 通知流 401 认证错误，优化 JWT OnMessageReceived 逻辑并移除冗余中间件
  Platform.ApiService/Controllers/NotificationStreamController.cs
  Platform.ApiService/Program.cs
  Platform.ApiService/Services/JoinRequestService.cs
  Platform.ApiService/Services/Mcp/Handlers/NotificationMcpToolHandler.cs
  Platform.ApiService/Services/NotificationService.cs
  Platform.ApiService/Services/TaskCrudService.cs
  Platform.ApiService/Services/TaskLauncher.cs
  Platform.ApiService/Services/WorkflowEngine.Approval.cs
  Platform.ApiService/Services/WorkflowEngine.Notifications.cs
  test_mongo.cs
Due: none

feat: implement SSE heartbeat, add mark-as-unread functionality, and improve notification stream logging
  Platform.Admin/src/components/NoticeIcon/index.tsx
  Platform.Admin/src/hooks/useNotificationStream.ts
  Platform.Admin/src/services/notification/api.ts
  Platform.ApiService/Controllers/NotificationController.cs
  Platform.ApiService/Controllers/NotificationStreamController.cs
  Platform.ApiService/Filters/ApiResponseWrapperFilter.cs
  Platform.ApiService/Middleware/ApiLoggingMiddleware.cs
  Platform.ApiService/Program.cs
  Platform.ApiService/Services/NotificationService.cs
  Platform.ApiService/Services/SingletonNotificationStreamManager.cs
  Platform.ApiService/Services/WorkflowEngine.Notifications.cs
Due: prettier --write, eslint --fix

docs: 在 AGENTS.md 中添加 SSE 开发规范并整合实时通信最佳实践
  AGENTS.md
Due: prettier --write

chore: 更新 opencode 依赖版本
  .opencode/package-lock.json
Due: prettier --write

refactor: 重命名 ChatSseController 为 StreamController，统一路由为 /api/stream
  Platform.Admin/src/hooks/useSseConnection.ts
  Platform.ApiService/Controllers/StreamController.cs
  Platform.ApiService/Filters/ApiResponseWrapperFilter.cs
  Platform.ApiService/Middleware/ApiLoggingMiddleware.cs
Due: prettier --write, eslint --fix

refactor: 统一 SSE 连接，合并通知和小科对话到 /api/stream/sse
  Platform.Admin/src/components/AiAssistant/index.tsx
  Platform.Admin/src/components/NoticeIcon/index.tsx
  Platform.Admin/src/hooks/useNotificationStream.ts
  Platform.Admin/src/hooks/useSseConnection.ts
  Platform.Admin/src/services/chat/api.ts
  Platform.ApiService/Controllers/ChatMessagesController.cs
  Platform.ApiService/Controllers/NotificationStreamController.cs
  Platform.ApiService/Filters/ApiResponseWrapperFilter.cs
  Platform.ApiService/Services/NotificationService.cs
  Platform.ApiService/Services/SingletonNotificationStreamManager.cs
Due: prettier --write, eslint --fix

fix: 修复 SSE event 头，添加 chat-response 事件推送
  Platform.ApiService/Services/ChatService.cs
  Platform.ApiService/Services/NotificationService.cs
Due: none

fix: 使用全局单例 EventSource，避免重复连接
  Platform.Admin/src/hooks/useGlobalSse.tsx
  Platform.Admin/src/hooks/useSseConnection.ts
Due: prettier --write, eslint --fix

fix: 完善单例模式，全局连接状态检查
  Platform.Admin/src/hooks/useSseConnection.ts
Due: prettier --write, eslint --fix

fix: 防止多个组件同时触发连接
  Platform.Admin/src/hooks/useSseConnection.ts
Due: prettier --write, eslint --fix

debug: 添加 SSE 连接调试日志
  Platform.Admin/src/hooks/useSseConnection.ts
Due: prettier --write, eslint --fix

fix: ChatService 中 _sseConnectionManager 改为可选参数避免注入失败
  Platform.ApiService/Services/ChatService.cs
Due: none

fix: 移除 ChatService 中的 SSE 推送代码，解决 DbContext 并发问题
  Platform.ApiService/Services/ChatService.cs
Due: none
