Repository wjw1-Evan/aspire-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx,json,css,less,md}": [
    "prettier --write",
    "git add"
  ],
  "**/*.{ts,tsx,js,jsx}": [
    "eslint --fix",
    "git add"
  ]
}

refactor: 删除 ValidationExtensions，移除冗余验证调用
  Platform.ApiService/Controllers/ChatAiController.cs
  Platform.ApiService/Controllers/CompanyController.cs
  Platform.ApiService/Controllers/OrganizationController.cs
  Platform.ApiService/Controllers/UserController.cs
  Platform.ApiService/Extensions/ValidationExtensions.cs
  Platform.ApiService/Services/AiSuggestionService.cs
  Platform.ApiService/Services/CompanyService.cs
  Platform.ApiService/Services/SocialService.cs
Due: none

fix: 优化Options绑定方法查找稳定性
  Platform.ApiService/Extensions/ServiceRegistrationExtensions.cs
Due: none

refactor: 简化服务自动发现与注册扩展
  Platform.ApiService/Extensions/ServiceRegistrationExtensions.cs
Due: none

refactor: 迁移ServiceRegistrationExtensions到Platform.ServiceDefaults
  Platform.ApiService/Program.cs
  Platform.ServiceDefaults/Extensions/ServiceDiscoveryExtensions.cs
  Platform.ServiceDefaults/Platform.ServiceDefaults.csproj
Due: none

refactor: 增强服务自动注册，支持Assembly扫描
  Platform.ApiService/Options/SmtpOptions.cs
  Platform.ApiService/Program.cs
  Platform.ServiceDefaults/Extensions/ServiceDiscoveryExtensions.cs
Due: none

refactor: 简化AddServiceDiscovery调用，默认扫描当前Assembly
  Platform.ApiService/Program.cs
  Platform.ServiceDefaults/Extensions/ServiceDiscoveryExtensions.cs
Due: none

fix: 添加AddServiceDiscovery重载方法
  Platform.ServiceDefaults/Extensions/ServiceDiscoveryExtensions.cs
Due: none

refactor: 简化AddServiceDiscovery，移除冗余参数
  Platform.ServiceDefaults/Extensions/ServiceDiscoveryExtensions.cs
Due: none

chore: 移除冗余的Options.ConfigurationExtensions包引用
  Platform.ServiceDefaults/Platform.ServiceDefaults.csproj
Due: none

fix: AddServiceDiscovery扫描所有Platform程序集
  Platform.ServiceDefaults/Extensions/ServiceDiscoveryExtensions.cs
Due: none

fix: 添加IEmailService到ISmtpEmailService的接口映射
  Platform.ApiService/Program.cs
Due: none

refactor: SmtpEmailService实现IEmailService接口以支持自动注册
  Platform.ApiService/Program.cs
  Platform.ApiService/Services/SmtpEmailService.cs
Due: none

fix: 移除SmtpEmailService中重复的IEmailService接口（ISmtpEmailService已继承）
  Platform.ApiService/Services/SmtpEmailService.cs
Due: none

fix: 注册服务时同时注册所有实现的接口
  Platform.ServiceDefaults/Extensions/ServiceDiscoveryExtensions.cs
Due: none

fix: 修复前后端 API 不匹配问题
  Platform.Admin/src/pages/cloud-storage/quota/index.tsx
  Platform.Admin/src/pages/workflow/forms/index.tsx
  Platform.ApiService/Controllers/TaskController.cs
Due: prettier --write, eslint --fix

fix: 修复存储管理详情抽屉无法关闭的问题
  Platform.Admin/src/pages/cloud-storage/quota/index.tsx
Due: prettier --write, eslint --fix

fix: 修复多个抽屉组件关闭问题
  Platform.Admin/src/pages/cloud-storage/files/index.tsx
  Platform.Admin/src/pages/park-management/enterprise-service/index.tsx
  Platform.Admin/src/pages/park-management/investment/index.tsx
  Platform.Admin/src/pages/park-management/visit-assessment/index.tsx
  Platform.Admin/src/pages/user-management/index.tsx
Due: prettier --write, eslint --fix

style: 统一抽屉组件样式为 placement=right size-large
  Platform.Admin/src/pages/cloud-storage/files/index.tsx
  Platform.Admin/src/pages/cloud-storage/quota/index.tsx
  Platform.Admin/src/pages/iot-platform/components/DataCenter.tsx
  Platform.Admin/src/pages/iot-platform/components/DataPointManagement.tsx
  Platform.Admin/src/pages/iot-platform/components/DeviceManagement.tsx
  Platform.Admin/src/pages/iot-platform/components/GatewayManagement.tsx
  Platform.Admin/src/pages/my-activity/index.tsx
  Platform.Admin/src/pages/park-management/asset/index.tsx
  Platform.Admin/src/pages/park-management/contract/index.tsx
  Platform.Admin/src/pages/park-management/enterprise-service/index.tsx
  Platform.Admin/src/pages/park-management/investment/index.tsx
  Platform.Admin/src/pages/park-management/tenant/index.tsx
  Platform.Admin/src/pages/park-management/visit-assessment/index.tsx
  Platform.Admin/src/pages/park-management/visit-knowledge-base/index.tsx
  Platform.Admin/src/pages/park-management/visit-task/index.tsx
  Platform.Admin/src/pages/role-management/index.tsx
  Platform.Admin/src/pages/task-management/index.tsx
  Platform.Admin/src/pages/user-management/index.tsx
Due: prettier --write, eslint --fix

feat: 添加 opencode-type-inject 和 opencode-dcp 插件
  .opencode/opencode.json
  .opencode/package-lock.json
Due: prettier --write

refactor: 升级表单组件为 ProForm.useForm，优化抽屉组件样式
  Platform.Admin/src/components/RightContent/ThemeSettingsDrawer.tsx
  Platform.Admin/src/components/ThemeSettings/index.tsx
  Platform.Admin/src/components/UnifiedNotificationCenter/index.tsx
  Platform.Admin/src/pages/cloud-storage/files/index.tsx
  Platform.Admin/src/pages/document/approval.tsx
  Platform.Admin/src/pages/document/list.tsx
  Platform.Admin/src/pages/iot-platform/components/CommandCenterPanel.tsx
  Platform.Admin/src/pages/iot-platform/components/DataPointManagement.tsx
  Platform.Admin/src/pages/iot-platform/components/DeviceManagement.tsx
  Platform.Admin/src/pages/iot-platform/components/EventManagement.tsx
  Platform.Admin/src/pages/iot-platform/components/GatewayManagement.tsx
  Platform.Admin/src/pages/my-activity/index.tsx
  Platform.Admin/src/pages/organization/index.tsx
  Platform.Admin/src/pages/park-management/asset/index.tsx
  Platform.Admin/src/pages/park-management/tenant/index.tsx
  Platform.Admin/src/pages/park-management/visit-knowledge-base/index.tsx
  Platform.Admin/src/pages/password-book/index.tsx
  Platform.Admin/src/pages/role-management/components/RoleForm.tsx
  Platform.Admin/src/pages/role-management/index.tsx
  Platform.Admin/src/pages/task-management/components/ProjectDetail.tsx
  Platform.Admin/src/pages/task-management/index.tsx
  Platform.Admin/src/pages/user-management/index.tsx
  Platform.Admin/src/pages/workflow/components/NodeConfigDrawer.tsx
  Platform.Admin/src/pages/xiaoke-management/chat-history/components/ChatHistoryDetail.tsx
Due: prettier --write, eslint --fix

style: 修复 Drawer 宽度设置，统一使用 size=large
  Platform.Admin/src/pages/park-management/tenant/index.tsx
  Platform.Admin/src/pages/task-management/index.tsx
Due: prettier --write, eslint --fix

chore: 更新依赖
  Platform.Admin/package-lock.json
  Platform.Admin/package.json
  Platform.Admin/src/pages/iot-platform/components/DataCenter.tsx
Due: prettier --write, eslint --fix

docs: 更新开发文档，补充技术栈版本号和MCP 21 Handler列表
  AGENTS.md
  README.md
  docs/features/MCP-HANDLERS-GUIDE.md
  docs/guides/MICROSERVICE-GUIDE.md
  docs/rules/README.md
  docs/rules/backend/00-总览.md
Due: prettier --write

fix: 修复 Admin 端开发规范问题（ModalForm key、服务层与页面 any 类型）
  Platform.Admin/src/pages/iot-platform/components/DataPointManagement.tsx
  Platform.Admin/src/pages/iot-platform/components/DeviceManagement.tsx
  Platform.Admin/src/pages/iot-platform/components/EventManagement.tsx
  Platform.Admin/src/pages/iot-platform/components/GatewayManagement.tsx
  Platform.Admin/src/pages/park-management/contract/index.tsx
  Platform.Admin/src/pages/role-management/index.tsx
  Platform.Admin/src/pages/task-management/index.tsx
  Platform.Admin/src/services/document/api.ts
  Platform.Admin/src/services/iotService.ts
  Platform.Admin/src/services/permission.ts
  Platform.Admin/src/services/user/api.ts
  Platform.Admin/src/services/workflow/api.ts
Due: prettier --write, eslint --fix

refactor: 优化 ApiService 中不符合开发规范的代码
  Platform.ApiService/Controllers/AuthController.cs
  Platform.ApiService/Services/UserService.cs
Due: none

refactor: 拆分 ParkManagementModels.cs 为 10 个模块化文件
  Platform.ApiService/Models/Park/ParkAssetDtos.cs
  Platform.ApiService/Models/Park/ParkAssetEntities.cs
  Platform.ApiService/Models/Park/ParkEnterpriseServiceDtos.cs
  Platform.ApiService/Models/Park/ParkEnterpriseServiceEntities.cs
  Platform.ApiService/Models/Park/ParkInvestmentDtos.cs
  Platform.ApiService/Models/Park/ParkInvestmentEntities.cs
  Platform.ApiService/Models/Park/ParkTenantDtos.cs
  Platform.ApiService/Models/Park/ParkTenantEntities.cs
  Platform.ApiService/Models/Park/ParkVisitDtos.cs
  Platform.ApiService/Models/Park/ParkVisitEntities.cs
  Platform.ApiService/Models/ParkManagementModels.cs
Due: none

refactor: 拆分 IoTService.cs 为模块化服务架构
  Platform.ApiService/Services/IoT/IoTCommandService.cs
  Platform.ApiService/Services/IoT/IoTDataPointService.cs
  Platform.ApiService/Services/IoT/IoTDeviceService.cs
  Platform.ApiService/Services/IoT/IoTDeviceTwinService.cs
  Platform.ApiService/Services/IoT/IoTEventService.cs
  Platform.ApiService/Services/IoT/IoTGatewayService.cs
  Platform.ApiService/Services/IoT/IoTStatisticsService.cs
  Platform.ApiService/Services/IoTService.cs
Due: none

refactor: 拆分 AuthService.cs 为 4 个子服务
  Platform.ApiService/Services/AuthService.cs
  Platform.ApiService/Services/ICloudStorageSubServices.cs
  Platform.ApiService/Services/ILoginService.cs
  Platform.ApiService/Services/ISessionService.cs
  Platform.ApiService/Services/LoginService.cs
  Platform.ApiService/Services/RegistrationService.cs
  Platform.ApiService/Services/SessionService.cs
Due: none

refactor: 拆分 DocumentService.cs 为 4 个子服务
  Platform.ApiService/Services/DocumentAttachmentService.cs
  Platform.ApiService/Services/DocumentCrudService.cs
  Platform.ApiService/Services/DocumentService.cs
  Platform.ApiService/Services/DocumentStatisticsService.cs
  Platform.ApiService/Services/DocumentWorkflowService.cs
  Platform.ApiService/Services/IDocumentSubServices.cs
Due: none

refactor: 拆分 StorageQuotaService.cs 为 3 个子服务
  Platform.ApiService/Services/CompanyQuotaService.cs
  Platform.ApiService/Services/IStorageQuotaSubServices.cs
  Platform.ApiService/Services/QuotaWarningService.cs
  Platform.ApiService/Services/UserQuotaService.cs
Due: none

refactor: 重构 Park/ 子目录结构
  Platform.ApiService/Services/Park/Asset/ParkAssetService.cs
  Platform.ApiService/Services/Park/Enterprise/ParkEnterpriseServiceService.cs
  Platform.ApiService/Services/Park/Investment/ParkInvestmentService.cs
  Platform.ApiService/Services/Park/Statistics/ParkStatisticsService.cs
  Platform.ApiService/Services/Park/Tenant/ParkTenantService.cs
  Platform.ApiService/Services/Park/Visit/IParkVisitService.cs
  Platform.ApiService/Services/Park/Visit/ParkVisitService.cs
Due: none

refactor: 拆分 TaskService.cs 为 4 个子服务
  Platform.ApiService/Services/ITaskSubServices.cs
  Platform.ApiService/Services/TaskCrudService.cs
  Platform.ApiService/Services/TaskDependencyService.cs
  Platform.ApiService/Services/TaskExecutionService.cs
  Platform.ApiService/Services/TaskService.cs
  Platform.ApiService/Services/TaskStatisticsService.cs
Due: none

refactor: 添加 UserCompany 子服务接口定义
  Platform.ApiService/Services/IUserCompanySubServices.cs
Due: none

refactor: 简化控制器代码
  Platform.ApiService/Controllers/TaskController.cs
  Platform.ApiService/Controllers/WorkflowController.cs
  Platform.ApiService/Models/TaskModels.cs
Due: none

refactor: 简化 IoTController 和 UserController
  Platform.ApiService/Controllers/IoTController.cs
  Platform.ApiService/Controllers/UserController.cs
Due: none

fix: 修复编译警告
  Platform.ApiService/Controllers/TaskController.cs
  Platform.ApiService/Controllers/WorkflowController.cs
  Platform.ApiService/Models/TaskModels.cs
  Platform.ApiService/Services/CompanyQuotaService.cs
Due: none

fix: 显式注册 Task 子服务修复 DI 依赖问题
  Platform.ApiService/Program.cs
Due: none

refactor: 修复服务自动注册规范
  Platform.ApiService/Services/EmailBackgroundQueue.cs
  Platform.ApiService/Services/ICloudStorageSubServices.cs
  Platform.ApiService/Services/IEmailBackgroundQueue.cs
  Platform.ApiService/Services/IFileShareService.cs
  Platform.ApiService/Services/IFileVersionService.cs
  Platform.ApiService/Services/IImageCaptchaService.cs
  Platform.ApiService/Services/IIoTService.cs
  Platform.ApiService/Services/IKnowledgeService.cs
  Platform.ApiService/Services/IRoleService.cs
  Platform.ApiService/Services/IStorageQuotaService.cs
  Platform.ApiService/Services/IUnifiedNotificationService.cs
  Platform.ApiService/Services/IUserCompanySubServices.cs
  Platform.ApiService/Services/ImageCaptchaService.cs
Due: none

chore: 移除 Task 子服务显式注册，依赖自动注册
  Platform.ApiService/Program.cs
Due: none

refactor: 拆分 ITaskSubServices.cs 为独立接口文件
  Platform.ApiService/Services/ITaskCrudService.cs
  Platform.ApiService/Services/ITaskDependencyService.cs
  Platform.ApiService/Services/ITaskExecutionService.cs
  Platform.ApiService/Services/ITaskStatisticsService.cs
  Platform.ApiService/Services/ITaskSubServices.cs
Due: none
