Repository wjw1-Evan/aspire-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix: 修复聊天历史列表创建时间字段缺失
  Platform.ApiService/Models/Dtos/XiaokeDtos.cs
  Platform.ApiService/Services/ChatHistoryService.cs
Due: none

fix: OpenAI模型名称从配置读取
  Platform.AppHost/AppHost.cs
Due: none

chore: 清理测试环境配置，简化Aspire资源编排
  Platform.ApiService/appsettings.json
  Platform.AppHost/AppHost.cs
  Platform.AppHost/appsettings.Testing.json
  Platform.AppHost/appsettings.json
Due: prettier --write

chore: 更新commit template移除git-master skill引用
  opencode.jsonc
Due: none

chore: 更新项目依赖
  Platform.Admin/package-lock.json
  Platform.Admin/package.json
  Platform.AppHost/Platform.AppHost.csproj
  Platform.ServiceDefaults/Platform.ServiceDefaults.csproj
Due: prettier --write

chore: 更新Aspire说明文档和App依赖
  .aspire/readme.md
  Platform.App/package.json
Due: prettier --write

feat: 升级登录注册页面使用 ProForm 组件
  Platform.Admin/src/pages/user/login/index.tsx
  Platform.Admin/src/pages/user/register/index.tsx
Due: prettier --write, eslint --fix

style: 统一用户页面按钮大小为 middle
  Platform.Admin/src/pages/user/change-password/index.tsx
  Platform.Admin/src/pages/user/forgot-password/index.tsx
  Platform.Admin/src/pages/user/login/index.tsx
  Platform.Admin/src/pages/user/register/index.tsx
Due: prettier --write, eslint --fix

refactor: 清理用户页面自定义样式
  Platform.Admin/src/pages/user/forgot-password/index.tsx
  Platform.Admin/src/pages/user/login/index.tsx
  Platform.Admin/src/pages/user/register/index.tsx
Due: prettier --write, eslint --fix

refactor: 优化用户页面布局
  Platform.Admin/src/pages/user/forgot-password/index.tsx
  Platform.Admin/src/pages/user/login/index.tsx
  Platform.Admin/src/pages/user/register/index.tsx
Due: prettier --write, eslint --fix

fix: 忘记密码链接居右显示
  Platform.Admin/src/pages/user/login/index.tsx
Due: prettier --write, eslint --fix

refactor: 优化登录页面布局
  Platform.Admin/src/pages/user/login/index.tsx
Due: prettier --write, eslint --fix

fix: 添加 LOGIN_ERROR_INVALID_CREDENTIALS 错误码
  Platform.Admin/src/constants/errorCodes.ts
  Platform.Admin/src/locales/zh-CN/pages.ts
Due: prettier --write, eslint --fix

fix: 导入 LOGIN_ERROR_INVALID_CREDENTIALS 错误码
  Platform.Admin/src/pages/user/login/index.tsx
Due: prettier --write, eslint --fix

fix: 修复登录失败及多语言显示问题
  Platform.Admin/src/utils/encryption.ts
  Platform.ApiService/Filters/BusinessExceptionFilter.cs
  Platform.ServiceDefaults/Models/ApiResponse.cs
Due: prettier --write, eslint --fix

fix: 登录失败及多语言显示问题修复
  .opencode/package-lock.json
  Platform.Admin/package.json
  Platform.Admin/src/constants/errorCodes.ts
  Platform.ApiService/BusinessException.cs
  Platform.ApiService/Filters/BusinessExceptionFilter.cs
  Platform.ApiService/Services/LoginService.cs
Due: prettier --write, eslint --fix

chore: 更新 Docker 配置及 Aspire 说明文档
  .aspire/readme.md
  Platform.Admin/Dockerfile
  Platform.App/Dockerfile
  Platform.AppHost/aspire-output/docker-compose.yaml
Due: prettier --write

chore: 更新项目依赖锁文件
  Platform.Admin/package-lock.json
  Platform.Admin/package.json
  Platform.App/package-lock.json
Due: prettier --write

refactor: 移除 BusinessException，改用 ArgumentException
  Platform.ApiService/BusinessException.cs
  Platform.ApiService/Services/LoginService.cs
Due: none

refactor: 移除 BusinessExceptionFilter 中对 BusinessException 的引用
  Platform.ApiService/Filters/BusinessExceptionFilter.cs
Due: none

refactor: 移除 ApiResponse 中的 Code 字段，统一错误响应
  Platform.Admin/src/types/api-response.ts
  Platform.ApiService/Filters/BusinessExceptionFilter.cs
  Platform.ServiceDefaults/Models/ApiResponse.cs
Due: prettier --write, eslint --fix

docs: 更新业务异常过滤器规范，统一使用 message 传递错误信息
  AGENTS.md
Due: prettier --write

refactor: 优化 BusinessExceptionFilter 使用映射表减少 if 分支
  Platform.ApiService/Filters/BusinessExceptionFilter.cs
Due: none

refactor: 统一错误处理，删除前端 errorCode 直接使用 message
  Platform.Admin/src/constants/errorCodes.ts
  Platform.Admin/src/locales/zh-CN/pages.ts
  Platform.Admin/src/locales/zh-CN/request.ts
  Platform.Admin/src/pages/user/login/index.tsx
  Platform.Admin/src/request-error-config.ts
  Platform.ApiService/Services/LoginService.cs
Due: prettier --write, eslint --fix

refactor: 移动端登录错误处理同步修改
  Platform.App/app/(auth)/login.tsx
Due: prettier --write, eslint --fix

feat: 前端支持根据 message errorCode 进行多语言翻译
  Platform.Admin/src/constants/errorCodes.ts
  Platform.Admin/src/locales/zh-CN/pages.ts
  Platform.Admin/src/locales/zh-CN/request.ts
  Platform.Admin/src/pages/user/login/index.tsx
Due: prettier --write, eslint --fix

refactor: 简化 errorCode 多语言处理
  Platform.Admin/src/constants/errorCodes.ts
  Platform.Admin/src/locales/zh-CN/request.ts
  Platform.Admin/src/utils/errorInterceptor.ts
Due: prettier --write, eslint --fix

refactor: 移动 BusinessExceptionFilter 到 Platform.ServiceDefaults 并增强派生类匹配
  .opencode/package-lock.json
  AGENTS.md
  Platform.ApiService/Filters/BusinessExceptionFilter.cs
  Platform.ApiService/Program.cs
  Platform.ServiceDefaults/Controllers/BaseApiController.cs
  Platform.ServiceDefaults/Filters/BusinessExceptionFilter.cs
  Platform.ServiceDefaults/Models/ApiResponse.cs
Due: prettier --write

docs: 为 BusinessExceptionFilter 添加完整注释
  Platform.ServiceDefaults/Filters/BusinessExceptionFilter.cs
Due: none

refactor: 简化 BusinessExceptionFilter 使用状态码映射
  Platform.ServiceDefaults/Filters/BusinessExceptionFilter.cs
Due: none

feat: 添加错误码国际化翻译到所有语言包
  Platform.Admin/src/constants/errorCodes.ts
  Platform.Admin/src/locales/ar-EG/request.ts
  Platform.Admin/src/locales/de-DE/request.ts
  Platform.Admin/src/locales/en-US/request.ts
  Platform.Admin/src/locales/es-ES/request.ts
  Platform.Admin/src/locales/fr-FR/request.ts
  Platform.Admin/src/locales/it-IT/request.ts
  Platform.Admin/src/locales/ko-KR/request.ts
  Platform.Admin/src/locales/ru-RU/request.ts
  Platform.Admin/src/locales/th-TH/request.ts
  Platform.Admin/src/locales/tr-TR/request.ts
  Platform.Admin/src/locales/vi-VN/request.ts
  Platform.Admin/src/locales/zh-CN/request.ts
  Platform.Admin/src/request-error-config.ts
  Platform.Admin/src/types/api-response.ts
  Platform.Admin/src/utils/errorInterceptor.ts
  Platform.ApiService/Attributes/RequireMenuAttribute.cs
  Platform.ApiService/Controllers/AuthController.cs
  Platform.ApiService/Filters/ApiResponseWrapperFilter.cs
  Platform.ApiService/Program.cs
  Platform.ServiceDefaults/Controllers/BaseApiController.cs
  Platform.ServiceDefaults/Filters/BusinessExceptionFilter.cs
  Platform.ServiceDefaults/Models/ApiResponse.cs
  Platform.ServiceDefaults/Models/ErrorCode.cs
Due: prettier --write, eslint --fix

feat: 添加 errorCode 统一错误码机制，前后端对齐 ApiResponse
  AGENTS.md
  Platform.Admin/src/pages/user/change-password/index.tsx
  Platform.Admin/src/pages/user/login/index.tsx
  Platform.App/app/(auth)/register.tsx
  Platform.App/app/(tabs)/profile.tsx
  Platform.App/services/api.ts
  Platform.App/types/api.ts
Due: prettier --write, eslint --fix

refactor: 清理过时代码，errorCode 优先机制全面落地
  Platform.Admin/src/components/CompanySwitcher/index.tsx
  Platform.Admin/src/components/CreateCompanyModal/index.tsx
  Platform.Admin/src/components/JoinCompanyModal/index.tsx
  Platform.Admin/src/locales/ar-EG/request.ts
  Platform.Admin/src/locales/en-US/pages.ts
  Platform.Admin/src/locales/es-ES/request.ts
  Platform.Admin/src/locales/fr-FR/request.ts
  Platform.Admin/src/locales/it-IT/request.ts
  Platform.Admin/src/locales/ko-KR/request.ts
  Platform.Admin/src/locales/ru-RU/request.ts
  Platform.Admin/src/locales/th-TH/request.ts
  Platform.Admin/src/locales/tr-TR/request.ts
  Platform.Admin/src/locales/vi-VN/request.ts
  Platform.Admin/src/locales/zh-CN/pages.ts
  Platform.Admin/src/pages/account/center/index.tsx
  Platform.Admin/src/pages/cloud-storage/files/index.tsx
  Platform.Admin/src/pages/company/components/EditCompanyModal.tsx
  Platform.Admin/src/pages/company/components/MyJoinRequestsTable.tsx
  Platform.Admin/src/pages/role-management/components/RoleForm.tsx
  Platform.Admin/src/pages/user/change-password/index.tsx
  Platform.Admin/src/pages/xiaoke-management/chat-history/components/ChatHistoryManagement.tsx
  Platform.Admin/src/pages/xiaoke-management/config/components/ConfigForm.tsx
  Platform.Admin/src/pages/xiaoke-management/config/components/ConfigManagement.tsx
  Platform.Admin/src/request-error-config.ts
  Platform.Admin/src/services/chat/api.ts
  Platform.Admin/src/utils/errorInterceptor.ts
  Platform.Admin/src/utils/getErrorMessage.ts
  Platform.ApiService/Program.cs
Due: prettier --write, eslint --fix

docs: 更新 AGENTS.md 错误处理规范和代码位置索引
  AGENTS.md
Due: prettier --write

refactor: 统一认证异常处理，使用 ErrorCode 常量替代硬编码字符串
  Platform.ApiService/Services/ChatSessionService.cs
  Platform.ApiService/Services/JoinRequestService.cs
  Platform.ApiService/Services/SocialService.cs
Due: none

refactor: 统一错误码机制，BusinessExceptionFilter 自动识别已知错误码并翻译为中文消息
  AGENTS.md
  Platform.ApiService/Constants/ErrorCodes.cs
  Platform.ApiService/Services/AiAssistantCoordinator.cs
  Platform.ApiService/Services/BulkOperationService.cs
  Platform.ApiService/Services/ChatAttachmentService.cs
  Platform.ApiService/Services/DocumentAttachmentService.cs
  Platform.ApiService/Services/DocumentStatisticsService.cs
  Platform.ApiService/Services/DocumentWorkflowService.cs
  Platform.ApiService/Services/LoginService.cs
  Platform.ApiService/Services/UniquenessChecker.cs
  Platform.ApiService/Services/UserCompanyService.cs
  Platform.ApiService/Services/UserService.cs
  Platform.ApiService/Services/WorkflowExportImportService.cs
  Platform.ServiceDefaults/Filters/BusinessExceptionFilter.cs
  Platform.ServiceDefaults/Models/ErrorCode.cs
Due: prettier --write

refactor: 迁移错误消息引用至 ErrorCode 和 SuccessMessages
  Platform.ApiService/Constants/CompanyConstants.cs
  Platform.ApiService/Constants/OrganizationConstants.cs
  Platform.ApiService/Constants/SuccessMessages.cs
  Platform.ApiService/Constants/UserConstants.cs
  Platform.ApiService/Controllers/OrganizationController.cs
  Platform.ApiService/Controllers/RoleController.cs
  Platform.ApiService/Controllers/UserController.cs
  Platform.ApiService/Services/CompanyService.cs
  Platform.ApiService/Services/JoinRequestService.cs
  Platform.ApiService/Services/LoginService.cs
  Platform.ApiService/Services/OrganizationService.cs
  Platform.ApiService/Services/RoleService.cs
  Platform.ApiService/Services/UserService.cs
  Platform.ServiceDefaults/Filters/BusinessExceptionFilter.cs
  Platform.ServiceDefaults/Models/ErrorCode.cs
Due: none

docs: 更新 AGENTS.md 错误处理规范，反映 ErrorCode/SuccessMessages/ErrorMessages 统一架构
  AGENTS.md
Due: prettier --write

refactor: 迁移 Platform.ApiService/Constants 到 Platform.ServiceDefaults/Models
  Platform.ApiService/Constants/AiAssistantConstants.cs
  Platform.ApiService/Controllers/ChatMessagesController.cs
  Platform.ApiService/Controllers/CompanyController.cs
  Platform.ApiService/Controllers/OrganizationController.cs
  Platform.ApiService/Controllers/RoleController.cs
  Platform.ApiService/Controllers/UserController.cs
  Platform.ApiService/Services/AiAssistantCoordinator.cs
  Platform.ApiService/Services/AiSuggestionService.cs
  Platform.ApiService/Services/ChatAiService.cs
  Platform.ApiService/Services/ChatBroadcaster.cs
  Platform.ApiService/Services/ChatService.cs
  Platform.ApiService/Services/CompanyService.cs
  Platform.ApiService/Services/JoinRequestService.cs
  Platform.ApiService/Services/LoginService.cs
  Platform.ApiService/Services/OrganizationService.cs
  Platform.ApiService/Services/PasswordService.cs
  Platform.ApiService/Services/RegistrationService.cs
  Platform.ApiService/Services/SocialService.cs
  Platform.ApiService/Services/UserCompanyService.cs
  Platform.ApiService/Services/UserService.cs
  Platform.ApiService/Validators/UserRequestValidator.cs
  Platform.ApiService/Validators/ValidationHelper.cs
  Platform.ServiceDefaults/Filters/BusinessExceptionFilter.cs
  Platform.ServiceDefaults/Models/AiAssistantConstants.cs
  Platform.ServiceDefaults/Models/AuthConstants.cs
  Platform.ServiceDefaults/Models/CompanyConstants.cs
  Platform.ServiceDefaults/Models/SuccessMessages.cs
  Platform.ServiceDefaults/Models/SystemConstants.cs
  Platform.ServiceDefaults/Models/UserConstants.cs
  Platform.ServiceDefaults/Models/ValidationRules.cs
Due: none

docs: 更新 AGENTS.md 常量文件路径引用
  AGENTS.md
Due: prettier --write

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json,css,less,md}
  eslint --fix: any of: **/*.{ts,tsx,js,jsx}
