Repository wjw1-Evan/aspire-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx,json,css,less,md}": [
    "prettier --write",
    "git add"
  ],
  "**/*.{ts,tsx,js,jsx}": [
    "eslint --fix",
    "git add"
  ]
}

feat: 修复 Drawer/Popconfirm title 硬编码中文，实现国际化
  Platform.Admin/src/locales/zh-CN/modules/dashboard.ts
  Platform.Admin/src/locales/zh-CN/modules/web-scraper.ts
  Platform.Admin/src/pages/dashboard/components/DashboardDesigner.tsx
  Platform.Admin/src/pages/web-scraper/components/ResultPreview.tsx
  Platform.Admin/src/pages/web-scraper/results/index.tsx
  Platform.Admin/src/pages/web-scraper/scrape-logs/index.tsx
Due: prettier --write, eslint --fix

feat: 修复剩余 message 调用硬编码中文，完成全面国际化
  Platform.Admin/src/locales/zh-CN/modules/cloud-storage.ts
  Platform.Admin/src/locales/zh-CN/modules/company.ts
  Platform.Admin/src/locales/zh-CN/modules/workflow.ts
  Platform.Admin/src/locales/zh-CN/pages.ts
  Platform.Admin/src/pages/cloud-storage/quota/index.tsx
  Platform.Admin/src/pages/cloud-storage/recycle/index.tsx
  Platform.Admin/src/pages/cloud-storage/shared/index.tsx
  Platform.Admin/src/pages/company/components/MyJoinRequestsTable.tsx
  Platform.Admin/src/pages/workflow/components/WorkflowDesigner.tsx
  Platform.Admin/src/pages/workflow/knowledge-base/documents.tsx
Due: prettier --write, eslint --fix

fix: 修复 ErrorCode.cs 编译错误，常量定义误入字典内部
  Platform.ServiceDefaults/Models/ErrorCode.cs
Due: none

refactor: 走访统计页面添加国际化支持，替换硬编码中文为 intl.formatMessage
  Platform.Admin/src/pages/park-management/visit-statistics/index.tsx
Due: prettier --write, eslint --fix

fix: 修复 403 认证错误未触发 token 刷新问题，支持后端返回 403+未找到用户信息时自动刷新 token
  Platform.Admin/src/app.tsx
  Platform.Admin/src/request-error-config.ts
Due: prettier --write, eslint --fix

fix: 补充英文登录页面缺失的翻译键
  Platform.Admin/src/locales/en-US/modules/auth.ts
Due: prettier --write, eslint --fix

feat: 完善所有语言的 auth 模块翻译，补充缺失的111个翻译键
  Platform.Admin/src/locales/ar-EG/modules/auth.ts
  Platform.Admin/src/locales/bn-BD/modules/auth.ts
  Platform.Admin/src/locales/de-DE/modules/auth.ts
  Platform.Admin/src/locales/en-US/modules/auth.ts
  Platform.Admin/src/locales/es-ES/modules/auth.ts
  Platform.Admin/src/locales/fa-IR/modules/auth.ts
  Platform.Admin/src/locales/fr-FR/modules/auth.ts
  Platform.Admin/src/locales/id-ID/modules/auth.ts
  Platform.Admin/src/locales/it-IT/modules/auth.ts
  Platform.Admin/src/locales/ja-JP/modules/auth.ts
  Platform.Admin/src/locales/ko-KR/modules/auth.ts
  Platform.Admin/src/locales/pt-BR/modules/auth.ts
  Platform.Admin/src/locales/ru-RU/modules/auth.ts
  Platform.Admin/src/locales/th-TH/modules/auth.ts
  Platform.Admin/src/locales/tr-TR/modules/auth.ts
  Platform.Admin/src/locales/vi-VN/modules/auth.ts
  Platform.Admin/src/locales/zh-TW/modules/auth.ts
Due: prettier --write, eslint --fix

feat: 完善英文翻译模块导出配置，新增 cloud-storage 和 web-scraper 模块
  Platform.Admin/src/locales/en-US/modules/cloud-storage.ts
  Platform.Admin/src/locales/en-US/modules/web-scraper.ts
  Platform.Admin/src/locales/en-US/pages.ts
Due: prettier --write, eslint --fix

feat: 为所有语言新增 cloud-storage 模块翻译文件
  Platform.Admin/src/locales/ar-EG/modules/cloud-storage.ts
  Platform.Admin/src/locales/bn-BD/modules/cloud-storage.ts
  Platform.Admin/src/locales/de-DE/modules/cloud-storage.ts
  Platform.Admin/src/locales/es-ES/modules/cloud-storage.ts
  Platform.Admin/src/locales/fa-IR/modules/cloud-storage.ts
  Platform.Admin/src/locales/fr-FR/modules/cloud-storage.ts
  Platform.Admin/src/locales/id-ID/modules/cloud-storage.ts
  Platform.Admin/src/locales/it-IT/modules/cloud-storage.ts
  Platform.Admin/src/locales/ja-JP/modules/cloud-storage.ts
  Platform.Admin/src/locales/ko-KR/modules/cloud-storage.ts
  Platform.Admin/src/locales/pt-BR/modules/cloud-storage.ts
  Platform.Admin/src/locales/ru-RU/modules/cloud-storage.ts
  Platform.Admin/src/locales/th-TH/modules/cloud-storage.ts
  Platform.Admin/src/locales/tr-TR/modules/cloud-storage.ts
  Platform.Admin/src/locales/vi-VN/modules/cloud-storage.ts
  Platform.Admin/src/locales/zh-TW/modules/cloud-storage.ts
Due: prettier --write, eslint --fix

feat: 为所有语言新增 web-scraper 模块翻译文件
  Platform.Admin/src/locales/ar-EG/modules/web-scraper.ts
  Platform.Admin/src/locales/bn-BD/modules/web-scraper.ts
  Platform.Admin/src/locales/de-DE/modules/web-scraper.ts
  Platform.Admin/src/locales/es-ES/modules/web-scraper.ts
  Platform.Admin/src/locales/fa-IR/modules/web-scraper.ts
  Platform.Admin/src/locales/fr-FR/modules/web-scraper.ts
  Platform.Admin/src/locales/id-ID/modules/web-scraper.ts
  Platform.Admin/src/locales/it-IT/modules/web-scraper.ts
  Platform.Admin/src/locales/ja-JP/modules/web-scraper.ts
  Platform.Admin/src/locales/ko-KR/modules/web-scraper.ts
  Platform.Admin/src/locales/pt-BR/modules/web-scraper.ts
  Platform.Admin/src/locales/ru-RU/modules/web-scraper.ts
  Platform.Admin/src/locales/th-TH/modules/web-scraper.ts
  Platform.Admin/src/locales/tr-TR/modules/web-scraper.ts
  Platform.Admin/src/locales/vi-VN/modules/web-scraper.ts
  Platform.Admin/src/locales/zh-TW/modules/web-scraper.ts
Due: prettier --write, eslint --fix

feat: 完成日语、韩语、法语、德语、西班牙语的 auth/cloud-storage/web-scraper 模块完整本地化翻译
  Platform.Admin/src/locales/de-DE/modules/auth.ts
  Platform.Admin/src/locales/de-DE/modules/cloud-storage.ts
  Platform.Admin/src/locales/de-DE/modules/web-scraper.ts
  Platform.Admin/src/locales/es-ES/modules/auth.ts
  Platform.Admin/src/locales/es-ES/modules/cloud-storage.ts
  Platform.Admin/src/locales/es-ES/modules/web-scraper.ts
  Platform.Admin/src/locales/fr-FR/modules/auth.ts
  Platform.Admin/src/locales/fr-FR/modules/cloud-storage.ts
  Platform.Admin/src/locales/fr-FR/modules/web-scraper.ts
  Platform.Admin/src/locales/ja-JP/modules/auth.ts
  Platform.Admin/src/locales/ja-JP/modules/cloud-storage.ts
  Platform.Admin/src/locales/ja-JP/modules/web-scraper.ts
  Platform.Admin/src/locales/ko-KR/modules/auth.ts
  Platform.Admin/src/locales/ko-KR/modules/cloud-storage.ts
  Platform.Admin/src/locales/ko-KR/modules/web-scraper.ts
Due: prettier --write, eslint --fix

refactor: 替换 API 端 DataAnnotation 验证消息为 ErrorCode 常量
  Platform.ApiService/Models/Dtos/AiModels.cs
  Platform.ApiService/Models/Dtos/AuthDtos.cs
  Platform.ApiService/Models/Dtos/CaptchaDtos.cs
  Platform.ApiService/Models/Dtos/Response/Park/ParkVisitDto.cs
  Platform.ApiService/Models/Dtos/RoleDtos.cs
  Platform.ApiService/Models/Entities/UserEntities.cs
  Platform.ServiceDefaults/Models/ErrorCode.cs
Due: none

refactor: 替换 API 端 Swagger 文档和 JWT 提示消息为英文
  Platform.ApiService/Program.cs
Due: none

feat: 完成10种语言auth/cloud-storage/web-scraper模块本地化翻译
  Platform.Admin/src/locales/ar-EG/modules/auth.ts
  Platform.Admin/src/locales/ar-EG/modules/cloud-storage.ts
  Platform.Admin/src/locales/ar-EG/modules/web-scraper.ts
  Platform.Admin/src/locales/bn-BD/modules/auth.ts
  Platform.Admin/src/locales/bn-BD/modules/cloud-storage.ts
  Platform.Admin/src/locales/bn-BD/modules/web-scraper.ts
  Platform.Admin/src/locales/fa-IR/modules/auth.ts
  Platform.Admin/src/locales/fa-IR/modules/cloud-storage.ts
  Platform.Admin/src/locales/fa-IR/modules/web-scraper.ts
  Platform.Admin/src/locales/id-ID/modules/auth.ts
  Platform.Admin/src/locales/id-ID/modules/cloud-storage.ts
  Platform.Admin/src/locales/id-ID/modules/web-scraper.ts
  Platform.Admin/src/locales/it-IT/modules/auth.ts
  Platform.Admin/src/locales/it-IT/modules/cloud-storage.ts
  Platform.Admin/src/locales/it-IT/modules/web-scraper.ts
  Platform.Admin/src/locales/pt-BR/modules/auth.ts
  Platform.Admin/src/locales/pt-BR/modules/cloud-storage.ts
  Platform.Admin/src/locales/pt-BR/modules/web-scraper.ts
  Platform.Admin/src/locales/ru-RU/modules/auth.ts
  Platform.Admin/src/locales/ru-RU/modules/cloud-storage.ts
  Platform.Admin/src/locales/ru-RU/modules/web-scraper.ts
  Platform.Admin/src/locales/th-TH/modules/auth.ts
  Platform.Admin/src/locales/th-TH/modules/cloud-storage.ts
  Platform.Admin/src/locales/th-TH/modules/web-scraper.ts
  Platform.Admin/src/locales/tr-TR/modules/auth.ts
  Platform.Admin/src/locales/tr-TR/modules/cloud-storage.ts
  Platform.Admin/src/locales/tr-TR/modules/web-scraper.ts
  Platform.Admin/src/locales/vi-VN/modules/auth.ts
  Platform.Admin/src/locales/vi-VN/modules/cloud-storage.ts
  Platform.Admin/src/locales/vi-VN/modules/web-scraper.ts
Due: prettier --write, eslint --fix

feat: 统一前后端错误码，补充 18 种语言翻译
  AGENTS.md
  Platform.Admin/src/constants/errorCodes.ts
  Platform.Admin/src/locales/ar-EG/modules/other.ts
  Platform.Admin/src/locales/ar-EG/request.ts
  Platform.Admin/src/locales/bn-BD/modules/other.ts
  Platform.Admin/src/locales/bn-BD/request.ts
  Platform.Admin/src/locales/de-DE/modules/other.ts
  Platform.Admin/src/locales/de-DE/request.ts
  Platform.Admin/src/locales/en-US/modules/other.ts
  Platform.Admin/src/locales/en-US/request.ts
  Platform.Admin/src/locales/es-ES/modules/other.ts
  Platform.Admin/src/locales/es-ES/request.ts
  Platform.Admin/src/locales/fa-IR/modules/other.ts
  Platform.Admin/src/locales/fa-IR/request.ts
  Platform.Admin/src/locales/fr-FR/modules/other.ts
  Platform.Admin/src/locales/fr-FR/request.ts
  Platform.Admin/src/locales/id-ID/modules/other.ts
  Platform.Admin/src/locales/id-ID/request.ts
  Platform.Admin/src/locales/it-IT/modules/other.ts
  Platform.Admin/src/locales/it-IT/request.ts
  Platform.Admin/src/locales/ja-JP/request.ts
  Platform.Admin/src/locales/ko-KR/request.ts
  Platform.Admin/src/locales/pt-BR/modules/other.ts
  Platform.Admin/src/locales/pt-BR/request.ts
  Platform.Admin/src/locales/ru-RU/modules/other.ts
  Platform.Admin/src/locales/ru-RU/request.ts
  Platform.Admin/src/locales/th-TH/modules/other.ts
  Platform.Admin/src/locales/th-TH/request.ts
  Platform.Admin/src/locales/tr-TR/modules/other.ts
  Platform.Admin/src/locales/tr-TR/request.ts
  Platform.Admin/src/locales/vi-VN/modules/other.ts
  Platform.Admin/src/locales/vi-VN/request.ts
  Platform.Admin/src/locales/zh-CN/modules/other.ts
  Platform.Admin/src/locales/zh-CN/request.ts
  Platform.Admin/src/locales/zh-TW/request.ts
Due: prettier --write, eslint --fix

chore: 删除不再使用的 opencode 配置文件和锁定文件
  .opencode/opencode.json
  .opencode/package-lock.json
Due: prettier --write

docs: admin 端已集成到 YARP 网关
  AGENTS.md
  complete_translations.py
  fix_translation_quotes.py
Due: prettier --write

fix: 添加缺失的 en-US 翻译键 pages.document.createDocument
  Platform.Admin/src/locales/en-US/modules/document.ts
Due: prettier --write, eslint --fix

fix: 添加 en-US 缺失的 document 翻译键
  Platform.Admin/src/locales/en-US/modules/document.ts
Due: prettier --write, eslint --fix

fix: 添加 en-US 缺失的 document statistics 翻译键
  Platform.Admin/src/locales/en-US/modules/document.ts
Due: prettier --write, eslint --fix

fix: 添加 en-US 缺失的 document selectWorkflow 翻译键
  Platform.Admin/src/locales/en-US/modules/document.ts
Due: prettier --write, eslint --fix

fix: 添加 en-US 缺失的 document detail 翻译键
  Platform.Admin/src/locales/en-US/modules/document.ts
Due: prettier --write, eslint --fix

fix: 添加 en-US 缺失的 submitApproval 翻译键
  Platform.Admin/src/locales/en-US/modules/document.ts
Due: prettier --write, eslint --fix

fix: 添加 en-US 缺失的 taskManagement tags 翻译键
  Platform.Admin/src/locales/en-US/modules/task.ts
Due: prettier --write, eslint --fix

fix: 添加 en-US 缺失的 taskManagement table.type 翻译键
  Platform.Admin/src/locales/en-US/modules/task.ts
Due: prettier --write, eslint --fix

fix: 添加 en-US 缺失的 taskManagement title 翻译键
  Platform.Admin/src/locales/en-US/modules/task.ts
Due: prettier --write, eslint --fix

fix: 添加 en-US 缺失的 taskManagement search.placeholderShort 翻译键
  Platform.Admin/src/locales/en-US/modules/task.ts
Due: prettier --write, eslint --fix

fix: 修复 Token 刷新失败后无法正确识别认证错误的问题
  Platform.Admin/src/request-error-config.ts
Due: prettier --write, eslint --fix

fix: 修复无 companyId 时 userId 未设置到上下文的问题
  Platform.ServiceDefaults/Services/TenantContextMiddleware.cs
Due: none

fix: companyId或userId为空时直接返回401而非静默设置默认值
  Platform.ServiceDefaults/Services/TenantContextMiddleware.cs
Due: none

fix: 简化前端认证错误检测逻辑，仅检查401状态码
  Platform.Admin/src/request-error-config.ts
Due: prettier --write, eslint --fix

refactor: 移除未使用的Authentication handled检查逻辑
  Platform.Admin/src/request-error-config.ts
  Platform.Admin/src/utils/errorInterceptor.ts
Due: prettier --write, eslint --fix

fix: 统一认证失败响应格式为JSON
  Platform.ServiceDefaults/Services/TenantContextMiddleware.cs
Due: none

fix: ApiResponse添加JsonPropertyName使用camelCase
  Platform.ServiceDefaults/Models/ApiResponse.cs
Due: none

fix: 匿名请求跳过TenantContext检查
  Platform.ServiceDefaults/Services/TenantContextMiddleware.cs
Due: none

fix: 补充公文管理页面缺失的翻译键
  Platform.Admin/src/locales/zh-CN/modules/document.ts
Due: prettier --write, eslint --fix

refactor: 移除 defaultMessage 兜底机制，后续逐步补充翻译key
  Platform.Admin/src/utils/errorInterceptor.ts
  Platform.Admin/src/utils/getErrorMessage.ts
  Platform.Admin/src/utils/statusMaps.ts
Due: prettier --write, eslint --fix

docs: 更新AGENTS.md移除defaultMessage示例
  AGENTS.md
Due: prettier --write

docs: 禁止模式添加禁用defaultMessage规则
  AGENTS.md
Due: prettier --write
