Repository wjw1-Evan/aspire-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix: 状态变更记录显示更新状态表单中的处理人和处理结果
  Platform.Admin/src/pages/park-management/enterprise-service/index.tsx
  Platform.ApiService/Models/Dtos/Response/Park/ParkEnterpriseServiceDto.cs
  Platform.ApiService/Models/Entities/Park/ParkEnterpriseServiceEntities.cs
  Platform.ApiService/Services/Park/Enterprise/ParkEnterpriseServiceService.cs
Due: prettier --write, eslint --fix

fix: 统计页面 loadAllStatistics 用 useCallback 包裹防止死循环
  Platform.Admin/src/pages/park-management/statistics/index.tsx
Due: prettier --write, eslint --fix

fix: 更新状态时状态未变化也允许提交并记录历史
  Platform.ApiService/Services/Park/Enterprise/ParkEnterpriseServiceService.cs
Due: none

feat: 状态变更记录每条记录添加删除功能
  Platform.Admin/src/pages/park-management/enterprise-service/index.tsx
  Platform.ApiService/Controllers/ParkEnterpriseServiceController.cs
  Platform.ApiService/Services/Park/Enterprise/ParkEnterpriseServiceService.cs
  Platform.ApiService/Services/Park/IParkManagementServices.cs
Due: prettier --write, eslint --fix

fix: 补充园区统计页面缺失的 en-US 翻译
  Platform.Admin/src/locales/en-US/modules/other.ts
  Platform.Admin/src/pages/park-management/statistics/index.tsx
Due: prettier --write, eslint --fix

fix: 修复统计报表控制器菜单权限名称不匹配问题
  Platform.ApiService/Controllers/ParkStatisticsController.cs
Due: none

feat: AI 报告生成增加语言参数，与 admin 端当前语言保持一致
  Platform.Admin/src/pages/park-management/statistics/index.tsx
  Platform.ApiService/Controllers/ParkStatisticsController.cs
  Platform.ApiService/Services/Park/IParkManagementServices.cs
  Platform.ApiService/Services/Park/Statistics/ParkStatisticsService.cs
Due: prettier --write, eslint --fix

fix: periodDesc 和报告标题模板支持多语言，AI 不再混用中文
  Platform.ApiService/Services/Park/Statistics/ParkStatisticsService.cs
Due: none

fix: 强化 AI 报告语言指令，优化表格展示格式
  Platform.ApiService/Services/Park/Statistics/ParkStatisticsService.cs
Due: none

fix: 为 AI 报告表格补充样式并添加 markdown-body class
  Platform.Admin/src/pages/park-management/statistics/index.tsx
Due: prettier --write, eslint --fix

fix: 园区管理各页面深色模式适配
  Platform.Admin/src/locales/en-US/menu.ts
  Platform.Admin/src/locales/en-US/modules/other.ts
  Platform.Admin/src/locales/en-US/modules/park.ts
  Platform.Admin/src/locales/zh-CN/menu.ts
  Platform.Admin/src/locales/zh-CN/modules/other.ts
  Platform.Admin/src/locales/zh-CN/modules/park.ts
  Platform.Admin/src/pages/park-management/asset/index.tsx
  Platform.Admin/src/pages/park-management/building/index.tsx
  Platform.Admin/src/pages/park-management/contract/index.tsx
  Platform.Admin/src/pages/park-management/enterprise-service/index.tsx
  Platform.Admin/src/pages/park-management/investment/index.tsx
  Platform.Admin/src/pages/park-management/property/index.tsx
  Platform.Admin/src/pages/park-management/statistics/index.tsx
  Platform.Admin/src/pages/park-management/tenant/index.tsx
  Platform.Admin/src/pages/park-management/visit-assessment/index.tsx
  Platform.Admin/src/pages/park-management/visit-knowledge-base/index.tsx
  Platform.Admin/src/pages/park-management/visit-statistics/index.tsx
  Platform.Admin/src/pages/park-management/visit-task/index.tsx
Due: prettier --write, eslint --fix

fix: 项目管理统计页面深色模式适配
  Platform.Admin/src/pages/project-management/statistics/index.tsx
Due: prettier --write, eslint --fix

fix: IoT平台深色模式适配
  Platform.Admin/src/pages/iot-platform/components/CommandCenterPanel.tsx
  Platform.Admin/src/pages/iot-platform/components/DataCenter.tsx
  Platform.Admin/src/pages/iot-platform/components/DataPointManagement.tsx
  Platform.Admin/src/pages/iot-platform/components/DeviceManagement.tsx
  Platform.Admin/src/pages/iot-platform/components/DeviceTwinPanel.tsx
  Platform.Admin/src/pages/iot-platform/components/EventManagement.tsx
  Platform.Admin/src/pages/iot-platform/index.tsx
Due: prettier --write, eslint --fix

fix: 欢迎页深色模式适配
  Platform.Admin/src/pages/welcome/components/QuickAction.tsx
  Platform.Admin/src/pages/welcome/components/RecentActivitiesCard.tsx
  Platform.Admin/src/pages/welcome/components/ResourceCard.tsx
  Platform.Admin/src/pages/welcome/components/StatCard.tsx
  Platform.Admin/src/pages/welcome/components/SystemResourcesCard.tsx
  Platform.Admin/src/pages/welcome/index.tsx
Due: prettier --write, eslint --fix

fix: 工作流深色模式适配
  Platform.Admin/src/pages/workflow/components/NodeConfigDrawer.tsx
  Platform.Admin/src/pages/workflow/components/WorkflowCreateForm.tsx
  Platform.Admin/src/pages/workflow/components/WorkflowDesignerConstants.tsx
  Platform.Admin/src/pages/workflow/components/WorkflowDesignerModal.tsx
  Platform.Admin/src/pages/workflow/components/WorkflowEditForm.tsx
  Platform.Admin/src/pages/workflow/components/WorkflowSidebar.tsx
  Platform.Admin/src/pages/workflow/forms/FieldPropertyPanel.tsx
  Platform.Admin/src/pages/workflow/forms/FormDesigner.tsx
  Platform.Admin/src/pages/workflow/forms/index.tsx
  Platform.Admin/src/pages/workflow/monitor.tsx
Due: prettier --write, eslint --fix

fix: 任务管理深色模式适配
  Platform.Admin/src/pages/task-management/components/GanttChart.tsx
  Platform.Admin/src/pages/task-management/components/ProjectDetail.tsx
  Platform.Admin/src/pages/task-management/components/ProjectView.tsx
  Platform.Admin/src/pages/task-management/components/TaskForm.tsx
  Platform.Admin/src/pages/task-management/index.tsx
Due: prettier --write, eslint --fix

fix: 仪表盘深色模式适配
  Platform.Admin/src/pages/dashboard/[id].tsx
  Platform.Admin/src/pages/dashboard/components/DashboardDesigner.tsx
  Platform.Admin/src/pages/dashboard/share/[token].tsx
  Platform.Admin/src/pages/dashboard/view/[id].tsx
Due: prettier --write, eslint --fix

fix: 其他模块深色模式适配
  Platform.Admin/src/pages/account/center/index.tsx
  Platform.Admin/src/pages/cloud-storage/files/index.tsx
  Platform.Admin/src/pages/cloud-storage/quota/index.tsx
  Platform.Admin/src/pages/document/approval.tsx
  Platform.Admin/src/pages/document/create-by-workflow.tsx
  Platform.Admin/src/pages/join-requests/pending/index.tsx
  Platform.Admin/src/pages/notice/index.tsx
  Platform.Admin/src/pages/share/index.tsx
  Platform.Admin/src/pages/user-management/components/UserDetail.tsx
  Platform.Admin/src/pages/user/forgot-password/index.tsx
  Platform.Admin/src/pages/user/login/index.tsx
  Platform.Admin/src/pages/user/register/index.tsx
  Platform.Admin/src/pages/web-scraper/index.tsx
  Platform.Admin/src/pages/web-scraper/results/index.tsx
  Platform.Admin/src/pages/web-scraper/scrape-logs/index.tsx
  Platform.Admin/src/pages/xiaoke-management/chat-history/components/ChatHistoryDetail.tsx
  Platform.Admin/src/pages/xiaoke-management/chat-history/components/ChatHistoryManagement.tsx
Due: prettier --write, eslint --fix

chore: 更新路由配置、公共组件和企业设置
  Platform.Admin/config/routes.ts
  Platform.Admin/src/components/CompanySwitcher/index.tsx
  Platform.Admin/src/components/ImageCaptcha/index.tsx
  Platform.Admin/src/components/SelectLang/index.tsx
  Platform.Admin/src/pages/company/settings.tsx
Due: prettier --write, eslint --fix

refactor: 园区资产模块重构
  Platform.ApiService/Controllers/ParkAssetController.cs
  Platform.ApiService/Models/Dtos/Response/Park/ParkAssetDto.cs
  Platform.ApiService/Models/Entities/Park/ParkAssetEntities.cs
  Platform.ApiService/Services/Park/Asset/ParkAssetService.cs
Due: none

feat: 新增楼栋/物业控制器，更新菜单配置
  Platform.ApiService/Controllers/ParkBuildingController.cs
  Platform.ApiService/Controllers/ParkPropertyController.cs
  Platform.DataInitializer/Menus.json
Due: prettier --write

fix: 调整统计报表菜单排序至最后
  Platform.DataInitializer/Menus.json
Due: prettier --write

fix: 调整企业服务列表创建时间列宽度
  Platform.Admin/src/pages/park-management/enterprise-service/index.tsx
Due: prettier --write, eslint --fix

feat: 添加通知管理后端 API
  Platform.ApiService/Controllers/NotificationManageController.cs
  Platform.ApiService/Models/Dtos/NotificationManageDto.cs
  Platform.ApiService/Models/Entities/AppNotification.cs
  Platform.ApiService/Models/Entities/NotificationSendRecord.cs
  Platform.ApiService/Services/INotificationManageService.cs
  Platform.ApiService/Services/NotificationManageService.cs
  Platform.ApiService/Services/NotificationService.cs
Due: none

feat: 添加通知管理前端页面及搜索统计功能
  Platform.Admin/config/routes.ts
  Platform.Admin/src/locales/zh-CN/menu.ts
  Platform.Admin/src/locales/zh-CN/modules/other.ts
  Platform.Admin/src/locales/zh-CN/modules/user.ts
  Platform.Admin/src/pages/document/approval.tsx
  Platform.Admin/src/pages/notice/index.tsx
  Platform.Admin/src/pages/notification-management/components/SendDetailDrawer.tsx
  Platform.Admin/src/pages/notification-management/components/SendHistoryTable.tsx
  Platform.Admin/src/pages/notification-management/components/UserSelectorModal.tsx
  Platform.Admin/src/pages/notification-management/index.tsx
  Platform.Admin/src/pages/task-management/components/ProjectDetail.tsx
  Platform.Admin/src/pages/web-scraper/components/ResultPreview.tsx
  Platform.Admin/src/pages/web-scraper/results/index.tsx
  Platform.Admin/src/services/notification-manage/api.ts
  Platform.Admin/src/utils/iconMap.tsx
Due: prettier --write, eslint --fix

feat: 添加通知管理菜单配置
  Platform.DataInitializer/Menus.json
Due: prettier --write

feat: 优化图标组件获取逻辑，支持直接从图标映射中获取图标
  Platform.Admin/src/app.tsx
Due: prettier --write, eslint --fix

feat: 升级 StandardPageTemplate 模板，点击行弹出详情
  Platform.Admin/src/templates/StandardPageTemplate.tsx
Due: prettier --write, eslint --fix

feat: 重构通知公告页面，统一标准模块风格
  Platform.Admin/src/components/NoticeIcon/index.tsx
  Platform.Admin/src/components/NoticeIcon/styles.ts
  Platform.Admin/src/locales/en-US/modules/other.ts
  Platform.Admin/src/locales/zh-CN/modules/other.ts
  Platform.Admin/src/pages/notice/index.tsx
  Platform.Admin/src/services/notification/api.ts
  Platform.ApiService/Controllers/NotificationController.cs
Due: prettier --write, eslint --fix

feat: 密码本页面表格行点击显示详情
  Platform.Admin/src/pages/password-book/index.tsx
Due: prettier --write, eslint --fix

fix: 移除密码本表格第一列的链接，行点击已由 onRow 处理
  Platform.Admin/src/pages/password-book/index.tsx
Due: prettier --write, eslint --fix

fix: 操作列按钮点击不再触发详情抽屉
  Platform.Admin/src/pages/password-book/index.tsx
Due: prettier --write, eslint --fix

feat: 升级 StandardPageTemplate 模板，对齐密码本页面风格
  Platform.Admin/src/templates/StandardPageTemplate.tsx
Due: prettier --write, eslint --fix

docs: 更新 AGENTS.md 标注模板升级变更
  AGENTS.md
Due: prettier --write

fix: 修复 ProDescriptions span 与 column 不匹配的警告
  Platform.Admin/src/templates/StandardPageTemplate.tsx
Due: prettier --write, eslint --fix

fix: add span to conditional ProDescriptions items in password-book detail
  Platform.Admin/src/pages/password-book/index.tsx
Due: prettier --write, eslint --fix

fix: simplify span to fixed 2 for conditional ProDescriptions items
  Platform.Admin/src/pages/password-book/index.tsx
Due: prettier --write, eslint --fix

fix: set span={2} on all ProDescriptions.Item to resolve span mismatch warning
  Platform.Admin/src/pages/password-book/index.tsx
Due: prettier --write, eslint --fix

feat: remove span={2} from ProDescriptions.Item as requested
  Platform.Admin/src/pages/password-book/index.tsx
Due: prettier --write, eslint --fix

feat: remove column={2} and all span props from ProDescriptions in password-book
  Platform.Admin/src/pages/password-book/index.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json,css,less,md}
  eslint --fix: any of: **/*.{ts,tsx,js,jsx}
