Repository wjw1-Evan/aspire-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix: 补充任务管理英文和繁体中文翻译key
  Platform.Admin/src/locales/en-US/modules/task.ts
  Platform.Admin/src/locales/zh-TW/modules/task.ts
Due: prettier --write, eslint --fix

fix: 补充 pages.taskManagement.taskName 翻译key
  Platform.Admin/src/locales/en-US/modules/task.ts
  Platform.Admin/src/locales/zh-TW/modules/task.ts
Due: prettier --write, eslint --fix

fix: 补充 taskNamePlaceholder 翻译key
  Platform.Admin/src/locales/en-US/modules/task.ts
  Platform.Admin/src/locales/zh-TW/modules/task.ts
Due: prettier --write, eslint --fix

feat: 添加自动翻译缺失多语言功能
  Platform.Admin/src/app.tsx
  Platform.Admin/src/locales/en-US/modules/task.ts
  Platform.Admin/src/utils/i18n/autoSave.ts
  Platform.Admin/src/utils/i18n/index.ts
  Platform.Admin/src/utils/i18n/localeDetector.ts
  Platform.Admin/src/utils/i18n/translationService.ts
Due: prettier --write, eslint --fix

fix: 修复 monkey-patch createIntl 报错问题，改用 console.warn 拦截
  Platform.Admin/src/utils/i18n/localeDetector.ts
Due: prettier --write, eslint --fix

fix: 修复自动翻译功能，完善前后端实现
  Platform.Admin/src/app.tsx
  Platform.Admin/src/locales/en-US/modules/task.ts
  Platform.Admin/src/pages/task-management/components/TaskForm.tsx
  Platform.Admin/src/utils/i18n/autoSave.ts
  Platform.Admin/src/utils/i18n/index.ts
  Platform.Admin/src/utils/i18n/localeDetector.ts
  Platform.Admin/src/utils/i18n/translationService.ts
  Platform.ApiService/Controllers/TranslationController.cs
  Platform.ApiService/Services/ChatAiService.cs
  Platform.ApiService/Services/IChatAiService.cs
Due: prettier --write, eslint --fix

feat: 增加自动翻译调试日志
  Platform.Admin/src/utils/i18n/localeDetector.ts
Due: prettier --write, eslint --fix

fix: 修复 localeDetector.ts 文件重复问题，增加拦截调试日志
  Platform.Admin/src/utils/i18n/localeDetector.ts
Due: prettier --write, eslint --fix

fix: 修复 getLocale 在 app.tsx 顶层调用时的初始化问题
  Platform.Admin/src/app.tsx
Due: prettier --write, eslint --fix

feat: 添加 console.error 拦截器，增强翻译检测
  Platform.Admin/src/utils/i18n/localeDetector.ts
Due: prettier --write, eslint --fix

fix: 修复 TaskForm.tsx 中翻译键名不匹配问题
  Platform.Admin/src/pages/task-management/components/TaskForm.tsx
Due: prettier --write, eslint --fix

refactor: 删除自动翻译功能及相关代码
  Platform.Admin/src/app.tsx
  Platform.ApiService/Controllers/TranslationController.cs
  Platform.ApiService/Services/ChatAiService.cs
  Platform.ApiService/Services/IChatAiService.cs
Due: prettier --write, eslint --fix

feat: 添加任务管理页面缺少的多语言翻译（英语和中文）
  Platform.Admin/src/locales/en-US/modules/task.ts
  Platform.Admin/src/locales/zh-CN/modules/task.ts
  Platform.Admin/src/pages/task-management/index.tsx
Due: prettier --write, eslint --fix

feat: 补充 en-US 模块缺失的英文翻译
  Platform.Admin/src/locales/en-US/modules/company.ts
  Platform.Admin/src/locales/en-US/modules/dashboard.ts
  Platform.Admin/src/locales/en-US/modules/document.ts
  Platform.Admin/src/locales/en-US/modules/iot.ts
  Platform.Admin/src/locales/en-US/modules/other.ts
  Platform.Admin/src/locales/en-US/modules/park.ts
  Platform.Admin/src/locales/en-US/modules/user.ts
  Platform.Admin/src/locales/en-US/modules/workflow.ts
Due: prettier --write, eslint --fix

fix: 修复 RequiredUserId 和 RequiredCompanyId 方法中的异常类型
  Platform.ServiceDefaults/Controllers/BaseApiController.cs
Due: none

refactor: 将 JwtService 迁移至 Platform.ServiceDefaults
  Platform.ApiService/Services/LoginService.cs
  Platform.ApiService/Services/UserCompanyService.cs
  Platform.ServiceDefaults/Services/JwtService.cs
Due: none

refactor: 将 JwtHelper 迁移至 JwtService.cs
  Platform.ServiceDefaults/Services/JwtService.cs
  Platform.ServiceDefaults/Services/TenantContextMiddleware.cs
Due: none

refactor: 简化 PlatformDbContext 中的 CurrentUserId/CurrentCompanyId 属性
  Platform.ServiceDefaults/Services/PlatformDbContext.cs
Due: none

fix: SetContext userId 必填，并修复 WebScraperService 调用
  Platform.ApiService/Services/WebScraperService.cs
  Platform.ServiceDefaults/Services/ITenantContext.cs
  Platform.ServiceDefaults/Services/PlatformDbContext.cs
Due: none

fix: UpdateHeartbeatAsync 传递正确的 userId，消除 string.Empty
  Platform.ApiService/Services/WebScraperService.cs
Due: none

feat: 为网页抓取三个页面添加统计信息和多语言支持
  Platform.Admin/src/locales/zh-CN/modules/web-scraper.ts
  Platform.Admin/src/pages/web-scraper/index.tsx
  Platform.Admin/src/pages/web-scraper/results/index.tsx
  Platform.Admin/src/pages/web-scraper/scrape-logs/index.tsx
  Platform.ApiService/Controllers/WebScraperController.cs
  Platform.ApiService/Models/Entities/WebScrapingEntities.cs
  Platform.ApiService/Services/IWebScraperService.cs
  Platform.ApiService/Services/WebScraperService.cs
Due: prettier --write, eslint --fix

i18n: 补全 web-scraper 模块多语言翻译（6种语言）
  Platform.Admin/src/locales/bn-BD/modules/web-scraper.ts
  Platform.Admin/src/locales/en-US/modules/web-scraper.ts
  Platform.Admin/src/locales/fa-IR/modules/web-scraper.ts
  Platform.Admin/src/locales/ja-JP/modules/web-scraper.ts
  Platform.Admin/src/locales/ru-RU/modules/web-scraper.ts
  Platform.Admin/src/locales/th-TH/modules/web-scraper.ts
Due: prettier --write, eslint --fix

fix: web-scraper/results 页面多语言完善
  Platform.Admin/src/locales/bn-BD/modules/web-scraper.ts
  Platform.Admin/src/locales/en-US/modules/web-scraper.ts
  Platform.Admin/src/locales/fa-IR/modules/web-scraper.ts
  Platform.Admin/src/locales/ja-JP/modules/web-scraper.ts
  Platform.Admin/src/locales/ru-RU/modules/web-scraper.ts
  Platform.Admin/src/locales/th-TH/modules/web-scraper.ts
  Platform.Admin/src/locales/zh-CN/modules/web-scraper.ts
  Platform.Admin/src/pages/web-scraper/results/index.tsx
Due: prettier --write, eslint --fix

fix: 添加缺失的 web-scraper 和 cloud-storage 模块到所有语言 locale pages.ts
  Platform.Admin/src/locales/ar-EG/pages.ts
  Platform.Admin/src/locales/bn-BD/pages.ts
  Platform.Admin/src/locales/de-DE/pages.ts
  Platform.Admin/src/locales/es-ES/pages.ts
  Platform.Admin/src/locales/fa-IR/pages.ts
  Platform.Admin/src/locales/id-ID/pages.ts
  Platform.Admin/src/locales/it-IT/pages.ts
  Platform.Admin/src/locales/ja-JP/pages.ts
  Platform.Admin/src/locales/ko-KR/pages.ts
  Platform.Admin/src/locales/pt-BR/pages.ts
  Platform.Admin/src/locales/ru-RU/pages.ts
  Platform.Admin/src/locales/th-TH/pages.ts
  Platform.Admin/src/locales/tr-TR/pages.ts
  Platform.Admin/src/locales/vi-VN/pages.ts
  Platform.Admin/src/locales/zh-CN/pages.ts
  Platform.Admin/src/locales/zh-TW/pages.ts
  Platform.Admin/src/utils/i18n/localeDetector.ts
Due: prettier --write, eslint --fix

fix: 添加缺失的 pages.park.visitTask.tabTitle 翻译到 en-US 和 zh-CN
  Platform.Admin/src/locales/en-US/modules/park.ts
  Platform.Admin/src/locales/zh-CN/modules/park.ts
Due: prettier --write, eslint --fix

fix: 添加 pages.park.visitTask.statistics 翻译 (en-US, zh-CN)
  Platform.Admin/src/locales/en-US/modules/park.ts
  Platform.Admin/src/locales/zh-CN/modules/park.ts
Due: prettier --write, eslint --fix

fix: 添加 pages.park.visitTask 缺失翻译 (action, basicInfo, searchPlaceholder, close, visitMethod, visitType 等)
  Platform.Admin/src/locales/en-US/modules/park.ts
  Platform.Admin/src/locales/zh-CN/modules/park.ts
Due: prettier --write, eslint --fix

fix: 添加缺失的 visitTask 翻译 (visitType.survey/other, visitMethod.field)
  Platform.Admin/src/locales/en-US/modules/park.ts
  Platform.Admin/src/locales/zh-CN/modules/park.ts
Due: prettier --write, eslint --fix

fix: 添加 pages.park.visitTask.status.pending, view, delete 翻译
  Platform.Admin/src/locales/en-US/modules/park.ts
  Platform.Admin/src/locales/zh-CN/modules/park.ts
Due: prettier --write, eslint --fix

fix: 移除 ProFormSelect 的 initialValue 以避免与 ModalForm initialValues 冲突
  Platform.Admin/src/pages/park-management/visit-task/index.tsx
Due: prettier --write, eslint --fix

fix: 添加 status.inProgress, status.completed, status.cancelled 翻译
  Platform.Admin/src/locales/en-US/modules/park.ts
  Platform.Admin/src/locales/zh-CN/modules/park.ts
Due: prettier --write, eslint --fix

fix: 添加 createdAt, visitInfo, visitResult, noContent, noFeedback 翻译
  Platform.Admin/src/locales/en-US/modules/park.ts
  Platform.Admin/src/locales/zh-CN/modules/park.ts
Due: prettier --write, eslint --fix

fix: 添加 common.close 翻译到所有语言 locale (18个语言)
  Platform.Admin/src/locales/ar-EG/common/common.ts
  Platform.Admin/src/locales/bn-BD/common/common.ts
  Platform.Admin/src/locales/de-DE/common/common.ts
  Platform.Admin/src/locales/en-US/common/common.ts
  Platform.Admin/src/locales/es-ES/common/common.ts
  Platform.Admin/src/locales/fa-IR/common/common.ts
  Platform.Admin/src/locales/fr-FR/common/common.ts
  Platform.Admin/src/locales/id-ID/common/common.ts
  Platform.Admin/src/locales/it-IT/common/common.ts
  Platform.Admin/src/locales/ja-JP/common/common.ts
  Platform.Admin/src/locales/ko-KR/common/common.ts
  Platform.Admin/src/locales/pt-BR/common/common.ts
  Platform.Admin/src/locales/ru-RU/common/common.ts
  Platform.Admin/src/locales/th-TH/common/common.ts
  Platform.Admin/src/locales/tr-TR/common/common.ts
  Platform.Admin/src/locales/vi-VN/common/common.ts
  Platform.Admin/src/locales/zh-CN/common/common.ts
  Platform.Admin/src/locales/zh-TW/common/common.ts
Due: prettier --write, eslint --fix

fix: 更新依赖项版本，包括 marked、Scalar.Aspire、Microsoft.Extensions.AI 和 System.IdentityModel.Tokens.Jwt
  Platform.Admin/package.json
  Platform.AppHost/Platform.AppHost.csproj
  Platform.ServiceDefaults/Platform.ServiceDefaults.csproj
Due: prettier --write

fix: 修复 SecurityTokenExpiredException 返回 500 的问题，应返回 401
  Platform.ServiceDefaults/Filters/BusinessExceptionFilter.cs
Due: none

fix: 修复未找到用户信息时返回500的问题，改用 AuthenticationException 返回401
  Platform.ServiceDefaults/Controllers/BaseApiController.cs
Due: none

fix: 更新 marked 依赖版本至 18.0.3
  Platform.Admin/package-lock.json
Due: prettier --write

fix: 移除对 SecurityTokenExpiredException 的处理，避免返回 401 状态码
  Platform.ServiceDefaults/Filters/BusinessExceptionFilter.cs
Due: none

fix: 修复token刷新未执行的问题，后端使用标准错误码，前端修正401处理流程
  Platform.Admin/src/app.tsx
  Platform.Admin/src/request-error-config.ts
  Platform.ServiceDefaults/Controllers/BaseApiController.cs
Due: prettier --write, eslint --fix

chore: 禁用 CS1591 警告（缺少 XML 注释）
  Platform.ApiService/Platform.ApiService.csproj
Due: none

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json,css,less,md}
  eslint --fix: any of: **/*.{ts,tsx,js,jsx}
