Repository wjw1-Evan/aspire-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

refactor: 删除 nginx，admin 构建产物由 YARP PublishWithStaticFiles 直接服务
  Platform.Admin/Dockerfile
  Platform.Admin/nginx.conf
  Platform.ApiService/Services/FileSystemStorageService.cs
  Platform.AppHost/AppHost.cs
  Platform.AppHost/aspire-output/apigateway.Dockerfile
  Platform.AppHost/aspire-output/docker-compose.yaml
Due: none

fix: 条件式区分 run/publish 模式，本地开发恢复 admin 代理
  Platform.AppHost/AppHost.cs
Due: none

fix: 启用 UmiJS exportStatic 解决 SPA 刷新 404
  Platform.Admin/config/config.ts
  Platform.AppHost/aspire-output/apigateway.Dockerfile
  Platform.AppHost/aspire-output/docker-compose.yaml
Due: prettier --write, eslint --fix

fix: 移除 tsconfig.json 中已废弃的 baseUrl 选项
  Platform.Admin/tsconfig.json
  Platform.AppHost/AppHost.cs
  Platform.AppHost/aspire-output/apigateway.Dockerfile
  Platform.AppHost/aspire-output/docker-compose.yaml
Due: prettier --write

fix: 在所有语言入口文件中加载 modules 翻译模块
  Platform.Admin/src/locales/ar-EG.ts
  Platform.Admin/src/locales/bn-BD.ts
  Platform.Admin/src/locales/de-DE.ts
  Platform.Admin/src/locales/en-US.ts
  Platform.Admin/src/locales/es-ES.ts
  Platform.Admin/src/locales/fa-IR.ts
  Platform.Admin/src/locales/fr-FR.ts
  Platform.Admin/src/locales/id-ID.ts
  Platform.Admin/src/locales/it-IT.ts
  Platform.Admin/src/locales/ja-JP.ts
  Platform.Admin/src/locales/ko-KR.ts
  Platform.Admin/src/locales/pt-BR.ts
  Platform.Admin/src/locales/ru-RU.ts
  Platform.Admin/src/locales/th-TH.ts
  Platform.Admin/src/locales/tr-TR.ts
  Platform.Admin/src/locales/vi-VN.ts
  Platform.Admin/src/locales/zh-CN.ts
  Platform.Admin/src/locales/zh-TW.ts
  Platform.AppHost/aspire-output/apigateway.Dockerfile
  Platform.AppHost/aspire-output/docker-compose.yaml
Due: prettier --write, eslint --fix

perf: 优化 aspire deploy Docker 构建缓存机制
  .dockerignore
  Platform.Admin/Dockerfile
  Platform.ApiService/.dockerignore
  Platform.ApiService/Dockerfile
  Platform.App/Dockerfile
Due: none

fix: 优化 admin 和 apigateway 的构建配置，更新 InternalService API 密钥
  Platform.AppHost/AppHost.cs
  Platform.AppHost/aspire-output/apigateway.Dockerfile
  Platform.AppHost/aspire-output/docker-compose.yaml
Due: none

perf: 添加 DataInitializer Dockerfile 层缓存和 NuGet.config 优化
  NuGet.config
  Platform.DataInitializer/.dockerignore
  Platform.DataInitializer/Dockerfile
Due: none

ci: 添加 GitHub Actions 自动构建流程
  .github/workflows/build.yml
Due: none

fix: 修复 ghcr.io 镜像标签必须小写的问题
  .github/workflows/build.yml
  Platform.AppHost/aspire-output/apigateway.Dockerfile
  Platform.AppHost/aspire-output/docker-compose.yaml
Due: none

fix: 移除 docker buildx build 中无效的 --context 参数
  .github/workflows/build.yml
Due: none

fix: 移除 BuildKit 缓存挂载和 --no-restore，恢复标准 Docker 层缓存
  Platform.Admin/Dockerfile
  Platform.ApiService/Dockerfile
  Platform.App/Dockerfile
  Platform.DataInitializer/Dockerfile
Due: none

fix: .NET 项目改为 runner 上 publish，避免 Docker 内项目引用路径问题
  .github/workflows/build.yml
  Platform.ApiService/Dockerfile
  Platform.DataInitializer/Dockerfile
Due: none

refactor: 删除冗余 Dockerfile，由 Aspire publish 自动生成
  Platform.ApiService/Dockerfile
  Platform.App/Dockerfile
  Platform.DataInitializer/Dockerfile
Due: none

refactor: 使用 Aspire CLI 构建并推送容器镜像
  .github/workflows/build.yml
  Platform.AppHost/AppHost.cs
  Platform.AppHost/aspire-output/apigateway.Dockerfile
  Platform.AppHost/aspire-output/docker-compose.yaml
Due: none

fix: 使用完整路径调用 aspire --version，避免 GITHUB_PATH 在当前步骤未生效
  .github/workflows/build.yml
Due: none

refactor: 移除容器注册表配置，简化 Docker Compose 环境设置
  Platform.AppHost/AppHost.cs
Due: none

feat: 添加容器注册表配置以支持 Docker 容器管理
  Platform.AppHost/AppHost.cs
Due: none

chore: 更新 Aspire 相关包版本至 13.3.0，保持依赖一致性
  Platform.AppHost.Tests/Platform.AppHost.Tests.csproj
  Platform.AppHost/Platform.AppHost.csproj
  Platform.ServiceDefaults/Platform.ServiceDefaults.csproj
Due: none

fix: 为 dev/start 脚本添加可配置端口支持，避免端口占用时交互阻塞
  Platform.App/package.json
Due: prettier --write

fix: 统一 App 端 API 访问标准与 Admin 端一致
  Platform.App/services/api.ts
  Platform.App/services/notificationService.ts
  Platform.App/services/socialService.ts
  Platform.App/types/api.ts
  Platform.App/types/notification.ts
  Platform.App/utils/constants.ts
Due: prettier --write, eslint --fix

fix: 开发环境 CORS 放宽为允许任意来源，解决 Web 端跨域问题
  Platform.ApiService/Program.cs
Due: none

fix: 开发环境 CORS 改用 AllowAnyOrigin，去掉 AllowCredentials 避免兼容问题
  Platform.ApiService/Program.cs
Due: none

feat: 添加 Expo Web 开发代理，请求走同源避免跨域
  Platform.App/metro.config.js
  Platform.App/utils/constants.ts
Due: prettier --write, eslint --fix

fix: 添加对 aspire-output 目录的忽略规则
  .gitignore
Due: none

fix: 更新 .gitignore 以包含特定的 aspire-output 文件，修正 Dockerfile 和 docker-compose.yaml 中的 API 密钥
  .gitignore
  Platform.AppHost/aspire-output/apigateway.Dockerfile
  Platform.AppHost/aspire-output/docker-compose.yaml
Due: none

chore: 删除不再需要的 .dockerignore 和 appsettings.Development.json 文件
  .dockerignore
  Platform.DataInitializer/.dockerignore
  Platform.DataInitializer/appsettings.Development.json
Due: prettier --write

feat: 添加加载指示器脚本以解决首次加载时的白屏问题，并添加 Aspire Admin 平台 logo
  .gitignore
  Platform.Admin/public/logo.svg
  Platform.Admin/public/scripts/loading.js
Due: prettier --write, eslint --fix

fix: 更新 apigateway.Dockerfile 中的 ADMIN_IMAGENAME，修正 docker-compose.yaml 中的 InternalService__ApiKey
  Platform.AppHost/aspire-output/apigateway.Dockerfile
  Platform.AppHost/aspire-output/docker-compose.yaml
Due: none

feat: 完善App端任务管理和项目管理功能
  Platform.APP_DONES.md
  Platform.App/app/(tabs)/_layout.tsx
  Platform.App/app/(tabs)/project-management/[id].tsx
  Platform.App/app/(tabs)/project-management/_layout.tsx
  Platform.App/app/(tabs)/project-management/index.tsx
  Platform.App/app/(tabs)/task-management/[id].tsx
  Platform.App/app/(tabs)/task-management/_layout.tsx
  Platform.App/app/(tabs)/task-management/index.tsx
  Platform.App/services/projectService.ts
  Platform.App/services/taskService.ts
  Platform.App/types/project.ts
  Platform.App/types/task.ts
  Platform.App/utils/dateUtils.ts
Due: prettier --write, eslint --fix

删除 Aspire.Hosting.Kubernetes 包
  Platform.AppHost/Platform.AppHost.csproj
Due: none

fix: 修复App端任务管理和项目管理中的导入和引用错误
  Platform.App/app/(tabs)/project-management/[id].tsx
  Platform.App/app/(tabs)/project-management/_layout.tsx
  Platform.App/app/(tabs)/project-management/index.tsx
  Platform.App/app/(tabs)/task-management/[id].tsx
  Platform.App/app/(tabs)/task-management/_layout.tsx
  Platform.App/app/(tabs)/task-management/index.tsx
  Platform.App/services/projectService.ts
Due: prettier --write, eslint --fix

fix: 修复任务列表页死循环问题 - fetchProjects 未使用 useCallback 导致 useFocusEffect 无限重执行
  Platform.App/app/(tabs)/tasks/index.tsx
Due: prettier --write, eslint --fix

fix: 统一任务和项目列表页背景色与首页一致
  Platform.App/app/(tabs)/projects/index.tsx
  Platform.App/app/(tabs)/tasks/index.tsx
Due: prettier --write, eslint --fix

fix: 搜索框两侧添加水平间距
  Platform.App/components/ui/SearchBar.tsx
Due: prettier --write, eslint --fix

fix: 移除任务和项目页面Stack header返回按钮
  Platform.App/app/(tabs)/projects/_layout.tsx
  Platform.App/app/(tabs)/tasks/_layout.tsx
Due: prettier --write, eslint --fix

fix: 禁用 codegen 插件解决 RN 0.85 与 Expo 55 的 babel 编译兼容性问题
  Platform.App/babel.config.js
  Platform.App/package-lock.json
  Platform.App/package.json
Due: prettier --write, eslint --fix

Add Snappier package and remove unnecessary blank line in project file
  Platform.App/package-lock.json
  Platform.ServiceDefaults/Platform.ServiceDefaults.csproj
Due: prettier --write

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json,css,less,md}
  eslint --fix: any of: **/*.{ts,tsx,js,jsx}
