Repository wjw1-Evan/aspire-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx,json,css,less,md}": [
    "prettier --write",
    "git add"
  ],
  "**/*.{ts,tsx,js,jsx}": [
    "eslint --fix",
    "git add"
  ]
}

fix: 修复 formatTime 函数中的国际化占位符问题
  Platform.Admin/src/pages/welcome/components/IoTEventAlertsCard.tsx
Due: prettier --write, eslint --fix

fix: 移除所有 intl.formatMessage 调用以解决 React 渲染问题
  Platform.Admin/src/pages/welcome/components/IoTEventAlertsCard.tsx
Due: prettier --write, eslint --fix

feat: 添加项目列表卡片到欢迎页面
  Platform.Admin/src/pages/Welcome.tsx
  Platform.Admin/src/pages/welcome/components/ProjectListCard.tsx
  Platform.Admin/src/pages/welcome/components/index.ts
Due: prettier --write, eslint --fix

docs: 添加项目列表卡片文档
  docs/features/PROJECT_LIST_WELCOME_MODULE.md
Due: prettier --write

fix: 移除新建项目按钮，修改查看全部项目跳转链接
  Platform.Admin/src/pages/welcome/components/ProjectListCard.tsx
Due: prettier --write, eslint --fix

refactor: 使用路由跳转替代 window.location.href
  Platform.Admin/src/pages/welcome/components/ProjectListCard.tsx
Due: prettier --write, eslint --fix

feat: 实现欢迎页面可拖动卡片布局功能
  Platform.Admin/src/pages/Welcome.tsx
  Platform.Admin/src/pages/welcome/components/DraggableCardContainer.tsx
  Platform.Admin/src/pages/welcome/components/index.ts
  Platform.Admin/src/services/welcome/layout.ts
  docs/features/DRAGGABLE_WELCOME_LAYOUT.md
  docs/testing/DRAGGABLE_LAYOUT_TESTING.md
Due: prettier --write, eslint --fix

refactor: 移除编辑模式锁定按钮，卡片默认可拖动
  Platform.Admin/src/pages/welcome/components/DraggableCardContainer.tsx
  docs/features/DRAGGABLE_WELCOME_LAYOUT.md
  docs/testing/DRAGGABLE_LAYOUT_TESTING.md
Due: prettier --write, eslint --fix

fix: 优化布局加载逻辑，后端 API 未实现时优雅降级
  Platform.Admin/src/pages/Welcome.tsx
Due: prettier --write, eslint --fix

refactor: 使用 dnd-kit 库重构拖动功能
  Platform.Admin/package-lock.json
  Platform.Admin/package.json
  Platform.Admin/src/pages/Welcome.tsx
  Platform.Admin/src/pages/welcome/components/DraggableCardContainer.tsx
  Platform.Admin/src/pages/welcome/components/index.ts
Due: prettier --write, eslint --fix

fix: 优化拖动性能和卡片间距
  Platform.Admin/src/pages/Welcome.tsx
Due: prettier --write, eslint --fix

refactor: 集成 dnd-kit modifiers 优化拖动布局
  Platform.Admin/package-lock.json
  Platform.Admin/package.json
  Platform.Admin/src/pages/Welcome.tsx
Due: prettier --write, eslint --fix

feat: 实现欢迎页面布局保存和获取接口
  Platform.Admin/src/pages/Welcome.tsx
  Platform.Admin/src/pages/welcome/components/IoTEventAlertsCard.tsx
  Platform.Admin/src/pages/welcome/components/ProjectListCard.tsx
  Platform.Admin/src/services/welcome/layout.ts
  Platform.ApiService/Controllers/UserController.cs
  Platform.ApiService/Services/IUserService.cs
  Platform.ApiService/Services/UserService.cs
  Platform.ServiceDefaults/Models/WelcomeLayoutModels.cs
Due: prettier --write, eslint --fix

fix: 修复 Ant Design 6 message 警告
  Platform.Admin/src/pages/Welcome.tsx
Due: prettier --write, eslint --fix

feat: 实现欢迎页面布局持久化存储
  Platform.Admin/src/pages/Welcome.tsx
  Platform.ApiService/Models/AuthModels.cs
  Platform.ApiService/Services/UserService.cs
Due: prettier --write, eslint --fix

fix: 修复拖拽布局保存逻辑
  Platform.Admin/src/pages/Welcome.tsx
Due: prettier --write, eslint --fix

fix: 修复 handleDragEnd 状态更新错误
  Platform.Admin/src/pages/Welcome.tsx
Due: prettier --write, eslint --fix

feat: 删除我的审批卡片的更多按钮
  Platform.Admin/src/pages/welcome/components/ApprovalOverviewCard.tsx
Due: prettier --write, eslint --fix

feat: 删除项目列表卡片的操作列
  Platform.Admin/src/pages/welcome/components/ProjectListCard.tsx
Due: prettier --write, eslint --fix

fix: 恢复 ProjectListCard 中的 Button 导入
  Platform.Admin/src/pages/Welcome.tsx
  Platform.Admin/src/pages/welcome/components/ProjectListCard.tsx
Due: prettier --write, eslint --fix

fix: 限制卡片拖动仅在顶部句柄区域
  Platform.Admin/src/pages/Welcome.tsx
Due: prettier --write, eslint --fix

feat: 使用卡片标题作为拖动句柄
  Platform.Admin/src/pages/Welcome.tsx
Due: prettier --write, eslint --fix

fix: 恢复卡片拖动功能 使用顶部句柄条
  Platform.Admin/src/pages/Welcome.tsx
Due: prettier --write, eslint --fix

feat: Enhance workflow engine with correct company ID and user ID propagation, updated condition structure, and improved test reliability.
  Platform.ApiService/Controllers/DocumentController.cs
  Platform.ApiService/Services/WorkflowEngine.Approval.cs
  Platform.ApiService/Services/WorkflowEngine.cs
  Platform.AppHost.Tests/Helpers/ApiTestHelpers.cs
  Platform.AppHost.Tests/Helpers/TestDataGenerator.cs
  Platform.AppHost.Tests/Tests/DocumentApprovalTests.cs
  Platform.AppHost/Platform.AppHost.csproj
Due: none

chore: Update coverlet.collector package version to 8.0.1.
  Platform.AppHost.Tests/Platform.AppHost.Tests.csproj
Due: none

fix: 修复流程引擎审批逻辑与前后端一致性
  .opencode/commands/commit.md
  Platform.Admin/src/pages/workflow/components/NodeConfigDrawer.tsx
  Platform.Admin/src/services/workflow/api.ts
  Platform.ApiService/Services/WorkflowEngine.Approval.cs
  Platform.ApiService/Services/WorkflowEngine.Helpers.cs
  Platform.ApiService/Services/WorkflowEngine.NodeHandlers.cs
  Platform.ApiService/Services/WorkflowEngine.cs
  Platform.ApiService/Workflows/Executors/ConditionExecutor.cs
  Platform.AppHost.Tests/Helpers/TestDataGenerator.cs
  Platform.AppHost.Tests/Models/WorkflowTestModels.cs
  Platform.AppHost.Tests/Tests/DocumentApprovalTests.cs
  Platform.AppHost.Tests/Tests/WorkflowApprovalTests.cs
  Platform.AppHost.Tests/Tests/WorkflowConditionTests.cs
  opencode.jsonc
Due: prettier --write, eslint --fix

fix: 优化测试基础设施减少重复容器
  Platform.AppHost.Tests/AppHostFixture.cs
  Platform.AppHost/AppHost.cs
Due: none

fix: 修复测试数据生成器审批人配置缺失问题
  Platform.AppHost.Tests/Helpers/TestDataGenerator.cs
  Platform.AppHost.Tests/Tests/WorkflowDefinitionTests.cs
Due: none

chore: 更新项目依赖版本
  Platform.Admin/package-lock.json
  Platform.Admin/package.json
  Platform.AppHost/Platform.AppHost.csproj
  Platform.ServiceDefaults/Platform.ServiceDefaults.csproj
Due: prettier --write

feat: 增强测试 Fixture 日志和资源等待
  Platform.AppHost.Tests/AppHostFixture.cs
Due: none

refactor: 使用官方 Aspire 测试模式重构集成测试
  Platform.AppHost.Tests/AppHostFixture.cs
  Platform.AppHost.Tests/Tests/AuthenticationFlowTests.cs
  Platform.AppHost.Tests/Tests/BaseIntegrationTest.cs
  Platform.AppHost.Tests/Tests/FormDefinitionTests.cs
  Platform.AppHost.Tests/Tests/KnowledgeBaseTests.cs
  Platform.AppHost.Tests/Tests/LoginTests.cs
  Platform.AppHost.Tests/Tests/RegistrationTests.cs
  Platform.AppHost.Tests/Tests/ResourceHealthTests.cs
  Platform.AppHost.Tests/Tests/WorkflowApprovalTests.cs
  Platform.AppHost.Tests/Tests/WorkflowDefinitionTests.cs
  Platform.AppHost/mongo/mongo-rs-entrypoint.sh
  opencode.jsonc
Due: none

feat: 测试环境使用独立数据库 aspire-admin-test-db
  Platform.AppHost.Tests/AppHostFixture.cs
  Platform.AppHost/AppHost.cs
Due: none

feat: 将 OpenAI、MongoDB 服务名、环境区分配置迁移到 appsettings，并提高测试/开发日志级别
  Platform.AppHost/AppHost.cs
  Platform.AppHost/appsettings.Development.json
  Platform.AppHost/appsettings.Testing.json
  Platform.AppHost/appsettings.json
Due: prettier --write

test: 测试环境配置简化为使用 appsettings.Testing.json，移除多余参数
  Platform.AppHost.Tests/AppHostFixture.cs
Due: none

feat: 添加缺失的配置项检查，确保 OpenAI 和 MongoDB 配置完整
  Platform.ApiService.Tests/Services/WorkflowExpressionEvaluatorTests.cs
  Platform.ApiService.Tests/Services/WorkflowExpressionValidatorTests.cs
  Platform.AppHost/AppHost.cs
Due: none

feat: 更新 MongoDB 配置，添加用户和密码字段；修复顺序审批逻辑中的记录持久化问题；调整测试用例中的审批人角色
  Platform.ApiService/Services/WorkflowEngine.Approval.cs
  Platform.AppHost.Tests/AppHostFixture.cs
  Platform.AppHost.Tests/Tests/WorkflowApprovalTests.cs
  Platform.AppHost/AppHost.cs
  Platform.AppHost/appsettings.Testing.json
  Platform.AppHost/appsettings.json
Due: prettier --write

feat: 增强审批流程日志记录，添加调试信息以便于跟踪审批状态和历史
  Platform.ApiService/Services/WorkflowEngine.Approval.cs
  Platform.ApiService/Services/WorkflowEngine.Helpers.cs
  Platform.ApiService/Services/WorkflowEngine.Notifications.cs
  Platform.AppHost.Tests/Tests/WorkflowApprovalTests.cs
  Platform.ServiceDefaults/Services/EFCoreDataFactory.cs
  docs/流程设计与审批功能说明.md
Due: prettier --write

feat: Enhance workflow management with new approval types and organization structure
  Platform.Admin/src/pages/workflow/components/NodeConfigDrawer.tsx
  Platform.Admin/src/services/workflow/api.ts
  Platform.ApiService/Controllers/WorkflowController.cs
  Platform.ApiService/Models/Workflow/WorkflowDefinition.cs
  Platform.ApiService/Models/Workflow/WorkflowEnums.cs
  Platform.ApiService/Services/ApproverResolvers.cs
  Platform.ApiService/Services/WorkflowEngine.Approval.cs
  Platform.ApiService/Services/WorkflowEngine.Helpers.cs
  Platform.ApiService/Services/WorkflowEngine.NodeHandlers.cs
  Platform.ApiService/Services/WorkflowEngine.Notifications.cs
  Platform.AppHost.Tests/Tests/AuthenticationFlowTests.cs
  Platform.AppHost.Tests/Tests/BaseIntegrationTest.cs
  Platform.AppHost.Tests/Tests/WorkflowApprovalTests.cs
Due: prettier --write, eslint --fix

perf: 优化审批解析器和日志记录
  Platform.ApiService/Services/ApproverResolvers.cs
  Platform.ApiService/Services/ProjectService.cs
  Platform.ApiService/Services/TaskService.cs
Due: none
