Repository wjw1-Evan/aspire-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix: 修复服务自动注册过滤掉 TaskDependencyService 的问题
  Platform.ServiceDefaults/Extensions/ServiceDiscoveryExtensions.cs
Due: none

refactor: 重命名 TaskDependencyService -> TaskRelationService
  Platform.ApiService/Services/ITaskRelationService.cs
  Platform.ApiService/Services/TaskRelationService.cs
  Platform.ApiService/Services/TaskService.cs
Due: none

docs: 添加服务命名规范 - 禁止使用 Dependency 单词
  docs/rules/backend/07-类型命名规范.md
Due: prettier --write

refactor: 删除 IDependency 接口，改用命名约定判断服务生命周期
  Platform.ApiService/Services/IApproverResolver.cs
  Platform.ApiService/Services/IChatSseConnectionManager.cs
  Platform.ApiService/Services/IIoTDataFetchClient.cs
  Platform.ApiService/Services/IPasswordEncryptionService.cs
  Platform.ApiService/Services/IUserActivityLogQueue.cs
  Platform.ApiService/Services/KnowledgeDocumentService.cs
  Platform.ApiService/Services/KnowledgeService.cs
  Platform.ApiService/Services/Mcp/IMcpToolHandler.cs
  Platform.ApiService/Services/SingletonPasswordEncryptionService.cs
  Platform.ApiService/Services/UserActivityLogQueue.cs
  Platform.ServiceDefaults/Extensions/ServiceDiscoveryExtensions.cs
Due: none

refactor: 删除 IDependency 标记接口及旧版 PasswordEncryptionService 文件
  Platform.ApiService/Services/PasswordEncryptionService.cs
  Platform.ServiceDefaults/Services/IDependency.cs
Due: none

docs: 更新服务命名规范，添加生命周期前缀约定
  docs/rules/backend/07-类型命名规范.md
Due: prettier --write

refactor: 统一前端 TypeScript 类型标准，清理 any 类型
  Platform.Admin/src/pages/cloud-storage/files/index.tsx
  Platform.Admin/src/pages/cloud-storage/quota/index.tsx
  Platform.Admin/src/pages/organization/index.tsx
Due: prettier --write, eslint --fix

docs: 清理过时和重复文档
  docs/audit/SOFT-DELETE-AUDIT-REPORT.md
  docs/features/MCP-HANDLERS-GUIDE.md
  docs/rules/AGENTS.md
  docs/智慧园区管理系统/智慧园区技术白皮书.html
  docs/智慧园区管理系统/智慧园区管理系统.html
  docs/智慧园区管理系统/未命名文件夹/index.html
  docs/智慧园区管理系统/未命名文件夹/智慧园区系统简介.html
  docs/流程设计与审批功能说明.md
Due: prettier --write

chore: 升级 Scalar.Aspire 到 0.9.22
  Platform.AppHost/Platform.AppHost.csproj
Due: none

refactor: 删除 BsonCollectionNameAttribute 及所有引用
  Platform.ApiService/Models/CaptchaImageModels.cs
  Platform.ApiService/Models/CloudStorageModels.cs
  Platform.ApiService/Models/FormModels.cs
  Platform.ApiService/Models/LoginFailureRecordModels.cs
  Platform.ApiService/Models/OrganizationModels.cs
  Platform.ApiService/Models/Park/ParkAssetEntities.cs
  Platform.ApiService/Models/Park/ParkEnterpriseServiceEntities.cs
  Platform.ApiService/Models/Park/ParkInvestmentEntities.cs
  Platform.ApiService/Models/Park/ParkTenantEntities.cs
  Platform.ApiService/Models/Park/ParkVisitEntities.cs
  Platform.ApiService/Models/PasswordBookModels.cs
  Platform.ApiService/Models/ProjectModels.cs
  Platform.ApiService/Models/TaskModels.cs
  Platform.ApiService/Models/UserCompanyModels.cs
  Platform.ApiService/Models/UserOrganizationModels.cs
  Platform.ApiService/Models/Workflow/ApprovalRecord.cs
  Platform.ApiService/Models/Workflow/KnowledgeDocument.cs
  Platform.ApiService/Models/Workflow/WorkflowBulkActions.cs
  Platform.ApiService/Models/Workflow/WorkflowDefinition.cs
  Platform.ApiService/Models/Workflow/WorkflowDocument.cs
  Platform.ApiService/Models/Workflow/WorkflowInstance.cs
  Platform.ApiService/Models/Workflow/WorkflowTemplate.cs
  Platform.ApiService/Models/Workflow/WorkflowUserPreferences.cs
  Platform.ApiService/Models/XiaokeConfigModels.cs
  Platform.ServiceDefaults/Attributes/BsonCollectionNameAttribute.cs
  Platform.ServiceDefaults/Models/EmailLog.cs
  Platform.ServiceDefaults/Models/MenuModels.cs
  Platform.ServiceDefaults/Services/PlatformDbContext.cs
Due: none

fix: 修复实体未注册到 EF Core 模型问题
  Platform.ServiceDefaults/Services/PlatformDbContext.cs
Due: none

refactor: 移除冗余序列化特性，使用全局 camelCase 配置
  Platform.ApiService/Models/AuthModels.cs
  Platform.ApiService/Models/CaptchaImageModels.cs
  Platform.ApiService/Models/ChatModels.cs
  Platform.ApiService/Models/CloudStorageModels.cs
  Platform.ApiService/Models/CompanyModels.cs
  Platform.ApiService/Models/FormModels.cs
  Platform.ApiService/Models/IoTModels.cs
  Platform.ApiService/Models/LoginFailureRecordModels.cs
  Platform.ApiService/Models/NoticeModels.cs
  Platform.ApiService/Models/OrganizationModels.cs
  Platform.ApiService/Models/Park/ParkAssetEntities.cs
  Platform.ApiService/Models/Park/ParkEnterpriseServiceEntities.cs
  Platform.ApiService/Models/Park/ParkInvestmentEntities.cs
  Platform.ApiService/Models/Park/ParkTenantEntities.cs
  Platform.ApiService/Models/Park/ParkVisitEntities.cs
  Platform.ApiService/Models/PasswordBookModels.cs
  Platform.ApiService/Models/ProjectModels.cs
  Platform.ApiService/Models/RoleModels.cs
  Platform.ApiService/Models/RuleModels.cs
  Platform.ApiService/Models/SocialModels.cs
  Platform.ApiService/Models/TaskModels.cs
  Platform.ApiService/Models/User.cs
  Platform.ApiService/Models/UserCompanyModels.cs
  Platform.ApiService/Models/UserOrganizationModels.cs
  Platform.ApiService/Models/Workflow/ApprovalRecord.cs
  Platform.ApiService/Models/Workflow/KnowledgeBase.cs
  Platform.ApiService/Models/Workflow/KnowledgeDocument.cs
  Platform.ApiService/Models/Workflow/WorkflowAnalytics.cs
  Platform.ApiService/Models/Workflow/WorkflowBulkActions.cs
  Platform.ApiService/Models/Workflow/WorkflowDefinition.cs
  Platform.ApiService/Models/Workflow/WorkflowDocument.cs
  Platform.ApiService/Models/Workflow/WorkflowInstance.cs
  Platform.ApiService/Models/Workflow/WorkflowTemplate.cs
  Platform.ApiService/Models/Workflow/WorkflowUserPreferences.cs
  Platform.ApiService/Models/Workflow/WorkflowValidation.cs
  Platform.ApiService/Models/XiaokeConfigModels.cs
  Platform.ServiceDefaults/Models/EmailLog.cs
  Platform.ServiceDefaults/Models/MenuModels.cs
  Platform.ServiceDefaults/Models/WelcomeLayoutModels.cs
  docs/rules/backend/02-数据访问与审计.md
Due: prettier --write

refactor: 移除实体类的 BsonIgnoreExtraElements，使用全局配置
  Platform.ApiService/Models/Entities/AuthEntities.cs
  Platform.ApiService/Models/Entities/ChatEntities.cs
  Platform.ApiService/Models/Entities/CloudStorageEntities.cs
  Platform.ApiService/Models/Entities/CompanyEntities.cs
  Platform.ApiService/Models/Entities/FormEntities.cs
  Platform.ApiService/Models/Entities/IoTEntities.cs
  Platform.ApiService/Models/Entities/NoticeEntities.cs
  Platform.ApiService/Models/Entities/OrganizationEntities.cs
  Platform.ApiService/Models/Entities/Park/ParkAssetEntities.cs
  Platform.ApiService/Models/Entities/Park/ParkEnterpriseServiceEntities.cs
  Platform.ApiService/Models/Entities/Park/ParkInvestmentEntities.cs
  Platform.ApiService/Models/Entities/Park/ParkTenantEntities.cs
  Platform.ApiService/Models/Entities/Park/ParkVisitEntities.cs
  Platform.ApiService/Models/Entities/PasswordBookEntities.cs
  Platform.ApiService/Models/Entities/ProjectEntities.cs
  Platform.ApiService/Models/Entities/RoleEntities.cs
  Platform.ApiService/Models/Entities/TaskEntities.cs
  Platform.ApiService/Models/Entities/UserOrganizationEntities.cs
  Platform.ApiService/Models/Entities/Workflow/ApprovalRecord.cs
  Platform.ApiService/Models/Entities/Workflow/WorkflowBulkActions.cs
  Platform.ApiService/Models/Entities/Workflow/WorkflowDefinition.cs
  Platform.ApiService/Models/Entities/Workflow/WorkflowDocument.cs
  Platform.ApiService/Models/Entities/Workflow/WorkflowInstance.cs
  Platform.ApiService/Models/Entities/Workflow/WorkflowTemplate.cs
  Platform.ApiService/Models/Entities/Workflow/WorkflowUserPreferences.cs
Due: none

fix: 统一 EF Core 集合名为小写，解决大小写重复表问题
  Platform.ServiceDefaults/Extensions/ServiceExtensions.cs
  Platform.ServiceDefaults/Services/PlatformDbContext.cs
Due: none

docs: 更新数据访问规范，明确集合命名规则
  docs/rules/backend/02-数据访问与审计.md
Due: prettier --write

refactor: 将 Entities 中的 DTO 类移至 Dtos 目录
  Platform.ApiService/Models/Dtos/AuthDtos.cs
  Platform.ApiService/Models/Dtos/CloudStorageDtos.cs
  Platform.ApiService/Models/Dtos/NoticeDtos.cs
  Platform.ApiService/Models/Dtos/ProjectDtos.cs
  Platform.ApiService/Models/Dtos/TaskDtos.cs
  Platform.ApiService/Models/Entities/AuthEntities.cs
  Platform.ApiService/Models/Entities/CloudStorageEntities.cs
  Platform.ApiService/Models/Entities/NoticeEntities.cs
  Platform.ApiService/Models/Entities/ProjectEntities.cs
  Platform.ApiService/Models/Entities/TaskEntities.cs
  Platform.DataInitializer/Program.cs
  Platform.DataInitializer/Scripts/CreateAllIndexes.cs
  Platform.DataInitializer/Services/DataInitializerService.cs
  Platform.ServiceDefaults/Services/ITenantContext.cs
Due: none

refactor: 继续拆分 Entities 中的 DTO 类至 Dtos 目录
  Platform.ApiService/Models/Dtos/CaptchaDtos.cs
  Platform.ApiService/Models/Dtos/ChatDtos.cs
  Platform.ApiService/Models/Dtos/OrganizationDtos.cs
  Platform.ApiService/Models/Dtos/RoleDtos.cs
  Platform.ApiService/Models/Dtos/RuleDtos.cs
  Platform.ApiService/Models/Dtos/SocialDtos.cs
  Platform.ApiService/Models/Dtos/XiaokeDtos.cs
  Platform.ApiService/Models/Entities/CaptchaImageEntity.cs
  Platform.ApiService/Models/Entities/ChatEntities.cs
  Platform.ApiService/Models/Entities/OrganizationEntities.cs
  Platform.ApiService/Models/Entities/RoleEntities.cs
  Platform.ApiService/Models/Entities/RuleEntities.cs
  Platform.ApiService/Models/Entities/SocialEntities.cs
  Platform.ApiService/Models/Entities/XiaokeConfigEntity.cs
Due: none

refactor: 合并 Request 目录中的 DTO 至对应 Dtos 文件
  Platform.ApiService/Models/Dtos/CloudStorageDtos.cs
  Platform.ApiService/Models/Dtos/Request/CloudStorageRequest.cs
  Platform.ApiService/Models/Dtos/Request/CompanyRequest.cs
  Platform.ApiService/Models/Dtos/Request/DeleteRequest.cs
  Platform.ApiService/Models/Dtos/Request/FileShareRequest.cs
  Platform.ApiService/Models/Dtos/Request/FileVersionRequest.cs
  Platform.ApiService/Models/Dtos/Request/IoTRequest.cs
  Platform.ApiService/Models/Dtos/Request/StorageQuotaRequest.cs
  Platform.ApiService/Models/Dtos/Request/TaskRequest.cs
  Platform.ApiService/Models/Dtos/TaskDtos.cs
Due: none

refactor: 清理 AuthEntities.cs 移除 DTO 类
  Platform.ApiService/Models/Entities/AuthEntities.cs
Due: none

refactor: 提取枚举至 Models/Enums 目录
  Platform.ApiService/Models/Entities/ChatEntities.cs
  Platform.ApiService/Models/Entities/CloudStorageEntities.cs
  Platform.ApiService/Models/Entities/FormEntities.cs
  Platform.ApiService/Models/Entities/NoticeEntities.cs
  Platform.ApiService/Models/Entities/ProjectEntities.cs
  Platform.ApiService/Models/Entities/TaskEntities.cs
  Platform.ApiService/Models/Enums/CloudStorageEnums.cs
  Platform.ApiService/Models/Enums/CommonEnums.cs
  Platform.ApiService/Models/Enums/ProjectEnums.cs
  Platform.ApiService/Models/Enums/TaskEnums.cs
Due: none

refactor: 拆分 DTO 和枚举至 Models/Dtos 和 Models/Enums 目录
  Platform.ApiService/Models/Dtos/AuthDtos.cs
  Platform.ApiService/Models/Dtos/CloudStorageDtos.cs
  Platform.ApiService/Models/Dtos/Request/IoTRequestModels.cs
  Platform.ApiService/Models/Entities/PasswordBookEntities.cs
  Platform.ApiService/Models/Enums/CommonEnums.cs
  Platform.ApiService/Models/Enums/TaskEnums.cs
  Platform.ApiService/Services/IStorageQuotaService.cs
  Platform.ApiService/Services/IStorageQuotaSubServices.cs
  Platform.ApiService/Services/StorageQuotaService.cs
  Platform.ApiService/Services/UserQuotaService.cs
Due: none

fix: 修复注册时菜单查询为空的问题 - PlatformDbContext租户过滤器现在只对实体中实际存在CompanyId属性的类应用过滤
  Platform.ServiceDefaults/Services/PlatformDbContext.cs
Due: none

fix: 修复登录时未检查IsDeleted的问题 - 被软删除的用户不应再能登录
  Platform.ApiService/Services/LoginService.cs
  Platform.ServiceDefaults/Services/PlatformDbContext.cs
Due: none

fix: 修改登录查询条件和查询过滤器应用逻辑
  Platform.ApiService/Services/LoginService.cs
  Platform.ServiceDefaults/Services/PlatformDbContext.cs
Due: none

fix: 注册页面验证码显示逻辑优化，兼容后端返回的'需要验证码'消息
  Platform.Admin/src/pages/user/register/index.tsx
Due: prettier --write, eslint --fix

fix: 注册服务Menu查询添加IgnoreQueryFilters解决全局菜单无法获取的问题
  Platform.ApiService/Services/RegistrationService.cs
Due: none

fix: 移除PlatformDbContext表名大小写转换，使用原始类名
  Platform.ServiceDefaults/Services/PlatformDbContext.cs
Due: none

fix: DataInitializer表名改为大写Menu与PlatformDbContext保持一致
  Platform.DataInitializer/Services/DataInitializerService.cs
Due: none

fix: ITenantContext用户表名改为大写AppUser与PlatformDbContext保持一致
  Platform.ServiceDefaults/Services/ITenantContext.cs
Due: none

fix: ITenantContext字段名改为PascalCase与模型保持一致
  Platform.ServiceDefaults/Extensions/ServiceExtensions.cs
  Platform.ServiceDefaults/Services/ITenantContext.cs
Due: none

fix: 修复验证码API字段名captchaCode改为answer与后端保持一致
  Platform.Admin/src/services/ant-design-pro/api.ts
Due: prettier --write, eslint --fix

feat: 添加验证码需求预检查API，登录注册页面提前显示验证码
  Platform.Admin/src/pages/user/login/index.tsx
  Platform.Admin/src/pages/user/register/index.tsx
  Platform.Admin/src/services/ant-design-pro/api.ts
  Platform.ApiService/Controllers/AuthController.cs
  Platform.ApiService/Services/IImageCaptchaService.cs
  Platform.ApiService/Services/ImageCaptchaService.cs
Due: prettier --write, eslint --fix

refactor: 移除登录注册页面的needsCaptchaByMessage判断，改为仅依赖错误码
  Platform.Admin/src/pages/user/login/index.tsx
  Platform.Admin/src/pages/user/register/index.tsx
Due: prettier --write, eslint --fix

fix: 修复头像区域显示逻辑，支持displayName和username字段
  Platform.Admin/src/components/RightContent/AvatarDropdown.tsx
Due: prettier --write, eslint --fix

fix: 登录失败后检查是否需要验证码
  Platform.Admin/src/pages/user/login/index.tsx
Due: prettier --write, eslint --fix

fix: 注册失败后检查是否需要验证码
  Platform.Admin/src/pages/user/register/index.tsx
Due: prettier --write, eslint --fix

fix: 登录失败1次即要求验证码，改为>=1判断
  Platform.ApiService/Services/ImageCaptchaService.cs
  Platform.ApiService/Services/LoginService.cs
  Platform.ApiService/Services/RegistrationService.cs
Due: none

fix: 验证码需求检查支持用户名和IP两种ClientId
  Platform.ApiService/Services/ImageCaptchaService.cs
Due: none

fix: 验证码检查支持用户名参数，匹配登录失败记录
  Platform.Admin/src/pages/user/login/index.tsx
  Platform.Admin/src/pages/user/register/index.tsx
  Platform.Admin/src/services/ant-design-pro/api.ts
  Platform.ApiService/Controllers/AuthController.cs
  Platform.ApiService/Services/IImageCaptchaService.cs
  Platform.ApiService/Services/ImageCaptchaService.cs
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json,css,less,md}
  eslint --fix: any of: **/*.{ts,tsx,js,jsx}
