Repository wjw1-Evan/aspire-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx,json,css,less,md}": [
    "prettier --write",
    "git add"
  ],
  "**/*.{ts,tsx,js,jsx}": [
    "eslint --fix",
    "git add"
  ]
}

feat: 注册页面添加确认密码字段
  Platform.Admin/src/locales/zh-CN/pages.ts
  Platform.Admin/src/pages/user/register/index.tsx
Due: prettier --write, eslint --fix

feat: 注册页面添加邮箱验证功能
  Platform.Admin/src/pages/user/register/index.tsx
  Platform.Admin/src/services/ant-design-pro/api.ts
  Platform.Admin/src/types/index.ts
  Platform.ApiService/Controllers/AuthController.cs
  Platform.ApiService/Models/Dtos/AuthDtos.cs
  Platform.ApiService/Models/Entities/AuthEntities.cs
  Platform.ApiService/Services/AuthService.cs
  Platform.ApiService/Services/IAuthService.cs
  Platform.ApiService/Services/IRegistrationService.cs
  Platform.ApiService/Services/IUserService.cs
  Platform.ApiService/Services/RegistrationService.cs
  Platform.ApiService/Services/UserService.cs
Due: prettier --write, eslint --fix

fix: 移除注册流程中的图形验证码验证
  Platform.Admin/src/services/ant-design-pro/api.ts
  Platform.Admin/src/types/index.ts
  Platform.ApiService/Models/Dtos/AuthDtos.cs
  Platform.ApiService/Services/RegistrationService.cs
Due: prettier --write, eslint --fix

fix: 修复confirmPassword加密不一致问题
  Platform.Admin/src/pages/user/register/index.tsx
Due: prettier --write, eslint --fix

feat: move reset button after submit button in user registration page
  Platform.Admin/src/pages/user/register/index.tsx
Due: prettier --write, eslint --fix

feat: 调整用户登录和注册页面按钮布局（将重置按钮移至提交按钮后方）
  Platform.Admin/src/pages/user/login/index.tsx
  Platform.Admin/src/pages/user/register/index.tsx
Due: prettier --write, eslint --fix

fix: 解决RSA加密后密码比对问题，使用解密后的原始密码比对
  Platform.ApiService/Services/RegistrationService.cs
Due: none

fix: 简化注册流程，移除确认密码加密比对
  Platform.Admin/src/pages/user/register/index.tsx
  Platform.ApiService/Services/RegistrationService.cs
Due: prettier --write, eslint --fix

fix: 调整注册密码长度限制以适应SM2加密后字符串
  Platform.ApiService/Services/RegistrationService.cs
Due: none

fix: 修复SM2解密逻辑，正确处理前端添加的04前缀
  Platform.ApiService/Services/SingletonPasswordEncryptionService.cs
Due: none

fix: 解密失败时抛出明确错误而不是静默返回加密字符串
  Platform.ApiService/Services/SingletonPasswordEncryptionService.cs
Due: none

debug: 添加SM2解密调试日志
  Platform.ApiService/Services/SingletonPasswordEncryptionService.cs
Due: none

fix: 移除前端加密公钥的04前缀
  Platform.Admin/src/utils/encryption.ts
Due: prettier --write, eslint --fix

fix: 统一公钥格式，移除04前缀，前后端保持一致
  Platform.Admin/src/utils/encryption.ts
  Platform.ApiService/Services/SingletonPasswordEncryptionService.cs
Due: prettier --write, eslint --fix

fix: 恢复公钥格式，确保前后端加密解密兼容
  Platform.Admin/src/utils/encryption.ts
  Platform.ApiService/Services/SingletonPasswordEncryptionService.cs
Due: prettier --write, eslint --fix

fix: 统一注册流程，移除confirmPassword字段，与登录保持一致
  Platform.Admin/src/pages/user/register/index.tsx
  Platform.Admin/src/services/ant-design-pro/api.ts
  Platform.Admin/src/types/index.ts
  Platform.ApiService/Models/Dtos/AuthDtos.cs
  Platform.ApiService/Services/SingletonPasswordEncryptionService.cs
Due: prettier --write, eslint --fix

fix: 注册页面加密前清除公钥缓存，确保使用最新密钥
  Platform.Admin/src/pages/user/register/index.tsx
Due: prettier --write, eslint --fix

fix: 注册页面加密方式与登录页面完全一致，移除多余clearCache
  Platform.Admin/src/pages/user/register/index.tsx
Due: prettier --write, eslint --fix

debug: 添加SM2解密日志对比注册和登录
  Platform.ApiService/Services/SingletonPasswordEncryptionService.cs
Due: none

fix: SM2解密统一处理04前缀，确保注册和登录解密一致
  Platform.ApiService/Services/SingletonPasswordEncryptionService.cs
Due: none

fix: 恢复SM2密文04前缀，符合国密标准
  Platform.Admin/src/utils/encryption.ts
Due: prettier --write, eslint --fix

refactor: 按照 GM/T 0009 国密标准重构 SM2 加解密
  Platform.Admin/src/pages/user/register/index.tsx
  Platform.Admin/src/utils/encryption.ts
  Platform.ApiService/Services/IPasswordEncryptionService.cs
  Platform.ApiService/Services/SingletonPasswordEncryptionService.cs
Due: prettier --write, eslint --fix

docs: 更新国密 SM2 加密规范文档
  AGENTS.md
Due: prettier --write

fix: 移除重复的 using Platform.ServiceDefaults.Models 指令
  Platform.ApiService/Controllers/ChatMessagesController.cs
  Platform.ApiService/Controllers/UserController.cs
  Platform.ApiService/Services/AiAssistantCoordinator.cs
  Platform.ApiService/Services/CompanyService.cs
  Platform.ApiService/Services/JoinRequestService.cs
  Platform.ApiService/Services/LoginService.cs
  Platform.ApiService/Services/OrganizationService.cs
  Platform.ApiService/Services/SocialService.cs
  Platform.ApiService/Services/UserCompanyService.cs
  Platform.ApiService/Services/UserService.cs
Due: none

fix: 修复 ProCard 组件与 React 19/Ant Design 6 不兼容问题
  Platform.Admin/src/pages/cloud-storage/quota/index.tsx
  Platform.Admin/src/pages/share/index.tsx
  Platform.Admin/src/pages/web-scraper/index.tsx
  Platform.Admin/src/pages/welcome/components/QuickAction.tsx
  Platform.Admin/src/pages/welcome/components/RecentActivitiesCard.tsx
  Platform.Admin/src/pages/welcome/components/ResourceCard.tsx
  Platform.Admin/src/pages/welcome/components/StatCard.tsx
  Platform.Admin/src/pages/welcome/components/WelcomeHeader.tsx
Due: prettier --write, eslint --fix

fix: 添加缺失的 i18n 翻译键
  Platform.Admin/src/locales/zh-CN/pages.ts
Due: prettier --write, eslint --fix

feat: 成员管理页面增加已加入/申请加入两个Tab视图
  Platform.Admin/src/pages/user-management/index.tsx
Due: prettier --write, eslint --fix

feat: GetUsersWithPaginationAsync 方法过滤当前企业的成员
  Platform.ApiService/Services/UserService.cs
Due: none

fix: 修复编译错误 - 添加缺失的 using 语句
  Platform.ApiService/Controllers/ChatMessagesController.cs
  Platform.ApiService/Controllers/UserController.cs
  Platform.ApiService/Services/CompanyService.cs
  Platform.ApiService/Services/JoinRequestService.cs
  Platform.ApiService/Services/SocialService.cs
  Platform.ApiService/Services/UserCompanyService.cs
  Platform.ApiService/Services/UserService.cs
Due: none

fix: 修复申请加入列表无法刷新问题
  Platform.Admin/src/pages/user-management/index.tsx
Due: prettier --write, eslint --fix

fix: 申请加入列表改为从API实时加载数据
  Platform.Admin/src/pages/user-management/index.tsx
Due: prettier --write, eslint --fix

refactor: 按开发文档重写成员管理页面
  Platform.Admin/src/pages/user-management/index.tsx
Due: prettier --write, eslint --fix

feat: 添加申请加入审核Tab切换功能
  Platform.Admin/src/pages/user-management/index.tsx
Due: prettier --write, eslint --fix

fix: 修复申请加入Tab无限请求问题
  Platform.Admin/src/pages/user-management/index.tsx
Due: prettier --write, eslint --fix

fix: 优化申请加入Tab数据加载逻辑
  Platform.Admin/src/pages/user-management/index.tsx
Due: prettier --write, eslint --fix

feat: 移除添加成员功能，用户需申请加入后审批
  Platform.Admin/src/pages/user-management/index.tsx
Due: prettier --write, eslint --fix

feat: 审批通过/拒绝后通知申请人
  Platform.Admin/src/pages/user-management/index.tsx
  Platform.ApiService/Services/JoinRequestService.cs
Due: prettier --write, eslint --fix

feat: 添加加入申请列表分页API支持
  Platform.ApiService/Controllers/CompanyController.cs
  Platform.ApiService/Controllers/JoinRequestController.cs
  Platform.ApiService/Services/IJoinRequestService.cs
  Platform.ApiService/Services/JoinRequestService.cs
  Platform.ApiService/Services/UserCompanyService.cs
Due: none

refactor: 重写分页代码为ToPagedList标准实现
  Platform.ApiService/Services/JoinRequestService.cs
  Platform.ApiService/Services/UserCompanyService.cs
Due: none

docs: 更新AGENTS.md分页查询标准服务模板
  AGENTS.md
Due: prettier --write
