Repository wjw1-Evan/aspire-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

docs: Update README.
  README.md
Due: prettier --write

docs: Add project rules markdown file.
  .agent/rules/project-rules.md
Due: prettier --write

feat: Implement park visit management feature including tasks, assessments, and knowledge base.
  .agent/rules/project-rules.md
  Platform.Admin/config/routes.ts
  Platform.Admin/src/locales/zh-CN/menu.ts
  Platform.Admin/src/pages/park-management/visit-assessment/index.less
  Platform.Admin/src/pages/park-management/visit-assessment/index.tsx
  Platform.Admin/src/pages/park-management/visit-knowledge-base/index.less
  Platform.Admin/src/pages/park-management/visit-knowledge-base/index.tsx
  Platform.Admin/src/pages/park-management/visit-task/index.less
  Platform.Admin/src/pages/park-management/visit-task/index.tsx
  Platform.Admin/src/services/visit/index.ts
  Platform.Admin/src/utils/iconMap.tsx
  Platform.ApiService/Controllers/ParkVisitController.cs
  Platform.ApiService/Models/ParkManagementModels.cs
  Platform.ApiService/Services/Park/IParkVisitService.cs
  Platform.ApiService/Services/Park/ParkVisitService.cs
  Platform.DataInitializer/Services/DataInitializerService.cs
Due: prettier --write, eslint --fix

feat: Enhance park visit task management by adding detailed fields for task planning and results, removing jurisdiction, and introducing new filtering options.
  Platform.Admin/config/routes.ts
  Platform.Admin/src/locales/zh-CN/menu.ts
  Platform.Admin/src/locales/zh-CN/pages.ts
  Platform.Admin/src/pages/park-management/visit-assessment/index.less
  Platform.Admin/src/pages/park-management/visit-assessment/index.tsx
  Platform.Admin/src/pages/park-management/visit-statistics/index.less
  Platform.Admin/src/pages/park-management/visit-statistics/index.tsx
  Platform.Admin/src/pages/park-management/visit-task/index.tsx
  Platform.Admin/src/services/visit/index.ts
  Platform.ApiService/Controllers/ParkVisitController.cs
  Platform.ApiService/Models/ParkManagementModels.cs
  Platform.ApiService/Services/Park/IParkVisitService.cs
  Platform.ApiService/Services/Park/ParkVisitService.cs
  Platform.DataInitializer/Services/DataInitializerService.cs
Due: prettier --write, eslint --fix

feat: Update AI report modal styling and loading message for improved user experience
  Platform.Admin/src/locales/zh-CN/pages.ts
  Platform.Admin/src/pages/park-management/visit-statistics/index.less
  Platform.Admin/src/pages/park-management/visit-statistics/index.tsx
Due: prettier --write, eslint --fix

feat: Integrate assessment score and ID into visit tasks and update visit assessment page to display task-linked assessments.
  Platform.Admin/src/locales/zh-CN/pages.ts
  Platform.Admin/src/pages/park-management/statistics/index.tsx
  Platform.Admin/src/pages/park-management/visit-assessment/index.tsx
  Platform.Admin/src/pages/park-management/visit-statistics/index.tsx
  Platform.Admin/src/pages/park-management/visit-task/index.tsx
  Platform.Admin/src/services/visit/index.ts
  Platform.ApiService/Models/ParkManagementModels.cs
  Platform.ApiService/Services/Park/ParkVisitService.cs
Due: prettier --write, eslint --fix

feat: Add period selection radio buttons for predefined date ranges and enhance custom date range handling in visit statistics.
  Platform.Admin/src/pages/park-management/visit-statistics/index.tsx
Due: prettier --write, eslint --fix

refactor: Centralize form initialization logic into `useEffect` hooks for visit assessment and task modals, and update modal/drawer unmount behavior to `destroyOnHidden`.
  Platform.Admin/src/locales/zh-CN/pages.ts
  Platform.Admin/src/pages/park-management/visit-assessment/index.tsx
  Platform.Admin/src/pages/park-management/visit-task/index.tsx
  Platform.Admin/src/pages/user-management/index.tsx
Due: prettier --write, eslint --fix

feat: Add logging to `DataInitializerService` to track initialization progress.
  Platform.DataInitializer/Services/DataInitializerService.cs
Due: none

refactor: Implement ILogger for structured logging in DataInitializerService.
  Platform.DataInitializer/Services/DataInitializerService.cs
Due: none

docs: Add XML documentation to ParkStatisticsController constructor and various ParkManagementModels, and introduce new properties to visit task models.
  Platform.ApiService/Controllers/ParkStatisticsController.cs
  Platform.ApiService/Models/ParkManagementModels.cs
  Platform.DataInitializer/Services/DataInitializerService.cs
Due: none

feat: Implement project statistics dashboard and AI report generation with corresponding frontend and backend services, models, and UI.
  Platform.Admin/config/routes.ts
  Platform.Admin/src/locales/zh-CN/menu.ts
  Platform.Admin/src/pages/project-management/statistics/index.less
  Platform.Admin/src/pages/project-management/statistics/index.tsx
  Platform.Admin/src/services/project/statistics.ts
  Platform.ApiService/Controllers/ProjectStatisticsController.cs
  Platform.ApiService/Models/ParkManagementModels.cs
  Platform.ApiService/Models/ProjectStatisticsModels.cs
  Platform.ApiService/Models/TaskModels.cs
  Platform.ApiService/Services/IProjectStatisticsService.cs
  Platform.ApiService/Services/ProjectStatisticsService.cs
  Platform.DataInitializer/Services/DataInitializerService.cs
Due: prettier --write, eslint --fix

feat: Add IoT, park management, and password book tools to McpService.
  Platform.ApiService/Services/McpService.cs
  Platform.ApiService/Services/ProjectStatisticsService.cs
  README.md
Due: prettier --write

chore: Update `@umijs/max` dependency and adjust workflow management sort order.
  Platform.Admin/package-lock.json
  Platform.Admin/package.json
  Platform.DataInitializer/Services/DataInitializerService.cs
Due: prettier --write

feat: Initialize MiniApp project with core structure and integrate the weui-wxss UI library.
  Platform.ApiService/Program.cs
  Platform.AppHost/AppHost.cs
  Platform.MiniApp/app.js
  Platform.MiniApp/app.json
  Platform.MiniApp/app.wxss
  Platform.MiniApp/assets/logo.png
  Platform.MiniApp/assets/tabbar/apps.png
  Platform.MiniApp/assets/tabbar/apps_active.png
  Platform.MiniApp/assets/tabbar/home.png
  Platform.MiniApp/assets/tabbar/home_active.png
  Platform.MiniApp/assets/tabbar/profile.png
  Platform.MiniApp/assets/tabbar/profile_active.png
  Platform.MiniApp/package-lock.json
  Platform.MiniApp/package.json
  Platform.MiniApp/pages/apps/apps.js
  Platform.MiniApp/pages/apps/apps.json
  Platform.MiniApp/pages/apps/apps.wxml
  Platform.MiniApp/pages/apps/apps.wxss
  Platform.MiniApp/pages/index/index.js
  Platform.MiniApp/pages/index/index.wxml
  Platform.MiniApp/pages/index/index.wxss
  Platform.MiniApp/pages/login/login.js
  Platform.MiniApp/pages/login/login.wxml
  Platform.MiniApp/pages/login/login.wxss
  Platform.MiniApp/pages/profile/profile.js
  Platform.MiniApp/pages/profile/profile.wxml
  Platform.MiniApp/pages/profile/profile.wxss
  Platform.MiniApp/project.config.json
  Platform.MiniApp/project.private.config.json
  Platform.MiniApp/scripts/temp_weui/package-lock.json
  Platform.MiniApp/scripts/temp_weui/package.json
  Platform.MiniApp/sitemap.json
  Platform.MiniApp/utils/auth.js
  Platform.MiniApp/utils/request.js
Due: prettier --write, eslint --fix

feat: Introduce user profile editing and password update pages, and integrate `withAuth` for page-level authentication.
  Platform.MiniApp/app.json
  Platform.MiniApp/pages/apps/apps.js
  Platform.MiniApp/pages/index/index.js
  Platform.MiniApp/pages/index/index.wxml
  Platform.MiniApp/pages/profile/edit.js
  Platform.MiniApp/pages/profile/edit.json
  Platform.MiniApp/pages/profile/edit.wxml
  Platform.MiniApp/pages/profile/edit.wxss
  Platform.MiniApp/pages/profile/password.js
  Platform.MiniApp/pages/profile/password.json
  Platform.MiniApp/pages/profile/password.wxml
  Platform.MiniApp/pages/profile/password.wxss
  Platform.MiniApp/pages/profile/profile.js
  Platform.MiniApp/pages/profile/profile.wxml
  Platform.MiniApp/utils/auth.js
Due: prettier --write, eslint --fix

feat: Implement comprehensive project and task management features including list, detail, and create functionalities.
  Platform.MiniApp/app.json
  Platform.MiniApp/pages/apps/apps.js
  Platform.MiniApp/pages/apps/apps.wxml
  Platform.MiniApp/pages/index/index.js
  Platform.MiniApp/pages/index/index.wxml
  Platform.MiniApp/pages/project/create.js
  Platform.MiniApp/pages/project/create.json
  Platform.MiniApp/pages/project/create.wxml
  Platform.MiniApp/pages/project/create.wxss
  Platform.MiniApp/pages/project/detail.js
  Platform.MiniApp/pages/project/detail.json
  Platform.MiniApp/pages/project/detail.wxml
  Platform.MiniApp/pages/project/detail.wxss
  Platform.MiniApp/pages/project/list.js
  Platform.MiniApp/pages/project/list.json
  Platform.MiniApp/pages/project/list.wxml
  Platform.MiniApp/pages/project/list.wxss
  Platform.MiniApp/pages/task/create.js
  Platform.MiniApp/pages/task/create.json
  Platform.MiniApp/pages/task/create.wxml
  Platform.MiniApp/pages/task/create.wxss
  Platform.MiniApp/pages/task/detail.js
  Platform.MiniApp/pages/task/detail.json
  Platform.MiniApp/pages/task/detail.wxml
  Platform.MiniApp/pages/task/detail.wxss
  Platform.MiniApp/pages/task/list.js
  Platform.MiniApp/pages/task/list.json
  Platform.MiniApp/pages/task/list.wxml
  Platform.MiniApp/pages/task/list.wxss
Due: prettier --write, eslint --fix

feat: implement statistics dashboard and AI report pages with navigation from apps.
  Platform.MiniApp/app.json
  Platform.MiniApp/pages/apps/apps.js
  Platform.MiniApp/pages/apps/apps.wxml
  Platform.MiniApp/pages/statistics/index.js
  Platform.MiniApp/pages/statistics/index.json
  Platform.MiniApp/pages/statistics/index.wxml
  Platform.MiniApp/pages/statistics/index.wxss
  Platform.MiniApp/pages/statistics/report.js
  Platform.MiniApp/pages/statistics/report.json
  Platform.MiniApp/pages/statistics/report.wxml
  Platform.MiniApp/pages/statistics/report.wxss
Due: prettier --write, eslint --fix

feat: Introduce dynamic dashboard statistics and update app and common function navigation.
  Platform.MiniApp/pages/apps/apps.js
  Platform.MiniApp/pages/apps/apps.wxml
  Platform.MiniApp/pages/index/index.js
  Platform.MiniApp/pages/index/index.wxml
Due: prettier --write, eslint --fix

feat: add cloud storage page for file listing and management, accessible from the apps page.
  Platform.MiniApp/app.json
  Platform.MiniApp/pages/apps/apps.js
  Platform.MiniApp/pages/apps/apps.wxml
  Platform.MiniApp/pages/cloud-storage/index.js
  Platform.MiniApp/pages/cloud-storage/index.json
  Platform.MiniApp/pages/cloud-storage/index.wxml
  Platform.MiniApp/pages/cloud-storage/index.wxss
Due: prettier --write, eslint --fix

feat: Integrate iconfont for improved UI icons and refine page styles across various pages.
  Platform.MiniApp/app.wxss
  Platform.MiniApp/pages/apps/apps.wxml
  Platform.MiniApp/pages/apps/apps.wxss
  Platform.MiniApp/pages/cloud-storage/index.js
  Platform.MiniApp/pages/cloud-storage/index.wxml
  Platform.MiniApp/pages/cloud-storage/index.wxss
  Platform.MiniApp/pages/index/index.js
  Platform.MiniApp/pages/index/index.wxml
  Platform.MiniApp/pages/index/index.wxss
  Platform.MiniApp/pages/profile/profile.json
  Platform.MiniApp/pages/profile/profile.wxml
  Platform.MiniApp/pages/profile/profile.wxss
  Platform.MiniApp/pages/project/list.wxml
  Platform.MiniApp/pages/project/list.wxss
  Platform.MiniApp/pages/task/list.wxml
  Platform.MiniApp/pages/task/list.wxss
  Platform.MiniApp/styles/iconfont.wxss
Due: prettier --write, eslint --fix

feat: Add user name and age fields to admin UI display and table, and refine user form and profile phone number handling.
  Platform.Admin/src/pages/user-management/components/UserDetail.tsx
  Platform.Admin/src/pages/user-management/components/UserForm.tsx
  Platform.Admin/src/pages/user-management/index.tsx
  Platform.MiniApp/pages/profile/edit.js
Due: prettier --write, eslint --fix

fix: correct typo in icon-profile SVG definition from 'circles' to 'circle'
  Platform.MiniApp/styles/iconfont.wxss
Due: none

feat: Implement avatar selection and upload functionality on the profile edit page.
  Platform.MiniApp/pages/profile/edit.js
  Platform.MiniApp/pages/profile/edit.wxml
  Platform.MiniApp/pages/profile/edit.wxss
Due: prettier --write, eslint --fix

feat: Implement authenticated download and display for user avatars and cloud storage files across platforms.
  Platform.Admin/src/pages/account/center/index.tsx
  Platform.Admin/src/pages/cloud-storage/recycle/index.tsx
  Platform.ApiService/Controllers/CloudStorageController.cs
  Platform.MiniApp/pages/cloud-storage/index.js
  Platform.MiniApp/pages/profile/edit.js
  Platform.MiniApp/pages/profile/edit.wxml
  Platform.MiniApp/pages/profile/profile.js
Due: prettier --write, eslint --fix

fix: Improve `URL.createObjectURL` resource cleanup by moving revocation to `useEffect`'s return function.
  Platform.Admin/src/pages/account/center/index.tsx
Due: prettier --write, eslint --fix

feat: Add current company display and company switching functionality to the profile page with updated styling.
  Platform.Admin/src/pages/account/center/index.tsx
  Platform.ApiService/Controllers/AvatarController.cs
  Platform.ApiService/Services/UserService.cs
  Platform.MiniApp/pages/profile/edit.js
  Platform.MiniApp/pages/profile/profile.js
  Platform.MiniApp/pages/profile/profile.wxml
  Platform.MiniApp/pages/profile/profile.wxss
  Platform.MiniApp/styles/iconfont.wxss
Due: prettier --write, eslint --fix

refactor: Enhance avatar state management by clearing last uploaded avatar and refining preview source handling.
  Platform.Admin/src/pages/account/center/index.tsx
Due: prettier --write, eslint --fix

feat: Add script to find missing locale keys, update various localization files, and correct CSS alignment property.
  Platform.Admin/src/locales/en-US/menu.ts
  Platform.Admin/src/locales/en-US/pages.ts
  Platform.Admin/src/locales/ja-JP/menu.ts
  Platform.Admin/src/locales/ja-JP/pages.ts
  Platform.Admin/src/locales/ko-KR/component.ts
  Platform.Admin/src/locales/ko-KR/globalHeader.ts
  Platform.Admin/src/locales/ko-KR/menu.ts
  Platform.Admin/src/locales/ko-KR/pages.ts
  Platform.Admin/src/locales/ko-KR/pwa.ts
  Platform.Admin/src/locales/ko-KR/settingDrawer.ts
  Platform.Admin/src/locales/ko-KR/settings.ts
  Platform.Admin/src/locales/vi-VN/menu.ts
  Platform.Admin/src/locales/vi-VN/pages.ts
  Platform.Admin/src/locales/zh-TW/menu.ts
  Platform.Admin/src/locales/zh-TW/pages.ts
  Platform.Admin/src/pages/user/change-password/index.tsx
  Platform.MiniApp/pages/project/detail.wxss
  Platform.MiniApp/pages/task/detail.wxss
  Platform.MiniApp/pages/task/list.wxss
  all_missing_locales.json
  find_missing_remaining.js
Due: prettier --write, eslint --fix

docs: update README.md
  README.md
Due: prettier --write

refactor: replace direct GridFS interaction and `IGridFSService` with `IFileStorageFactory` abstraction and `GridFSFileStorage` implementation.
  Platform.ApiService/Program.cs
  Platform.ApiService/Services/ChatService.cs
  Platform.ApiService/Services/CloudStorageService.cs
  Platform.ApiService/Services/DocumentService.cs
  Platform.ApiService/Services/FilePreviewService.cs
  Platform.ApiService/Services/FileVersionService.cs
  Platform.ServiceDefaults/Services/GridFSFileStorage.cs
  Platform.ServiceDefaults/Services/IFileStorageFactory.cs
  Platform.ServiceDefaults/Services/IGridFSService.cs
Due: none

refactor: Update Aspire package versions, enhance XML documentation, and refactor cloud storage file deletion logic.
  Platform.ApiService/BackgroundServices/UserActivityLogBackgroundWorker.cs
  Platform.ApiService/Controllers/ChatHistoryController.cs
  Platform.ApiService/Controllers/FormController.cs
  Platform.ApiService/Controllers/WorkflowController.cs
  Platform.ApiService/Services/AiSuggestionService.cs
  Platform.ApiService/Services/CaptchaService.cs
  Platform.ApiService/Services/CloudStorageService.cs
  Platform.ApiService/Services/DocumentService.cs
  Platform.ApiService/Services/ICloudStorageService.cs
  Platform.ApiService/Services/Park/ParkAssetService.cs
  Platform.ApiService/Services/Park/ParkEnterpriseServiceService.cs
  Platform.ApiService/Services/Park/ParkTenantService.cs
  Platform.ApiService/Services/RuleService.cs
  Platform.ApiService/Services/UserCompanyService.cs
  Platform.App/package-lock.json
  Platform.AppHost/Platform.AppHost.csproj
  Platform.ServiceDefaults/Models/BaseEntity.cs
  Platform.ServiceDefaults/Models/MenuModels.cs
  Platform.ServiceDefaults/Models/OperationTracking.cs
  Platform.ServiceDefaults/Platform.ServiceDefaults.csproj
Due: prettier --write

feat: Remove Redis integration, refactor SSE connection manager for single-instance operation, and add `[NotMapped]` attributes to workflow model properties.
  Platform.ApiService/Models/AuthModels.cs
  Platform.ApiService/Models/CloudStorageModels.cs
  Platform.ApiService/Models/FormModels.cs
  Platform.ApiService/Models/IoTModels.cs
  Platform.ApiService/Models/WorkflowModels.cs
  Platform.ApiService/Program.cs
  Platform.ApiService/Services/ChatSseConnectionManager.cs
  Platform.AppHost/AppHost.cs
  Platform.AppHost/Platform.AppHost.csproj
  Platform.AppHost/Properties/launchSettings.json
  Platform.DataInitializer/Program.cs
  Platform.ServiceDefaults/Extensions/ServiceExtensions.cs
  Platform.ServiceDefaults/Models/MenuModels.cs
  Platform.ServiceDefaults/Platform.ServiceDefaults.csproj
Due: prettier --write

refactor: Migrate models to inherit from `MultiTenantEntity` base class.
  Platform.ApiService/Models/RoleModels.cs
  Platform.ApiService/Models/TaskModels.cs
  Platform.ApiService/Models/User.cs
  Platform.ApiService/Models/WorkflowModels.cs
Due: none

refactor: Simplify entity interface declarations by moving them to base classes and introduce utility for standardized collection and BSON element naming.
  Platform.ApiService/Models/AuthModels.cs
  Platform.ApiService/Models/CaptchaImageModels.cs
  Platform.ApiService/Models/CaptchaModels.cs
  Platform.ApiService/Models/ChatModels.cs
  Platform.ApiService/Models/CloudStorageModels.cs
  Platform.ApiService/Models/CompanyModels.cs
  Platform.ApiService/Models/FriendModels.cs
  Platform.ApiService/Models/IoTModels.cs
  Platform.ApiService/Models/LoginFailureRecordModels.cs
  Platform.ApiService/Models/OrganizationModels.cs
  Platform.ApiService/Models/ParkManagementModels.cs
  Platform.ApiService/Models/PasswordBookModels.cs
  Platform.ApiService/Models/ProjectModels.cs
  Platform.ApiService/Models/RoleModels.cs
  Platform.ApiService/Models/SocialModels.cs
  Platform.ApiService/Models/UserCompanyModels.cs
  Platform.ApiService/Models/UserOrganizationModels.cs
  Platform.ApiService/Models/XiaokeConfigModels.cs
  Platform.ServiceDefaults/Models/BaseEntity.cs
  Platform.ServiceDefaults/Models/EntityAttributes.cs
  Platform.ServiceDefaults/Models/MenuModels.cs
Due: none

Refactor: update authentication data models.
  Platform.ApiService/Models/AuthModels.cs
Due: none

feat(models): Enhance project and role models with data annotations for validation and database mapping
  Platform.ApiService/Controllers/AvatarController.cs
  Platform.ApiService/Extensions/MongoFilterExtensions.cs
  Platform.ApiService/Models/ChatModels.cs
  Platform.ApiService/Models/CloudStorageModels.cs
  Platform.ApiService/Models/IoTModels.cs
  Platform.ApiService/Models/ParkManagementModels.cs
  Platform.ApiService/Models/ProjectModels.cs
  Platform.ApiService/Models/RoleModels.cs
  Platform.ApiService/Services/CloudStorageService.cs
  Platform.ApiService/Services/StorageQuotaService.cs
  Platform.App/package-lock.json
  Platform.ServiceDefaults/Models/BaseEntity.cs
  Platform.ServiceDefaults/Models/MenuModels.cs
  Platform.ServiceDefaults/Services/GridFSFileStorage.cs
  Platform.ServiceDefaults/Services/IFileStorageFactory.cs
Due: prettier --write

feat: 添加中文注释以增强代码可读性和维护性
  Platform.ApiService/Services/ApproverResolvers.cs
  Platform.ApiService/Services/AuthService.cs
  Platform.ApiService/Services/BulkOperationService.cs
  Platform.ApiService/Services/StorageQuotaService.cs
  Platform.ApiService/Services/TaskService.cs
Due: none

refactor: 优化表达式过滤器，增强代码可读性和安全性
  Platform.ApiService/Services/ApproverResolvers.cs
  Platform.ApiService/Services/BulkOperationService.cs
  Platform.ServiceDefaults/Services/GridFSFileStorage.cs
  Platform.ServiceDefaults/Services/IFileStorageFactory.cs
Due: none

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json,css,less,md}
  eslint --fix: any of: **/*.{ts,tsx,js,jsx}
