Repository wjw1-Evan/aspire-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx,json,css,less,md}": [
    "prettier --write",
    "git add"
  ],
  "**/*.{ts,tsx,js,jsx}": [
    "eslint --fix",
    "git add"
  ]
}

Improve entity deletion checks from `== false` to `!= true`, correct the 'companys' collection name to 'companies' in index creation, and add memory caching.
  Platform.Admin/src/locales/en-US/pages.ts
  Platform.Admin/src/locales/zh-CN/pages.ts
  Platform.Admin/src/pages/user/register/index.tsx
  Platform.ApiService/Controllers/CompanyController.cs
  Platform.ApiService/Models/AuthModels.cs
  Platform.ApiService/Services/AuthService.cs
  Platform.ApiService/Services/BulkOperationService.cs
  Platform.ApiService/Services/CloudStorageService.cs
  Platform.ApiService/Services/CompanyService.cs
  Platform.ApiService/Services/IoTGatewayStatusChecker.cs
  Platform.ApiService/Services/IoTService.cs
  Platform.ApiService/Services/MenuService.cs
  Platform.ApiService/Services/SocialService.cs
  Platform.ApiService/Services/UserCompanyService.cs
  Platform.ApiService/Services/UserService.cs
  Platform.ApiService/Services/WorkflowAnalyticsService.cs
  Platform.ApiService/Services/WorkflowExportImportService.cs
  Platform.DataInitializer/Scripts/CreateAllIndexes.cs
  Platform.ServiceDefaults/Extensions.cs
  Platform.ServiceDefaults/Services/AuditService.cs
  Platform.ServiceDefaults/Services/EFCoreDataFactory.cs
  Platform.ServiceDefaults/Services/IDataFactory.cs
  Platform.ServiceDefaults/Services/ITenantContext.cs
  Platform.ServiceDefaults/Services/PlatformDbContext.cs
Due: prettier --write, eslint --fix

feat: Introduce global JWT authentication middleware with `SkipGlobalAuthenticationAttribute` and dedicated options for unified API security.
  Platform.Admin/docs/VisitDateUI Testing.md
  Platform.Admin/docs/VisitDateUIUpdate.md
  Platform.Admin/src/pages/park-management/visit-task/index.tsx
  Platform.ApiService/Attributes/SkipGlobalAuthenticationAttribute.cs
  Platform.ApiService/Controllers/AuthController.cs
  Platform.ApiService/Controllers/PublicController.cs
  Platform.ApiService/Extensions/GlobalAuthenticationMiddlewareExtensions.cs
  Platform.ApiService/Middleware/GlobalAuthenticationMiddleware.cs
  Platform.ApiService/Models/ParkManagementModels.cs
  Platform.ApiService/Options/GlobalAuthenticationOptions.cs
  Platform.ApiService/Program.cs
  Platform.ApiService/Scripts/test-authentication.sh
  Platform.ApiService/Services/Park/ParkVisitService.cs
  Platform.ApiService/appsettings.GlobalAuthentication.json
  Platform.ApiService/docs/AuthenticationTesting.md
  Platform.ApiService/docs/GlobalAuthentication.md
  Platform.ApiService/docs/VisitDateRequiredField.md
  Platform.ApiService/docs/VisitDateTestingGuide.md
  Platform.ApiService/docs/VisitStatisticsAnalysis.md
Due: prettier --write, eslint --fix

refactor: Remove `Authorize` attributes from multiple controllers and methods, adding documentation for the change.
  Platform.ApiService/Controllers/AuthController.cs
  Platform.ApiService/Controllers/AvatarController.cs
  Platform.ApiService/Controllers/ChatAiController.cs
  Platform.ApiService/Controllers/ChatHistoryController.cs
  Platform.ApiService/Controllers/ChatMessagesController.cs
  Platform.ApiService/Controllers/ChatSessionsController.cs
  Platform.ApiService/Controllers/CompanyController.cs
  Platform.ApiService/Controllers/DocumentController.cs
  Platform.ApiService/Controllers/FormController.cs
  Platform.ApiService/Controllers/FriendsController.cs
  Platform.ApiService/Controllers/IoTController.cs
  Platform.ApiService/Controllers/JoinRequestController.cs
  Platform.ApiService/Controllers/MaintenanceController.cs
  Platform.ApiService/Controllers/McpController.cs
  Platform.ApiService/Controllers/MenuController.cs
  Platform.ApiService/Controllers/NoticeController.cs
  Platform.ApiService/Controllers/OrganizationController.cs
  Platform.ApiService/Controllers/ParkAssetController.cs
  Platform.ApiService/Controllers/ParkEnterpriseServiceController.cs
  Platform.ApiService/Controllers/ParkInvestmentController.cs
  Platform.ApiService/Controllers/ParkStatisticsController.cs
  Platform.ApiService/Controllers/ParkTenantController.cs
  Platform.ApiService/Controllers/ParkVisitController.cs
  Platform.ApiService/Controllers/PasswordBookController.cs
  Platform.ApiService/Controllers/ProjectController.cs
  Platform.ApiService/Controllers/ProjectStatisticsController.cs
  Platform.ApiService/Controllers/PublicController.cs
  Platform.ApiService/Controllers/RoleController.cs
  Platform.ApiService/Controllers/RuleController.cs
  Platform.ApiService/Controllers/SocialController.cs
  Platform.ApiService/Controllers/SystemMonitorController.cs
  Platform.ApiService/Controllers/TaskController.cs
  Platform.ApiService/Controllers/UnifiedNotificationController.cs
  Platform.ApiService/Controllers/UserController.cs
  Platform.ApiService/Controllers/WorkflowController.cs
  Platform.ApiService/Controllers/XiaokeConfigController.cs
Due: none

Remove maintenance scripts, the MaintenanceController, and related authentication test script, with associated cleanup in McpController.
  Platform.ApiService/Controllers/MaintenanceController.cs
  Platform.ApiService/Controllers/McpController.cs
  Platform.ApiService/Scripts/ChatIndexes.cs
  Platform.ApiService/Scripts/FixMissingUserCompanyRecords.cs
  Platform.ApiService/Scripts/test-authentication.sh
Due: none

refactor: Update Aspire endpoint configurations to use localhost, include MCP endpoint, and remove unused memory cache and development console logging.
  Platform.AppHost/Properties/launchSettings.json
  Platform.ServiceDefaults/Extensions.cs
Due: prettier --write

refactor: Remove EntityAttributes and EFCorePerformanceMonitor classes, and add XML documentation to GlobalAuthenticationMiddleware.
  Platform.ApiService/Middleware/GlobalAuthenticationMiddleware.cs
  Platform.ServiceDefaults/Models/EntityAttributes.cs
  Platform.ServiceDefaults/Services/EFCorePerformanceMonitor.cs
Due: none

feat: Allow endpoints to bypass global authentication by respecting `[AllowAnonymous]` and add `[SkipGlobalAuthentication]` to the avatar view.
  Platform.ApiService/Controllers/AvatarController.cs
  Platform.ApiService/Middleware/GlobalAuthenticationMiddleware.cs
  Platform.ApiService/Middleware/ResponseFormattingMiddleware.cs
  Platform.ApiService/Options/GlobalAuthenticationOptions.cs
Due: none

fix: Globally apply sensitive data filtering to all API responses in ActivityLogMiddleware.
  Platform.ApiService/Controllers/UserController.cs
  Platform.ApiService/Middleware/ActivityLogMiddleware.cs
Due: none

feat: Implement RSA password encryption for user login and password changes, including frontend encryption and backend decryption services.
  Platform.Admin/package-lock.json
  Platform.Admin/package.json
  Platform.Admin/src/pages/user/change-password/index.tsx
  Platform.Admin/src/pages/user/login/index.tsx
  Platform.Admin/src/pages/user/register/index.tsx
  Platform.Admin/src/services/ant-design-pro/api.ts
  Platform.Admin/src/utils/encryption.ts
  Platform.ApiService/Controllers/AuthController.cs
  Platform.ApiService/Controllers/AvatarController.cs
  Platform.ApiService/Controllers/ChatHistoryController.cs
  Platform.ApiService/Controllers/ChatSseController.cs
  Platform.ApiService/Controllers/JoinRequestController.cs
  Platform.ApiService/Controllers/NoticeController.cs
  Platform.ApiService/Controllers/ParkAssetController.cs
  Platform.ApiService/Controllers/ParkEnterpriseServiceController.cs
  Platform.ApiService/Controllers/ParkInvestmentController.cs
  Platform.ApiService/Controllers/ParkStatisticsController.cs
  Platform.ApiService/Controllers/ParkTenantController.cs
  Platform.ApiService/Controllers/PublicController.cs
  Platform.ApiService/Controllers/QuotaController.cs
  Platform.ApiService/Controllers/RuleController.cs
  Platform.ApiService/Controllers/UnifiedNotificationController.cs
  Platform.ApiService/Controllers/UserController.cs
  Platform.ApiService/Filters/ApiResponseWrapperFilter.cs
  Platform.ApiService/Models/AuthModels.cs
  Platform.ApiService/Program.cs
  Platform.ApiService/Services/AuthService.cs
  Platform.ApiService/Services/IPasswordEncryptionService.cs
  Platform.ApiService/Services/PasswordEncryptionService.cs
  Platform.ApiService/Services/UserService.cs
  Platform.ServiceDefaults/Controllers/BaseApiController.cs
  Platform.ServiceDefaults/Models/ApiResponse.cs
Due: prettier --write, eslint --fix

refactor: update common API controller logic in BaseApiController.
  Platform.ServiceDefaults/Controllers/BaseApiController.cs
Due: none

feat: Introduce a unified statistics period selector component and refactor backend services to use explicit date ranges.
  Platform.Admin/src/components/StatisticsPeriodSelector/index.tsx
  Platform.Admin/src/locales/en-US/pages.ts
  Platform.Admin/src/locales/zh-CN/pages.ts
  Platform.Admin/src/pages/park-management/statistics/index.tsx
  Platform.Admin/src/pages/park-management/visit-statistics/index.tsx
  Platform.Admin/src/pages/project-management/statistics/index.tsx
  Platform.Admin/src/services/park/index.ts
  Platform.Admin/src/services/project/statistics.ts
  Platform.Admin/src/services/visit/index.ts
  Platform.ApiService/Controllers/ParkAssetController.cs
  Platform.ApiService/Controllers/ParkEnterpriseServiceController.cs
  Platform.ApiService/Controllers/ParkInvestmentController.cs
  Platform.ApiService/Controllers/ParkStatisticsController.cs
  Platform.ApiService/Controllers/ParkTenantController.cs
  Platform.ApiService/Controllers/ParkVisitController.cs
  Platform.ApiService/Controllers/ProjectStatisticsController.cs
  Platform.ApiService/Services/IProjectStatisticsService.cs
  Platform.ApiService/Services/Park/IParkManagementServices.cs
  Platform.ApiService/Services/Park/IParkVisitService.cs
  Platform.ApiService/Services/Park/ParkAssetService.cs
  Platform.ApiService/Services/Park/ParkStatisticsService.cs
  Platform.ApiService/Services/Park/ParkVisitService.cs
  Platform.ApiService/Services/ProjectStatisticsService.cs
Due: prettier --write, eslint --fix

refactor: Simplify statistics date range parameters, update UI component styling and prop handling, and add null-forgiving operator in authentication middleware.
  Platform.Admin/src/components/PageContainer/index.tsx
  Platform.Admin/src/pages/project-management/statistics/index.tsx
  Platform.ApiService/Controllers/AuthController.cs
  Platform.ApiService/Middleware/GlobalAuthenticationMiddleware.cs
  Platform.ApiService/Services/Park/ParkEnterpriseServiceService.cs
  Platform.ApiService/Services/Park/ParkInvestmentService.cs
  Platform.ApiService/Services/Park/ParkTenantService.cs
Due: prettier --write, eslint --fix

feat: Introduce investment leads management and enhance authentication with RSA encryption, token handling, and captcha support.
  Platform.ApiService/Services/PasswordEncryptionService.cs
  Platform.MiniApp/app.js
  Platform.MiniApp/app.json
  Platform.MiniApp/pages/apps/apps.js
  Platform.MiniApp/pages/apps/apps.wxml
  Platform.MiniApp/pages/login/login.js
  Platform.MiniApp/pages/login/login.wxml
  Platform.MiniApp/pages/login/login.wxss
  Platform.MiniApp/pages/park/investment/lead-detail.js
  Platform.MiniApp/pages/park/investment/lead-detail.json
  Platform.MiniApp/pages/park/investment/lead-detail.wxml
  Platform.MiniApp/pages/park/investment/lead-detail.wxss
  Platform.MiniApp/pages/park/investment/leads.js
  Platform.MiniApp/pages/park/investment/leads.json
  Platform.MiniApp/pages/park/investment/leads.wxml
  Platform.MiniApp/pages/park/investment/leads.wxss
  Platform.MiniApp/pages/statistics/report.js
  Platform.MiniApp/styles/iconfont.wxss
  Platform.MiniApp/utils/auth.js
  Platform.MiniApp/utils/request.js
  Platform.MiniApp/utils/rsa.js
  Platform.MiniApp/utils/token.js
  Platform.MiniApp/utils/wx_rsa.js
Due: prettier --write, eslint --fix

feat: Add general settings page with internationalization support and integrate into profile.
  Platform.MiniApp/app.json
  Platform.MiniApp/pages/profile/profile.js
  Platform.MiniApp/pages/profile/profile.wxml
  Platform.MiniApp/pages/profile/settings.js
  Platform.MiniApp/pages/profile/settings.json
  Platform.MiniApp/pages/profile/settings.wxml
  Platform.MiniApp/pages/profile/settings.wxss
  Platform.MiniApp/utils/i18n.js
Due: prettier --write, eslint --fix

feat: Implement comprehensive internationalization support by expanding translation keys and integrating the i18n utility into multiple pages.
  Platform.MiniApp/app.js
  Platform.MiniApp/pages/apps/apps.js
  Platform.MiniApp/pages/apps/apps.wxml
  Platform.MiniApp/pages/cloud-storage/index.js
  Platform.MiniApp/pages/index/index.js
  Platform.MiniApp/pages/index/index.wxml
  Platform.MiniApp/pages/login/login.js
  Platform.MiniApp/pages/login/login.wxml
  Platform.MiniApp/pages/park/investment/leads.js
  Platform.MiniApp/pages/profile/profile.js
  Platform.MiniApp/pages/profile/profile.wxml
  Platform.MiniApp/pages/profile/settings.js
  Platform.MiniApp/pages/profile/settings.wxml
  Platform.MiniApp/pages/project/create.js
  Platform.MiniApp/pages/project/list.js
  Platform.MiniApp/pages/statistics/index.js
  Platform.MiniApp/pages/task/create.js
  Platform.MiniApp/pages/task/list.js
  Platform.MiniApp/utils/i18n.js
Due: prettier --write, eslint --fix

feat: Update application title to '通用数据平台' in the navigation bar and login screen.
  Platform.MiniApp/app.json
  Platform.MiniApp/pages/login/login.wxml
Due: prettier --write

config: Update miniapp project settings and library version.
  Platform.MiniApp/project.config.json
  Platform.MiniApp/project.private.config.json
Due: prettier --write

feat: derive visit task ID from `this.data.task.id` or `this.data.id` for navigation and deletion actions.
  Platform.MiniApp/pages/park/visit/detail.js
Due: prettier --write, eslint --fix

refactor: Standardize UI components and styles for search, lists, and cards across multiple pages.
  Platform.MiniApp/app.wxss
  Platform.MiniApp/pages/park/asset/list.wxml
  Platform.MiniApp/pages/park/asset/list.wxss
  Platform.MiniApp/pages/park/contract/list.wxml
  Platform.MiniApp/pages/park/contract/list.wxss
  Platform.MiniApp/pages/park/visit/task-list.wxml
  Platform.MiniApp/pages/park/visit/task-list.wxss
  Platform.MiniApp/pages/project/list.wxml
  Platform.MiniApp/pages/project/list.wxss
Due: none

deps: Update `Scalar.Aspire` and `System.IdentityModel.Tokens.Jwt` package versions.
  Platform.AppHost/Platform.AppHost.csproj
  Platform.ServiceDefaults/Platform.ServiceDefaults.csproj
Due: none

feat: Introduce common business styles and UI components, and update various MiniApp pages to utilize them.
  Platform.MiniApp/README.md
  Platform.MiniApp/app.wxss
  Platform.MiniApp/pages/apps/apps.js
  Platform.MiniApp/pages/apps/apps.wxml
  Platform.MiniApp/pages/cloud-storage/index.js
  Platform.MiniApp/pages/cloud-storage/index.wxml
  Platform.MiniApp/pages/cloud-storage/index.wxss
  Platform.MiniApp/pages/park/asset/list.wxss
  Platform.MiniApp/pages/park/contract/list.wxss
  Platform.MiniApp/pages/park/enterprise-service/list.wxss
  Platform.MiniApp/pages/park/investment/leads.js
  Platform.MiniApp/pages/park/investment/leads.wxml
  Platform.MiniApp/pages/park/investment/leads.wxss
  Platform.MiniApp/pages/park/statistics/index.wxss
  Platform.MiniApp/pages/park/tenant/list.wxss
  Platform.MiniApp/pages/park/visit/assessment/list.js
  Platform.MiniApp/pages/park/visit/assessment/list.wxml
  Platform.MiniApp/pages/park/visit/assessment/list.wxss
  Platform.MiniApp/pages/park/visit/knowledge/list.js
  Platform.MiniApp/pages/park/visit/knowledge/list.wxml
  Platform.MiniApp/pages/park/visit/knowledge/list.wxss
  Platform.MiniApp/pages/park/visit/statistics/index.wxss
  Platform.MiniApp/pages/park/visit/task-list.wxss
  Platform.MiniApp/pages/password-book/list.wxss
  Platform.MiniApp/pages/project/list.wxss
  Platform.MiniApp/pages/statistics/index.wxss
  Platform.MiniApp/pages/task/list.wxss
  Platform.MiniApp/styles/business.wxss
Due: prettier --write, eslint --fix

docs: update Platform.MiniApp README.md
  Platform.MiniApp/README.md
Due: prettier --write

feat: implement a notification center page and integrate recent notifications on the index page.
  Platform.MiniApp/app.json
  Platform.MiniApp/pages/index/index.js
  Platform.MiniApp/pages/index/index.wxml
  Platform.MiniApp/pages/index/index.wxss
  Platform.MiniApp/pages/notification/list.js
  Platform.MiniApp/pages/notification/list.json
  Platform.MiniApp/pages/notification/list.wxml
  Platform.MiniApp/pages/notification/list.wxss
  Platform.MiniApp/utils/i18n.js
Due: prettier --write, eslint --fix

refactor: Standardize i18n translation loading and update task list UI to use new component styles.
  Platform.MiniApp/pages/cloud-storage/index.js
  Platform.MiniApp/pages/project/list.js
  Platform.MiniApp/pages/task/list.js
  Platform.MiniApp/pages/task/list.wxml
  Platform.MiniApp/pages/task/list.wxss
Due: prettier --write, eslint --fix

feat: enable autoAudits and configure lazy code loading
  Platform.MiniApp/app.json
  Platform.MiniApp/project.private.config.json
Due: prettier --write

refactor: Standardize MiniApp font sizing by removing explicit declarations and update admin dependencies.
  Platform.Admin/package-lock.json
  Platform.Admin/package.json
  Platform.MiniApp/app.wxss
  Platform.MiniApp/pages/apps/apps.wxss
  Platform.MiniApp/pages/index/index.wxss
  Platform.MiniApp/pages/notification/list.wxss
  Platform.MiniApp/styles/business.wxss
  Platform.MiniApp/styles/details.wxss
  Platform.MiniApp/styles/forms.wxss
Due: prettier --write

feat: Implement knowledge base question and questionnaire management features in MiniApp and API.
  Platform.Admin/src/pages/park-management/visit-knowledge-base/index.tsx
  Platform.Admin/src/services/visit/index.ts
  Platform.ApiService/Controllers/ParkVisitController.cs
  Platform.ApiService/Models/ParkManagementModels.cs
  Platform.ApiService/Services/Park/IParkVisitService.cs
  Platform.ApiService/Services/Park/ParkVisitService.cs
  Platform.MiniApp/app.json
  Platform.MiniApp/pages/park/visit/knowledge/detail.js
  Platform.MiniApp/pages/park/visit/knowledge/detail.json
  Platform.MiniApp/pages/park/visit/knowledge/detail.wxml
  Platform.MiniApp/pages/park/visit/knowledge/detail.wxss
  Platform.MiniApp/pages/park/visit/knowledge/form.js
  Platform.MiniApp/pages/park/visit/knowledge/form.json
  Platform.MiniApp/pages/park/visit/knowledge/form.wxml
  Platform.MiniApp/pages/park/visit/knowledge/form.wxss
  Platform.MiniApp/pages/park/visit/knowledge/list.js
  Platform.MiniApp/pages/park/visit/knowledge/list.wxml
  Platform.MiniApp/pages/park/visit/knowledge/questionnaire-form.js
  Platform.MiniApp/pages/park/visit/knowledge/questionnaire-form.json
  Platform.MiniApp/pages/park/visit/knowledge/questionnaire-form.wxml
  Platform.MiniApp/pages/park/visit/knowledge/questionnaire-form.wxss
  Platform.MiniApp/utils/i18n.js
Due: prettier --write, eslint --fix

feat: Adjust assessment score slider range to 1-5, refactor visit and assessment form data loading, and enhance assessment submission payload.
  Platform.MiniApp/pages/park/visit/assessment/form.js
  Platform.MiniApp/pages/park/visit/assessment/form.wxml
  Platform.MiniApp/pages/park/visit/form.js
Due: prettier --write, eslint --fix

feat: Add workflow export and import endpoints to WorkflowController.
  Platform.ApiService/Controllers/WorkflowController.cs
Due: none

docs: Add documentation for the `IsFrequentlyUsed` property in `ParkManagementModels`.
  Platform.ApiService/Models/ParkManagementModels.cs
Due: none

refactor: Standardize API controller implementations and update the BaseApiController.
  Platform.ApiService/Controllers/CloudStorageController.cs
  Platform.ApiService/Controllers/FileShareController.cs
  Platform.ApiService/Controllers/FileVersionController.cs
  Platform.ApiService/Controllers/StorageQuotaController.cs
  Platform.ServiceDefaults/Controllers/BaseApiController.cs
Due: none

refactor: centralize audit field and multi-tenant CompanyId setting to PlatformDbContext.SaveChangesAsync, removing explicit handling from EFCoreDataFactory.
  Platform.ServiceDefaults/Services/EFCoreDataFactory.cs
  Platform.ServiceDefaults/Services/PlatformDbContext.cs
Due: none

refactor: streamline EFCoreDataFactory by extracting query building and audit field setting logic, simplifying existing methods, and adding a `CountAsync` method.
  Platform.ServiceDefaults/Services/EFCoreDataFactory.cs
Due: none

feat: Add MongoDB health check and refactor EFCoreDataFactory to use a primary constructor.
  Platform.ApiService/Program.cs
  Platform.ServiceDefaults/Extensions.cs
  Platform.ServiceDefaults/Extensions/ServiceExtensions.cs
  Platform.ServiceDefaults/Services/EFCoreDataFactory.cs
Due: none

refactor: Streamline `ITenantContext` to provide only user and company IDs, removing detailed user information methods and implementing scoped caching for the company ID.
  Platform.ServiceDefaults/Services/ITenantContext.cs
Due: none

feat: Implement or adjust quota management logic within the QuotaController.
  Platform.ApiService/Controllers/QuotaController.cs
Due: none

feat: Implement folder download as zip, file/folder copy, enhance storage quota with company names, and add AI role definition management.
  Platform.ApiService/Models/AuthModels.cs
  Platform.ApiService/Services/CloudStorageService.cs
  Platform.ApiService/Services/StorageQuotaService.cs
  Platform.ApiService/Services/UserService.cs
Due: none
