Repository wjw1-Evan/aspire-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx,json,css,less,md}": [
    "prettier --write",
    "git add"
  ],
  "**/*.{ts,tsx,js,jsx}": [
    "eslint --fix",
    "git add"
  ]
}

feat: Introduce Speech-to-Text, Text-to-Speech, Email, and Vision workflow executors, enhance workflow engine result handling, and refine data binding in workflow controllers.
  Platform.Admin/src/pages/document/create.tsx
  Platform.Admin/src/pages/iot-platform/components/GatewayManagement.tsx
  Platform.Admin/src/pages/workflow/components/WorkflowDesigner.tsx
  Platform.Admin/src/pages/workflow/components/WorkflowDesignerConstants.tsx
  Platform.Admin/src/pages/workflow/components/WorkflowImportModal.tsx
  Platform.Admin/src/services/cloud-storage/recycleApi.ts
  Platform.Admin/src/services/cloud-storage/shareApi.ts
  Platform.Admin/src/services/cloud-storage/versionApi.ts
  Platform.Admin/src/services/iotService.ts
  Platform.Admin/src/services/task/api.ts
  Platform.Admin/src/services/user/api.ts
  Platform.Admin/src/services/workflow/api.ts
  Platform.ApiService/Controllers/WorkflowController.cs
  Platform.ApiService/Models/Workflow/WorkflowDefinition.cs
  Platform.ApiService/Services/WorkflowEngine.NodeHandlers.cs
  Platform.ApiService/Services/WorkflowEngine.cs
  Platform.ApiService/Workflows/Executors/EmailExecutor.cs
  Platform.ApiService/Workflows/Executors/SpeechToTextExecutor.cs
  Platform.ApiService/Workflows/Executors/TextToSpeechExecutor.cs
  Platform.ApiService/Workflows/Executors/VisionExecutor.cs
  test-suites-all.js
Due: prettier --write, eslint --fix

feat: Enhance workflow executors with variable resolution, add speech-to-text and text-to-speech nodes, and improve email, vision, and knowledge search configurations.
  Platform.Admin/src/pages/workflow/components/WorkflowDesigner.tsx
  Platform.ApiService/Models/Workflow/WorkflowDefinition.cs
  Platform.ApiService/Workflows/Executors/AiExecutor.cs
  Platform.ApiService/Workflows/Executors/AiJudgeExecutor.cs
  Platform.ApiService/Workflows/Executors/EmailExecutor.cs
  Platform.ApiService/Workflows/Executors/KnowledgeSearchExecutor.cs
  Platform.ApiService/Workflows/Executors/VariableAggregatorExecutor.cs
Due: prettier --write, eslint --fix

feat: Add new notification, set variable, timer, and log executors, and enhance existing executors with Dify variable resolution and improved AI prompt and response handling.
  Platform.ApiService/Services/WorkflowEngine.NodeHandlers.cs
  Platform.ApiService/Workflows/Executors/AiJudgeExecutor.cs
  Platform.ApiService/Workflows/Executors/AnswerExecutor.cs
  Platform.ApiService/Workflows/Executors/CodeExecutor.cs
  Platform.ApiService/Workflows/Executors/IterationExecutor.cs
  Platform.ApiService/Workflows/Executors/LogExecutor.cs
  Platform.ApiService/Workflows/Executors/NotificationExecutor.cs
  Platform.ApiService/Workflows/Executors/ParameterExtractorExecutor.cs
  Platform.ApiService/Workflows/Executors/QuestionClassifierExecutor.cs
  Platform.ApiService/Workflows/Executors/SetVariableExecutor.cs
  Platform.ApiService/Workflows/Executors/TemplateExecutor.cs
  Platform.ApiService/Workflows/Executors/TimerExecutor.cs
  Platform.ApiService/Workflows/Executors/ToolExecutor.cs
  Platform.ApiService/Workflows/Executors/VariableAggregatorExecutor.cs
  Platform.ApiService/Workflows/Utilities/DifyVariableResolver.cs
Due: none

feat: introduce ConditionExecutor, enhance variable resolution, and standardize executor output for improved workflow control.
  Platform.Admin/src/pages/workflow/components/WorkflowDesigner.tsx
  Platform.Admin/src/pages/workflow/components/WorkflowDesignerConstants.tsx
  Platform.ApiService/Services/WorkflowEngine.NodeHandlers.cs
  Platform.ApiService/Services/WorkflowEngine.cs
  Platform.ApiService/Workflows/Executors/AnswerExecutor.cs
  Platform.ApiService/Workflows/Executors/ApprovalExecutor.cs
  Platform.ApiService/Workflows/Executors/CodeExecutor.cs
  Platform.ApiService/Workflows/Executors/ConditionExecutor.cs
  Platform.ApiService/Workflows/Executors/HttpRequestExecutor.cs
  Platform.ApiService/Workflows/Executors/IterationExecutor.cs
  Platform.ApiService/Workflows/Executors/LogExecutor.cs
  Platform.ApiService/Workflows/Executors/ParameterExtractorExecutor.cs
  Platform.ApiService/Workflows/Executors/QuestionClassifierExecutor.cs
  Platform.ApiService/Workflows/Executors/TimerExecutor.cs
  Platform.ApiService/Workflows/Executors/ToolExecutor.cs
  Platform.ApiService/Workflows/Executors/VariableAggregatorExecutor.cs
  Platform.ApiService/Workflows/Utilities/DifyVariableResolver.cs
  test-suites-all.js
Due: prettier --write, eslint --fix

refactor: Replace synergy and all-component tests with modular atomic node tests and improve workflow instance status completion logic.
  test-suites-all.js
Due: prettier --write, eslint --fix

feat: Implement human input handling in workflow engine, add variable assigner and list operator executors, and enhance notification logic for human input nodes.
  Platform.ApiService/Controllers/WorkflowController.cs
  Platform.ApiService/Services/WorkflowEngine.Approval.cs
  Platform.ApiService/Services/WorkflowEngine.Helpers.cs
  Platform.ApiService/Services/WorkflowEngine.NodeHandlers.cs
  Platform.ApiService/Services/WorkflowEngine.Notifications.cs
  Platform.ApiService/Services/WorkflowEngine.cs
  Platform.ApiService/Workflows/Executors/DocumentExtractorExecutor.cs
  Platform.ApiService/Workflows/Executors/HumanInputExecutor.cs
  Platform.ApiService/Workflows/Executors/ListOperatorExecutor.cs
  Platform.ApiService/Workflows/Executors/VariableAssignerExecutor.cs
  test-suites-all.js
Due: prettier --write, eslint --fix

feat: Add knowledge base management entries to English and Chinese menu localizations, and include BookOutlined icon in the icon map.
  Platform.Admin/config/routes.ts
  Platform.Admin/src/locales/en-US/menu.ts
  Platform.Admin/src/locales/zh-CN/menu.ts
  Platform.Admin/src/pages/workflow/knowledge-base/documents.tsx
  Platform.Admin/src/pages/workflow/knowledge-base/index.tsx
  Platform.Admin/src/services/workflow/knowledge-base.ts
  Platform.Admin/src/utils/iconMap.tsx
  Platform.ApiService/Controllers/KnowledgeDocumentController.cs
  Platform.ApiService/Models/Workflow/KnowledgeDocument.cs
  Platform.ApiService/Services/IKnowledgeDocumentService.cs
  Platform.ApiService/Services/KnowledgeDocumentService.cs
  Platform.ApiService/Services/KnowledgeService.cs
  Platform.ApiService/Services/WorkflowEngine.cs
Due: prettier --write, eslint --fix

Add integration tests for authentication and registration flows
  .kiro/specs/aspire-apphost-auth-tests/.config.kiro
  .kiro/specs/aspire-apphost-auth-tests/design.md
  .kiro/specs/aspire-apphost-auth-tests/requirements.md
  .kiro/specs/aspire-apphost-auth-tests/tasks.md
  Platform.AppHost.Tests/AppHostFixture.cs
  Platform.AppHost.Tests/Helpers/HttpClientExtensions.cs
  Platform.AppHost.Tests/Helpers/JwtValidator.cs
  Platform.AppHost.Tests/Helpers/TestDataGenerator.cs
  Platform.AppHost.Tests/Models/ApiResponse.cs
  Platform.AppHost.Tests/Models/CurrentUserResponseData.cs
  Platform.AppHost.Tests/Models/LoginResponseData.cs
  Platform.AppHost.Tests/Models/RegisterResponseData.cs
  Platform.AppHost.Tests/Platform.AppHost.Tests.csproj
  Platform.AppHost.Tests/Tests/AuthenticationFlowTests.cs
  Platform.AppHost.Tests/Tests/LoginTests.cs
  Platform.AppHost.Tests/Tests/RegistrationTests.cs
  Platform.AppHost.Tests/Tests/ResourceHealthTests.cs
  Platform.AppHost.Tests/xunit.runner.json
  Platform.ServiceDefaults.Tests/EFCoreDataFactoryTests.cs
  Platform.ServiceDefaults.Tests/TestBase.cs
  Platform.ServiceDefaults.Tests/UnitTest1.cs
  Platform.sln
Due: prettier --write

Add models and integration tests for Form Definitions, Knowledge Base, and Workflows
  .kiro/specs/apphost-api-tests-expansion/.config.kiro
  .kiro/specs/apphost-api-tests-expansion/design.md
  .kiro/specs/apphost-api-tests-expansion/requirements.md
  .kiro/specs/apphost-api-tests-expansion/tasks.md
  Platform.AppHost.Tests/Helpers/ApiTestHelpers.cs
  Platform.AppHost.Tests/Helpers/HttpClientExtensions.cs
  Platform.AppHost.Tests/Helpers/TestDataGenerator.cs
  Platform.AppHost.Tests/Models/DocumentTestModels.cs
  Platform.AppHost.Tests/Models/FormTestModels.cs
  Platform.AppHost.Tests/Models/KnowledgeBaseTestModels.cs
  Platform.AppHost.Tests/Models/WorkflowTestModels.cs
  Platform.AppHost.Tests/Tests/DocumentDataGeneratorTests.cs
  Platform.AppHost.Tests/Tests/FormDefinitionTests.cs
Due: prettier --write

Add integration tests for Knowledge Base and Workflow Definition APIs
  .kiro/specs/apphost-api-tests-expansion/tasks.md
  Platform.AppHost.Tests/Helpers/TestDataGenerator.cs
  Platform.AppHost.Tests/Tests/KnowledgeBaseTests.cs
  Platform.AppHost.Tests/Tests/WorkflowDefinitionTests.cs
Due: prettier --write

Add end-to-end integration tests for cross-module business workflows
  .kiro/specs/apphost-api-tests-expansion/tasks.md
  Platform.ApiService/Controllers/DocumentController.cs
  Platform.ApiService/Controllers/WorkflowController.cs
  Platform.ApiService/Models/Workflow/WorkflowDocument.cs
  Platform.ApiService/Services/DocumentService.cs
  Platform.ApiService/Services/WorkflowEngine.cs
  Platform.AppHost.Tests/AppHostCollection.cs
  Platform.AppHost.Tests/Models/DocumentTestModels.cs
  Platform.AppHost.Tests/Models/WorkflowTestModels.cs
  Platform.AppHost.Tests/Tests/AuthenticationFlowTests.cs
  Platform.AppHost.Tests/Tests/DocumentApprovalTests.cs
  Platform.AppHost.Tests/Tests/EndToEndIntegrationTests.cs
  Platform.AppHost.Tests/Tests/FormDefinitionTests.cs
  Platform.AppHost.Tests/Tests/KnowledgeBaseTests.cs
  Platform.AppHost.Tests/Tests/LoginTests.cs
  Platform.AppHost.Tests/Tests/RegistrationTests.cs
  Platform.AppHost.Tests/Tests/ResourceHealthTests.cs
  Platform.AppHost.Tests/Tests/WorkflowDefinitionTests.cs
  Platform.ServiceDefaults/Services/EFCoreDataFactory.cs
  Platform.sln
  fix-admin.js
  inspect-wf.js
  test-suites-all.js
Due: prettier --write, eslint --fix

feat: Enhance workflow filtering and add support for single category and active status queries; update test data generation for uniqueness
  Platform.ApiService/Controllers/WorkflowController.cs
  Platform.ApiService/Models/Workflow/WorkflowDefinition.cs
  Platform.AppHost.Tests/AppHostFixture.cs
  Platform.AppHost.Tests/AssemblyInfo.cs
  Platform.AppHost.Tests/Helpers/TestDataGenerator.cs
  Platform.AppHost.Tests/TestOrderer.cs
  Platform.AppHost.Tests/Tests/AuthenticationFlowTests.cs
  Platform.AppHost.Tests/Tests/DocumentApprovalTests.cs
  Platform.AppHost.Tests/Tests/FormDefinitionTests.cs
  Platform.AppHost.Tests/Tests/KnowledgeBaseTests.cs
  Platform.AppHost.Tests/Tests/LoginTests.cs
  Platform.AppHost.Tests/Tests/RegistrationTests.cs
  Platform.AppHost.Tests/Tests/WorkflowDefinitionTests.cs
Due: none

deps: Update various package dependencies across all projects.
  Platform.ApiService/Platform.ApiService.csproj
  Platform.AppHost.Tests/Platform.AppHost.Tests.csproj
  Platform.AppHost/Platform.AppHost.csproj
  Platform.ServiceDefaults/Platform.ServiceDefaults.csproj
Due: none

docs: update agent documentation in AGENTS.md.
  AGENTS.md
Due: prettier --write

feat: introduce `BaseIntegrationTest` for streamlined authentication and enhance workflow services with defensive null checks for document IDs and node configurations.
  Platform.ApiService/Controllers/WorkflowController.cs
  Platform.ApiService/Services/ApproverResolvers.cs
  Platform.ApiService/Services/WorkflowEngine.Approval.cs
  Platform.ApiService/Services/WorkflowEngine.Helpers.cs
  Platform.ApiService/Services/WorkflowEngine.Notifications.cs
  Platform.ApiService/Services/WorkflowExportImportService.cs
  Platform.AppHost.Tests/AppHostFixture.cs
  Platform.AppHost.Tests/Helpers/TestDataGenerator.cs
  Platform.AppHost.Tests/Tests/BaseIntegrationTest.cs
  Platform.AppHost.Tests/Tests/DocumentApprovalTests.cs
  Platform.AppHost.Tests/Tests/DocumentDataGeneratorTests.cs
  Platform.AppHost.Tests/Tests/WorkflowDefinitionTests.cs
Due: none

refactor: Centralize common integration test setup and utilities into `BaseIntegrationTest` for improved reusability.
  Platform.AppHost.Tests/Helpers/TestDataGenerator.cs
  Platform.AppHost.Tests/Models/DocumentTestModels.cs
  Platform.AppHost.Tests/Models/WorkflowTestModels.cs
  Platform.AppHost.Tests/Tests/BaseIntegrationTest.cs
  Platform.AppHost.Tests/Tests/DocumentApprovalTests.cs
  Platform.AppHost.Tests/Tests/EndToEndIntegrationTests.cs
  Platform.AppHost.Tests/Tests/FormDefinitionTests.cs
  Platform.AppHost.Tests/Tests/KnowledgeBaseTests.cs
  Platform.AppHost.Tests/Tests/WorkflowDefinitionTests.cs
Due: none

feat: Enhance workflow approval to support `Waiting` status for approval nodes and refine variable merging during document submission.
  Platform.ApiService/Services/DocumentService.cs
  Platform.ApiService/Services/WorkflowEngine.Approval.cs
  Platform.AppHost.Tests/Helpers/TestDataGenerator.cs
Due: none

refactor: Restructure workflow node properties to nest label and config within a `data` object and add build clean scripts.
  Platform.Admin/package.json
  Platform.Admin/src/locales/zh-CN/pages.ts
  Platform.Admin/src/pages/document/components/DocumentDetailDrawer.tsx
  Platform.Admin/src/pages/workflow/components/WorkflowCreateForm.tsx
  Platform.Admin/src/pages/workflow/components/WorkflowDesigner.tsx
  Platform.Admin/src/services/workflow/api.ts
Due: prettier --write, eslint --fix

refactor: move edge condition property into the edge.data object for consistency.
  Platform.Admin/src/pages/document/components/DocumentDetailDrawer.tsx
  Platform.Admin/src/pages/workflow/components/WorkflowDesigner.tsx
  Platform.Admin/src/services/workflow/api.ts
Due: prettier --write, eslint --fix

feat: add test to verify WorkflowDesigner correctly serializes nodes and edges into a backend-compatible WorkflowGraph structure.
  Platform.Admin/src/pages/document/components/DocumentDetailDrawer.tsx
  Platform.Admin/src/pages/document/components/WorkflowViewer.tsx
  Platform.Admin/src/pages/workflow/components/__tests__/WorkflowDesigner.serialization.test.tsx
Due: prettier --write, eslint --fix

feat: Implement drag-and-drop node creation, prevent multiple start nodes, and refine node deletability and layout spacing in the workflow designer.
  Platform.Admin/src/pages/workflow/components/WorkflowDesigner.tsx
Due: prettier --write, eslint --fix

refactor: Extract workflow sidebar and node configuration drawer into dedicated components.
  Platform.Admin/src/pages/workflow/components/NodeConfigDrawer.tsx
  Platform.Admin/src/pages/workflow/components/WorkflowDesigner.tsx
  Platform.Admin/src/pages/workflow/components/WorkflowSidebar.tsx
Due: prettier --write, eslint --fix

feat: 增强工作流调试信息，记录节点处理的源句柄和错误信息；更新条件执行器以支持不区分大小写的变量反序列化；扩展工作流实例响应模型以包含变量列表
  Platform.ApiService/Services/WorkflowEngine.NodeHandlers.cs
  Platform.ApiService/Workflows/Executors/ConditionExecutor.cs
  Platform.AppHost.Tests/Helpers/TestDataGenerator.cs
  Platform.AppHost.Tests/Models/WorkflowTestModels.cs
  Platform.AppHost.Tests/Tests/WorkflowConditionTests.cs
Due: none

feat: 增加调试信息以增强工作流表达式评估器和条件执行器的可追踪性；更新测试数据生成器以使用有效的用户ID
  Platform.ApiService/Services/WorkflowExpressionEvaluator.cs
  Platform.ApiService/Workflows/Executors/ConditionExecutor.cs
  Platform.AppHost.Tests/Helpers/TestDataGenerator.cs
Due: none

feat: Enhance workflow operations by incorporating user context and document form data, and improve workflow editing UI with detailed loading and error handling.
  Platform.Admin/src/locales/zh-CN/pages.ts
  Platform.Admin/src/pages/workflow/components/NodeConfigDrawer.tsx
  Platform.Admin/src/pages/workflow/components/WorkflowDesigner.tsx
  Platform.Admin/src/pages/workflow/components/WorkflowEditForm.tsx
  Platform.ApiService/Controllers/DocumentController.cs
  Platform.ApiService/Controllers/WorkflowController.cs
  Platform.ApiService/Services/DocumentService.cs
  Platform.ApiService/Services/Mcp/Handlers/NotificationMcpToolHandler.cs
  Platform.ApiService/Services/WorkflowEngine.Approval.cs
  Platform.ApiService/Services/WorkflowEngine.Helpers.cs
  Platform.ApiService/Services/WorkflowEngine.cs
  Platform.ApiService/Workflows/Executors/ConditionExecutor.cs
  Platform.AppHost.Tests/Tests/WorkflowConditionTests.cs
Due: prettier --write, eslint --fix

feat: 完善工作流条件组件及相关文档
  CONDITION_COMPONENT_COMPREHENSIVE_REVIEW.md
  CONDITION_COMPONENT_ENHANCEMENTS_SUMMARY.md
  CONDITION_COMPONENT_ENHANCEMENT_PLAN.md
  CONDITION_COMPONENT_IMPROVEMENTS.md
  GIT_COMMIT_GUIDE.md
  INTEGRATION_TESTS_UPGRADE.md
  Platform.ApiService/Controllers/DocumentController.cs
  Platform.ApiService/Services/WorkflowEngine.Approval.cs
  Platform.ApiService/Services/WorkflowEngine.Helpers.cs
  Platform.ApiService/Services/WorkflowEngine.NodeHandlers.cs
  Platform.ApiService/Services/WorkflowEngine.cs
  Platform.ApiService/Services/WorkflowExpressionEvaluator.cs
  Platform.ApiService/Services/WorkflowExpressionValidator.cs
  Platform.ApiService/Workflows/Executors/ConditionExecutor.cs
  Platform.ApiService/docs/CONDITION_COMPONENT_GUIDE.md
  Platform.AppHost.Tests/Helpers/TestDataGenerator.cs
  Platform.AppHost.Tests/Tests/WorkflowConditionTests.cs
Due: prettier --write

fix: 修复 MongoDB FormData 序列化问题和布尔值比较问题
  BUG_FIXES_SUMMARY.md
  DELIVERY_CHECKLIST.md
  FINAL_DELIVERY_SUMMARY.md
  Platform.ApiService.Tests/Services/WorkflowExpressionEvaluatorTests.cs
  Platform.ApiService.Tests/Services/WorkflowExpressionValidatorTests.cs
  Platform.ApiService/Models/Workflow/WorkflowDocument.cs
  Platform.ApiService/Services/DocumentService.cs
  Platform.ApiService/Services/WorkflowEngine.Helpers.cs
  Platform.ApiService/Services/WorkflowEngine.NodeHandlers.cs
  Platform.ApiService/Services/WorkflowEngine.cs
  Platform.ApiService/Services/WorkflowExpressionEvaluator.cs
  Platform.ApiService/Services/WorkflowExpressionValidator.cs
  Platform.ApiService/Workflows/Executors/ApprovalExecutor.cs
  Platform.ApiService/Workflows/Executors/ConditionExecutor.cs
  Platform.ApiService/Workflows/Executors/EndExecutor.cs
  Platform.ApiService/Workflows/Executors/ExecutorBase.cs
  Platform.ApiService/Workflows/Executors/IWorkflowContext.cs
  Platform.ApiService/Workflows/Executors/StartExecutor.cs
  Platform.AppHost.Tests/Tests/WorkflowConditionTests.cs
  Platform.ServiceDefaults/Platform.ServiceDefaults.csproj
  QUICK_REFERENCE.md
  TEST_AND_BUG_FIX_REPORT.md
Due: prettier --write

docs: 添加工作流条件路由修复总结文档
  WORKFLOW_CONDITION_FIX_SUMMARY.md
Due: prettier --write

fix: 修复工作流条件路由的类型转换、优先级和测试设计缺陷
  Platform.ApiService/Services/DocumentService.cs
  Platform.ApiService/Services/WorkflowExpressionEvaluator.cs
  TEST_DESIGN_DEFECTS_ANALYSIS.md
Due: prettier --write

fix: 修复前端 DocumentStatus 枚举值与后端不匹配的问题
  .vscode/settings.json
  FRONTEND_BACKEND_API_COMPATIBILITY_REPORT.md
  Platform.Admin/src/locales/en-US/pages.ts
  Platform.Admin/src/locales/zh-CN/pages.ts
  Platform.Admin/src/pages/document/components/DocumentSearchForm.tsx
  Platform.Admin/src/services/document/api.ts
  Platform.Admin/src/utils/statusMaps.ts
Due: prettier --write, eslint --fix

docs: 添加前端与后端 API 同步完成报告
  FRONTEND_BACKEND_SYNC_COMPLETION_REPORT.md
Due: prettier --write

fix: 修复条件组件中 DataScopeKey 嵌套导致表单数据无法访问的问题
  CONDITION_COMPONENT_DATA_FLOW_DIAGNOSIS.md
  Platform.ApiService/Services/WorkflowEngine.Helpers.cs
Due: prettier --write

docs: 添加条件组件表单数据修复总结报告
  CONDITION_COMPONENT_FORM_DATA_FIX_SUMMARY.md
Due: prettier --write

fix: 修复条件组件使用流程中绑定的表单数据
  CONDITION_COMPONENT_WORKFLOW_FORM_DATA_FIX.md
  Platform.ApiService/Services/WorkflowEngine.Helpers.cs
Due: prettier --write

feat: 条件组件变量改为二级联动选择
  Platform.Admin/src/pages/workflow/components/NodeConfigDrawer.tsx
  Platform.Admin/src/services/workflow/api.ts
  Platform.ApiService/Controllers/WorkflowController.cs
  Platform.AppHost.Tests/Tests/WorkflowConditionTests.cs
Due: prettier --write, eslint --fix

fix: 修复GetWorkflowFormsAndFields端点类型不匹配错误
  CASCADING_SELECT_IMPLEMENTATION_SUMMARY.md
  Platform.ApiService/Controllers/WorkflowController.cs
Due: prettier --write

test: 二级联动选择集成测试全部通过
  CASCADING_SELECT_TEST_RESULTS.md
Due: prettier --write

docs: 二级联动选择实现最终总结
  CASCADING_SELECT_FINAL_SUMMARY.md
Due: prettier --write

feat: 条件组件表单选择跟随前端流程设计实时数据变化
  Platform.Admin/src/pages/workflow/components/NodeConfigDrawer.tsx
  Platform.Admin/src/pages/workflow/components/WorkflowDesigner.tsx
Due: prettier --write, eslint --fix
