Repository wjw1-Evan/aspire-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx,json,css,less,md}": [
    "prettier --write",
    "git add"
  ],
  "**/*.{ts,tsx,js,jsx}": [
    "eslint --fix",
    "git add"
  ]
}

fix: UpdateTaskAsync添加null检查消除CS8602警告
  Platform.ApiService/Services/WebScraperService.cs
Due: none

style: 优化网页抓取任务表格列宽自适应
  Platform.Admin/src/pages/web-scraper/index.tsx
Due: prettier --write, eslint --fix

style: 优化网页抓取结果和日志表格列宽自适应
  Platform.Admin/src/pages/web-scraper/results/index.tsx
  Platform.Admin/src/pages/web-scraper/scrape-logs/index.tsx
Due: prettier --write, eslint --fix

docs: 完善 ProTable 列宽自适应规范
  docs/rules/frontend-admin/05-页面风格统一规范.md
Due: prettier --write

fix: 修复 Admin 前端 token 刷新功能逻辑问题
  Platform.Admin/src/app.tsx
  Platform.Admin/src/request-error-config.ts
Due: prettier --write, eslint --fix

fix: 修复 web-scraper 菜单描述翻译缺失
  Platform.Admin/src/locales/zh-CN/menu.ts
Due: prettier --write, eslint --fix

feat: WebScrapingResult 优化为 upsert 逻辑，重复 URL 改为更新而非新增
  Platform.ApiService/Services/WebScraperService.cs
Due: none

feat: 网页抓取任务列表添加排序功能
  Platform.Admin/src/pages/web-scraper/index.tsx
  Platform.ApiService/Services/WebScraperService.cs
Due: prettier --write, eslint --fix

feat: 网页抓取日志和结果页面添加排序功能，更新分页规范文档
  Platform.Admin/src/pages/web-scraper/results/index.tsx
  Platform.Admin/src/pages/web-scraper/scrape-logs/index.tsx
  Platform.ApiService/Services/WebScraperService.cs
  docs/rules/00-分页规范.md
Due: prettier --write, eslint --fix

style: 统一分页参数，前端不传pageSize
  Platform.Admin/src/pages/web-scraper/index.tsx
  Platform.Admin/src/pages/web-scraper/results/index.tsx
  Platform.Admin/src/pages/web-scraper/scrape-logs/index.tsx
Due: prettier --write, eslint --fix

fix: 控制器添加排序参数支持 SortBy/SortOrder
  Platform.ApiService/Controllers/WebScraperController.cs
Due: none

fix: 搜索功能 - 控制器接收search参数，服务层支持Search字段搜索
  Platform.Admin/src/pages/web-scraper/index.tsx
  Platform.Admin/src/pages/web-scraper/results/index.tsx
  Platform.Admin/src/pages/web-scraper/scrape-logs/index.tsx
  Platform.ApiService/Services/WebScraperService.cs
Due: prettier --write, eslint --fix

refactor: 控制器统一使用 PageParams 接收参数，与密码本模块一致
  Platform.ApiService/Controllers/WebScraperController.cs
Due: none

docs: 更新分页规范 - 控制器必须使用 PageParams 接收参数
  docs/rules/00-分页规范.md
  docs/rules/backend/04-分页处理规范.md
Due: prettier --write

refactor: WebScraperService 分页统一使用 ToPagedList 方法
  Platform.ApiService/Services/WebScraperService.cs
Due: none

refactor: 服务层直接返回 ToPagedList 结果，与密码本一致
  Platform.ApiService/Services/WebScraperService.cs
Due: none

docs: 更新分页规范 - 禁止手工分页，必须使用ToPagedList
  Platform.ApiService/Services/WebScraperService.cs
  docs/rules/00-分页规范.md
  docs/rules/backend/04-分页处理规范.md
Due: prettier --write

refactor: 服务层直接返回 query.ToPagedList(request)
  Platform.ApiService/Services/WebScraperService.cs
  docs/rules/00-分页规范.md
Due: prettier --write

docs: 更新分页规范 - 服务层必须直接返回 query.ToPagedList(pageParams)
  docs/rules/00-分页规范.md
Due: prettier --write

fix: GetResultsAsync 按URL去重，返回每个URL最新的一条记录
  Platform.ApiService/Services/WebScraperService.cs
Due: none

fix: 抓取时加入CompanyId条件检查URL是否存在
  Platform.ApiService/Services/WebScraperService.cs
Due: none

fix: 修复最后执行时间显示Invalid Date问题
  Platform.Admin/src/pages/web-scraper/index.tsx
Due: prettier --write, eslint --fix

fix: URL去重增加更新/新增计数日志，排查去重失效原因
  Platform.ApiService/Services/WebScraperService.cs
Due: none

fix: 查询现有URL时忽略全局过滤器，确保能检测到已存在的记录
  Platform.ApiService/Services/WebScraperService.cs
Due: none

fix: 使用ITenantContextSetter.SetContext设置租户上下文，确保URL去重查询正确
  Platform.ApiService/Services/WebScraperService.cs
Due: none

fix: SetContext后清除缓存确保查询使用正确的CompanyId
  Platform.ServiceDefaults/Models/PageParams.cs
  Platform.ServiceDefaults/Services/ITenantContext.cs
Due: none

fix: URL去重 - 移除冗余CompanyId条件依赖全局过滤器，SetContext后生效
  Platform.ApiService/Services/WebScraperService.cs
Due: none

fix: 直接使用TenantContext实例而非接口确保SetContext生效
  Platform.ApiService/Services/WebScraperService.cs
Due: none

fix: ITenantContext改为Singleton，确保后台服务中SetContext生效
  Platform.ApiService/Services/WebScraperService.cs
  Platform.ServiceDefaults/Extensions/ServiceExtensions.cs
Due: none

fix: 修复PlatformDbContext中CurrentCompanyId获取逻辑，确保DbContext使用SetContext后的值
  Platform.ServiceDefaults/Services/PlatformDbContext.cs
Due: none

fix: 添加同步方法GetCurrentCompanyId到TenantContext，确保DbContext立即获取到SetContext的值
  Platform.ServiceDefaults/Services/ITenantContext.cs
  Platform.ServiceDefaults/Services/PlatformDbContext.cs
Due: none

refactor: 移除URL去重逻辑，直接保存所有抓取结果
  Platform.ApiService/Services/WebScraperService.cs
Due: none

fix: 修复图形验证码和定时任务重复执行的bug
  Platform.ApiService/BackgroundServices/WebScraperScheduledTaskHostedService.cs
  Platform.ApiService/Services/ImageCaptchaService.cs
Due: none

refactor: 简化 CurrentCompanyId 属性实现
  Platform.ServiceDefaults/Services/PlatformDbContext.cs
Due: none

refactor: 统一数据分页后端写法
  Platform.ApiService/Controllers/CloudStorageController.cs
  Platform.ApiService/Controllers/RuleController.cs
  Platform.ApiService/Controllers/XiaokeConfigController.cs
  Platform.ApiService/Services/CloudStorageService.cs
  Platform.ApiService/Services/CompanyQuotaService.cs
  Platform.ApiService/Services/ICloudStorageService.cs
  Platform.ApiService/Services/IXiaokeConfigService.cs
  Platform.ApiService/Services/QuotaWarningService.cs
  Platform.ApiService/Services/XiaokeConfigService.cs
Due: none

docs: 更新分页规范，新增新建API开发规范
  docs/rules/backend/04-分页处理规范.md
  docs/rules/backend/README.md
Due: prettier --write

docs: 合并规则文件到 AGENTS.md，删除 docs/rules 目录
  AGENTS.md
  docs/rules/00-分页规范.md
  docs/rules/00-通用原则.md
  docs/rules/README.md
  docs/rules/backend/00-总览.md
  docs/rules/backend/01-控制器与权限.md
  docs/rules/backend/02-数据访问与审计.md
  docs/rules/backend/03-中间件与响应.md
  docs/rules/backend/04-分页处理规范.md
  docs/rules/backend/05-实时通信SSE.md
  docs/rules/backend/06-批量查询规范.md
  docs/rules/backend/07-类型命名规范.md
  docs/rules/backend/README.md
  docs/rules/backend/commit-message.txt
  docs/rules/frontend-admin/01-路由与菜单.md
  docs/rules/frontend-admin/02-服务层封装.md
  docs/rules/frontend-admin/03-页面与组件结构.md
  docs/rules/frontend-admin/04-TypeScript类型安全.md
  docs/rules/frontend-admin/05-页面风格统一规范.md
  docs/rules/frontend-admin/06-页面开发标准.md
  docs/rules/frontend-admin/README.md
  docs/rules/frontend-admin/commit-message.txt
  docs/rules/frontend-app/01-路由与API.md
  docs/rules/frontend-app/README.md
Due: prettier --write

fix: 修复 AGENTS.md 中的乱码字符
  AGENTS.md
  docs/features/DATA-INITIALIZER-MICROSERVICE.md
  docs/features/DRAGGABLE_WELCOME_LAYOUT.md
  docs/features/IOT-MENU-CONFIGURATION.md
  docs/features/IOT-PLATFORM-GUIDE.md
  docs/features/MCP-HANDLERS-GUIDE.md
  docs/features/MOBILE-APPS-GUIDE.md
  docs/features/NEW-MODULE-GUIDE.md
  docs/features/PASSWORD-BOOK-GUIDE.md
  docs/features/TASK-PROJECT-MANAGEMENT.md
  docs/features/USER-ACTIVITY-LOG.md
  docs/features/WORKFLOW-ENGINE.md
  docs/guides/MICROSERVICE-GUIDE.md
  docs/guides/MULTI_BRANCH_CONDITION_USAGE_GUIDE.md
Due: prettier --write

docs: 添加通用规则同步到 AGENTS.md 的规范
  AGENTS.md
Due: prettier --write

docs: 汇总通用开发规则到 AGENTS.md 第9章
  AGENTS.md
Due: prettier --write
