Repository wjw1-Evan/aspire-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx,json,css,less,md}": [
    "prettier --write",
    "git add"
  ],
  "**/*.{ts,tsx,js,jsx}": [
    "eslint --fix",
    "git add"
  ]
}

fix: 验证码检查只使用IP地址匹配失败记录
  Platform.Admin/src/pages/user/login/index.tsx
  Platform.Admin/src/pages/user/register/index.tsx
  Platform.Admin/src/services/ant-design-pro/api.ts
  Platform.ApiService/Controllers/AuthController.cs
  Platform.ApiService/Services/ImageCaptchaService.cs
Due: prettier --write, eslint --fix

fix: 登录失败记录统一使用IP地址作为ClientId
  Platform.ApiService/Services/LoginService.cs
Due: none

feat: 登录注册强制要求图形验证码，移除动态判断逻辑
  Platform.Admin/src/pages/user/login/index.tsx
  Platform.Admin/src/pages/user/register/index.tsx
  Platform.Admin/src/services/ant-design-pro/api.ts
  Platform.ApiService/Controllers/AuthController.cs
Due: prettier --write, eslint --fix

feat: 登录注册强制验证图形验证码，验证码长度改为4位
  Platform.ApiService/Services/ImageCaptchaService.cs
  Platform.ApiService/Services/LoginService.cs
  Platform.ApiService/Services/RegistrationService.cs
Due: none

refactor: 移除登录注册中无用的失败计数相关代码
  Platform.ApiService/Services/LoginService.cs
  Platform.ApiService/Services/RegistrationService.cs
Due: none

fix: 移除登录页验证码表单项的required校验，避免初始加载提示错误
  Platform.Admin/src/pages/user/login/index.tsx
Due: prettier --write, eslint --fix

fix: 登录页验证码改为Form校验方式，点击登录时显示红色错误提示
  Platform.Admin/src/pages/user/login/index.tsx
Due: prettier --write, eslint --fix

fix: 修复验证码不显示的问题
  Platform.Admin/src/pages/user/login/index.tsx
Due: prettier --write, eslint --fix

fix: 登录失败后自动刷新验证码
  Platform.Admin/src/pages/user/login/index.tsx
Due: prettier --write, eslint --fix

docs: 清理无用的 LogTestController
  Platform.ApiService/Controllers/LogTestController.cs
Due: none

chore: 删除未使用的 Satellite 认证扩展
  Platform.ServiceDefaults/Authentication/InternalApiKeyAuthenticationHandler.cs
  Platform.ServiceDefaults/Authentication/SatelliteAuthDefaults.cs
  Platform.ServiceDefaults/Authentication/SatelliteAuthenticationExtensions.cs
Due: none

refactor: 移除 BaseApiController 中未使用的 GetClientIpAddress 方法
  Platform.ApiService/Controllers/FileShareController.cs
  Platform.ServiceDefaults/Controllers/BaseApiController.cs
  Platform.SystemMonitor/Program.cs
Due: none

refactor: 清理文件分享访问日志功能
  Platform.ApiService/Controllers/FileShareController.cs
  Platform.ApiService/Services/FileShareService.cs
  Platform.ApiService/Services/IFileShareService.cs
  docs/rules/backend/03-中间件与响应.md
Due: prettier --write

refactor: 前端同步移除访问统计相关的字段
  Platform.Admin/src/pages/cloud-storage/shared/index.tsx
Due: prettier --write, eslint --fix

refactor: 将 Platform.SystemMonitor 迁移到 Platform.ApiService
  Platform.ApiService/Controllers/SystemMonitorController.cs
  Platform.AppHost/AppHost.cs
  Platform.AppHost/Platform.AppHost.csproj
  Platform.ServiceDefaults/Controllers/BaseApiController.cs
  Platform.SystemMonitor/Platform.SystemMonitor.csproj
  Platform.SystemMonitor/Program.cs
Due: none

fix: 更新前端 API 路由从 systemmonitor 到 apiservice
  Platform.Admin/src/services/system/api.ts
Due: prettier --write, eslint --fix

docs: 为9个控制器添加 summary 注释
  Platform.ApiService/Controllers/ChatHistoryController.cs
  Platform.ApiService/Controllers/ChatMessagesController.cs
  Platform.ApiService/Controllers/ChatSessionsController.cs
  Platform.ApiService/Controllers/FileStorageController.cs
  Platform.ApiService/Controllers/FormController.cs
  Platform.ApiService/Controllers/IoTController.cs
  Platform.ApiService/Controllers/OrganizationController.cs
  Platform.ApiService/Controllers/SystemMonitorController.cs
  Platform.ApiService/Controllers/UserController.cs
Due: none

docs: 为控制器 action 方法添加 summary 注释
  Platform.ApiService/Controllers/ChatHistoryController.cs
  Platform.ApiService/Controllers/ChatMessagesController.cs
  Platform.ApiService/Controllers/ChatSessionsController.cs
  Platform.ApiService/Controllers/FileStorageController.cs
  Platform.ApiService/Controllers/FormController.cs
  Platform.ApiService/Controllers/IoTController.cs
  Platform.ApiService/Controllers/McpController.cs
  Platform.ApiService/Controllers/RuleController.cs
  Platform.ApiService/Controllers/SystemMonitorController.cs
  Platform.ApiService/Controllers/TaskController.cs
  Platform.ApiService/Controllers/UserController.cs
Due: none

docs: 完善控制器 action 的 summary 注释
  Platform.ApiService/Controllers/IoTController.cs
  Platform.ApiService/Controllers/WorkflowController.cs
Due: none

feat: 添加国密 SM3-HMAC 数据防篡改支持
  Platform.ServiceDefaults/Extensions/ServiceExtensions.cs
  Platform.ServiceDefaults/Models/BaseEntity.cs
  Platform.ServiceDefaults/Services/ISM3HmacProvider.cs
  Platform.ServiceDefaults/Services/PlatformDbContext.cs
Due: none

fix: 修复验证码验证失败的问题 - 后端去除前端trim，前端发送时trim
  Platform.Admin/src/pages/user/login/index.tsx
  Platform.ApiService/Services/ImageCaptchaService.cs
Due: prettier --write, eslint --fix

fix: 修复验证码验证问题 - 移除前端实时验证，改为后端统一验证
  Platform.Admin/src/components/ImageCaptcha/index.tsx
  Platform.ApiService/appsettings.json
Due: prettier --write, eslint --fix

fix: 登录页添加多语言支持 - 日文添加错误码翻译，前端处理验证错误
  Platform.Admin/src/locales/ja-JP/pages.ts
  Platform.Admin/src/pages/user/login/index.tsx
Due: prettier --write, eslint --fix

feat: API验证错误返回错误码，支持多语言 - 后端转换错误消息为错误码，前端添加翻译
  Platform.Admin/src/locales/en-US/pages.ts
  Platform.Admin/src/locales/ja-JP/pages.ts
  Platform.Admin/src/locales/zh-CN/pages.ts
  Platform.ApiService/Program.cs
Due: prettier --write, eslint --fix

feat: 登录服务返回错误码支持多语言 - 用户名密码错误、验证码错误等
  Platform.ApiService/Services/LoginService.cs
Due: none

fix: 验证码在所有登录失败场景下都会刷新
  Platform.Admin/src/pages/user/login/index.tsx
Due: prettier --write, eslint --fix

chore: 升级依赖包版本并更新文档
  .aspire/readme.md
  Platform.Admin/package.json
  Platform.ServiceDefaults/Platform.ServiceDefaults.csproj
  Platform.sln
Due: prettier --write

fix: 移除密码本列表平台列的点击查看详情功能
  Platform.Admin/package-lock.json
  Platform.Admin/src/pages/password-book/index.tsx
Due: prettier --write, eslint --fix

fix: 修复多处 TypeScript 类型错误
  Platform.Admin/src/components/RightContent/AvatarDropdown.tsx
  Platform.Admin/src/pages/iot-platform/components/GatewayManagement.tsx
  Platform.Admin/src/pages/user/login/index.tsx
  Platform.Admin/src/pages/workflow/forms/index.tsx
Due: prettier --write, eslint --fix

docs: 更新 build-frontend 命令模板要求运行 lint
  opencode.jsonc
Due: none

fix: 恢复 displayName 字段显示
  Platform.Admin/src/components/RightContent/AvatarDropdown.tsx
  Platform.Admin/src/types/index.ts
Due: prettier --write, eslint --fix

fix: 修复个人中心 displayName 显示问题
  Platform.Admin/src/pages/account/center/index.tsx
Due: prettier --write, eslint --fix

feat: 添加网页抓取模块
  Platform.Admin/config/routes.ts
  Platform.Admin/src/pages/web-scraper/components/ResultPreview.tsx
  Platform.Admin/src/pages/web-scraper/components/TaskForm.tsx
  Platform.Admin/src/pages/web-scraper/index.tsx
  Platform.ApiService/Controllers/WebScraperController.cs
  Platform.ApiService/Models/Dtos/WebScrapingDtos.cs
  Platform.ApiService/Models/Entities/WebScrapingEntities.cs
  Platform.ApiService/Platform.ApiService.csproj
  Platform.ApiService/Services/IWebScraperService.cs
  Platform.ApiService/Services/Mcp/Handlers/WebScraperMcpToolHandler.cs
  Platform.ApiService/Services/WebScraper/HtmlScraper.cs
  Platform.ApiService/Services/WebScraper/WebCrawler.cs
  Platform.ApiService/Services/WebScraperService.cs
  Platform.DataInitializer/Menus.json
Due: prettier --write, eslint --fix

fix: 优化网页抓取模块搜索功能
  Platform.Admin/src/pages/web-scraper/index.tsx
Due: prettier --write, eslint --fix

docs: 补充网页抓取模块多语言配置
  Platform.Admin/src/locales/ar-EG/menu.ts
  Platform.Admin/src/locales/de-DE/menu.ts
  Platform.Admin/src/locales/en-US/menu.ts
  Platform.Admin/src/locales/es-ES/menu.ts
  Platform.Admin/src/locales/fr-FR/menu.ts
  Platform.Admin/src/locales/it-IT/menu.ts
  Platform.Admin/src/locales/ja-JP/menu.ts
  Platform.Admin/src/locales/ko-KR/menu.ts
  Platform.Admin/src/locales/ru-RU/menu.ts
  Platform.Admin/src/locales/th-TH/menu.ts
  Platform.Admin/src/locales/tr-TR/menu.ts
  Platform.Admin/src/locales/vi-VN/menu.ts
  Platform.Admin/src/locales/zh-CN/menu.ts
  Platform.Admin/src/locales/zh-TW/menu.ts
Due: prettier --write, eslint --fix

feat: 扩展网页抓取模块-添加结果和日志页面
  Platform.Admin/config/routes.ts
  Platform.Admin/src/locales/ar-EG/menu.ts
  Platform.Admin/src/locales/de-DE/menu.ts
  Platform.Admin/src/locales/en-US/menu.ts
  Platform.Admin/src/locales/es-ES/menu.ts
  Platform.Admin/src/locales/fr-FR/menu.ts
  Platform.Admin/src/locales/it-IT/menu.ts
  Platform.Admin/src/locales/ja-JP/menu.ts
  Platform.Admin/src/locales/ko-KR/menu.ts
  Platform.Admin/src/locales/ru-RU/menu.ts
  Platform.Admin/src/locales/th-TH/menu.ts
  Platform.Admin/src/locales/tr-TR/menu.ts
  Platform.Admin/src/locales/vi-VN/menu.ts
  Platform.Admin/src/locales/zh-CN/menu.ts
  Platform.Admin/src/locales/zh-TW/menu.ts
  Platform.Admin/src/pages/web-scraper/results/index.tsx
  Platform.ApiService/Controllers/WebScraperController.cs
  Platform.ApiService/Models/Entities/WebScrapingEntities.cs
  Platform.ApiService/Services/IWebScraperService.cs
  Platform.ApiService/Services/WebScraperService.cs
  Platform.DataInitializer/Menus.json
Due: prettier --write, eslint --fix

fix: 修复日志页面因gitignore规则被忽略的问题
  Platform.Admin/config/routes.ts
  Platform.Admin/src/pages/web-scraper/scrape-logs/index.tsx
  Platform.DataInitializer/Menus.json
Due: prettier --write, eslint --fix

fix: 调整网页抓取菜单结构
  Platform.Admin/src/locales/ar-EG/menu.ts
  Platform.Admin/src/locales/de-DE/menu.ts
  Platform.Admin/src/locales/en-US/menu.ts
  Platform.Admin/src/locales/es-ES/menu.ts
  Platform.Admin/src/locales/fr-FR/menu.ts
  Platform.Admin/src/locales/it-IT/menu.ts
  Platform.Admin/src/locales/ja-JP/menu.ts
  Platform.Admin/src/locales/ko-KR/menu.ts
  Platform.Admin/src/locales/ru-RU/menu.ts
  Platform.Admin/src/locales/th-TH/menu.ts
  Platform.Admin/src/locales/tr-TR/menu.ts
  Platform.Admin/src/locales/vi-VN/menu.ts
  Platform.Admin/src/locales/zh-CN/menu.ts
  Platform.Admin/src/locales/zh-TW/menu.ts
  Platform.DataInitializer/Menus.json
Due: prettier --write, eslint --fix

fix: 修复网页抓取模块运行错误
  Platform.Admin/src/pages/web-scraper/components/ResultPreview.tsx
  Platform.ApiService/Services/WebScraperService.cs
Due: prettier --write, eslint --fix

fix: 修复网页抓取菜单的locale key命名
  Platform.Admin/src/locales/ar-EG/menu.ts
  Platform.Admin/src/locales/de-DE/menu.ts
  Platform.Admin/src/locales/en-US/menu.ts
  Platform.Admin/src/locales/es-ES/menu.ts
  Platform.Admin/src/locales/fr-FR/menu.ts
  Platform.Admin/src/locales/it-IT/menu.ts
  Platform.Admin/src/locales/ja-JP/menu.ts
  Platform.Admin/src/locales/ko-KR/menu.ts
  Platform.Admin/src/locales/ru-RU/menu.ts
  Platform.Admin/src/locales/th-TH/menu.ts
  Platform.Admin/src/locales/tr-TR/menu.ts
  Platform.Admin/src/locales/vi-VN/menu.ts
  Platform.Admin/src/locales/zh-CN/menu.ts
  Platform.Admin/src/locales/zh-TW/menu.ts
  Platform.DataInitializer/Menus.json
Due: prettier --write, eslint --fix
