Repository wjw1-Evan/aspire-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

refactor: Simplify CloudStorageQuotaPage and update API endpoints for user quota management
  Platform.Admin/src/pages/cloud-storage/quota/index.tsx
  Platform.Admin/src/services/cloud-storage/quotaApi.ts
  Platform.ApiService/Services/StorageQuotaService.cs
Due: prettier --write, eslint --fix

feat: Add cloud storage and storage quota management features to the admin panel
  Platform.Admin/src/components/HelpModal/index.tsx
  Platform.Admin/src/pages/user/login/index.tsx
  Platform.ApiService/Controllers/StorageQuotaController.cs
  README.md
Due: prettier --write, eslint --fix

fix: Add missing newline at the end of request-error-config.ts file
  Platform.Admin/src/request-error-config.ts
Due: prettier --write, eslint --fix

feat: 添加存储配额管理功能，支持警告阈值和启用状态设置
  Platform.ApiService/Controllers/StorageQuotaController.cs
  Platform.ApiService/Models/CloudStorageModels.cs
  Platform.ApiService/Services/IStorageQuotaService.cs
  Platform.ApiService/Services/StorageQuotaService.cs
  Platform.CloudStorage.Tests/Platform.CloudStorage.Tests.csproj
Due: none

fix: 修复文件末尾缺失换行符的问题
  Platform.ApiService/Controllers/StorageQuotaController.cs
  Platform.ApiService/Services/IStorageQuotaService.cs
  Platform.ApiService/Services/StorageQuotaService.cs
Due: none

fix: 修改 UnifiedNotificationCenter 组件以支持受控开关，修复可见性逻辑
  Platform.Admin/src/components/UnifiedNotificationCenter/index.tsx
Due: prettier --write, eslint --fix

chore: 删除云存储测试项目及相关测试文件
  Platform.CloudStorage.Tests/Platform.CloudStorage.Tests.csproj
  Platform.CloudStorage.Tests/Properties/SimpleFileItemPropertyTests.cs
  Platform.CloudStorage.Tests/SimplePropertyTestRunner.cs
Due: none

feat: 添加字节与GB之间的转换功能，更新配额表单以支持GB单位
  Platform.Admin/src/pages/cloud-storage/quota/index.tsx
Due: prettier --write, eslint --fix

fix: 清理代码中的多余空行，优化可读性
  Platform.Admin/src/pages/cloud-storage/quota/index.tsx
Due: prettier --write, eslint --fix

feat: 添加企业存储统计和用户存储排名功能，优化配额管理逻辑
  Platform.Admin/src/pages/cloud-storage/quota/index.tsx
  Platform.Admin/src/services/cloud-storage/quotaApi.ts
  Platform.ApiService/Services/StorageQuotaService.cs
Due: prettier --write, eslint --fix

fix: 在存储使用量排行榜函数末尾添加换行符
  Platform.Admin/src/services/cloud-storage/quotaApi.ts
Due: prettier --write, eslint --fix

feat: 添加用户存储配额管理功能，包括新增和删除配额的API接口及前端组件
  Platform.Admin/src/pages/cloud-storage/quota/index.tsx
  Platform.Admin/src/request-error-config.ts
  Platform.Admin/src/services/cloud-storage/quotaApi.ts
  Platform.Admin/src/utils/errorInterceptor.ts
  Platform.ApiService/Controllers/QuotaController.cs
  Platform.ApiService/Controllers/StorageQuotaController.cs
  Platform.ApiService/Services/StorageQuotaService.cs
  Platform.App/components/QuotaComponent.tsx
Due: prettier --write, eslint --fix

fix: 统一错误处理和错误拦截器中的代码格式，优化可读性
  Platform.Admin/src/request-error-config.ts
  Platform.Admin/src/utils/errorInterceptor.ts
  Platform.ApiService/Controllers/QuotaController.cs
Due: prettier --write, eslint --fix

fix: update dependencies and improve DataTable component
  Platform.Admin/package-lock.json
  Platform.Admin/package.json
  Platform.Admin/src/components/DataTable/index.tsx
  Platform.Admin/src/pages/cloud-storage/files/index.tsx
  Platform.Admin/src/pages/cloud-storage/quota/index.tsx
  Platform.Admin/src/pages/cloud-storage/recycle/index.tsx
  Platform.Admin/src/pages/cloud-storage/shared/index.tsx
  Platform.Admin/src/pages/document/approval.tsx
  Platform.Admin/src/pages/document/list.tsx
  Platform.Admin/src/pages/password-book/index.tsx
Due: prettier --write, eslint --fix

feat(cloud-storage): enhance file versioning and upload capabilities
  Platform.Admin/src/pages/cloud-storage/files/index.tsx
  Platform.Admin/src/pages/cloud-storage/recycle/index.tsx
  Platform.Admin/src/services/cloud-storage/api.ts
  Platform.Admin/src/services/cloud-storage/recycleApi.ts
  Platform.ApiService/Controllers/CloudStorageController.cs
  Platform.ApiService/Controllers/FileVersionController.cs
  Platform.ApiService/Models/CloudStorageModels.cs
  Platform.ApiService/Program.cs
  Platform.ApiService/Services/CloudStorageService.cs
  Platform.ApiService/Services/ICloudStorageService.cs
  Platform.AppHost/AppHost.cs
Due: prettier --write, eslint --fix

fix: 在批量删除版本请求模型末尾添加换行符
  Platform.ApiService/Controllers/FileVersionController.cs
Due: none

fix: 将上传大小限制统一调整为 5GB，并优化相关代码逻辑
  Platform.Admin/nginx.conf
  Platform.Admin/src/pages/cloud-storage/files/index.tsx
  Platform.ApiService/Program.cs
  Platform.ApiService/Services/CloudStorageService.cs
  Platform.ApiService/appsettings.json
  Platform.AppHost/AppHost.cs
Due: prettier --write, eslint --fix

feat: 添加公共分享访问页面，支持分享链接访问和文件下载功能
  Platform.Admin/config/routes.ts
  Platform.Admin/src/pages/cloud-storage/files/index.tsx
  Platform.Admin/src/pages/cloud-storage/shared/index.tsx
  Platform.Admin/src/pages/share/index.tsx
  Platform.Admin/src/services/cloud-storage/shareApi.ts
  Platform.ApiService/Controllers/FileShareController.cs
Due: prettier --write, eslint --fix

fix: 更新 react-resizable 依赖版本至 3.1.1
  Platform.Admin/package-lock.json
  Platform.Admin/package.json
Due: prettier --write

feat: 添加 Copilot 使用说明文档，涵盖架构图、数据访问、权限管理等关键内容
  .github/copilot-instructions.md
Due: prettier --write

feat: 更新 QuotaController 和 CloudStorageService，添加缺失的文档注释和处理空值情况
  Platform.ApiService/Controllers/QuotaController.cs
  Platform.ApiService/Services/CloudStorageService.cs
Due: none

feat: 更新 Copilot 使用说明文档，添加后端模式、国际化和安全性等关键内容
  .github/copilot-instructions.md
Due: prettier --write

feat: 优化工作流引擎，优先使用实例中的流程定义快照以提高兼容性
  Platform.ApiService/Services/WorkflowEngine.cs
Due: none

feat: Implement Workflow Export/Import and Performance Monitoring Services
  .kiro/specs/workflow-list-upgrade/design.md
  .kiro/specs/workflow-list-upgrade/requirements.md
  .kiro/specs/workflow-list-upgrade/tasks.md
  .vscode/settings.json
  Platform.Admin/src/locales/en-US/pages.ts
  Platform.Admin/src/locales/zh-CN/pages.ts
  Platform.Admin/src/pages/workflow/__tests__/list.test.tsx
  Platform.Admin/src/pages/workflow/components/BulkOperationsPanel.tsx
  Platform.Admin/src/pages/workflow/components/WorkflowExportModal.tsx
  Platform.Admin/src/pages/workflow/components/WorkflowImportModal.tsx
  Platform.Admin/src/pages/workflow/components/__tests__/BulkOperationsPanel.test.tsx
  Platform.Admin/src/pages/workflow/list.tsx
  Platform.Admin/src/services/workflow/api.ts
  Platform.ApiService.Tests/Controllers/WorkflowControllerSearchTests.cs
  Platform.ApiService.Tests/Models/WorkflowModelsPropertyTests.cs
  Platform.ApiService.Tests/Platform.ApiService.Tests.csproj
  Platform.ApiService.Tests/Services/BulkOperationServicePropertyTests.cs
  Platform.ApiService.Tests/Services/WorkflowExportImportServicePropertyTests.cs
  Platform.ApiService.Tests/Services/WorkflowImportConflictResolutionPropertyTests.cs
  Platform.ApiService.Tests/Services/WorkflowImportValidationPropertyTests.cs
  Platform.ApiService/Controllers/WorkflowController.cs
  Platform.ApiService/Models/WorkflowModels.cs
  Platform.ApiService/Services/BulkOperationService.cs
  Platform.ApiService/Services/IWorkflowEnhancedServices.cs
  Platform.ApiService/Services/WorkflowAnalyticsService.cs
  Platform.ApiService/Services/WorkflowCacheService.cs
  Platform.ApiService/Services/WorkflowExportImportService.cs
  Platform.ApiService/Services/WorkflowPerformanceService.cs
Due: prettier --write, eslint --fix

Add user interface state and scheme management plist for MacOSSyncClient
  MacOSSyncClient/MacOSSyncClient.xcodeproj/project.pbxproj
  MacOSSyncClient/MacOSSyncClient.xcodeproj/project.xcworkspace/xcuserdata/mac.xcuserdatad/UserInterfaceState.xcuserstate
  MacOSSyncClient/MacOSSyncClient.xcodeproj/xcuserdata/mac.xcuserdatad/xcschemes/xcschememanagement.plist
  MacOSSyncClient/MacOSSyncClient/ContentView.swift
  MacOSSyncClient/MacOSSyncClient/MacOSSyncClientApp.swift
  Platform.App/package-lock.json
Due: prettier --write

feat: 在 MainWindowDebugShell 中添加 appState 环境对象并更新设置按钮行为
  MacOSSyncClient/MacOSSyncClient.xcodeproj/project.xcworkspace/xcuserdata/mac.xcuserdatad/UserInterfaceState.xcuserstate
  MacOSSyncClient/MacOSSyncClient/ContentView.swift
Due: none

feat: 更新 FsCheck 和 FsCheck.Xunit 包版本至 3.3.2
  Platform.ApiService.Tests/Platform.ApiService.Tests.csproj
Due: none

更新 Scalar.Aspire 到 0.8.12
  MacOSSyncClient/MacOSSyncClient.xcodeproj/project.xcworkspace/xcuserdata/mac.xcuserdatad/UserInterfaceState.xcuserstate
  Platform.AppHost/Platform.AppHost.csproj
Due: none

更新package
  Platform.Admin/package-lock.json
  Platform.Admin/package.json
Due: prettier --write

Remove obsolete workflow import tests and add environment variable injection tests for API service and frontend applications
  Platform.ApiService.Tests/Controllers/WorkflowControllerSearchTests.cs
  Platform.ApiService.Tests/Models/WorkflowModelsPropertyTests.cs
  Platform.ApiService.Tests/Platform.ApiService.Tests.csproj
  Platform.ApiService.Tests/Services/BulkOperationServicePropertyTests.cs
  Platform.ApiService.Tests/Services/WorkflowExportImportServicePropertyTests.cs
  Platform.ApiService.Tests/Services/WorkflowImportConflictResolutionPropertyTests.cs
  Platform.ApiService.Tests/Services/WorkflowImportValidationPropertyTests.cs
  Platform.AppHost.Tests/AppHostTests.cs
Due: none

清理日志级别配置，移除冗余条目并简化Jwt设置
  Platform.ApiService/appsettings.Development.json
  Platform.ApiService/appsettings.json
Due: prettier --write

为多个服务添加构造函数注释，增强代码可读性
  Platform.ApiService/Models/WorkflowModels.cs
  Platform.ApiService/Services/BulkOperationService.cs
  Platform.ApiService/Services/WorkflowAnalyticsService.cs
  Platform.ApiService/Services/WorkflowExportImportService.cs
  Platform.ApiService/Services/WorkflowPerformanceService.cs
Due: none

feat: implement organization management API and services
  .github/copilot-instructions.md
  Platform.Admin/config/routes.ts
  Platform.Admin/src/locales/en-US/menu.ts
  Platform.Admin/src/locales/en-US/pages.ts
  Platform.Admin/src/locales/zh-CN/menu.ts
  Platform.Admin/src/locales/zh-CN/pages.ts
  Platform.Admin/src/locales/zh-TW/menu.ts
  Platform.Admin/src/locales/zh-TW/pages.ts
  Platform.Admin/src/pages/organization/components/AssignUserModal.tsx
  Platform.Admin/src/pages/organization/index.tsx
  Platform.Admin/src/services/ant-design-pro/typings.d.ts
  Platform.Admin/src/services/organization/api.ts
  Platform.ApiService/Constants/OrganizationConstants.cs
  Platform.ApiService/Controllers/OrganizationController.cs
  Platform.ApiService/Models/OrganizationModels.cs
  Platform.ApiService/Models/UserOrganizationModels.cs
  Platform.ApiService/Services/OrganizationService.cs
  Platform.DataInitializer/Services/DataInitializerService.cs
Due: prettier --write, eslint --fix

feat: 更新组织页面标题，添加图标以增强可视化效果
  .vscode/settings.json
  Platform.Admin/src/pages/organization/index.tsx
Due: prettier --write, eslint --fix

feat: 添加用户组织信息支持，更新相关页面和接口
  Platform.Admin/src/locales/en-US/pages.ts
  Platform.Admin/src/locales/zh-CN/pages.ts
  Platform.Admin/src/locales/zh-TW/pages.ts
  Platform.Admin/src/pages/user-management/components/UserDetail.tsx
  Platform.Admin/src/pages/user-management/index.tsx
  Platform.Admin/src/pages/user-management/types.ts
  Platform.ApiService/Models/User.cs
  Platform.ApiService/Services/UserService.cs
Due: prettier --write, eslint --fix

chore: 清理 UserService.cs 中的多余空行，提升代码整洁性
  Platform.ApiService/Services/UserService.cs
Due: none

fix: 更新 Scalar.Aspire 包版本至 0.8.13
  Platform.App/package-lock.json
  Platform.AppHost/Platform.AppHost.csproj
Due: prettier --write

feat: 添加 mcp.json 配置文件以支持 Aspire 和 Playwright 服务器
  .vscode/mcp.json
Due: prettier --write

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json,css,less,md}
  eslint --fix: any of: **/*.{ts,tsx,js,jsx}
