Repository wjw1-Evan/aspire-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix: 所有卡片默认高度设置为1
  Platform.Admin/src/pages/dashboard/components/DashboardDesigner.tsx
Due: prettier --write, eslint --fix

fix: 修改卡片默认高度为1，移除150px限制
  Platform.Admin/package-lock.json
  Platform.Admin/package.json
  Platform.Admin/src/pages/dashboard/components/DashboardDesigner.tsx
  Platform.Admin/src/pages/dashboard/components/DashboardPreview.tsx
  Platform.ApiService/Models/Entities/DashboardEntities.cs
Due: prettier --write, eslint --fix

fix: 添加minRows=1移除卡片最小高度限制
  Platform.Admin/src/pages/dashboard/components/DashboardDesigner.tsx
  Platform.Admin/src/pages/dashboard/components/DashboardPreview.tsx
  Platform.Admin/src/typings.d.ts
Due: prettier --write, eslint --fix

feat: 添加Redis Pub/Sub支持解决SSE多副本消息丢失问题
  Platform.ApiService/Platform.ApiService.csproj
  Platform.ApiService/Services/ChatBroadcaster.cs
  Platform.ApiService/Services/ChatSseConnectionManager.cs
  Platform.AppHost/AppHost.cs
  Platform.AppHost/Platform.AppHost.csproj
  Platform.ServiceDefaults/Extensions/ServiceExtensions.cs
  Platform.ServiceDefaults/Platform.ServiceDefaults.csproj
  opencode.jsonc
Due: none

fix: 修复 NotificationService 未使用 Redis Pub/Sub 的问题
  AGENTS.md
  Platform.ApiService/Services/NotificationService.cs
Due: prettier --write

feat: 为 App 和 MiniApp 添加 dev 脚本以支持 Aspire 开发模式
  Platform.App/package.json
  Platform.MiniApp/package.json
Due: prettier --write

feat: 为移动端应用和微信小程序添加 HTTP 端点配置
  Platform.AppHost/AppHost.cs
Due: none

feat: 更新 Dockerfile 和 docker-compose 配置，添加 Redis 服务并优化 Expo 应用构建
  Platform.Admin/Dockerfile
  Platform.App/.dockerignore
  Platform.App/Dockerfile
  Platform.AppHost/AppHost.cs
  Platform.AppHost/aspire-output/apigateway-Production.Dockerfile
  Platform.AppHost/aspire-output/docker-compose.yaml
Due: none

fix: 更新 Dockerfile 中的 ADMIN_IMAGENAME，修复 apigateway 生产环境镜像版本 fix: 更新 docker-compose 配置中的 InternalService__ApiKey
  Platform.AppHost/aspire-output/apigateway-Production.Dockerfile
  Platform.AppHost/aspire-output/docker-compose.yaml
Due: none

fix: 更新 apigateway 生产环境镜像版本和 InternalService API 密钥
  Platform.AppHost/aspire-output/apigateway-Production.Dockerfile
  Platform.AppHost/aspire-output/docker-compose.yaml
Due: none

feat: 配置 Aspire 自动构建前端应用
  Platform.AppHost/AppHost.cs
Due: none

fix: 修正 WithBuildCommand 为 WithBuildScript
  Platform.AppHost/AppHost.cs
Due: none

fix: Dockerfile 同时复制 dist 到 /app/dist 供 YARP 使用
  Platform.Admin/Dockerfile
  Platform.AppHost/aspire-output/apigateway-Production.Dockerfile
  Platform.AppHost/aspire-output/docker-compose.yaml
Due: none

fix: YARP 网关添加外部 HTTP 端点
  Platform.AppHost/AppHost.cs
  Platform.AppHost/aspire-output/apigateway-Production.Dockerfile
  Platform.AppHost/aspire-output/docker-compose.yaml
Due: none

fix: 修复 Aspire 部署问题
  Platform.ApiService/Platform.ApiService.csproj
  Platform.AppHost/AppHost.cs
Due: none

fix: 更新 Docker Compose 环境配置并修复 apigateway 服务
  Platform.AppHost/AppHost.cs
  Platform.AppHost/aspire-output/apigateway.Dockerfile
  Platform.AppHost/aspire-output/docker-compose.yaml
Due: none

fix: 更新 apigateway Dockerfile 和 docker-compose 配置，修复服务依赖和 API 密钥
  Platform.ApiService/Platform.ApiService.csproj
  Platform.AppHost/aspire-output/apigateway.Dockerfile
  Platform.AppHost/aspire-output/docker-compose.yaml
Due: none

feat: 补充英文翻译文件，完善国际化支持
  Platform.Admin/src/locales/en-US/menu.ts
  Platform.Admin/src/locales/en-US/modules/auth.ts
  Platform.Admin/src/locales/en-US/modules/dashboard.ts
  Platform.Admin/src/locales/en-US/modules/document.ts
  Platform.Admin/src/locales/en-US/modules/help.ts
  Platform.Admin/src/locales/en-US/modules/iot.ts
  Platform.Admin/src/locales/en-US/modules/missing.ts
  Platform.Admin/src/locales/en-US/modules/other.ts
  Platform.Admin/src/locales/en-US/modules/park.ts
  Platform.Admin/src/locales/en-US/modules/project.ts
  Platform.Admin/src/locales/en-US/modules/role.ts
  Platform.Admin/src/locales/en-US/modules/user.ts
  Platform.Admin/src/locales/en-US/modules/workflow.ts
  Platform.Admin/src/locales/en-US/pages.ts
  Platform.ApiService/Platform.ApiService.csproj
  Platform.AppHost/AppHost.cs
  Platform.AppHost/Platform.AppHost.csproj
  Platform.AppHost/aspire-output/apigateway.Dockerfile
  Platform.AppHost/aspire-output/docker-compose.yaml
Due: prettier --write, eslint --fix

style: 修正英文翻译文件中遗漏的中文值（workflow/iot/help模块）
  Platform.Admin/src/locales/en-US/modules/help.ts
  Platform.Admin/src/locales/en-US/modules/iot.ts
  Platform.Admin/src/locales/en-US/modules/workflow.ts
Due: prettier --write, eslint --fix

fix: 补全中英文翻译文件缺失的键，确保完全匹配
  Platform.Admin/src/locales/en-US/modules/missing.ts
  Platform.Admin/src/locales/en-US/modules/user.ts
  Platform.Admin/src/locales/en-US/modules/workflow.ts
  Platform.Admin/src/locales/zh-CN/modules/auth.ts
  Platform.Admin/src/locales/zh-CN/modules/project.ts
  Platform.Admin/src/locales/zh-CN/modules/task.ts
  Platform.Admin/src/locales/zh-CN/modules/workflow.ts
Due: prettier --write, eslint --fix

chore: update @umijs/max and related dependencies to version 4.6.49
  Platform.Admin/package-lock.json
  Platform.Admin/package.json
Due: prettier --write

fix: 补充所有语言菜单描述键，修复 web-scraper 子菜单翻译缺失
  Platform.Admin/src/locales/ar-EG/menu.ts
  Platform.Admin/src/locales/bn-BD/menu.ts
  Platform.Admin/src/locales/de-DE/menu.ts
  Platform.Admin/src/locales/en-US/menu.ts
  Platform.Admin/src/locales/es-ES/menu.ts
  Platform.Admin/src/locales/fa-IR/menu.ts
  Platform.Admin/src/locales/fr-FR/menu.ts
  Platform.Admin/src/locales/id-ID/menu.ts
  Platform.Admin/src/locales/it-IT/menu.ts
  Platform.Admin/src/locales/ja-JP/menu.ts
  Platform.Admin/src/locales/ko-KR/menu.ts
  Platform.Admin/src/locales/pt-BR/menu.ts
  Platform.Admin/src/locales/ru-RU/menu.ts
  Platform.Admin/src/locales/th-TH/menu.ts
  Platform.Admin/src/locales/tr-TR/menu.ts
  Platform.Admin/src/locales/vi-VN/menu.ts
  Platform.Admin/src/locales/zh-TW/menu.ts
Due: prettier --write, eslint --fix

fix: 补充所有语言 common/common.ts 缺失的键，修复翻译警告
  Platform.Admin/src/locales/ar-EG/common/common.ts
  Platform.Admin/src/locales/bn-BD/common/common.ts
  Platform.Admin/src/locales/de-DE/common/common.ts
  Platform.Admin/src/locales/en-US/common/common.ts
  Platform.Admin/src/locales/es-ES/common/common.ts
  Platform.Admin/src/locales/fa-IR/common/common.ts
  Platform.Admin/src/locales/fr-FR/common/common.ts
  Platform.Admin/src/locales/id-ID/common/common.ts
  Platform.Admin/src/locales/it-IT/common/common.ts
  Platform.Admin/src/locales/ja-JP/common/common.ts
  Platform.Admin/src/locales/ko-KR/common/common.ts
  Platform.Admin/src/locales/pt-BR/common/common.ts
  Platform.Admin/src/locales/ru-RU/common/common.ts
  Platform.Admin/src/locales/th-TH/common/common.ts
  Platform.Admin/src/locales/tr-TR/common/common.ts
  Platform.Admin/src/locales/vi-VN/common/common.ts
  Platform.Admin/src/locales/zh-TW/common/common.ts
Due: prettier --write, eslint --fix

fix: 补充通知中心全部标记已读翻译，修复缺失的 i18n 键
  Platform.Admin/src/components/Footer/index.tsx
  Platform.Admin/src/components/NoticeIcon/index.tsx
  Platform.Admin/src/locales/en-US/modules/other.ts
  Platform.Admin/src/locales/en-US/modules/workflow.ts
  Platform.Admin/src/locales/vi-VN/modules/other.ts
  Platform.Admin/src/locales/zh-CN/modules/other.ts
  Platform.Admin/src/locales/zh-CN/modules/web-scraper.ts
  Platform.Admin/src/locales/zh-CN/modules/workflow.ts
  Platform.Admin/src/locales/zh-TW/modules/other.ts
  Platform.Admin/src/pages/role-management/index.tsx
  Platform.Admin/src/pages/web-scraper/components/TaskForm.tsx
  Platform.Admin/src/pages/welcome/components/StatisticsOverview.tsx
  Platform.Admin/src/pages/workflow/components/NodeConfigDrawer.tsx
  Platform.Admin/src/pages/workflow/components/WorkflowDesignerModal.tsx
Due: prettier --write, eslint --fix

fix: 添加 en-US 缺失的 unifiedNotificationCenter 翻译键
  Platform.Admin/src/locales/en-US/modules/other.ts
Due: prettier --write, eslint --fix

fix: 修复 my-activity 页面硬编码中文，添加国际化支持
  Platform.Admin/src/locales/en-US/modules/other.ts
  Platform.Admin/src/locales/zh-CN/modules/other.ts
  Platform.Admin/src/pages/my-activity/index.tsx
Due: prettier --write, eslint --fix

fix: 修复 user-log 页面硬编码中文问题，添加国际化支持
  Platform.Admin/src/locales/en-US/modules/other.ts
  Platform.Admin/src/locales/en-US/modules/park.ts
  Platform.Admin/src/locales/zh-CN/modules/other.ts
  Platform.Admin/src/locales/zh-CN/modules/park.ts
  Platform.Admin/src/pages/park-management/investment/index.tsx
  Platform.Admin/src/pages/user-log/index.tsx
Due: prettier --write, eslint --fix

feat: 招商管理页面国际化，移除硬编码中文
  Platform.Admin/src/locales/en-US/modules/other.ts
  Platform.Admin/src/locales/en-US/modules/park.ts
  Platform.Admin/src/locales/zh-CN/modules/other.ts
  Platform.Admin/src/locales/zh-CN/modules/park.ts
  Platform.Admin/src/pages/park-management/investment/index.tsx
  Platform.Admin/src/pages/user-log/index.tsx
Due: prettier --write, eslint --fix

feat: dashboard 设计器页面 message 调用国际化
  Platform.Admin/src/locales/zh-CN/modules/dashboard.ts
  Platform.Admin/src/pages/dashboard/components/DashboardDesigner.tsx
Due: prettier --write, eslint --fix

feat: 修复 task-management 目录硬编码中文问题
  Platform.Admin/src/locales/en-US/modules/organization.ts
  Platform.Admin/src/locales/en-US/modules/project.ts
  Platform.Admin/src/locales/en-US/modules/task.ts
  Platform.Admin/src/locales/zh-CN/modules/organization.ts
  Platform.Admin/src/locales/zh-CN/modules/project.ts
  Platform.Admin/src/locales/zh-CN/modules/task.ts
  Platform.Admin/src/pages/project-management/index.tsx
  Platform.Admin/src/pages/task-management/components/TaskExecutionPanel.tsx
  Platform.Admin/src/pages/task-management/index.tsx
Due: prettier --write, eslint --fix

refactor: 统一项目管理模块翻译键命名规范
  Platform.Admin/src/locales/ar-EG/modules/project.ts
  Platform.Admin/src/locales/bn-BD/modules/project.ts
  Platform.Admin/src/locales/de-DE/modules/project.ts
  Platform.Admin/src/locales/es-ES/modules/project.ts
  Platform.Admin/src/locales/fa-IR/modules/project.ts
  Platform.Admin/src/locales/fr-FR/modules/project.ts
  Platform.Admin/src/locales/id-ID/modules/project.ts
  Platform.Admin/src/locales/it-IT/modules/project.ts
  Platform.Admin/src/locales/ja-JP/modules/project.ts
  Platform.Admin/src/locales/ko-KR/modules/project.ts
  Platform.Admin/src/locales/pt-BR/modules/project.ts
  Platform.Admin/src/locales/ru-RU/modules/project.ts
  Platform.Admin/src/locales/th-TH/modules/project.ts
  Platform.Admin/src/locales/tr-TR/modules/project.ts
  Platform.Admin/src/locales/vi-VN/modules/project.ts
  Platform.Admin/src/locales/zh-TW/modules/project.ts
  Platform.Admin/src/pages/task-management/components/GanttChart.tsx
  Platform.Admin/src/pages/task-management/components/ProjectDetail.tsx
  Platform.Admin/src/pages/task-management/components/ProjectView.tsx
Due: prettier --write, eslint --fix

fix: 修复用户管理页面的硬编码中文问题
  Platform.Admin/src/locales/en-US/modules/user.ts
  Platform.Admin/src/locales/zh-CN/modules/user.ts
  Platform.Admin/src/pages/user-management/components/UserDetail.tsx
  Platform.Admin/src/pages/user-management/index.tsx
Due: prettier --write, eslint --fix

fix: 修复 workflow 目录下所有文件的硬编码中文问题
  Platform.Admin/src/locales/en-US/modules/workflow.ts
  Platform.Admin/src/locales/zh-CN/modules/workflow.ts
  Platform.Admin/src/pages/workflow/knowledge-base/index.tsx
  Platform.Admin/src/pages/workflow/monitor.tsx
Due: prettier --write, eslint --fix

fix: 修复 share 页面硬编码中文问题
  Platform.Admin/src/locales/en-US/modules/auth.ts
  Platform.Admin/src/locales/en-US/modules/other.ts
  Platform.Admin/src/locales/en-US/modules/user.ts
  Platform.Admin/src/locales/zh-CN/modules/auth.ts
  Platform.Admin/src/locales/zh-CN/modules/other.ts
  Platform.Admin/src/locales/zh-CN/modules/user.ts
  Platform.Admin/src/pages/account/center/index.tsx
  Platform.Admin/src/pages/share/index.tsx
  Platform.Admin/src/pages/user/forgot-password/index.tsx
Due: prettier --write, eslint --fix

feat: 修复 Admin 端多处硬编码中文，实现 message 调用国际化
  Platform.Admin/src/locales/zh-CN/modules/document.ts
  Platform.Admin/src/locales/zh-CN/modules/iot.ts
  Platform.Admin/src/locales/zh-CN/modules/park.ts
  Platform.Admin/src/locales/zh-CN/modules/task.ts
  Platform.Admin/src/locales/zh-CN/modules/user.ts
  Platform.Admin/src/locales/zh-CN/modules/web-scraper.ts
  Platform.Admin/src/pages/document/list.tsx
  Platform.Admin/src/pages/iot-platform/components/CommandCenterPanel.tsx
  Platform.Admin/src/pages/iot-platform/components/DataCenter.tsx
  Platform.Admin/src/pages/iot-platform/components/DataPointManagement.tsx
  Platform.Admin/src/pages/iot-platform/components/DeviceManagement.tsx
  Platform.Admin/src/pages/iot-platform/components/DeviceTwinPanel.tsx
  Platform.Admin/src/pages/iot-platform/components/EventManagement.tsx
  Platform.Admin/src/pages/iot-platform/components/GatewayManagement.tsx
  Platform.Admin/src/pages/park-management/contract/index.tsx
  Platform.Admin/src/pages/park-management/enterprise-service/index.tsx
  Platform.Admin/src/pages/park-management/visit-knowledge-base/index.tsx
  Platform.Admin/src/pages/park-management/visit-task/index.tsx
  Platform.Admin/src/pages/task-management/components/TaskExecutionPanel.tsx
  Platform.Admin/src/pages/task-management/components/TaskForm.tsx
  Platform.Admin/src/pages/web-scraper/components/TaskForm.tsx
Due: prettier --write, eslint --fix

fix: 修复 user 目录下所有文件的硬编码中文问题
  Platform.Admin/src/locales/en-US/modules/auth.ts
  Platform.Admin/src/locales/zh-CN/modules/auth.ts
  Platform.Admin/src/pages/user/change-password/index.tsx
  Platform.Admin/src/pages/user/forgot-password/index.tsx
Due: prettier --write, eslint --fix

fix: 修复 welcome 目录硬编码中文问题，添加国际化支持
  Platform.Admin/src/locales/en-US/modules/other.ts
  Platform.Admin/src/locales/en-US/modules/park.ts
  Platform.Admin/src/locales/zh-CN/modules/other.ts
  Platform.Admin/src/locales/zh-CN/modules/park.ts
  Platform.Admin/src/pages/park-management/visit-assessment/index.tsx
  Platform.Admin/src/pages/welcome/components/QuickActionsPanel.tsx
  Platform.ServiceDefaults/Models/ErrorCode.cs
Due: prettier --write, eslint --fix

feat: 修复 Options 数组硬编码中文，实现选项国际化
  Platform.Admin/src/locales/zh-CN/modules/dashboard.ts
  Platform.Admin/src/locales/zh-CN/modules/other.ts
  Platform.Admin/src/pages/cloud-storage/shared/index.tsx
  Platform.Admin/src/pages/dashboard/components/CardConfigForm.tsx
  Platform.Admin/src/pages/park-management/asset/index.tsx
Due: prettier --write, eslint --fix

feat: 修复 ProDescriptions 详情页 label 硬编码中文，实现国际化
  Platform.Admin/src/locales/zh-CN/modules/park.ts
  Platform.Admin/src/pages/park-management/asset/index.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json,css,less,md}
  eslint --fix: any of: **/*.{ts,tsx,js,jsx}
