Repository wjw1-Evan/aspire-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat: change Drawer size from large to medium in password-book
  Platform.Admin/src/pages/password-book/index.tsx
Due: prettier --write, eslint --fix

feat: set ProDescriptions column to 1 for single-column layout in password-book detail
  Platform.Admin/src/pages/password-book/index.tsx
Due: prettier --write, eslint --fix

feat: 升级 StandardPageTemplate 模板，对齐密码本最终风格
  Platform.Admin/src/templates/StandardPageTemplate.tsx
Due: prettier --write, eslint --fix

docs: 更新 AGENTS.md 标注模板最终变更
  AGENTS.md
Due: prettier --write

refactor: 优化 StandardPageTemplate 模板，移除 useBreakpoint 和 isMobile 逻辑
  Platform.Admin/src/templates/StandardPageTemplate.tsx
Due: prettier --write, eslint --fix

docs: AGENTS.md 添加查看详情独立API开发规则
  AGENTS.md
Due: prettier --write

feat: 通知模块查看详情请求独立API，列表与详情数据分离
  Platform.Admin/src/pages/notice/index.tsx
  Platform.Admin/src/services/notification/api.ts
  Platform.ApiService/Controllers/NotificationController.cs
  Platform.ApiService/Services/NotificationService.cs
Due: prettier --write, eslint --fix

feat: 全局修改 Descriptions 组件 column={2} 为 column={1} 并移除 span={2}，改为单列布局展示详情
  Platform.Admin/src/pages/account/center/index.tsx
  Platform.Admin/src/pages/dashboard/versions/index.tsx
  Platform.Admin/src/pages/iot-platform/components/DataCenter.tsx
  Platform.Admin/src/pages/iot-platform/components/DataPointManagement.tsx
  Platform.Admin/src/pages/iot-platform/components/DeviceManagement.tsx
  Platform.Admin/src/pages/iot-platform/components/GatewayManagement.tsx
  Platform.Admin/src/pages/notice/index.tsx
  Platform.Admin/src/pages/notification-management/components/SendDetailDrawer.tsx
  Platform.Admin/src/pages/organization/index.tsx
  Platform.Admin/src/pages/park-management/building/index.tsx
  Platform.Admin/src/pages/park-management/contract/index.tsx
  Platform.Admin/src/pages/park-management/enterprise-service/index.tsx
  Platform.Admin/src/pages/park-management/property/index.tsx
  Platform.Admin/src/pages/park-management/tenant/index.tsx
  Platform.Admin/src/pages/park-management/visit-task/index.tsx
  Platform.Admin/src/pages/task-management/components/ProjectDetail.tsx
  Platform.Admin/src/pages/task-management/index.tsx
  Platform.Admin/src/pages/user-management/components/UserDetail.tsx
  Platform.Admin/src/pages/web-scraper/results/index.tsx
Due: prettier --write, eslint --fix

fix: 通知模块查看详情请求独立API，列表与详情数据分离，修复tsc类型错误
  Platform.Admin/src/pages/notice/index.tsx
Due: prettier --write, eslint --fix

fix: 修复项目管理页面的显示问题
  Platform.Admin/src/pages/project-management/index.tsx
Due: prettier --write, eslint --fix

docs: 修正开发规范文档
  AGENTS.md
  Platform.Admin/src/pages/AGENTS.md
  docs/agents/modules/architecture.md
  docs/agents/modules/frontend.md
  docs/agents/modules/mcp.md
Due: prettier --write

feat: 房源添加房屋类型(Purpose)和售价(SalePrice)字段，合同DTO新增联系人和单元类型信息
  Platform.ApiService/Models/Dtos/Response/Park/ParkAssetDto.cs
  Platform.ApiService/Models/Dtos/Response/Park/ParkTenantDto.cs
  Platform.ApiService/Models/Entities/Park/ParkAssetEntities.cs
  Platform.ApiService/Services/Park/Asset/ParkAssetService.cs
  Platform.ApiService/Services/Park/Tenant/ParkTenantService.cs
Due: none

feat: 房源管理添加房屋类型和售价字段展示
  Platform.Admin/src/locales/zh-CN/modules/park.ts
  Platform.Admin/src/pages/park-management/property/index.tsx
Due: prettier --write, eslint --fix

feat: 合同管理完善字段展示默认值和租户单元信息
  Platform.Admin/src/pages/park-management/contract/index.tsx
Due: prettier --write, eslint --fix

chore: 更新Aspire依赖版本至13.3.2
  Platform.AppHost.Tests/Platform.AppHost.Tests.csproj
  Platform.AppHost/Platform.AppHost.csproj
  Platform.ServiceDefaults/Platform.ServiceDefaults.csproj
Due: none

fix: 园区管理表格行点击不触发按钮事件，补充英文和繁体翻译
  Platform.Admin/src/locales/en-US/menu.ts
  Platform.Admin/src/locales/en-US/modules/park.ts
  Platform.Admin/src/locales/zh-TW/menu.ts
  Platform.Admin/src/pages/park-management/building/index.tsx
  Platform.Admin/src/pages/park-management/investment/index.tsx
  Platform.Admin/src/pages/park-management/tenant/index.tsx
  Platform.Admin/src/pages/park-management/visit-task/index.tsx
Due: prettier --write, eslint --fix

fix: 租户详情合同记录和服务申请按 tenantId 过滤
  Platform.ApiService/Controllers/ParkEnterpriseServiceController.cs
  Platform.ApiService/Controllers/ParkTenantController.cs
  Platform.ApiService/Services/Park/Enterprise/ParkEnterpriseServiceService.cs
  Platform.ApiService/Services/Park/IParkManagementServices.cs
  Platform.ApiService/Services/Park/Tenant/ParkTenantService.cs
Due: none

feat: 合同详情添加物业费列，补充园区管理国际化翻译
  Platform.Admin/package.json
  Platform.Admin/src/locales/ar-EG/modules/park.ts
  Platform.Admin/src/locales/bn-BD/modules/park.ts
  Platform.Admin/src/locales/de-DE/modules/park.ts
  Platform.Admin/src/locales/en-US/modules/park.ts
  Platform.Admin/src/locales/es-ES/modules/park.ts
  Platform.Admin/src/locales/fa-IR/modules/park.ts
  Platform.Admin/src/locales/fr-FR/modules/park.ts
  Platform.Admin/src/locales/id-ID/modules/park.ts
  Platform.Admin/src/locales/it-IT/modules/park.ts
  Platform.Admin/src/locales/ja-JP/modules/park.ts
  Platform.Admin/src/locales/ko-KR/modules/park.ts
  Platform.Admin/src/locales/pt-BR/modules/park.ts
  Platform.Admin/src/locales/ru-RU/modules/park.ts
  Platform.Admin/src/locales/th-TH/modules/park.ts
  Platform.Admin/src/locales/tr-TR/modules/park.ts
  Platform.Admin/src/locales/vi-VN/modules/park.ts
  Platform.Admin/src/locales/zh-CN/modules/park.ts
  Platform.Admin/src/locales/zh-TW/modules/park.ts
  Platform.Admin/src/pages/park-management/building/index.tsx
  Platform.Admin/src/pages/park-management/contract/index.tsx
  Platform.Admin/src/pages/park-management/property/index.tsx
  Platform.Admin/src/pages/park-management/statistics/index.tsx
  Platform.Admin/src/pages/park-management/tenant/index.tsx
  Platform.Admin/src/pages/park-management/visit-assessment/index.tsx
  Platform.Admin/src/pages/park-management/visit-statistics/index.tsx
Due: prettier --write, eslint --fix

chore: 更新自动提交模板
  opencode.jsonc
Due: none

feat: 扩展园区统计数据字段，接入走访模块到AI报告，升级提示词为SMART原则
  Platform.ApiService/Models/Dtos/Response/Park/ParkAssetDto.cs
  Platform.ApiService/Models/Dtos/Response/Park/ParkEnterpriseServiceDto.cs
  Platform.ApiService/Models/Dtos/Response/Park/ParkInvestmentDto.cs
  Platform.ApiService/Models/Dtos/Response/Park/ParkTenantDto.cs
  Platform.ApiService/Models/Dtos/Response/Park/ParkVisitDto.cs
  Platform.ApiService/Services/Park/Asset/ParkAssetService.cs
  Platform.ApiService/Services/Park/Enterprise/ParkEnterpriseServiceService.cs
  Platform.ApiService/Services/Park/Investment/ParkInvestmentService.cs
  Platform.ApiService/Services/Park/Statistics/ParkStatisticsService.cs
  Platform.ApiService/Services/Park/Tenant/ParkTenantService.cs
  Platform.ApiService/Services/Park/Visit/ParkVisitService.cs
Due: none

feat: 新增AI报告导出PDF功能，同步前端类型定义与国际化
  Platform.Admin/.turbopack/lock
  Platform.Admin/package-lock.json
  Platform.Admin/src/locales/en-US/modules/other.ts
  Platform.Admin/src/locales/zh-CN/modules/other.ts
  Platform.Admin/src/pages/park-management/statistics/index.tsx
Due: prettier --write, eslint --fix

feat: 扩展园区管理 MCP 工具，接入 AI 深度分析报告和 5 大模块 CRUD
  Platform.ApiService/Services/Mcp/Handlers/ParkMcpToolHandler.cs
Due: none

feat: App 端 UI 风格改造，采用纯黑/纯白背景 + 大圆角卡片设计
  Platform.App/app/(auth)/_layout.tsx
  Platform.App/app/(auth)/login.tsx
  Platform.App/app/(auth)/register.tsx
  Platform.App/app/(tabs)/_layout.tsx
  Platform.App/app/(tabs)/index.tsx
  Platform.App/app/(tabs)/profile.tsx
  Platform.App/app/(tabs)/projects/index.tsx
  Platform.App/app/(tabs)/tasks/index.tsx
  Platform.App/app/_layout.tsx
  Platform.App/app/notifications.tsx
  Platform.App/app/project/[id].tsx
  Platform.App/app/task/[id].tsx
  Platform.App/components/Themed.tsx
  Platform.App/components/project/ProjectCard.tsx
  Platform.App/components/project/ProjectForm.tsx
  Platform.App/components/project/ProjectMemberList.tsx
  Platform.App/components/statistics/StatOverviewCard.tsx
  Platform.App/components/task/TaskCard.tsx
  Platform.App/components/task/TaskExecutionForm.tsx
  Platform.App/components/task/TaskForm.tsx
  Platform.App/components/ui/ConfirmModal.tsx
  Platform.App/components/ui/EmptyState.tsx
  Platform.App/components/ui/ErrorView.tsx
  Platform.App/components/ui/LoadingView.tsx
  Platform.App/components/ui/MenuItemCard.tsx
  Platform.App/components/ui/PageContainer.tsx
  Platform.App/components/ui/PriorityTag.tsx
  Platform.App/components/ui/ProgressBar.tsx
  Platform.App/components/ui/SearchBar.tsx
  Platform.App/components/ui/StatCard.tsx
  Platform.App/components/ui/StatusTag.tsx
  Platform.App/constants/AppStyles.ts
  Platform.App/constants/Colors.ts
  Platform.App/contexts/ThemeContext.tsx
  Platform.App/package-lock.json
  Platform.App/package.json
  Platform.App/utils/task.ts
  Platform.App/utils/theme.ts
Due: prettier --write, eslint --fix

fix: 修复底部导航栏配色，使用纯色背景替代毛玻璃效果
  Platform.App/app/(tabs)/_layout.tsx
  Platform.App/app/(tabs)/profile.tsx
Due: prettier --write, eslint --fix

feat: 底部导航栏添加圆角边框和毛玻璃效果
  Platform.App/app/(tabs)/_layout.tsx
Due: prettier --write, eslint --fix

feat: 优化底部导航栏样式，匹配参考图片设计
  Platform.App/app/(tabs)/_layout.tsx
Due: prettier --write, eslint --fix

feat: 更新移动端开发规范，调整项目结构和技术栈信息
  AGENTS.md
  Platform.Admin/.turbopack/lock
  Platform.App/app/(tabs)/_layout.tsx
  docs/agents/modules/mobile.md
Due: prettier --write, eslint --fix

feat: 添加底部Tab中间加号菜单按钮，支持扇形弹出动画
  Platform.App/app.json
  Platform.App/app/(tabs)/_layout.tsx
  Platform.App/app/(tabs)/add.tsx
  Platform.App/app/(tabs)/two.tsx
  Platform.App/components/FloatingActionMenu.tsx
  Platform.App/package-lock.json
  Platform.App/package.json
Due: prettier --write, eslint --fix

fix: 恢复误删的 two.tsx
  Platform.App/app/(tabs)/two.tsx
Due: prettier --write, eslint --fix

feat: App端添加中英文国际化支持及语言切换功能
  Platform.App/app/(auth)/_layout.tsx
  Platform.App/app/(auth)/login.tsx
  Platform.App/app/(auth)/register.tsx
  Platform.App/app/(tabs)/_layout.tsx
  Platform.App/app/(tabs)/index.tsx
  Platform.App/app/(tabs)/profile.tsx
  Platform.App/app/(tabs)/projects/index.tsx
  Platform.App/app/(tabs)/tasks/index.tsx
  Platform.App/app/+not-found.tsx
  Platform.App/app/_layout.tsx
  Platform.App/app/modal.tsx
  Platform.App/app/notifications.tsx
  Platform.App/app/project/[id].tsx
  Platform.App/app/project/create.tsx
  Platform.App/app/task/[id].tsx
  Platform.App/app/task/create.tsx
  Platform.App/app/task/execute/[id].tsx
  Platform.App/components/project/ProjectForm.tsx
  Platform.App/components/project/ProjectMemberList.tsx
  Platform.App/components/task/TaskExecutionForm.tsx
  Platform.App/components/task/TaskForm.tsx
  Platform.App/components/ui/ConfirmModal.tsx
  Platform.App/components/ui/EmptyState.tsx
  Platform.App/components/ui/ErrorView.tsx
  Platform.App/locales/en.json
  Platform.App/locales/zh.json
  Platform.App/utils/i18n.ts
Due: prettier --write, eslint --fix

chore: 删除 unused Tab Two 页面文件 two.tsx
  Platform.App/app/(tabs)/two.tsx
Due: prettier --write, eslint --fix

chore: update dependencies in package.json
  Platform.Admin/.turbopack/lock
  Platform.App/package-lock.json
  Platform.App/package.json
Due: prettier --write

chore: update dependencies and scripts in package.json
  Platform.Admin/.turbopack/lock
  Platform.App/package-lock.json
  Platform.App/package.json
Due: prettier --write

fix: 修复App端样式弃用警告和循环依赖问题
  Platform.App/app/(tabs)/_layout.tsx
  Platform.App/app/(tabs)/index.tsx
  Platform.App/components/FloatingActionMenu.tsx
  Platform.App/constants/AppStyles.ts
  Platform.App/services/api.ts
  Platform.App/services/authService.ts
  Platform.App/utils/tokenRefreshManager.ts
Due: prettier --write, eslint --fix

feat: 为MenuItemCard添加深色模式背景适配和边框样式
  Platform.App/components/ui/MenuItemCard.tsx
Due: prettier --write, eslint --fix

fix: 修复 iOS 模拟器卡 loading 问题
  Platform.App/app.json
  Platform.App/app/(tabs)/index.tsx
  Platform.App/constants/env-config.ts
  Platform.App/services/api.ts
  Platform.App/services/sseService.ts
  Platform.App/utils/encryption.ts
Due: prettier --write, eslint --fix

feat: App 端添加企业服务功能模块
  Platform.App/app/_layout.tsx
  Platform.App/app/enterprise-service/[id].tsx
  Platform.App/app/enterprise-service/create.tsx
  Platform.App/app/enterprise-service/edit/[id].tsx
  Platform.App/app/enterprise-service/index.tsx
  Platform.App/components/enterprise-service/ServiceRequestCard.tsx
  Platform.App/components/ui/MenuItemCard.tsx
  Platform.App/locales/en.json
  Platform.App/locales/zh.json
  Platform.App/package-lock.json
  Platform.App/package.json
  Platform.App/services/enterpriseService.ts
  Platform.App/types/enterprise-service.ts
Due: prettier --write, eslint --fix

chore: 将 .turbopack 加入 .gitignore
  .gitignore
  Platform.Admin/.turbopack/lock
Due: none

chore: 删除测试与开发冲突解决方案草稿文档
  .sisyphus/drafts/test-dev-conflict-resolution.md
Due: prettier --write

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json,css,less,md}
  eslint --fix: any of: **/*.{ts,tsx,js,jsx}
