Repository wjw1-Evan/aspire-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

docs: 条件组件表单选择实时更新实现说明
  REALTIME_FORM_SELECTION_UPDATE.md
Due: prettier --write

design: 条件节点多路径支持设计文档
  CONDITION_NODE_MULTI_PATH_DESIGN.md
Due: prettier --write

plan: 条件节点多路径实现计划
  CONDITION_NODE_MULTI_PATH_IMPLEMENTATION_PLAN.md
Due: prettier --write

feat: 条件节点支持多路径分支
  Platform.Admin/src/pages/workflow/components/NodeConfigDrawer.tsx
  Platform.Admin/src/pages/workflow/components/WorkflowDesigner.tsx
  Platform.Admin/src/pages/workflow/components/WorkflowDesignerConstants.tsx
  Platform.Admin/src/services/workflow/api.ts
  Platform.ApiService/Controllers/WorkflowController.cs
  Platform.ApiService/Models/Workflow/WorkflowDefinition.cs
  Platform.ApiService/Services/WorkflowExpressionEvaluator.cs
  Platform.ApiService/Workflows/Executors/ConditionExecutor.cs
  Platform.AppHost.Tests/Tests/WorkflowConditionTests.cs
Due: prettier --write, eslint --fix

docs: 添加多分支条件节点的完成总结和使用指南
  CONDITION_NODE_MULTI_PATH_COMPLETION_SUMMARY.md
  MULTI_BRANCH_CONDITION_USAGE_GUIDE.md
Due: prettier --write

docs: 添加实现完成总结文档
  IMPLEMENTATION_COMPLETE.md
Due: prettier --write

docs: 添加最终检查清单
  FINAL_CHECKLIST.md
Due: prettier --write

fix: 移除 ConditionConfig 中不支持的 BsonIgnoreIfNull 属性标记
  Platform.ApiService/Models/Workflow/WorkflowDefinition.cs
  Platform.ApiService/Platform.ApiService.csproj
  Platform.AppHost/Platform.AppHost.csproj
  Platform.ServiceDefaults/Platform.ServiceDefaults.csproj
Due: none

docs: 添加运行时错误修复总结
  RUNTIME_ERROR_FIX_SUMMARY.md
Due: prettier --write

docs: 添加条件规则 UI 配置验证文档
  CONDITION_RULE_UI_VERIFICATION.md
Due: prettier --write

fix: 修复条件节点默认分支下拉框显示问题和废弃属性警告
  CONDITION_NODE_MULTI_PATH_IMPLEMENTATION_PLAN.md
  Platform.Admin/src/pages/workflow/components/NodeConfigDrawer.tsx
Due: prettier --write, eslint --fix

fix: 修复目标节点选择中的Select.Option使用和undefined节点过滤
  Platform.Admin/src/pages/workflow/components/NodeConfigDrawer.tsx
Due: prettier --write, eslint --fix

fix: 修复默认分支shouldUpdate中的null检查
  Platform.Admin/src/pages/workflow/components/NodeConfigDrawer.tsx
Due: prettier --write, eslint --fix

fix: 修复条件节点编辑后数据回显问题 - 添加branches和defaultBranchId字段映射
  Platform.Admin/src/pages/workflow/components/WorkflowDesigner.tsx
Due: prettier --write, eslint --fix

feat: 条件间逻辑仅在有多个条件规则时显示且为必选
  Platform.Admin/src/pages/workflow/components/NodeConfigDrawer.tsx
Due: prettier --write, eslint --fix

feat: 根据条件分支的目标节点自动生成连接线
  Platform.Admin/src/pages/workflow/components/WorkflowDesigner.tsx
Due: prettier --write, eslint --fix

feat: 编辑工作流时自动增加minor版本号
  Platform.Admin/src/pages/workflow/components/WorkflowEditForm.tsx
Due: prettier --write, eslint --fix

feat: 删除条件分支中的启用此分支功能
  Platform.Admin/src/pages/workflow/components/NodeConfigDrawer.tsx
  Platform.Admin/src/pages/workflow/components/WorkflowDesigner.tsx
Due: prettier --write, eslint --fix

feat: 后端同步删除条件分支中的Enabled字段
  Platform.ApiService/Models/Workflow/WorkflowDefinition.cs
  Platform.ApiService/Services/WorkflowExpressionEvaluator.cs
  Platform.ApiService/Workflows/Executors/ConditionExecutor.cs
Due: none

feat: 将条件节点的默认分支改为默认节点
  Platform.Admin/src/pages/workflow/components/NodeConfigDrawer.tsx
  Platform.Admin/src/pages/workflow/components/WorkflowDesigner.tsx
  Platform.ApiService/Models/Workflow/WorkflowDefinition.cs
  Platform.ApiService/Services/WorkflowExpressionEvaluator.cs
  Platform.ApiService/Workflows/Executors/ConditionExecutor.cs
  Platform.AppHost.Tests/Tests/WorkflowConditionTests.cs
Due: prettier --write, eslint --fix

fix: 更新前端API类型定义中的defaultBranchId为defaultNodeId
  Platform.Admin/src/services/workflow/api.ts
Due: prettier --write, eslint --fix

docs: 添加条件节点默认节点实现总结文档
  DEFAULT_NODE_IMPLEMENTATION_SUMMARY.md
Due: prettier --write

docs: 添加任务14完成清单
  TASK_14_COMPLETION_CHECKLIST.md
Due: prettier --write

feat: 设置默认节点时自动添加连接线
  Platform.Admin/src/pages/workflow/components/WorkflowDesigner.tsx
Due: prettier --write, eslint --fix

feat: 默认节点连接线使用单独的起点handle
  Platform.Admin/src/pages/workflow/components/WorkflowDesigner.tsx
  Platform.Admin/src/pages/workflow/components/WorkflowDesignerConstants.tsx
Due: prettier --write, eslint --fix

fix: 修复重新编辑流程时连接线错位问题
  Platform.Admin/src/pages/workflow/components/WorkflowDesigner.tsx
Due: prettier --write, eslint --fix

feat: 审批功能同步更新 - 显示条件节点分支和默认节点信息
  Platform.Admin/src/pages/document/components/DocumentDetailDrawer.tsx
Due: prettier --write, eslint --fix

test: 同步更新测试代码 - 支持默认节点功能
  Platform.AppHost.Tests/Tests/WorkflowConditionTests.cs
Due: none

fix: 修复条件节点返回的sourceHandle应为分支ID而非目标节点ID
  Platform.ApiService/Workflows/Executors/ConditionExecutor.cs
Due: none

docs: 添加测试优化指南 - 说明如何避免重复启动AppHost
  TEST_OPTIMIZATION_GUIDE.md
Due: prettier --write

fix: 修复测试代码 - 添加Label属性到WorkflowEdgeRequest，更新测试期望状态
  Platform.AppHost.Tests/Models/WorkflowTestModels.cs
  Platform.AppHost.Tests/Tests/DocumentApprovalTests.cs
  Platform.AppHost.Tests/Tests/WorkflowConditionTests.cs
  Platform.AppHost.Tests/Tests/WorkflowDefinitionTests.cs
Due: none

docs: 添加条件节点路由修复总结文档
  CONDITION_NODE_ROUTING_FIX_SUMMARY.md
Due: prettier --write

docs: 整理测试文档到docs/testing文件夹
  docs/testing/CONDITION_NODE_ROUTING_FIX_SUMMARY.md
  docs/testing/README.md
  docs/testing/TEST_OPTIMIZATION_GUIDE.md
Due: prettier --write

feat: Upgrade workflow condition component integration tests and fix runtime errors
  Platform.Admin/package-lock.json
  Platform.Admin/package.json
  TASK_14_COMPLETION_CHECKLIST.md
  docs/checklists/DELIVERY_CHECKLIST.md
  docs/checklists/FINAL_CHECKLIST.md
  docs/checklists/IMPLEMENTATION_COMPLETE.md
  docs/guides/GIT_COMMIT_GUIDE.md
  docs/guides/MULTI_BRANCH_CONDITION_USAGE_GUIDE.md
  docs/guides/QUICK_REFERENCE.md
  docs/implementation/CASCADING_SELECT_IMPLEMENTATION_SUMMARY.md
  docs/implementation/CONDITION_COMPONENT_ENHANCEMENTS_SUMMARY.md
  docs/implementation/CONDITION_COMPONENT_ENHANCEMENT_PLAN.md
  docs/implementation/CONDITION_COMPONENT_IMPROVEMENTS.md
  docs/implementation/CONDITION_COMPONENT_WORKFLOW_FORM_DATA_FIX.md
  docs/implementation/CONDITION_NODE_MULTI_PATH_IMPLEMENTATION_PLAN.md
  docs/implementation/DEFAULT_NODE_IMPLEMENTATION_SUMMARY.md
  docs/implementation/REALTIME_FORM_SELECTION_UPDATE.md
  docs/reports/BUG_FIXES_SUMMARY.md
  docs/reports/CASCADING_SELECT_FINAL_SUMMARY.md
  docs/reports/CASCADING_SELECT_TEST_RESULTS.md
  docs/reports/CONDITION_COMPONENT_COMPREHENSIVE_REVIEW.md
  docs/reports/CONDITION_COMPONENT_DATA_FLOW_DIAGNOSIS.md
  docs/reports/CONDITION_COMPONENT_FORM_DATA_FIX_SUMMARY.md
  docs/reports/CONDITION_NODE_MULTI_PATH_COMPLETION_SUMMARY.md
  docs/reports/CONDITION_NODE_MULTI_PATH_DESIGN.md
  docs/reports/CONDITION_RULE_UI_VERIFICATION.md
  docs/reports/FINAL_DELIVERY_SUMMARY.md
  docs/reports/FRONTEND_BACKEND_API_COMPATIBILITY_REPORT.md
  docs/reports/FRONTEND_BACKEND_SYNC_COMPLETION_REPORT.md
  docs/reports/INTEGRATION_TESTS_UPGRADE.md
  docs/reports/RUNTIME_ERROR_FIX_SUMMARY.md
  docs/reports/TEST_AND_BUG_FIX_REPORT.md
  docs/reports/TEST_DESIGN_DEFECTS_ANALYSIS.md
  docs/reports/WORKFLOW_CONDITION_FIX_SUMMARY.md
Due: prettier --write

feat: 添加物联网平台事件告警模块到欢迎页面
  Platform.Admin/src/locales/zh-CN/pages.ts
  Platform.Admin/src/pages/Welcome.tsx
  Platform.Admin/src/pages/welcome/components/IoTEventAlertsCard.tsx
  Platform.Admin/src/pages/welcome/components/index.ts
  Platform.Admin/src/services/iot/api.ts
Due: prettier --write, eslint --fix

docs: 添加 IoT 事件告警模块文档
  docs/features/IOT_EVENTS_WELCOME_MODULE.md
Due: prettier --write

docs: 添加 IoT 事件告警模块测试指南
  docs/testing/IOT_EVENTS_TESTING.md
Due: prettier --write

docs: 添加 IoT 事件告警模块实现总结
  docs/features/IOT_EVENTS_IMPLEMENTATION_SUMMARY.md
Due: prettier --write

fix: 修复国际化文件语法错误
  Platform.Admin/src/locales/zh-CN/pages.ts
Due: prettier --write, eslint --fix

fix: 修复 Alert 组件中的国际化占位符问题
  Platform.Admin/src/pages/welcome/components/IoTEventAlertsCard.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json,css,less,md}
  eslint --fix: any of: **/*.{ts,tsx,js,jsx}
