Repository wjw1-Evan/aspire-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx,json,css,less,md}": [
    "prettier --write",
    "git add"
  ],
  "**/*.{ts,tsx,js,jsx}": [
    "eslint --fix",
    "git add"
  ]
}

feat: Add activity log duration display and average duration statistics, optimize backend log service, and refine log item details.
  Platform.Admin/src/locales/en-US/pages.ts
  Platform.Admin/src/locales/zh-CN/pages.ts
  Platform.Admin/src/pages/my-activity/index.tsx
  Platform.Admin/src/pages/user-log/index.tsx
  Platform.ApiService/Controllers/UserController.cs
  Platform.ApiService/Models/Response/ActivityLogListItemResponse.cs
  Platform.ApiService/Models/User.cs
  Platform.ApiService/Services/UserActivityLogService.cs
Due: prettier --write, eslint --fix

feat: Implement actual image thumbnail generation using ImageSharp and initialize empty metadata dictionaries when source metadata is null.
  Platform.ApiService/Services/CloudStorageService.cs
  Platform.ApiService/Services/FilePreviewService.cs
Due: none

feat: Add `SumAsync` to `IDataFactory` and `EFCoreDataFactory`, enhancing file preview statistics and improving PDF, video, and audio preview generation in `FilePreviewService`.
  Platform.ApiService/Services/FilePreviewService.cs
  Platform.ServiceDefaults/Services/EFCoreDataFactory.cs
  Platform.ServiceDefaults/Services/IDataFactory.cs
  docs/智慧园区管理系统/index.html
Due: none

chore: remove unused file
  docs/智慧园区管理系统/index.html
Due: none

Remove a file.
  docs/智慧园区管理系统/3D_Park_Updates_Review.md
  docs/智慧园区管理系统/index.html
Due: prettier --write

chore: remove file
  docs/智慧园区管理系统/index.html
Due: none

chore: remove deleted file
  docs/智慧园区管理系统/index.html
Due: none

chore: remove file.
  docs/智慧园区管理系统/index.html
Due: none

chore: delete file
  docs/智慧园区管理系统/index.html
Due: none

chore: remove an unspecified file.
  docs/智慧园区管理系统/index.html
Due: none

refactor: remove unused file
  docs/智慧园区管理系统/index.html
Due: none

chore: remove a deleted file.
  docs/智慧园区管理系统/index.html
Due: none

Remove a file.
  docs/智慧园区管理系统/index.html
Due: none

Delete file.
  docs/智慧园区管理系统/index.html
Due: none

chore: remove the 'deleted' file.
  docs/智慧园区管理系统/index.html
Due: none

chore: Update dependencies in package-lock.json.
  Platform.App/package-lock.json
Due: prettier --write

refactor: Update Drawer component width properties to use the new `size` prop and refine date handling and data parsing.
  Platform.Admin/src/locales/zh-CN/pages.ts
  Platform.Admin/src/pages/cloud-storage/files/components/FileDetailDrawer.tsx
  Platform.Admin/src/pages/cloud-storage/recycle/index.tsx
  Platform.Admin/src/pages/park-management/asset/index.tsx
  Platform.Admin/src/pages/park-management/contract/index.tsx
  Platform.Admin/src/pages/park-management/enterprise-service/index.tsx
  Platform.Admin/src/pages/park-management/visit-assessment/index.tsx
  Platform.Admin/src/pages/park-management/visit-knowledge-base/index.tsx
  Platform.Admin/src/pages/park-management/visit-task/index.tsx
  Platform.Admin/src/pages/workflow/components/WorkflowDesigner.tsx
  Platform.ApiService/Controllers/UserController.cs
Due: prettier --write, eslint --fix

feat: Implement internationalization for cloud storage pages and update modal mask property.
  Platform.Admin/all_quota_keys.txt
  Platform.Admin/consolidated_quota.txt
  Platform.Admin/src/locales/zh-CN/pages.ts
  Platform.Admin/src/pages/cloud-storage/recycle/index.tsx
  Platform.Admin/src/pages/cloud-storage/shared/index.tsx
  Platform.Admin/src/pages/document/components/DocumentCreateModal.tsx
Due: prettier --write, eslint --fix

chore: Update contact email address in the help modal.
  Platform.Admin/src/components/HelpModal/tabs/TechStackContent.tsx
  Platform.Admin/src/locales/zh-CN/pages.ts
Due: prettier --write, eslint --fix

docs: Update .NET version to 10.0 in the tech stack help content.
  Platform.Admin/src/components/HelpModal/tabs/TechStackContent.tsx
  Platform.Admin/src/locales/zh-CN/pages.ts
Due: prettier --write, eslint --fix

Update dependencies.
  Platform.App/package-lock.json
Due: prettier --write

chore: delete a file.
  docs/智慧园区管理系统/3D_Park_Updates_Review.md
  docs/智慧园区管理系统/index.html
Due: prettier --write

1
  docs/智慧园区管理系统/index.html
Due: none

chore: 修正联系邮箱链接格式
  docs/智慧园区管理系统/index.html
Due: none

deps: update Scalar.Aspire package to 0.8.50.
  Platform.AppHost/Platform.AppHost.csproj
Due: none

feat: Configure API service replicas dynamically for `dotnet watch` and remove `WithHttpEndpoint` from the data initializer.
  Platform.AppHost/AppHost.cs
Due: none

chore: remove a file
  docs/智慧园区管理系统/index.html
Due: none

Update BCrypt.Net-Next package to version 4.1.0.
  Platform.ServiceDefaults/Platform.ServiceDefaults.csproj
Due: none

feat: Add VS Code launch and task configurations for .NET Aspire development.
  .vscode/launch.json
  .vscode/tasks.json
Due: prettier --write

chore: Delete old AuthService.cs backup file.
  Platform.ApiService/Services/AuthService.cs.backup
Due: none

chore: Deleted a file.
  docs/智慧园区管理系统/index.html
Due: none

deps: update `marked`, `@types/node`, and `Scalar.Aspire` dependencies.
  Platform.Admin/package-lock.json
  Platform.Admin/package.json
  Platform.AppHost/Platform.AppHost.csproj
Due: prettier --write

docs: Update README.md
  README.md
Due: prettier --write

build: Update Scalar.Aspire package to version 0.8.55.
  Platform.AppHost/Platform.AppHost.csproj
Due: none

chore: update package dependencies and lock file
  Platform.App/package-lock.json
Due: prettier --write

feat: Introduce workflow management and IoT data retrieval tools in McpService, including new dependencies and URI handling.
  Platform.ApiService/Services/McpService.cs
  README.md
Due: prettier --write

docs: update project documentation in README.docs: update project documentation in README.
  README.md
Due: prettier --write

feat: Implement standardized business exception handling and refactor tenant context and user ID retrieval across services and data factories.
  Platform.ApiService/Controllers/ChatMessagesController.cs
  Platform.ApiService/Controllers/CloudStorageController.cs
  Platform.ApiService/Controllers/IoTController.cs
  Platform.ApiService/Controllers/UserController.cs
  Platform.ApiService/Controllers/WorkflowController.cs
  Platform.ApiService/Filters/BusinessExceptionFilter.cs
  Platform.ApiService/Models/User.cs
  Platform.ApiService/Program.cs
  Platform.ApiService/Services/AiAssistantCoordinator.cs
  Platform.ApiService/Services/BulkOperationService.cs
  Platform.ApiService/Services/ChatService.cs
  Platform.ApiService/Services/DocumentService.cs
  Platform.ApiService/Services/FriendService.cs
  Platform.ApiService/Services/JoinRequestService.cs
  Platform.ApiService/Services/NoticeService.cs
  Platform.ApiService/Services/RoleService.cs
  Platform.ApiService/Services/SocialService.cs
  Platform.ApiService/Services/TaskService.cs
  Platform.ApiService/Services/UnifiedNotificationService.cs
  Platform.ApiService/Services/UserActivityLogService.cs
  Platform.ApiService/Services/UserCompanyService.cs
  Platform.ApiService/Services/UserRoleService.cs
  Platform.ApiService/Services/UserService.cs
  Platform.ApiService/Services/WorkflowEngine.cs
  Platform.ApiService/Services/WorkflowExportImportService.cs
  Platform.ServiceDefaults/Controllers/BaseApiController.cs
  Platform.ServiceDefaults/Exceptions/BusinessException.cs
  Platform.ServiceDefaults/Extensions/CommonExtensions.cs
  Platform.ServiceDefaults/Services/EFCoreDataFactory.cs
  Platform.ServiceDefaults/Services/IDataFactory.cs
  Platform.ServiceDefaults/Services/ITenantContext.cs
Due: none

refactor: Remove audit service, update EF Core data factory paging, integrate tenant context into services, and add IoT controller API documentation.
  Platform.ApiService/Controllers/CloudStorageController.cs
  Platform.ApiService/Controllers/IoTController.cs
  Platform.ApiService/Controllers/UserController.cs
  Platform.ApiService/Services/AiAssistantCoordinator.cs
  Platform.ApiService/Services/FriendService.cs
  Platform.ApiService/Services/NoticeService.cs
  Platform.ApiService/Services/SocialService.cs
  Platform.ApiService/Services/TaskService.cs
  Platform.ApiService/Services/WorkflowExportImportService.cs
  Platform.App/package-lock.json
  Platform.ServiceDefaults/Exceptions/BusinessException.cs
  Platform.ServiceDefaults/Extensions/ServiceExtensions.cs
  Platform.ServiceDefaults/Models/OperationTracking.cs
  Platform.ServiceDefaults/Services/AuditService.cs
  Platform.ServiceDefaults/Services/EFCoreDataFactory.cs
Due: prettier --write
