Repository wjw1-Evan/aspire-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

refactor: Use `ApprovalAction` enum for workflow status mapping and update frontend and Aspire dependencies.
  Platform.Admin/package-lock.json
  Platform.Admin/package.json
  Platform.Admin/src/pages/document/list.tsx
  Platform.Admin/src/utils/statusMaps.ts
  Platform.AppHost/Platform.AppHost.csproj
Due: prettier --write, eslint --fix

feat: Implement cloud storage management features and enhance IoT service search capabilities.
  Platform.Admin/src/components/SearchFormCard/index.tsx
  Platform.Admin/src/locales/en-US/menu.ts
  Platform.Admin/src/locales/en-US/pages.ts
  Platform.Admin/src/locales/zh-CN/menu.ts
  Platform.Admin/src/locales/zh-CN/pages.ts
  Platform.Admin/src/pages/cloud-storage/quota/index.tsx
  Platform.Admin/src/pages/cloud-storage/shared/index.tsx
  Platform.Admin/src/pages/organization/components/AssignUserModal.tsx
  Platform.Admin/src/pages/organization/index.tsx
  Platform.Admin/src/pages/user-management/index.tsx
  Platform.Admin/src/pages/workflow/components/BulkOperationsPanel.tsx
  Platform.ApiService/Services/IoTService.cs
Due: prettier --write, eslint --fix

chore: Remove unnecessary console log statement in AvatarDropdown.
  Platform.Admin/src/components/RightContent/AvatarDropdown.tsx
Due: prettier --write, eslint --fix

refactor: Update Ant Design message usage to `App.useApp()` and remove initial form field value setting.
  Platform.Admin/src/app.tsx
  Platform.Admin/src/pages/account/center/index.tsx
Due: prettier --write, eslint --fix

chore: Archive IoT platform documentation and remove numerous outdated documentation and KiRO specification files.
  .kiro/settings/mcp.json
  .kiro/specs/cloud-storage/design.md
  .kiro/specs/cloud-storage/requirements.md
  .kiro/specs/cloud-storage/tasks.md
  .kiro/specs/macos-sync-client/design.md
  .kiro/specs/macos-sync-client/requirements.md
  .kiro/specs/macos-sync-client/tasks.md
  .kiro/specs/workflow-list-upgrade/design.md
  .kiro/specs/workflow-list-upgrade/requirements.md
  .kiro/specs/workflow-list-upgrade/tasks.md
  .kiro/steering/00-global.md
  .kiro/steering/aspire-development.md
  .kiro/steering/backend.md
  .kiro/steering/frontend-admin.md
  .kiro/steering/frontend-app.md
  .kiro/steering/rule.md
  README.md
  docs/archive/iot-datapoint-data-flow.md
  docs/archive/iot-platform-data-collection-flow.md
  docs/archive/iot-platform-unified-collection.md
  docs/archive/iot-platform-unified-mode.md
  docs/archive/iot-platform-workflow-simple.md
  docs/archive/iot-platform-workflow.md
  docs/bugfixes/fix-httpcontext-disposed-in-activity-log-middleware.md
  docs/bugfixes/workflow-approval-duplicate-check-fix.md
  docs/log-optimization.md
  docs/log-test-guide.md
  docs/workflow-approval-node-fix.md
  docs/workflow-mongodb-serialization-fix.md
  docs/workflow-optimization-summary.md
Due: prettier --write

docs: Update frontend app and admin rules.
  .cursor/rules/frontend-admin.mdc
  .cursor/rules/frontend-app.mdc
Due: none

chore: Remove test projects and associated VS Code configurations, updating the solution and README files.
  .cursor/rules/backend.mdc
  .vscode/launch.json
  .vscode/mcp.json
  .vscode/settings.json
  .vscode/tasks.json
  Platform.ApiService.Tests/ActivityLogMiddlewareTests.cs
  Platform.ApiService.Tests/Integration/ApiServiceIntegrationTests.cs
  Platform.ApiService.Tests/Platform.ApiService.Tests.csproj
  Platform.ApiService.Tests/ResponseFormattingMiddlewareTests.cs
  Platform.ApiService.Tests/TestAssemblyInit.cs
  Platform.ApiService.Tests/UserActivityLogServiceTests.cs
  Platform.ApiService.Tests/WorkflowExpressionEvaluatorTests.cs
  Platform.ApiService.Tests/WorkflowGraphValidatorTests.cs
  Platform.AppHost.Tests/AppHostTests.cs
  Platform.AppHost.Tests/Platform.AppHost.Tests.csproj
  Platform.AppHost.Tests/ServiceDefaultsBuildersTests.cs
  Platform.sln
  README.md
Due: prettier --write

refactor: Replaced Ant Design List component with a custom flexbox layout for chat messages and applied `white-space: pre-wrap` to message content.
  Platform.Admin/src/pages/xiaoke-management/chat-history/components/ChatHistoryDetail.tsx
Due: prettier --write, eslint --fix

refactor: Standardize confirmation dialogs using `useModal` or `App.useApp().modal` with danger button styling and add new i18n entries.
  Platform.Admin/src/components/CrudTable.tsx
  Platform.Admin/src/locales/en-US/pages.ts
  Platform.Admin/src/locales/zh-CN/pages.ts
  Platform.Admin/src/locales/zh-TW/pages.ts
  Platform.Admin/src/pages/cloud-storage/files/index.tsx
  Platform.Admin/src/pages/cloud-storage/quota/index.tsx
  Platform.Admin/src/pages/cloud-storage/recycle/index.tsx
  Platform.Admin/src/pages/cloud-storage/shared/index.tsx
  Platform.Admin/src/pages/iot-platform/components/DataPointManagement.tsx
  Platform.Admin/src/pages/iot-platform/components/DeviceManagement.tsx
  Platform.Admin/src/pages/iot-platform/components/GatewayManagement.tsx
  Platform.Admin/src/pages/join-requests/my/index.tsx
  Platform.Admin/src/pages/join-requests/pending/index.tsx
  Platform.Admin/src/pages/organization/index.tsx
  Platform.Admin/src/pages/task-management/components/ProjectMemberManagement.tsx
  Platform.Admin/src/pages/task-management/components/ProjectView.tsx
  Platform.Admin/src/pages/task-management/components/TaskTree.tsx
  Platform.Admin/src/pages/workflow/components/WorkflowDesigner.tsx
  Platform.Admin/src/pages/xiaoke-management/chat-history/components/ChatHistoryManagement.tsx
  Platform.Admin/src/pages/xiaoke-management/config/components/ConfigManagement.tsx
Due: prettier --write, eslint --fix

feat: Add tiny area charts with tooltips to resource cards on the Welcome page to visualize historical resource usage.
  Platform.Admin/src/pages/Welcome.tsx
Due: prettier --write, eslint --fix

feat: Enhance system monitoring to include process-specific CPU usage and refine CPU calculation logic, alongside minor UI and localization updates.
  Platform.Admin/src/locales/en-US/pages.ts
  Platform.Admin/src/locales/zh-CN/pages.ts
  Platform.Admin/src/pages/Welcome.tsx
  Platform.Admin/src/pages/user-management/components/UserDetail.tsx
  Platform.Admin/src/pages/user-management/index.tsx
  Platform.Admin/src/services/system/api.ts
  Platform.ApiService/Controllers/SystemMonitorController.cs
Due: prettier --write, eslint --fix

perf: Optimize system resource monitoring by adding frontend memoization, visibility-aware polling, backend caching, and refined CPU usage calculation.
  Platform.Admin/src/pages/Welcome.tsx
  Platform.Admin/src/pages/user-management/components/UserStatistics.tsx
  Platform.ApiService/Controllers/SystemMonitorController.cs
Due: prettier --write, eslint --fix

feat: Implement task filtering via URL parameters and visually refresh Welcome page cards with new localization.
  Platform.Admin/src/locales/en-US/pages.ts
  Platform.Admin/src/locales/zh-CN/pages.ts
  Platform.Admin/src/pages/Welcome.tsx
  Platform.Admin/src/pages/task-management/index.tsx
Due: prettier --write, eslint --fix

feat: Implement custom workflow designer nodes with enhanced UI and update Welcome page polling interval and layout.
  Platform.Admin/src/locales/en-US/pages.ts
  Platform.Admin/src/locales/zh-CN/pages.ts
  Platform.Admin/src/locales/zh-TW/pages.ts
  Platform.Admin/src/pages/Welcome.tsx
  Platform.Admin/src/pages/document/approval.tsx
  Platform.Admin/src/pages/workflow/components/WorkflowDesigner.less
  Platform.Admin/src/pages/workflow/components/WorkflowDesigner.tsx
  Platform.Admin/src/services/workflow/api.ts
  Platform.ApiService/Models/WorkflowModels.cs
  Platform.ApiService/Program.cs
  Platform.ApiService/Services/ApproverResolverFactory.cs
  Platform.ApiService/Services/ApproverResolvers.cs
  Platform.ApiService/Services/IApproverResolver.cs
  Platform.ApiService/Services/WorkflowEngine.cs
Due: prettier --write, eslint --fix

feat: Add new help content for workflow management features and v6.2 updates to the help modal across multiple locales.
  Platform.Admin/src/components/HelpModal/index.tsx
  Platform.Admin/src/locales/bn-BD/pages.ts
  Platform.Admin/src/locales/en-US/pages.ts
  Platform.Admin/src/locales/fa-IR/pages.ts
  Platform.Admin/src/locales/id-ID/pages.ts
  Platform.Admin/src/locales/ja-JP/pages.ts
  Platform.Admin/src/locales/pt-BR/pages.ts
  Platform.Admin/src/locales/zh-CN/pages.ts
  Platform.Admin/src/locales/zh-TW/pages.ts
Due: prettier --write, eslint --fix

feat: remove activity log display from user account center and refine login captcha error handling.
  Platform.Admin/src/components/RightContent/AvatarDropdown.tsx
  Platform.Admin/src/pages/account/center/index.tsx
  Platform.Admin/src/pages/user/login/index.tsx
Due: prettier --write, eslint --fix

feat: Add comprehensive MongoDB indexes for user, company, user activity, and other core entities to enhance data integrity and query performance.
  Platform.Admin/src/pages/my-activity/index.tsx
  Platform.Admin/src/services/user-log/api.ts
  Platform.ApiService/Controllers/UserController.cs
  Platform.ApiService/Models/User.cs
  Platform.ApiService/Services/ApproverResolvers.cs
  Platform.ApiService/Services/IUserActivityLogService.cs
  Platform.ApiService/Services/IUserService.cs
  Platform.ApiService/Services/UserActivityLogService.cs
  Platform.ApiService/Services/UserService.cs
  Platform.DataInitializer/Program.cs
  Platform.DataInitializer/Scripts/CreateAllIndexes.cs
Due: prettier --write, eslint --fix

feat: Adopt Ant Design theme tokens for dynamic styling in the Unified Notification Center and optimize tenant filtering by caching the `CompanyId` BSON field name.
  Platform.Admin/src/components/UnifiedNotificationCenter/index.less
  Platform.Admin/src/components/UnifiedNotificationCenter/index.tsx
  Platform.ServiceDefaults/Services/DatabaseOperationFactory.cs
Due: prettier --write, eslint --fix

deps: Update Scalar.Aspire package from 0.8.39 to 0.8.41.
  Platform.AppHost/Platform.AppHost.csproj
Due: none

feat: Implement a new remark field for user profiles across the API and admin UI.
  Platform.Admin/src/pages/user-management/components/UserForm.tsx
  Platform.Admin/src/pages/user-management/index.tsx
  Platform.Admin/src/pages/user-management/types.ts
  Platform.ApiService/Models/AuthModels.cs
  Platform.ApiService/Models/User.cs
  Platform.ApiService/Services/UserService.cs
Due: prettier --write, eslint --fix

feat: Add a remark field to user profiles and enhance user-company role assignment logic.
  Platform.Admin/src/pages/account/center/index.tsx
  Platform.Admin/src/pages/company/components/MyJoinRequestsTable.tsx
  Platform.Admin/src/pages/company/search/index.tsx
  Platform.Admin/src/pages/join-requests/my/index.tsx
  Platform.Admin/src/pages/join-requests/pending/index.tsx
  Platform.Admin/src/pages/user-management/components/JoinRequestsTable.tsx
  Platform.Admin/src/pages/user-management/index.tsx
  Platform.Admin/src/pages/user-management/types.ts
  Platform.Admin/src/services/company.ts
  Platform.ApiService/Controllers/CompanyController.cs
  Platform.ApiService/Controllers/UserController.cs
  Platform.ApiService/Models/AuthModels.cs
  Platform.ApiService/Services/AuthService.cs
  Platform.ApiService/Services/UserCompanyService.cs
Due: prettier --write, eslint --fix

refactor: Replace hardcoded colors with Ant Design theme tokens and refine company search result display.
  Platform.Admin/src/pages/company/components/MyJoinRequestsTable.tsx
  Platform.Admin/src/pages/company/search/index.tsx
Due: prettier --write, eslint --fix

Refactor company management by consolidating join, leave, and request cancellation functionalities into a single modal, and removing the dedicated "My Join Requests" and "Company Search" pages.
  Platform.Admin/config/routes.ts
  Platform.Admin/src/components/CompanySwitcher/index.tsx
  Platform.Admin/src/components/JoinCompanyModal/index.tsx
  Platform.Admin/src/locales/zh-CN/menu.ts
  Platform.Admin/src/pages/company/search/index.tsx
  Platform.Admin/src/pages/join-requests/my/index.tsx
  Platform.Admin/src/services/ant-design-pro/typings.d.ts
  Platform.Admin/src/services/company.ts
  Platform.ApiService/Controllers/CompanyController.cs
  Platform.ApiService/Models/UserCompanyModels.cs
  Platform.ApiService/Services/CompanyService.cs
  Platform.ApiService/Services/UserCompanyService.cs
  Platform.DataInitializer/Services/DataInitializerService.cs
Due: prettier --write, eslint --fix

refactor: Centralize error handling by removing local error messages, adding support for field validation errors, and refining error message extraction in the global interceptor.
  Platform.Admin/src/components/JoinCompanyModal/index.tsx
  Platform.Admin/src/services/ant-design-pro/typings.d.ts
  Platform.Admin/src/utils/errorInterceptor.ts
  Platform.ApiService/Middleware/ResponseFormattingMiddleware.cs
  Platform.ApiService/Program.cs
Due: prettier --write, eslint --fix

Configure application services and middleware in `Program.cs`.
  Platform.ApiService/Program.cs
Due: none

build: Update application startup and service configuration.
  Platform.ApiService/Program.cs
Due: none

refactor: standardize API error messages with internationalized keys, update frontend localization, and document new response rules.
  Platform.Admin/src/locales/en-US.ts
  Platform.Admin/src/locales/en-US/request.ts
  Platform.Admin/src/locales/zh-CN.ts
  Platform.Admin/src/locales/zh-CN/request.ts
  Platform.Admin/src/utils/errorInterceptor.ts
  Platform.ApiService/Resources/SharedResource.cs
  Platform.ApiService/Services/AuthService.cs
  Platform.ApiService/Services/UniquenessChecker.cs
  Platform.ApiService/Services/UserCompanyService.cs
  Platform.ApiService/Services/UserService.cs
  docs/features/API-RESPONSE-RULES.md
  docs/features/FRONTEND-RULES.md
Due: prettier --write, eslint --fix

feat: Add company creator name display to the join company modal and enhance error message translation logic.
  Platform.Admin/src/components/JoinCompanyModal/index.tsx
  Platform.Admin/src/services/ant-design-pro/typings.d.ts
  Platform.Admin/src/utils/errorInterceptor.ts
  Platform.ApiService/Models/UserCompanyModels.cs
  Platform.ApiService/Services/CompanyService.cs
Due: prettier --write, eslint --fix

refactor: Standardize header action button styles to a consistent circular/pill-shaped design with updated visual effects and improved hover states.
  Platform.Admin/src/app.tsx
  Platform.Admin/src/components/RightContent/AvatarDropdown.tsx
  Platform.Admin/src/components/RightContent/index.less
  Platform.Admin/src/components/SelectLang/index.less
  Platform.Admin/src/components/SelectLang/index.tsx
Due: prettier --write, eslint --fix

chore: Update package lock file due to dependency changes.
  Platform.App/package-lock.json
Due: prettier --write

feat: Introduce company system display name with UI, API, and improved expression handling for database updates.
  Platform.Admin/src/app.tsx
  Platform.Admin/src/locales/en-US/pages.ts
  Platform.Admin/src/locales/zh-CN/pages.ts
  Platform.Admin/src/pages/Welcome.tsx
  Platform.Admin/src/pages/company/components/EditCompanyModal.tsx
  Platform.Admin/src/pages/company/settings.tsx
  Platform.Admin/src/services/ant-design-pro/typings.d.ts
  Platform.ApiService/Models/AuthModels.cs
  Platform.ApiService/Models/CompanyModels.cs
  Platform.ApiService/Program.cs
  Platform.ApiService/Services/AuthService.cs
  Platform.ApiService/Services/CompanyService.cs
  Platform.App/package-lock.json
  Platform.ServiceDefaults/Services/FilterBuilder.cs
Due: prettier --write, eslint --fix

feat: Add company logo field to user typings and display it in company settings.
  Platform.Admin/config/defaultSettings.ts
  Platform.Admin/src/app.tsx
  Platform.Admin/src/pages/company/settings.tsx
  Platform.Admin/src/services/ant-design-pro/typings.d.ts
  Platform.ApiService/Models/AuthModels.cs
  Platform.ApiService/Services/AuthService.cs
Due: prettier --write, eslint --fix

feat: Centralize application title using `Settings.title` and update welcome messages to use a title placeholder.
  Platform.Admin/src/locales/en-US/pages.ts
  Platform.Admin/src/locales/zh-CN/pages.ts
  Platform.Admin/src/pages/Welcome.tsx
  Platform.Admin/src/pages/user/login/index.tsx
Due: prettier --write, eslint --fix

chore: Update dependency lock file.
  Platform.App/package-lock.json
Due: prettier --write

feat: Introduce dynamic application title from `Settings` for branding across UI and localization.
  Platform.Admin/src/components/HelpModal/index.tsx
  Platform.Admin/src/locales/en-US/pages.ts
  Platform.Admin/src/locales/zh-CN/pages.ts
  Platform.Admin/src/locales/zh-TW/pages.ts
  Platform.Admin/src/pages/Welcome.tsx
  Platform.Admin/src/pages/company/components/EditCompanyModal.tsx
  Platform.App/package-lock.json
Due: prettier --write, eslint --fix

style: Optimize responsive layout and table column visibility by adjusting global styles and user management page configurations.
  Platform.Admin/src/app.tsx
  Platform.Admin/src/global.less
  Platform.Admin/src/pages/user-management/index.tsx
Due: prettier --write, eslint --fix

feat: Implement file validation for uploads and adjust application host and JWT token configurations.
  Platform.ApiService/Services/CloudStorageService.cs
  Platform.ApiService/Validators/FileValidator.cs
  Platform.ApiService/Validators/ValidationHelper.cs
  Platform.ApiService/appsettings.json
  Platform.DataInitializer/appsettings.json
Due: prettier --write

refactor: Broaden `AllowedHosts`, make password controller actions synchronous, and update activity log exclusion path matching to use `Contains`.
  Platform.ApiService/Controllers/PasswordBookController.cs
  Platform.ApiService/Controllers/QuotaController.cs
  Platform.ApiService/Middleware/ActivityLogMiddleware.cs
  Platform.ApiService/Middleware/ResponseFormattingMiddleware.cs
  Platform.ApiService/appsettings.json
Due: prettier --write

feat: Implement task type management, tree-view for tasks, and recursive soft-deletion for tasks and their descendants.
  Platform.Admin/src/locales/en-US/pages.ts
  Platform.Admin/src/locales/zh-CN/pages.ts
  Platform.Admin/src/pages/task-management/components/TaskExecutionPanel.tsx
  Platform.Admin/src/pages/task-management/components/TaskForm.tsx
  Platform.Admin/src/pages/task-management/index.tsx
  Platform.ApiService/Controllers/TaskController.cs
  Platform.ApiService/Models/TaskDtoModels.cs
  Platform.ApiService/Models/TaskModels.cs
  Platform.ApiService/Services/TaskService.cs
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json,css,less,md}
  eslint --fix: any of: **/*.{ts,tsx,js,jsx}
