Repository wjw1-Evan/aspire-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat: Implement project filtering and display project names in task management.
  Platform.Admin/src/pages/task-management/index.tsx
  Platform.Admin/src/services/task/api.ts
  Platform.ApiService/Models/TaskDtoModels.cs
  Platform.ApiService/Services/TaskService.cs
Due: prettier --write, eslint --fix

feat: Introduce new tools for project, document, and cloud storage management in McpService, including service injections and `projectId` parameters for task tools.
  Platform.ApiService/Resources/SharedResource.cs
  Platform.ApiService/Services/McpService.cs
Due: none

feat: Add todo management, system message retrieval, and batch notification read functionalities.
  Platform.ApiService/Services/McpService.cs
Due: none

refactor: Remove redundant modal wrapper for task forms and adjust component widths.
  Platform.Admin/src/pages/task-management/components/ProjectDetail.tsx
  Platform.Admin/src/pages/task-management/components/ProjectView.tsx
  Platform.Admin/src/pages/task-management/components/TaskTree.tsx
Due: prettier --write, eslint --fix

Refactor the join requests table to use a custom DataTable with search, improved UI, and enhanced approval/rejection workflow, alongside related backend and localization updates.
  Platform.Admin/config/config.ts
  Platform.Admin/config/routes.ts
  Platform.Admin/src/components/PageContainer/index.tsx
  Platform.Admin/src/components/SelectLang/index.less
  Platform.Admin/src/locales/en-US/menu.ts
  Platform.Admin/src/locales/en-US/pages.ts
  Platform.Admin/src/locales/zh-CN/menu.ts
  Platform.Admin/src/locales/zh-CN/pages.ts
  Platform.Admin/src/pages/company/components/MyJoinRequestsTable.tsx
  Platform.Admin/src/pages/user-management/components/JoinRequestsTable.tsx
  Platform.Admin/src/pages/user-management/components/UserForm.tsx
  Platform.Admin/src/pages/user-management/index.tsx
  Platform.Admin/src/pages/user-management/types.ts
  Platform.ApiService/Controllers/UserController.cs
  Platform.ApiService/Models/User.cs
  Platform.ApiService/Services/JoinRequestService.cs
  Platform.ApiService/Services/UserCompanyService.cs
  Platform.ApiService/Services/UserService.cs
  Platform.AppHost/Platform.AppHost.csproj
  Platform.DataInitializer/Services/DataInitializerService.cs
  Platform.ServiceDefaults/Services/DatabaseOperationFactory.cs
  Platform.ServiceDefaults/Services/IDatabaseOperationFactory.cs
Due: prettier --write, eslint --fix

feat: Display a "Creator" tag next to the company creator in the user management list.
  Platform.Admin/src/locales/zh-CN/pages.ts
  Platform.Admin/src/pages/user-management/index.tsx
  Platform.Admin/src/services/ant-design-pro/typings.d.ts
Due: prettier --write, eslint --fix

feat: Remove new user creation logic from `AddUserToCompanyAsync` and throw an exception if the user does not exist.
  Platform.ApiService/Services/UserService.cs
Due: none

refactor: extract document management logic and UI into new components and a custom hook for the document list page, and update user request validation.
  Platform.Admin/src/components/SelectLang/index.tsx
  Platform.Admin/src/pages/document/components/DocumentCreateModal.tsx
  Platform.Admin/src/pages/document/components/DocumentSearchForm.tsx
  Platform.Admin/src/pages/document/components/DocumentStatistics.tsx
  Platform.Admin/src/pages/document/components/DocumentSubmitModal.tsx
  Platform.Admin/src/pages/document/components/index.ts
  Platform.Admin/src/pages/document/components/types.ts
  Platform.Admin/src/pages/document/hooks/useDocumentManagement.ts
  Platform.Admin/src/pages/document/list.tsx
  Platform.ApiService/Validators/UserRequestValidator.cs
Due: prettier --write, eslint --fix

refactor: update company service logic for improved data handling.
  Platform.ApiService/Services/CompanyService.cs
Due: none

refactor: Remove username from audit fields, add last operation type and timestamp, and simplify actor retrieval in database operations.
  Platform.ApiService/Controllers/CompanyController.cs
  Platform.ApiService/Models/CompanyModels.cs
  Platform.ApiService/Services/AuthService.cs
  Platform.ApiService/Services/CompanyService.cs
  Platform.ApiService/Services/UserCompanyService.cs
  Platform.ServiceDefaults/Models/BaseEntity.cs
  Platform.ServiceDefaults/Models/OperationTracking.cs
  Platform.ServiceDefaults/Services/DatabaseOperationFactory.cs
  Platform.ServiceDefaults/Services/IDatabaseOperationFactory.cs
Due: none

feat: Add 'Architecture' i18n key, enhance icon component resolution logic, and expand menu path-based color assignments.
  Platform.Admin/src/locales/ar-EG/pages.ts
  Platform.Admin/src/locales/de-DE/pages.ts
  Platform.Admin/src/locales/en-US/pages.ts
  Platform.Admin/src/locales/es-ES/pages.ts
  Platform.Admin/src/locales/fr-FR/pages.ts
  Platform.Admin/src/locales/it-IT/pages.ts
  Platform.Admin/src/locales/ko-KR/pages.ts
  Platform.Admin/src/locales/ru-RU/pages.ts
  Platform.Admin/src/locales/th-TH/pages.ts
  Platform.Admin/src/locales/tr-TR/pages.ts
  Platform.Admin/src/locales/vi-VN/pages.ts
  Platform.Admin/src/locales/zh-CN/pages.ts
  Platform.Admin/src/pages/welcome/utils/index.ts
Due: prettier --write, eslint --fix

perf: Increase system resource polling interval to 5 seconds to reduce pressure and update dev dependencies.
  Platform.Admin/package-lock.json
  Platform.Admin/package.json
  Platform.Admin/src/pages/Welcome.tsx
Due: prettier --write, eslint --fix

perf: Optimize `PageContainer` and `StatCard` rendering with `React.memo` and introduce an icon map to enhance Ant Design icon tree-shaking.
  Platform.Admin/src/app.tsx
  Platform.Admin/src/components/PageContainer/index.tsx
  Platform.Admin/src/components/StatCard.tsx
  Platform.Admin/src/utils/iconMap.tsx
Due: prettier --write, eslint --fix

feat: Implement table column resizing, lazy load AI assistant, dynamically import location service, and add a 'More' button to the recent activities card.
  Platform.Admin/src/app.tsx
  Platform.Admin/src/components/AiAssistant/index.tsx
  Platform.Admin/src/components/DataTable/index.tsx
  Platform.Admin/src/hooks/useTableResize.ts
  Platform.Admin/src/pages/user-management/index.tsx
  Platform.Admin/src/pages/welcome/components/RecentActivitiesCard.tsx
Due: prettier --write, eslint --fix

feat: Enhance nested menu icon display by adding new icons and implementing custom rendering logic using `rawIcon` and `Space` component.
  Platform.Admin/src/app.tsx
  Platform.Admin/src/locales/en-US/pages.ts
  Platform.Admin/src/locales/zh-CN/pages.ts
  Platform.Admin/src/utils/iconMap.tsx
Due: prettier --write, eslint --fix

feat: Implement `Link` component for menu item navigation and update nested menu property to `routes`.
  Platform.Admin/src/app.tsx
Due: prettier --write, eslint --fix

refactor: remove update interval tag from system resources card header.
  Platform.Admin/src/app.tsx
  Platform.Admin/src/pages/welcome/components/SystemResourcesCard.tsx
  Platform.DataInitializer/Services/DataInitializerService.cs
Due: prettier --write, eslint --fix

feat: Implement infinite scroll for recent activities within the Welcome page's activity card.
  Platform.Admin/src/pages/Welcome.tsx
  Platform.Admin/src/pages/welcome/components/RecentActivitiesCard.tsx
Due: prettier --write, eslint --fix

feat: enhance activity log display with detailed action text, HTTP method colors, and status indicators.
  Platform.Admin/src/pages/my-activity/index.tsx
  Platform.Admin/src/pages/welcome/components/QuickAction.tsx
  Platform.Admin/src/pages/welcome/components/RecentActivitiesCard.tsx
  Platform.Admin/src/pages/welcome/utils/index.ts
Due: prettier --write, eslint --fix

style: refine StatCard component layout by adjusting padding, font sizes, and icon dimensions.
  Platform.Admin/src/pages/welcome/components/StatCard.tsx
Due: prettier --write, eslint --fix

style: Update StatCard element opacity from 0.15 to 1.
  Platform.Admin/src/pages/welcome/components/StatCard.tsx
Due: prettier --write, eslint --fix

feat: Add total roles and total organizations statistics to the welcome dashboard.
  Platform.Admin/src/locales/en-US/pages.ts
  Platform.Admin/src/locales/zh-CN/pages.ts
  Platform.Admin/src/pages/welcome/components/StatisticsOverview.tsx
  Platform.Admin/src/services/ant-design-pro/typings.d.ts
  Platform.ApiService/Models/User.cs
  Platform.ApiService/Services/IUserRoleService.cs
  Platform.ApiService/Services/OrganizationService.cs
  Platform.ApiService/Services/UserRoleService.cs
  Platform.ApiService/Services/UserService.cs
Due: prettier --write, eslint --fix

feat: Introduce WorkflowEditForm and implement read-only mode for WorkflowDesigner to support workflow viewing.
  Platform.Admin/src/pages/workflow/components/WorkflowCreateForm.tsx
  Platform.Admin/src/pages/workflow/components/WorkflowDesigner.tsx
  Platform.Admin/src/pages/workflow/components/WorkflowEditForm.tsx
  Platform.Admin/src/pages/workflow/list.tsx
Due: prettier --write, eslint --fix

feat: Implement comprehensive park management features including asset, investment, tenant, and enterprise services.
  Platform.Admin/config/routes.ts
  Platform.Admin/src/locales/de-DE/pages.ts
  Platform.Admin/src/locales/en-US/menu.ts
  Platform.Admin/src/locales/en-US/pages.ts
  Platform.Admin/src/locales/es-ES/pages.ts
  Platform.Admin/src/locales/ja-JP/pages.ts
  Platform.Admin/src/locales/ko-KR/pages.ts
  Platform.Admin/src/locales/zh-CN/menu.ts
  Platform.Admin/src/locales/zh-CN/pages.ts
  Platform.Admin/src/locales/zh-TW/pages.ts
  Platform.Admin/src/pages/park-management/asset/index.less
  Platform.Admin/src/pages/park-management/asset/index.tsx
  Platform.Admin/src/pages/park-management/enterprise-service/index.less
  Platform.Admin/src/pages/park-management/enterprise-service/index.tsx
  Platform.Admin/src/pages/park-management/investment/index.less
  Platform.Admin/src/pages/park-management/investment/index.tsx
  Platform.Admin/src/pages/park-management/statistics/index.less
  Platform.Admin/src/pages/park-management/statistics/index.tsx
  Platform.Admin/src/pages/park-management/tenant/index.less
  Platform.Admin/src/pages/park-management/tenant/index.tsx
  Platform.Admin/src/services/park/index.ts
  Platform.Admin/src/utils/iconMap.tsx
  Platform.ApiService/Controllers/ParkAssetController.cs
  Platform.ApiService/Controllers/ParkEnterpriseServiceController.cs
  Platform.ApiService/Controllers/ParkInvestmentController.cs
  Platform.ApiService/Controllers/ParkTenantController.cs
  Platform.ApiService/Models/ParkManagementModels.cs
  Platform.ApiService/Services/Park/IParkManagementServices.cs
  Platform.ApiService/Services/Park/ParkAssetService.cs
  Platform.ApiService/Services/Park/ParkEnterpriseServiceService.cs
  Platform.ApiService/Services/Park/ParkInvestmentService.cs
  Platform.ApiService/Services/Park/ParkTenantService.cs
  Platform.DataInitializer/Services/DataInitializerService.cs
Due: prettier --write, eslint --fix

docs: Update backend rules and database operation factory documentation and configurations.
  .cursor/rules/00-global.mdc
  .cursor/rules/backend.mdc
  docs/features/BACKEND-RULES.md
  docs/features/DATABASE-OPERATION-FACTORY-GUIDE.md
  docs/开发规范.md
Due: prettier --write

deps: Update Scalar.Aspire package and @types/node dev dependency versions.
  Platform.Admin/package-lock.json
  Platform.Admin/package.json
  Platform.AppHost/Platform.AppHost.csproj
Due: prettier --write

feat: Implement custom date range filtering for park statistics endpoints and add comprehensive XML documentation to park management models.
  Platform.Admin/src/pages/park-management/statistics/index.tsx
  Platform.Admin/src/services/park/index.ts
  Platform.ApiService/Controllers/ParkAssetController.cs
  Platform.ApiService/Controllers/ParkEnterpriseServiceController.cs
  Platform.ApiService/Controllers/ParkInvestmentController.cs
  Platform.ApiService/Controllers/ParkTenantController.cs
  Platform.ApiService/Models/ParkManagementModels.cs
  Platform.ApiService/Services/Park/IParkManagementServices.cs
  Platform.ApiService/Services/Park/ParkAssetService.cs
  Platform.ApiService/Services/Park/ParkEnterpriseServiceService.cs
  Platform.ApiService/Services/Park/ParkInvestmentService.cs
  Platform.ApiService/Services/Park/ParkTenantService.cs
Due: prettier --write, eslint --fix

feat: Implement AI report generation and enhance park tenant statistics with dynamic YoY/MoM calculations.
  Platform.Admin/src/locales/zh-CN/pages.ts
  Platform.Admin/src/pages/park-management/statistics/index.tsx
  Platform.Admin/src/services/park/index.ts
  Platform.ApiService/Controllers/ParkStatisticsController.cs
  Platform.ApiService/Services/Park/IParkManagementServices.cs
  Platform.ApiService/Services/Park/ParkAssetService.cs
  Platform.ApiService/Services/Park/ParkEnterpriseServiceService.cs
  Platform.ApiService/Services/Park/ParkInvestmentService.cs
  Platform.ApiService/Services/Park/ParkStatisticsService.cs
  Platform.ApiService/Services/Park/ParkTenantService.cs
  README.md
Due: prettier --write, eslint --fix

feat: Add new localization keys for park management features and update Statistic component styling.
  Platform.Admin/src/locales/en-US/pages.ts
  Platform.Admin/src/locales/zh-CN/pages.ts
  Platform.Admin/src/pages/park-management/statistics/index.tsx
Due: prettier --write, eslint --fix

feat: Add property unit detail view with lease history and update related services and models.
  Platform.Admin/src/locales/en-US/pages.ts
  Platform.Admin/src/locales/zh-CN/pages.ts
  Platform.Admin/src/pages/park-management/asset/index.tsx
  Platform.Admin/src/pages/park-management/statistics/index.tsx
  Platform.Admin/src/pages/park-management/tenant/index.tsx
  Platform.Admin/src/services/park/index.ts
  Platform.ApiService/Controllers/ParkTenantController.cs
  Platform.ApiService/Models/ParkManagementModels.cs
  Platform.ApiService/Services/Park/IParkManagementServices.cs
  Platform.ApiService/Services/Park/ParkAssetService.cs
  Platform.ApiService/Services/Park/ParkTenantService.cs
Due: prettier --write, eslint --fix

fix: Calculate pro-rated rent month-by-month based on actual days in each month for improved accuracy.
  Platform.ApiService/Services/Park/ParkStatisticsService.cs
  Platform.ApiService/Services/Park/ParkTenantService.cs
Due: none

feat: Add collection status metrics, refine park statistics calculations, and improve AI report markdown styling.
  Platform.Admin/src/locales/en-US/pages.ts
  Platform.Admin/src/locales/zh-CN/pages.ts
  Platform.Admin/src/pages/park-management/statistics/index.less
  Platform.Admin/src/pages/park-management/statistics/index.tsx
  Platform.ApiService/Services/Park/ParkInvestmentService.cs
  Platform.ApiService/Services/Park/ParkStatisticsService.cs
  Platform.ApiService/Services/Park/ParkTenantService.cs
Due: prettier --write, eslint --fix

feat: Add property fee field to tenant and contract models and enable quick creation of service requests from the tenant list.
  Platform.Admin/src/locales/en-US/pages.ts
  Platform.Admin/src/locales/zh-CN/pages.ts
  Platform.Admin/src/pages/park-management/enterprise-service/index.tsx
  Platform.Admin/src/pages/park-management/tenant/index.tsx
  Platform.Admin/src/services/park/index.ts
  Platform.ApiService/Models/ParkManagementModels.cs
Due: prettier --write, eslint --fix

feat: Implement contract rental pricing method with auto-calculated rent and total amount, and add payment type to payment records.
  Platform.Admin/src/locales/zh-CN/pages.ts
  Platform.Admin/src/pages/park-management/tenant/index.tsx
  Platform.Admin/src/services/park/index.ts
  Platform.ApiService/Models/ParkManagementModels.cs
  Platform.ApiService/Services/Park/ParkTenantService.cs
Due: prettier --write, eslint --fix

feat: Add contract management feature with new UI, routes, and API integration.
  Platform.Admin/config/routes.ts
  Platform.Admin/src/locales/en-US/menu.ts
  Platform.Admin/src/locales/en-US/pages.ts
  Platform.Admin/src/locales/zh-CN/menu.ts
  Platform.Admin/src/locales/zh-CN/pages.ts
  Platform.Admin/src/pages/park-management/asset/index.tsx
  Platform.Admin/src/pages/park-management/contract/index.less
  Platform.Admin/src/pages/park-management/contract/index.tsx
  Platform.Admin/src/pages/park-management/statistics/index.tsx
  Platform.Admin/src/pages/park-management/tenant/index.tsx
  Platform.Admin/src/services/park/index.ts
  Platform.ApiService/Services/Park/ParkTenantService.cs
  Platform.DataInitializer/Services/DataInitializerService.cs
Due: prettier --write, eslint --fix

feat: Add attachment upload functionality for building and property unit assets.
  Platform.Admin/src/locales/en-US/pages.ts
  Platform.Admin/src/locales/zh-CN/pages.ts
  Platform.Admin/src/pages/park-management/asset/index.tsx
  Platform.Admin/src/services/park/index.ts
  Platform.ApiService/Models/ParkManagementModels.cs
  Platform.ApiService/Services/Park/ParkAssetService.cs
Due: prettier --write, eslint --fix

refactor: Update Ant Design component prop usage and centralize common model interfaces in BaseEntity.
  Platform.Admin/src/locales/zh-CN/pages.ts
  Platform.Admin/src/pages/park-management/statistics/index.tsx
  Platform.Admin/src/pages/workflow/list.tsx
  Platform.ApiService/Models/ParkManagementModels.cs
  Platform.ServiceDefaults/Models/BaseEntity.cs
Due: prettier --write, eslint --fix

feat: Redesign park management statistics overview cards to include new financial, occupancy, and investment metrics with updated period handling.
  Platform.Admin/src/locales/zh-CN/pages.ts
  Platform.Admin/src/pages/park-management/statistics/index.tsx
  Platform.Admin/src/services/park/index.ts
Due: prettier --write, eslint --fix

feat: Introduce building delivery date, enhancing asset management and park statistics with new date-based metrics and UI.
  Platform.Admin/src/locales/zh-CN/pages.ts
  Platform.Admin/src/pages/park-management/asset/index.tsx
  Platform.Admin/src/pages/park-management/statistics/index.tsx
  Platform.Admin/src/services/park/index.ts
  Platform.ApiService/Controllers/ParkStatisticsController.cs
  Platform.ApiService/Models/ParkManagementModels.cs
  Platform.ApiService/Services/Park/IParkManagementServices.cs
  Platform.ApiService/Services/Park/ParkAssetService.cs
  Platform.ApiService/Services/Park/ParkStatisticsService.cs
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json,css,less,md}
  eslint --fix: any of: **/*.{ts,tsx,js,jsx}
