Repository wjw1-Evan/aspire-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix: ApiLoggingMiddleware 异步记录日志避免 DbContext 并发冲突
  Platform.ApiService/Middleware/ApiLoggingMiddleware.cs
Due: none

fix: 前端监听 ReceiveMessage/MessageChunk/MessageComplete 事件匹配后端
  Platform.Admin/src/components/AiAssistant/index.tsx
Due: prettier --write, eslint --fix

fix: 修复 AiAssistant 语法错误并清理未使用导入
  Platform.Admin/src/components/AiAssistant/index.tsx
  Platform.Admin/src/components/NoticeIcon/index.tsx
  Platform.Admin/src/pages/task-management/index.tsx
Due: prettier --write, eslint --fix

fix: 修复 SSE 消息推送问题 - 添加响应缓冲禁用
  Platform.Admin/src/hooks/useSseConnection.ts
  Platform.ApiService/Controllers/StreamController.cs
  Platform.ApiService/Program.cs
  Platform.ApiService/Services/ChatSseConnectionManager.cs
  Platform.ApiService/Services/NotificationService.cs
Due: prettier --write, eslint --fix

chore: 自动提交代码变更
  Platform.Admin/src/components/NoticeIcon/index.tsx
  Platform.Admin/src/hooks/useSseConnection.ts
  Platform.Admin/src/services/notification/api.ts
  Platform.ApiService/Controllers/StreamController.cs
  Platform.ApiService/Services/ChatSseConnectionManager.cs
  Platform.ApiService/Services/IChatSseConnectionManager.cs
  Platform.ApiService/Services/NotificationService.cs
Due: prettier --write, eslint --fix

fix: 修复 useSseConnection 中未定义的全局变量
  Platform.Admin/src/hooks/useSseConnection.ts
Due: prettier --write, eslint --fix

fix: 修复 SSE 通知统计字段名大小写不匹配的问题
  Platform.Admin/src/hooks/useSseConnection.ts
Due: prettier --write, eslint --fix

fix: 兼容 SSE 通知统计数据大小写字段名
  Platform.Admin/src/hooks/useSseConnection.ts
Due: prettier --write, eslint --fix

fix: 统一 SSE 推送的 JSON 命名策略为 CamelCase
  Platform.ApiService/Services/NotificationService.cs
Due: none

refactor: 将 PushStatsUpdateAsync 提取到 INotificationService 接口供复用
  Platform.ApiService/Controllers/StreamController.cs
  Platform.ApiService/Services/NotificationService.cs
Due: none

fix: 统一通知统计更新来源，消除闪烁问题
  Platform.Admin/src/hooks/useSseConnection.ts
  Platform.ApiService/Services/NotificationService.cs
Due: prettier --write, eslint --fix

fix: 增强 SSE 重连机制，确保错误时自动重连
  Platform.Admin/src/hooks/useSseConnection.ts
Due: prettier --write, eslint --fix

fix: 移除调试日志，优化 SSE 通知代码
  Platform.Admin/src/components/NoticeIcon/index.tsx
  Platform.Admin/src/hooks/useSseConnection.ts
Due: prettier --write, eslint --fix

fix: 简化通知推送日志
  Platform.ApiService/Services/NotificationService.cs
Due: none

fix: 移除通知 API 调试日志
  Platform.Admin/src/services/notification/api.ts
Due: prettier --write, eslint --fix

fix: 修复小科对话 SSE 消息接收匹配问题
  Platform.Admin/src/components/AiAssistant/index.tsx
Due: prettier --write, eslint --fix

fix: 修复聊天服务 DbContext 并发访问和 ObjectDisposedException
  Platform.ApiService/Services/ChatAiService.cs
  Platform.ApiService/Services/ChatBroadcaster.cs
  Platform.ApiService/Services/ChatService.cs
  Platform.ApiService/Services/ChatSessionService.cs
  Platform.ApiService/Services/IChatBroadcaster.cs
Due: none

fix: 修复后台 AI 自动回复不生效及 SSE 实时显示问题
  Platform.ApiService/Services/ChatAiService.cs
  Platform.ApiService/Services/ChatService.cs
Due: none

fix: 修正小科配置空值判断逻辑，确保未配置时仍能回复
  Platform.ApiService/Services/ChatAiService.cs
Due: none

docs: 添加调试日志以追踪 AI 回复触发状态
  Platform.ApiService/Services/ChatService.cs
Due: none

docs: 给 RespondAsAssistantAsync 添加详细日志
  Platform.ApiService/Services/ChatAiService.cs
Due: none

docs: 给 ChatAiService 关键节点添加更详尽的日志点
  Platform.ApiService/Services/ChatAiService.cs
Due: none

fix: 消除所有编译器警告，实现零警告编译目标
  Platform.ApiService/Controllers/SystemMonitorController.cs
  Platform.ApiService/Services/Mcp/Handlers/NotificationMcpToolHandler.cs
Due: none

fix: 广播消息时过滤掉 AI 助手 ID，消除无效的 SSE 连接警告
  Platform.ApiService/Services/ChatBroadcaster.cs
Due: none

feat: enhance logging and error handling in GenerateAssistantReplyStreamAsync for better session traceability
  Platform.ApiService/Services/ChatAiService.cs
Due: none

1
  Platform.ApiService/Services/ChatAiService.cs
Due: none

chore: 删除 Platform.AppHost.Tests 集成测试项目
  Platform.AppHost.Tests/AppHostCollection.cs
  Platform.AppHost.Tests/AppHostFixture.cs
  Platform.AppHost.Tests/AssemblyInfo.cs
  Platform.AppHost.Tests/Helpers/ApiTestHelpers.cs
  Platform.AppHost.Tests/Helpers/AssertHelpers.cs
  Platform.AppHost.Tests/Helpers/HttpClientExtensions.cs
  Platform.AppHost.Tests/Helpers/JwtValidator.cs
  Platform.AppHost.Tests/Helpers/TestDataGenerator.cs
  Platform.AppHost.Tests/IntegrationTests/AppHostFixture.cs
  Platform.AppHost.Tests/IntegrationTests/IntegrationTestBase.cs
  Platform.AppHost.Tests/Models/ApiResponse.cs
  Platform.AppHost.Tests/Models/CurrentUserResponseData.cs
  Platform.AppHost.Tests/Models/DocumentTestModels.cs
  Platform.AppHost.Tests/Models/FormTestModels.cs
  Platform.AppHost.Tests/Models/KnowledgeBaseTestModels.cs
  Platform.AppHost.Tests/Models/LoginResponseData.cs
  Platform.AppHost.Tests/Models/RegisterResponseData.cs
  Platform.AppHost.Tests/Models/WorkflowTestModels.cs
  Platform.AppHost.Tests/Platform.AppHost.Tests.csproj
  Platform.AppHost.Tests/TestOrderer.cs
  Platform.AppHost.Tests/Tests/AuthenticationFlowTests.cs
  Platform.AppHost.Tests/Tests/BaseIntegrationTest.cs
  Platform.AppHost.Tests/Tests/DocumentApprovalTests.cs
  Platform.AppHost.Tests/Tests/DocumentDataGeneratorTests.cs
  Platform.AppHost.Tests/Tests/FormDefinitionTests.cs
  Platform.AppHost.Tests/Tests/Integration/IntegrationTest.cs
  Platform.AppHost.Tests/Tests/KnowledgeBaseTests.cs
  Platform.AppHost.Tests/Tests/LoginTests.cs
  Platform.AppHost.Tests/Tests/RegistrationTests.cs
  Platform.AppHost.Tests/Tests/ResourceHealthTests.cs
  Platform.AppHost.Tests/Tests/WorkflowApprovalTests.cs
  Platform.AppHost.Tests/Tests/WorkflowConditionTests.cs
  Platform.AppHost.Tests/Tests/WorkflowDefinitionTests.cs
  Platform.AppHost.Tests/xunit.runner.json
  Platform.AppHost/Platform.AppHost.csproj
  Platform.sln
Due: prettier --write

fix: 修复小科自动回复时配置为空导致无法回复的 Bug
  Platform.ApiService/Services/ChatAiService.cs
  Platform.DataInitializer/Services/DataInitializerService.cs
Due: none

perf: 添加小科调试日志
  Platform.ApiService/Services/ChatAiService.cs
Due: none

docs: 更新小科 AI 聊天系统开发文档
  AGENTS.md
Due: prettier --write

fix: 修复后台任务无法加载会话的租户隔离问题
  Platform.ApiService/Services/ChatService.cs
Due: none

fix: 使用 IgnoreQueryFilters 绕过租户过滤加载会话
  Platform.ApiService/Services/ChatService.cs
  Platform.ApiService/Services/ChatSessionService.cs
  Platform.ApiService/Services/IChatSessionService.cs
Due: none

fix: 使用 companyId 过滤确保后台任务加载会话
  Platform.ApiService/Services/ChatService.cs
  Platform.ApiService/Services/ChatSessionService.cs
  Platform.ApiService/Services/IChatSessionService.cs
Due: none

refactor: 简化小科异步回复代码
  Platform.ApiService/Services/ChatService.cs
Due: none

fix: 添加 SSE 心跳防止连接被意外断开
  Platform.ApiService/Controllers/StreamController.cs
  Platform.ApiService/Services/ChatBroadcaster.cs
Due: none

fix: 添加小科调试日志排查无回复问题
  Platform.ApiService/Services/ChatService.cs
Due: none

fix: 使用 companyId 过滤确保后台任务加载会话
  Platform.ApiService/Services/ChatService.cs
Due: none

fix: 用户在当前企业的会话使用 companyId+userId 过滤
  Platform.ApiService/Services/ChatService.cs
Due: none

fix: 移除手动 companyId 过滤，使用 ITenantContext 自动处理
  Platform.ApiService/Services/ChatService.cs
Due: none

fix: 增强小科会话加载失败的调试信息
  AGENTS.md
  Platform.ApiService/Services/ChatService.cs
Due: prettier --write

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json,css,less,md}
  eslint --fix: any of: **/*.{ts,tsx,js,jsx}
