Repository wjw1-Evan/aspire-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore: 添加 sort 参数调试日志
  Platform.Admin/src/pages/password-book/index.tsx
Due: prettier --write, eslint --fix

feat: 添加 ProTableRequest 支持 sort/filter 参数解析
  Platform.Admin/src/pages/password-book/index.tsx
  Platform.ServiceDefaults/Extensions/QueryableExtensions.cs
  Platform.ServiceDefaults/Models/ProTableRequest.cs
Due: prettier --write, eslint --fix

refactor: 密码本 API 升级使用 ProTableRequest
  Platform.ApiService/Controllers/PasswordBookController.cs
  Platform.ApiService/Services/IPasswordBookService.cs
  Platform.ApiService/Services/Mcp/Handlers/PasswordBookMcpToolHandler.cs
  Platform.ApiService/Services/PasswordBookService.cs
Due: none

feat: ToPagedList 添加 Filter 参数解析支持
  Platform.ServiceDefaults/Extensions/QueryableExtensions.cs
Due: none

feat: 密码本列表启用 ProTable 筛选功能
  Platform.Admin/src/pages/password-book/index.tsx
Due: prettier --write, eslint --fix

feat: 密码本列表筛选添加搜索框
  Platform.Admin/src/pages/password-book/index.tsx
Due: prettier --write, eslint --fix

docs: 更新前端开发规范，以密码本为标准代码
  AGENTS.md
  Platform.Admin/src/pages/password-book/index.tsx
Due: prettier --write, eslint --fix

fix: 修正 ProTable request 参数示例
  AGENTS.md
Due: prettier --write

docs: 重构后端开发规范，以密码本为标准代码
  AGENTS.md
Due: prettier --write

refactor: 统一修改 ProTable 的 request 函数参数格式
  Platform.Admin/src/pages/cloud-storage/files/index.tsx
  Platform.Admin/src/pages/cloud-storage/recycle/index.tsx
  Platform.Admin/src/pages/cloud-storage/shared/index.tsx
  Platform.Admin/src/pages/document/approval.tsx
  Platform.Admin/src/pages/document/list.tsx
  Platform.Admin/src/pages/iot-platform/components/EventManagement.tsx
  Platform.Admin/src/pages/join-requests/pending/index.tsx
  Platform.Admin/src/pages/my-activity/index.tsx
  Platform.Admin/src/pages/park-management/contract/index.tsx
  Platform.Admin/src/pages/park-management/tenant/index.tsx
  Platform.Admin/src/pages/park-management/visit-assessment/index.tsx
  Platform.Admin/src/pages/park-management/visit-task/index.tsx
  Platform.Admin/src/pages/role-management/index.tsx
  Platform.Admin/src/pages/task-management/index.tsx
  Platform.Admin/src/pages/user-log/index.tsx
  Platform.Admin/src/pages/user-management/index.tsx
  Platform.Admin/src/pages/web-scraper/index.tsx
  Platform.Admin/src/pages/web-scraper/results/index.tsx
  Platform.Admin/src/pages/web-scraper/scrape-logs/index.tsx
  Platform.Admin/src/pages/workflow/forms/index.tsx
  Platform.Admin/src/pages/workflow/knowledge-base/documents.tsx
  Platform.Admin/src/pages/workflow/knowledge-base/index.tsx
  Platform.Admin/src/pages/workflow/list.tsx
  Platform.Admin/src/pages/workflow/monitor.tsx
Due: prettier --write, eslint --fix

refactor: 继续修改 IoT 组件的 ProTable request 函数参数格式
  Platform.Admin/src/pages/iot-platform/components/DataCenter.tsx
  Platform.Admin/src/pages/iot-platform/components/DataPointManagement.tsx
  Platform.Admin/src/pages/iot-platform/components/DeviceManagement.tsx
  Platform.Admin/src/pages/iot-platform/components/GatewayManagement.tsx
Due: prettier --write, eslint --fix

docs: 更新 AGENTS.md 开发规范文档
  AGENTS.md
Due: prettier --write

docs: 更新 AGENTS.md 实例代码，与实际代码保持同步
  AGENTS.md
Due: prettier --write

docs: 更新 API 端点规范说明
  AGENTS.md
Due: prettier --write

fix: 修复 document 模块 3 个 TypeScript 隐式 any 错误
  Platform.Admin/src/pages/document/create-by-workflow.tsx
  Platform.Admin/src/pages/document/create.tsx
  Platform.Admin/src/pages/document/list.tsx
Due: prettier --write, eslint --fix

fix: 统一分页参数为 ProTableRequest，修复编译错误和警告
  Platform.ApiService/Controllers/FileShareController.cs
  Platform.ApiService/Validators/UserRequestValidator.cs
  Platform.ServiceDefaults/Extensions/QueryableExtensions.cs
Due: none

fix: 修复云存储上传文件弹窗不显示的问题
  Platform.Admin/src/pages/cloud-storage/files/index.tsx
Due: prettier --write, eslint --fix

fix: 优化云存储文件上传功能，自动开始上传
  Platform.Admin/src/pages/cloud-storage/files/index.tsx
Due: prettier --write, eslint --fix

1
  .opencode/package-lock.json
Due: prettier --write

fix: 修复云存储上传缺少Authorization头的问题
  Platform.Admin/src/pages/cloud-storage/files/index.tsx
Due: prettier --write, eslint --fix

fix: 修复云存储上传parentId参数传递问题
  Platform.Admin/src/pages/cloud-storage/files/index.tsx
Due: prettier --write, eslint --fix

feat: 云存储列表增加类型列，区分文件和文件夹
  Platform.Admin/src/pages/cloud-storage/files/index.tsx
Due: prettier --write, eslint --fix

1
  .vscode/settings.json
Due: prettier --write

fix: 修复云存储FileItem实体缺少IsFolder计算属性
  Platform.ApiService/Models/Entities/CloudStorageEntities.cs
Due: none

fix: 修复上传失败时未显示后端返回的错误信息
  .opencode/package-lock.json
  Platform.Admin/src/pages/cloud-storage/files/index.tsx
Due: prettier --write, eslint --fix

fix: 修复根目录下上传文件时parentId必填验证失败的问题
  Platform.ApiService/Controllers/CloudStorageController.cs
  Platform.ApiService/Models/Dtos/CloudStorageDtos.cs
Due: none

fix: 修复云存储统计信息字段不匹配的问题
  Platform.Admin/src/pages/cloud-storage/files/index.tsx
Due: prettier --write, eslint --fix

fix: 修复云存储配额页面字段不匹配和用户信息显示错误的问题
  Platform.Admin/src/pages/cloud-storage/quota/index.tsx
Due: prettier --write, eslint --fix

i18n: 添加usedSpace国际化翻译
  Platform.Admin/src/locales/ar-EG/pages.ts
  Platform.Admin/src/locales/de-DE/pages.ts
  Platform.Admin/src/locales/en-US/pages.ts
  Platform.Admin/src/locales/es-ES/pages.ts
  Platform.Admin/src/locales/fr-FR/pages.ts
  Platform.Admin/src/locales/it-IT/pages.ts
  Platform.Admin/src/locales/ko-KR/pages.ts
  Platform.Admin/src/locales/ru-RU/pages.ts
  Platform.Admin/src/locales/th-TH/pages.ts
  Platform.Admin/src/locales/tr-TR/pages.ts
  Platform.Admin/src/locales/vi-VN/pages.ts
  Platform.Admin/src/locales/zh-CN/pages.ts
Due: prettier --write, eslint --fix

fix: 修复配额列表时间字段显示lastCalculatedAt
  Platform.Admin/src/pages/cloud-storage/quota/index.tsx
Due: prettier --write, eslint --fix

docs: 根据整个项目代码库全面更新通用开发规则
  AGENTS.md
Due: prettier --write

fix: 修复网页抓取定时任务重复执行的问题
  AGENTS.md
  Platform.ApiService/BackgroundServices/WebScraperScheduledTaskHostedService.cs
Due: prettier --write

fix: 修复网页抓取定时任务重复执行的问题
  Platform.ApiService/BackgroundServices/WebScraperScheduledTaskHostedService.cs
  Platform.ApiService/Program.cs
Due: none

refactor: 简化网页抓取定时任务逻辑
  Platform.ApiService/BackgroundServices/WebScraperScheduledTaskHostedService.cs
Due: none

fix: 添加网页抓取匹配通知的调试日志
  .aspire/readme.md
  Platform.ApiService/Services/TaskLauncher.cs
Due: prettier --write

fix: 修复网页抓取创建任务时未设置 NotifyOnMatch 的问题
  Platform.ApiService/Models/Dtos/WebScrapingDtos.cs
  Platform.ApiService/Services/WebScraperService.cs
Due: none

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json,css,less,md}
  eslint --fix: any of: **/*.{ts,tsx,js,jsx}
