Repository wjw1-Evan/aspire-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix: 将小科会话加载失败改为错误级别日志
  Platform.ApiService/Services/ChatService.cs
Due: none

fix: 移除小科后台任务的try catch以暴露真实错误
  Platform.ApiService/Services/ChatService.cs
Due: none

fix: 将 TenantContext 改为 Scoped 以支持后台任务上下文隔离
  Platform.ServiceDefaults/Extensions/ServiceExtensions.cs
Due: none

fix: 添加流式广播详细日志排查 SSE 延迟问题
  Platform.ApiService/Services/ChatAiService.cs
Due: none

fix: 小科实时显示回复内容，移除打字机延迟效果
  Platform.Admin/src/components/AiAssistant/index.tsx
  Platform.ApiService/Services/ChatAiService.cs
Due: prettier --write, eslint --fix

fix: 使用 session.CompanyId 而非 userMessage.CompanyId 确保后台任务租户上下文正确
  Platform.ApiService/Services/ChatService.cs
Due: none

refactor: 简化为直接传递 session 和 message 到后台任务
  Platform.ApiService/Services/ChatService.cs
Due: none

fix: 添加 sessionId 到 MessageChunk 广播以便前端正确显示AI回复
  Platform.ApiService/Services/ChatAiService.cs
  Platform.ApiService/Services/ChatBroadcaster.cs
  Platform.ApiService/Services/IChatBroadcaster.cs
Due: none

perf: 异步保存流式消息不等待完成以提高性能
  Platform.ApiService/Services/ChatAiService.cs
Due: none

fix: 调整 SSE 服务实现，修复心跳格式、并发写入、连接注册映射、只读连接对象及资源释放
  Platform.ApiService/Controllers/StreamController.cs
  Platform.ApiService/Services/ChatSseConnectionManager.cs
Due: none

chore: 优化 opencode commit 模板，集成 lint 检查和智能 commit 策略
  opencode.jsonc
Due: none

chore: 优化前端/后端/Aspire 运行模板，增加错误分类和处理策略
  opencode.jsonc
Due: none

fix: 优化小科会话管理，新增助手会话获取接口并改进错误处理
  Platform.Admin/src/services/chat/api.ts
  Platform.ApiService/Controllers/ChatSessionsController.cs
  Platform.ApiService/Models/Entities/ChatEntities.cs
  Platform.ApiService/Services/ChatAiService.cs
  Platform.ApiService/Services/ChatService.cs
  Platform.ApiService/Services/ChatSessionService.cs
  Platform.ApiService/Services/IChatService.cs
  Platform.ApiService/Services/IChatSessionService.cs
Due: prettier --write, eslint --fix

chore: 清理 opencode 配置模板，移除冗余命令
  opencode.jsonc
Due: none

fix: 修复 PlatformDbContext 同步阻塞问题，使用 AsyncLocal 实现安全上下文获取
  Platform.ApiService/Program.cs
  Platform.ServiceDefaults/Services/ITenantContext.cs
  Platform.ServiceDefaults/Services/PlatformDbContext.cs
  Platform.ServiceDefaults/Services/TenantContextMiddleware.cs
  opencode.jsonc
Due: none

refactor: 合并 TenantContext 与 UserContext 中间件，简化为单一 TenantContextMiddleware
  Platform.ApiService/Program.cs
  Platform.ServiceDefaults/Services/ITenantContext.cs
  Platform.ServiceDefaults/Services/PlatformDbContext.cs
  Platform.ServiceDefaults/Services/TenantContextMiddleware.cs
Due: none

refactor: 删除已合并的 UserContextMiddleware
  Platform.ApiService/Middleware/UserContextMiddleware.cs
Due: none

fix: 修复 TenantContext 循环依赖，保持独立的 userId 状态
  Platform.ServiceDefaults/Services/ITenantContext.cs
Due: none

fix: TenantContextMiddleware 同时设置 context.Items[UserId] 兼容旧代码
  Platform.ServiceDefaults/Services/TenantContextMiddleware.cs
Due: none

feat: 简化多企业过滤，JWT token直接包含CompanyId
  Platform.ApiService/Services/JwtService.cs
  Platform.ServiceDefaults/Services/TenantContextMiddleware.cs
Due: none

feat: 切换企业时自动刷新token
  Platform.ApiService/Models/Dtos/AuthDtos.cs
  Platform.ApiService/Services/LoginService.cs
Due: none

fix: 修复企业ID从JWT无法正确获取的问题
  Platform.ServiceDefaults/Controllers/BaseApiController.cs
  Platform.ServiceDefaults/Services/ITenantContext.cs
  Platform.ServiceDefaults/Services/PlatformDbContext.cs
  Platform.ServiceDefaults/Services/TenantContextMiddleware.cs
Due: none

fix: 修复ChatSession CreatedBy映射冲突和验证码验证问题
  Platform.ApiService/Models/Entities/ChatEntities.cs
  Platform.ApiService/Services/ImageCaptchaService.cs
Due: none

refactor: 优化代码风格和错误处理
  Platform.ApiService/Controllers/MenuController.cs
  Platform.ApiService/Controllers/StorageQuotaController.cs
  Platform.ApiService/Middleware/ApiLoggingMiddleware.cs
  Platform.ApiService/Services/AiSuggestionService.cs
  Platform.ApiService/Services/CompanyQuotaService.cs
  Platform.ApiService/Services/QuotaWarningService.cs
  Platform.ApiService/Services/SocialService.cs
  Platform.ApiService/Services/StorageQuotaService.cs
  Platform.ApiService/Services/UserService.cs
  Platform.ApiService/Services/WorkflowExportImportService.cs
  Platform.ApiService/Services/XiaokeConfigService.cs
Due: none

fix: 修复网页抓取定时任务不按时执行的问题
  Platform.ApiService/BackgroundServices/WebScraperScheduledTaskHostedService.cs
  Platform.ApiService/Services/SingletonTaskLauncher.cs
  Platform.ApiService/Services/WebScraperService.cs
Due: none

refactor: 重构 TenantContext 多租户上下文，AsyncLocal 为唯一真相源
  Platform.ApiService/Controllers/JoinRequestController.cs
  Platform.ApiService/Controllers/MenuController.cs
  Platform.ServiceDefaults/Controllers/BaseApiController.cs
  Platform.ServiceDefaults/Extensions/ServiceExtensions.cs
  Platform.ServiceDefaults/Services/ITenantContext.cs
  Platform.ServiceDefaults/Services/PlatformDbContext.cs
  Platform.ServiceDefaults/Services/TenantContextMiddleware.cs
  opencode.jsonc
Due: none

chore: 删除测试文件
  test_mongo.cs
Due: none

refactor: 移除 IHttpContextAccessor 依赖，userId 从控制器传递
  Platform.ApiService/Controllers/UserController.cs
  Platform.ApiService/Services/IUserActivityLogService.cs
  Platform.ApiService/Services/IUserService.cs
  Platform.ApiService/Services/UserActivityLogService.cs
  Platform.ApiService/Services/UserService.cs
Due: none

feat: 移除登录注册等位置的图形验证码功能
  Platform.Admin/src/pages/user/login/index.tsx
  Platform.Admin/src/pages/user/register/index.tsx
  Platform.ApiService/Models/Dtos/AuthDtos.cs
  Platform.ApiService/Services/LoginService.cs
  Platform.App/app/(auth)/login.tsx
  Platform.MiniApp/pages/login/login.js
  Platform.MiniApp/pages/login/login.wxml
Due: prettier --write, eslint --fix

refactor: 移除服务层 IHttpContextAccessor 依赖，userId 从控制器传递
  Platform.ApiService/Controllers/AuthController.cs
  Platform.ApiService/Controllers/UserController.cs
  Platform.ApiService/Services/AuthService.cs
  Platform.ApiService/Services/IAuthService.cs
  Platform.ApiService/Services/ILoginService.cs
  Platform.ApiService/Services/IPasswordService.cs
  Platform.ApiService/Services/ISessionService.cs
  Platform.ApiService/Services/LoginService.cs
  Platform.ApiService/Services/PasswordService.cs
  Platform.ApiService/Services/SessionService.cs
Due: none

docs: 同步 AGENTS.md 与实际代码库，修正多处偏差并补充缺失规范
  AGENTS.md
Due: prettier --write

fix: 修复 AGENTS.md 前后端 API 交互规范不一致 - 节号重复、分页映射缺失、sort/filter 序列化
  AGENTS.md
Due: prettier --write

docs: 移除 AGENTS.md 中 sort/filter 的 JSON.stringify 要求，UmiJS request 自动序列化对象参数
  AGENTS.md
Due: prettier --write

fix: 撤回 sort/filter JSON.stringify 要求，UmiJS request 自动序列化对象参数
  AGENTS.md
Due: prettier --write

refactor: 精简 AGENTS.md 7.5 列表模板 - 从 170 行减至关键片段
  AGENTS.md
Due: prettier --write

refactor: 移除 GlobalAuthentication 冗余中间件及相关属性，简化认证流程
  Platform.ApiService/Attributes/SkipGlobalAuthenticationAttribute.cs
  Platform.ApiService/Controllers/AuthController.cs
  Platform.ApiService/Controllers/AvatarController.cs
  Platform.ApiService/Controllers/PublicController.cs
  Platform.ApiService/Controllers/StreamController.cs
  Platform.ApiService/Extensions/GlobalAuthenticationMiddlewareExtensions.cs
  Platform.ApiService/Middleware/GlobalAuthenticationMiddleware.cs
  Platform.ApiService/Options/GlobalAuthenticationOptions.cs
  Platform.ApiService/Program.cs
Due: none

feat: 通知列表支持滚动加载更多
  Platform.Admin/src/components/NoticeIcon/index.less
  Platform.Admin/src/components/NoticeIcon/index.tsx
Due: prettier --write, eslint --fix

feat: 移除通知中心查看所有按钮
  Platform.Admin/src/components/NoticeIcon/index.less
  Platform.Admin/src/components/NoticeIcon/index.tsx
  Platform.ApiService/Models/Dtos/Response/ActivityLogListItemResponse.cs
  Platform.ApiService/Services/UserActivityLogService.cs
  Platform.ApiService/appsettings.GlobalAuthentication.json
  Platform.ApiService/docs/CONDITION_COMPONENT_GUIDE.md
  Platform.ApiService/docs/GlobalAuthentication.md
Due: prettier --write, eslint --fix

feat: 通知中心添加未读筛选功能
  Platform.Admin/src/components/NoticeIcon/index.tsx
Due: prettier --write, eslint --fix

fix: 修复通知中心显示问题
  Platform.Admin/src/components/NoticeIcon/index.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json,css,less,md}
  eslint --fix: any of: **/*.{ts,tsx,js,jsx}
