Repository wjw1-Evan/aspire-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx,json,css,less,md}": [
    "prettier --write",
    "git add"
  ],
  "**/*.{ts,tsx,js,jsx}": [
    "eslint --fix",
    "git add"
  ]
}

feat: 更新 Copilot 指南，添加架构、数据访问和开发工作流的详细信息
  .github/copilot-instructions.md
Due: prettier --write

feat: 精简 Copilot 指南，更新架构、数据访问和开发工作流的相关信息
  .github/copilot-instructions.md
Due: prettier --write

feat: 添加通知中心功能，支持未读通知统计和过滤
  Platform.ApiService/Controllers/UnifiedNotificationController.cs
  Platform.ApiService/Services/IUnifiedNotificationService.cs
  Platform.ApiService/Services/UnifiedNotificationService.cs
  Platform.App/app/(tabs)/_layout.tsx
  Platform.App/app/(tabs)/index.tsx
  Platform.App/app/(tabs)/notifications.tsx
  Platform.App/app/_layout.tsx
  Platform.App/app/notifications.tsx
  Platform.App/services/notificationService.ts
  Platform.App/types/notification.ts
Due: prettier --write, eslint --fix

feat: 更新通知功能，重命名状态变量并优化通知筛选显示
  Platform.ApiService/Services/UnifiedNotificationService.cs
  Platform.App/app/(tabs)/_layout.tsx
  Platform.App/app/(tabs)/index.tsx
  Platform.App/app/(tabs)/notifications.tsx
  Platform.App/app/notifications.tsx
Due: prettier --write, eslint --fix

feat: 添加组织架构控制器和服务的文档注释，增强代码可读性
  Platform.ApiService/Controllers/OrganizationController.cs
  Platform.ApiService/Models/OrganizationModels.cs
  Platform.ApiService/Models/UserOrganizationModels.cs
  Platform.ApiService/Services/OrganizationService.cs
Due: none

feat: 添加更新和删除组织节点的方法，增强组织架构服务功能
  Platform.ApiService/Services/OrganizationService.cs
  Platform.AppHost.Tests/AppHostTests.cs
Due: none

feat: 添加过滤器构建器和更新构建器的单元测试，增强测试覆盖率
  Platform.AppHost.Tests/Platform.AppHost.Tests.csproj
  Platform.AppHost.Tests/ServiceDefaultsBuildersTests.cs
  Platform.ServiceDefaults/Services/DatabaseOperationFactory.cs
  Platform.ServiceDefaults/Services/FilterBuilder.cs
  docs/features/BACKEND-RULES.md
  docs/features/DATABASE-OPERATION-FACTORY-GUIDE.md
Due: prettier --write

chore: update package dependencies and scripts in package.json
  Platform.Admin/package-lock.json
  Platform.Admin/package.json
  Platform.ApiService/Services/OrganizationService.cs
  Platform.App/app.json
  Platform.App/package-lock.json
  Platform.App/package.json
Due: prettier --write

chore: update dependencies in package.json
  Platform.App/package-lock.json
  Platform.App/package.json
Due: prettier --write

Add unit tests for ResponseFormattingMiddleware, UserActivityLogService, WorkflowExpressionEvaluator, and WorkflowGraphValidator
  Platform.ApiService.Tests/ActivityLogMiddlewareTests.cs
  Platform.ApiService.Tests/Integration/ApiServiceIntegrationTests.cs
  Platform.ApiService.Tests/Platform.ApiService.Tests.csproj
  Platform.ApiService.Tests/ResponseFormattingMiddlewareTests.cs
  Platform.ApiService.Tests/TestAssemblyInit.cs
  Platform.ApiService.Tests/UserActivityLogServiceTests.cs
  Platform.ApiService.Tests/WorkflowExpressionEvaluatorTests.cs
  Platform.ApiService.Tests/WorkflowGraphValidatorTests.cs
  Platform.ApiService/Program.cs
  Platform.ApiService/Services/WorkflowGraphValidator.cs
  Platform.AppHost.Tests/AppHostTests.cs
  Platform.AppHost.Tests/ServiceDefaultsBuildersTests.cs
  Platform.sln
Due: none

feat: 更新测试文件说明，增强可读性和一致性
  Platform.ApiService.Tests/ActivityLogMiddlewareTests.cs
  Platform.ApiService.Tests/Integration/ApiServiceIntegrationTests.cs
  Platform.ApiService.Tests/ResponseFormattingMiddlewareTests.cs
  Platform.ApiService.Tests/WorkflowExpressionEvaluatorTests.cs
  Platform.ApiService.Tests/WorkflowGraphValidatorTests.cs
  Platform.AppHost.Tests/AppHostTests.cs
Due: none

fix: 修复代码注释格式，增强可读性
  Platform.AppHost.Tests/AppHostTests.cs
Due: none

feat: 更新数据访问和实体设计规范，增强分页和实时通信规则
  .cursor/rules/00-global.mdc
  .cursor/rules/backend.mdc
  .cursor/rules/frontend-admin.mdc
  .cursor/rules/rule.mdc
Due: none

chore: update test project dependencies and package-lock.json
  Platform.ApiService.Tests/Platform.ApiService.Tests.csproj
  Platform.App/package-lock.json
  Platform.AppHost/Platform.AppHost.csproj
Due: prettier --write

feat: Implement comprehensive cloud storage features including file management, sharing, versioning, recycle bin, and quota management.
  Platform.ApiService/Attributes/RequireMenuAttribute.cs
  Platform.ApiService/Controllers/DocumentController.cs
  Platform.ApiService/Controllers/WorkflowController.cs
Due: none

feat: Enhance cloud storage functionality with file preview, upload type selection, and thumbnail generation
  Platform.Admin/src/pages/cloud-storage/files/index.tsx
  Platform.ApiService/Program.cs
  Platform.ApiService/Services/CloudStorageMaintenanceService.cs
  Platform.ApiService/Services/CloudStorageService.cs
  Platform.ApiService/Services/StorageQuotaService.cs
  Platform.ApiService/Services/WorkflowGraphValidator.cs
  Platform.DataInitializer/Scripts/CreateAllIndexes.cs
  Platform.ServiceDefaults/Services/DatabaseOperationFactory.cs
  Platform.ServiceDefaults/Services/IDatabaseOperationFactory.cs
Due: prettier --write, eslint --fix

feat: Integrate Office file support in cloud storage with XLSX and Mammoth
  Platform.Admin/package-lock.json
  Platform.Admin/package.json
  Platform.Admin/src/pages/cloud-storage/files/index.tsx
Due: prettier --write, eslint --fix

feat: Add Markdown file support and enhance cloud storage sorting functionality
  Platform.Admin/package-lock.json
  Platform.Admin/package.json
  Platform.Admin/src/pages/cloud-storage/files/index.tsx
  Platform.Admin/src/services/cloud-storage/api.ts
  Platform.ApiService/Controllers/StorageQuotaController.cs
  Platform.ApiService/Services/CloudStorageService.cs
  Platform.ApiService/Services/IStorageQuotaService.cs
  Platform.ApiService/Services/StorageQuotaService.cs
Due: prettier --write, eslint --fix

更新程序包
  Platform.ApiService.Tests/Platform.ApiService.Tests.csproj
  Platform.AppHost.Tests/Platform.AppHost.Tests.csproj
  Platform.ServiceDefaults/Platform.ServiceDefaults.csproj
Due: none

1
  Platform.App/package-lock.json
Due: prettier --write

fix: Update Scalar.Aspire package version to 0.8.16
  Platform.AppHost/Platform.AppHost.csproj
Due: none

fix: Add peer dependency flag to several packages in package-lock.json
  Platform.App/package-lock.json
Due: prettier --write

chore: update dependencies and configurations
  Platform.Admin/package-lock.json
  Platform.Admin/package.json
  Platform.App/package-lock.json
  Platform.App/package.json
  Platform.AppHost/AppHost.cs
Due: prettier --write

chore: 更新 AI 协作指南，优化架构与后端规则描述
  .github/copilot-instructions.md
Due: prettier --write

feat: add user activity log feature to admin panel
  Platform.Admin/config/routes.ts
  Platform.Admin/src/locales/en-US/menu.ts
  Platform.Admin/src/locales/en-US/pages.ts
  Platform.Admin/src/locales/zh-CN/menu.ts
  Platform.Admin/src/locales/zh-CN/pages.ts
  Platform.Admin/src/locales/zh-TW/menu.ts
  Platform.Admin/src/locales/zh-TW/pages.ts
  Platform.Admin/src/pages/user-log/index.tsx
  Platform.Admin/src/services/user-log/api.ts
  Platform.Admin/src/services/user-log/types.ts
  Platform.ApiService/Controllers/UserController.cs
  Platform.ApiService/Models/Response/ActivityLogWithUserResponse.cs
  Platform.ApiService/Services/IUserService.cs
  Platform.ApiService/Services/UserService.cs
  Platform.AppHost/AppHost.cs
  Platform.DataInitializer/Services/DataInitializerService.cs
  docs/features/USER-ACTIVITY-LOG.md
Due: prettier --write, eslint --fix

feat: 优化用户日志筛选功能，增强状态码处理及表格刷新逻辑
  Platform.Admin/src/pages/user-log/index.tsx
Due: prettier --write, eslint --fix

feat: 添加活动日志详情接口，优化日志列表与详情展示逻辑
  Platform.Admin/src/pages/user-log/components/LogDetailDrawer.tsx
  Platform.Admin/src/pages/user-log/index.tsx
  Platform.Admin/src/services/user-log/api.ts
  Platform.ApiService/Controllers/UserController.cs
  Platform.ApiService/Models/Response/ActivityLogListItemResponse.cs
  Platform.ApiService/Models/Response/ActivityLogWithUserResponse.cs
  Platform.ApiService/Services/IUserService.cs
  Platform.ApiService/Services/UserService.cs
  docs/开发规范.md
Due: prettier --write, eslint --fix

feat: 更新 README 文档，优化平台功能描述与结构，增强可读性
  README.md
Due: prettier --write

chore: Update Scalar.Aspire package version from 0.8.16 to 0.8.17.
  Platform.AppHost/Platform.AppHost.csproj
Due: none

docs: Add XML documentation comments to properties in `ActivityLogListItemResponse`.
  Platform.ApiService/Controllers/UserController.cs
  Platform.ApiService/Models/Response/ActivityLogListItemResponse.cs
  Platform.ApiService/Services/IUserService.cs
  Platform.ApiService/Services/UserService.cs
  Platform.App/package-lock.json
Due: prettier --write

feat: Implement document statistics display and custom search/filter for the document list.
  Platform.Admin/src/pages/document/list.tsx
  Platform.Admin/src/services/document/api.ts
  Platform.ApiService/Controllers/DocumentController.cs
  Platform.ApiService/Models/DocumentStatisticsResponse.cs
  Platform.ApiService/Services/DocumentService.cs
Due: prettier --write, eslint --fix

feat: Implement document statistics display and search functionality, and refactor cloud storage stats to use the new `StatCard` component.
  Platform.Admin/src/components/StatCard.tsx
  Platform.Admin/src/pages/cloud-storage/files/index.tsx
  Platform.Admin/src/pages/cloud-storage/quota/index.tsx
  Platform.Admin/src/pages/cloud-storage/recycle/index.tsx
  Platform.Admin/src/pages/cloud-storage/shared/index.tsx
  Platform.Admin/src/pages/document/approval.tsx
  Platform.Admin/src/pages/document/list.tsx
  Platform.Admin/src/services/document/api.ts
  Platform.ApiService/Controllers/DocumentController.cs
  docs/features/FRONTEND-RULES.md
Due: prettier --write, eslint --fix

chore: 更新 Scalar.Aspire 包版本从 0.8.17 到 0.8.20
  Platform.App/package-lock.json
  Platform.AppHost/Platform.AppHost.csproj
Due: prettier --write

fix: update visibility prop to open in TaskDetail and TaskExecutionPanel components
  Platform.Admin/package-lock.json
  Platform.Admin/package.json
  Platform.Admin/src/pages/task-management/components/TaskDetail.tsx
  Platform.Admin/src/pages/task-management/components/TaskExecutionPanel.tsx
Due: prettier --write, eslint --fix

chore: 更新 @types/node 和 Scalar.Aspire 包版本
  Platform.Admin/package-lock.json
  Platform.Admin/package.json
  Platform.AppHost/Platform.AppHost.csproj
  Platform.ServiceDefaults/Platform.ServiceDefaults.csproj
Due: prettier --write

chore: 更新 Scalar.Aspire 包版本从 0.8.22 到 0.8.30
  Platform.AppHost/Platform.AppHost.csproj
Due: none

feat: Decompose `UserService` into dedicated `UserRoleService`, `UserOrganizationService`, and `UserActivityLogService` with updated Aspire packages.
  Platform.ApiService.Tests/ActivityLogMiddlewareTests.cs
  Platform.ApiService/Constants/SystemConstants.cs
  Platform.ApiService/Controllers/UserController.cs
  Platform.ApiService/Platform.ApiService.csproj
  Platform.ApiService/Program.cs
  Platform.ApiService/Services/ChatSseConnectionManager.cs
  Platform.ApiService/Services/IUserActivityLogService.cs
  Platform.ApiService/Services/IUserOrganizationService.cs
  Platform.ApiService/Services/IUserRoleService.cs
  Platform.ApiService/Services/IUserService.cs
  Platform.ApiService/Services/UserActivityLogService.cs
  Platform.ApiService/Services/UserOrganizationService.cs
  Platform.ApiService/Services/UserRoleService.cs
  Platform.ApiService/Services/UserService.cs
  Platform.ApiService/appsettings.Development.json
  Platform.AppHost/AppHost.cs
  Platform.AppHost/Platform.AppHost.csproj
Due: prettier --write

Fix concurrent workflow approval record overwrites and form data loss by merging form data, and optimize pending document retrieval.
  Platform.ApiService.Tests/UserActivityLogServiceTests.cs
  Platform.ApiService/Controllers/WorkflowController.cs
  Platform.ApiService/Services/DocumentService.cs
  Platform.ApiService/Services/WorkflowEngine.cs
Due: none

refactor: Standardize UI card styling and search form usage with new common components and a styling hook.
  Platform.Admin/src/components/SearchFormCard/index.tsx
  Platform.Admin/src/hooks/useCommonStyles.ts
  Platform.Admin/src/pages/Welcome.tsx
  Platform.Admin/src/pages/account/center/index.tsx
  Platform.Admin/src/pages/cloud-storage/files/index.tsx
  Platform.Admin/src/pages/cloud-storage/quota/index.tsx
  Platform.Admin/src/pages/cloud-storage/recycle/index.tsx
  Platform.Admin/src/pages/cloud-storage/shared/index.tsx
  Platform.Admin/src/pages/company/search/index.tsx
  Platform.Admin/src/pages/document/list.tsx
  Platform.Admin/src/pages/iot-platform/components/DataCenter.tsx
  Platform.Admin/src/pages/iot-platform/components/DataPointManagement.tsx
  Platform.Admin/src/pages/iot-platform/components/DeviceManagement.tsx
  Platform.Admin/src/pages/iot-platform/components/EventManagement.tsx
  Platform.Admin/src/pages/iot-platform/components/GatewayManagement.tsx
  Platform.Admin/src/pages/iot-platform/index.tsx
  Platform.Admin/src/pages/my-activity/index.tsx
  Platform.Admin/src/pages/organization/index.tsx
  Platform.Admin/src/pages/password-book/index.tsx
  Platform.Admin/src/pages/role-management/index.tsx
  Platform.Admin/src/pages/task-management/components/ProjectView.tsx
  Platform.Admin/src/pages/task-management/index.tsx
  Platform.Admin/src/pages/user-log/index.tsx
  Platform.Admin/src/pages/user-management/index.tsx
  Platform.Admin/src/pages/workflow/list.tsx
Due: prettier --write, eslint --fix

feat: Add search and filter functionality to IoT gateway, device, and data point management pages with internationalized UI.
  Platform.Admin/src/components/SearchFormCard/index.tsx
  Platform.Admin/src/locales/en-US/pages.ts
  Platform.Admin/src/locales/zh-CN/pages.ts
  Platform.Admin/src/pages/cloud-storage/files/index.tsx
  Platform.Admin/src/pages/cloud-storage/quota/index.tsx
  Platform.Admin/src/pages/company/settings.tsx
  Platform.Admin/src/pages/document/list.tsx
  Platform.Admin/src/pages/iot-platform/components/DataPointManagement.tsx
  Platform.Admin/src/pages/iot-platform/components/DeviceManagement.tsx
  Platform.Admin/src/pages/iot-platform/components/GatewayManagement.tsx
  Platform.Admin/src/pages/iot-platform/index.tsx
  Platform.Admin/src/pages/join-requests/my/index.tsx
  Platform.Admin/src/pages/join-requests/pending/index.tsx
  Platform.Admin/src/pages/organization/index.tsx
  Platform.Admin/src/pages/role-management/index.tsx
  Platform.Admin/src/pages/workflow/components/BulkOperationsPanel.tsx
  Platform.Admin/src/services/company.ts
  Platform.Admin/src/services/iotService.ts
  Platform.ApiService/Controllers/IoTController.cs
  Platform.ApiService/Controllers/JoinRequestController.cs
  Platform.ApiService/Services/IIoTService.cs
  Platform.ApiService/Services/IoTService.cs
  Platform.ApiService/Services/JoinRequestService.cs
Due: prettier --write, eslint --fix
