Repository wjw1-Evan/aspire-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx,json,css,less,md}": [
    "prettier --write",
    "git add"
  ],
  "**/*.{ts,tsx,js,jsx}": [
    "eslint --fix",
    "git add"
  ]
}

docs: 合并相似内容并调整 AGENTS.md 章节编号
  AGENTS.md
Due: prettier --write

docs: 整理合并 AGENTS.md 重复内容
  AGENTS.md
Due: prettier --write

fix: FileStorageController 继承 BaseApiController
  Platform.ApiService/Controllers/FileStorageController.cs
Due: none

refactor: iotService.ts 添加请求类型定义替代 any
  Platform.Admin/src/services/iotService.ts
Due: prettier --write, eslint --fix

docs: 移除禁止使用 any 类型的规则
  AGENTS.md
Due: prettier --write

docs: AGENTS.md 补充 any 类型历史遗留说明
  AGENTS.md
Due: prettier --write

chore: 升级依赖版本
  Platform.ApiService/Platform.ApiService.csproj
  Platform.App/package.json
  Platform.AppHost/Platform.AppHost.csproj
  Platform.ServiceDefaults/Platform.ServiceDefaults.csproj
Due: prettier --write

feat: 网页抓取模块添加AI筛选功能
  Platform.Admin/src/pages/web-scraper/components/ResultPreview.tsx
  Platform.Admin/src/pages/web-scraper/components/TaskForm.tsx
  Platform.Admin/src/pages/web-scraper/index.tsx
  Platform.ApiService/Models/Dtos/WebScrapingDtos.cs
  Platform.ApiService/Models/Entities/WebScrapingEntities.cs
  Platform.ApiService/Services/ContentFilterService.cs
  Platform.ApiService/Services/IContentFilterService.cs
  Platform.ApiService/Services/WebScraperService.cs
Due: prettier --write, eslint --fix

fix: 修复MongoDB查询兼容性问题，将EnableFilter和MatchedCount改为可空类型
  Platform.ApiService/Models/Entities/WebScrapingEntities.cs
  Platform.ApiService/Services/WebScraperService.cs
  Platform.App/package-lock.json
Due: prettier --write

fix: WebScrapingResult的IsFiltered/IsMatched改为可空类型
  Platform.ApiService/Models/Entities/WebScrapingEntities.cs
Due: none

fix: WebScrapingLog.MatchedCount改为可空类型
  Platform.ApiService/Models/Entities/WebScrapingEntities.cs
Due: none

feat: 抓取结果页面显示AI筛选结果
  Platform.Admin/src/pages/web-scraper/results/index.tsx
Due: prettier --write, eslint --fix

fix: 仅对抓取成功的页面执行AI筛选
  Platform.ApiService/Services/WebScraperService.cs
Due: none

feat: 任务列表根据状态显示不同操作按钮
  Platform.Admin/src/pages/web-scraper/index.tsx
Due: prettier --write, eslint --fix

feat: 添加任务停止功能
  Platform.Admin/src/pages/web-scraper/index.tsx
  Platform.ApiService/Controllers/WebScraperController.cs
  Platform.ApiService/Services/IWebScraperService.cs
  Platform.ApiService/Services/WebScraperService.cs
Due: prettier --write, eslint --fix

fix: 修复状态字段大小写不匹配问题
  Platform.Admin/src/pages/web-scraper/index.tsx
Due: prettier --write, eslint --fix

fix: 修复停止接口返回值格式
  Platform.ApiService/Controllers/WebScraperController.cs
Due: none

fix: 修复所有控制器返回值格式，统一使用Success包装
  Platform.ApiService/Controllers/WebScraperController.cs
Due: none

fix: 控制器异常处理改为直接throw，符合API规范
  AGENTS.md
  Platform.ApiService/Controllers/WebScraperController.cs
Due: prettier --write

fix: 停止任务时强制重置卡住的Running状态
  Platform.ApiService/Services/WebScraperService.cs
Due: none

fix: 修复验证码验证失败的bug - EncryptionKey静态初始化问题
  Platform.ApiService/Services/ImageCaptchaService.cs
Due: none

fix: 修复定时抓取任务重复执行问题
  Platform.ApiService/BackgroundServices/WebScraperScheduledTaskHostedService.cs
Due: none

refactor: 将SMTP配置从AppHost迁移到ApiService
  Platform.ApiService/appsettings.json
  Platform.AppHost/AppHost.cs
  Platform.AppHost/appsettings.Testing.json
  Platform.AppHost/appsettings.json
Due: prettier --write

chore: 调整JWT令牌过期时间为5小时
  Platform.ApiService/appsettings.json
Due: prettier --write

fix: 添加任务级别数据库锁定，彻底解决重复执行问题
  Platform.ApiService/BackgroundServices/WebScraperScheduledTaskHostedService.cs
Due: none

refactor: 简化定时抓取任务代码
  Platform.ApiService/BackgroundServices/WebScraperScheduledTaskHostedService.cs
Due: none

fix: 点击执行后刷新列表
  Platform.Admin/src/pages/web-scraper/index.tsx
Due: prettier --write, eslint --fix

fix: 执行任务接口异步返回，不等待完成
  Platform.ApiService/Controllers/WebScraperController.cs
Due: none

fix: 修复执行任务接口返回值读取方式
  Platform.Admin/src/pages/web-scraper/index.tsx
Due: prettier --write, eslint --fix

feat: 引入 TaskLauncher 统一启动任务入口
  Platform.ApiService/Controllers/WebScraperController.cs
  Platform.ApiService/Services/TaskLauncher.cs
Due: none

feat: 跟进路线A，将定时任务改为通过 TaskLauncher 统一触发
  Platform.ApiService/BackgroundServices/WebScraperScheduledTaskHostedService.cs
Due: none

fix: 修复网页抓取定时任务 companyId 处理，兼容手动和定时启动
  Platform.Admin/src/pages/web-scraper/components/TaskForm.tsx
  Platform.ApiService/BackgroundServices/WebScraperScheduledTaskHostedService.cs
  Platform.ApiService/Services/TaskLauncher.cs
  Platform.ApiService/Services/WebScraperService.cs
Due: prettier --write, eslint --fix

fix: 修复定时任务重复执行问题
  Platform.ApiService/BackgroundServices/WebScraperScheduledTaskHostedService.cs
Due: none

docs: 更新 AGENTS.md 添加网页抓取模块
  AGENTS.md
Due: prettier --write

fix: 修复登录验证码验证失败问题
  .opencode/package-lock.json
  Platform.Admin/src/components/ImageCaptcha/index.tsx
  Platform.Admin/src/pages/user/login/index.tsx
Due: prettier --write, eslint --fix

fix: 修复网页抓取结果匹配列排序问题
  Platform.Admin/src/pages/web-scraper/results/index.tsx
Due: prettier --write, eslint --fix

fix: 移除匹配列多余的 key 属性
  Platform.Admin/src/pages/web-scraper/results/index.tsx
Due: prettier --write, eslint --fix

fix: 移除 ResultPreview 组件匹配列多余的 key 属性
  Platform.Admin/src/pages/web-scraper/components/ResultPreview.tsx
Due: prettier --write, eslint --fix

feat: 网页抓取发现匹配数据时发送通知
  Platform.ApiService/Models/Entities/WebScrapingEntities.cs
  Platform.ApiService/Services/TaskLauncher.cs
Due: none
