Repository wjw1-Evan/aspire-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx,json,css,less,md}": [
    "prettier --write",
    "git add"
  ],
  "**/*.{ts,tsx,js,jsx}": [
    "eslint --fix",
    "git add"
  ]
}

feat: 添加 Snappier 包以增强项目功能
  Platform.AppHost/Platform.AppHost.csproj
Due: none

fix: 升级 react 至 19.2.6 解决与 react-test-renderer 的版本冲突
  Platform.App/package-lock.json
  Platform.App/package.json
Due: prettier --write

fix: 添加任务和项目页面的安全区域适配，修复页面切换闪烁
  Platform.App/app/(tabs)/projects/index.tsx
  Platform.App/app/(tabs)/tasks/index.tsx
  Platform.App/app/project/[id].tsx
  Platform.App/app/task/[id].tsx
  Platform.App/components/project/ProjectForm.tsx
  Platform.App/components/task/TaskExecutionForm.tsx
  Platform.App/components/task/TaskForm.tsx
Due: prettier --write, eslint --fix

feat: 实现 token 刷新功能，修复过期时间存储并添加登录重定向
  Platform.App/services/api.ts
  Platform.App/services/authService.ts
  Platform.App/utils/constants.ts
  Platform.App/utils/token.ts
Due: prettier --write, eslint --fix

refactor: 简化 admin 端 token 刷新管理的过度设计
  Platform.Admin/src/app.tsx
  Platform.Admin/src/request-error-config.ts
  Platform.Admin/src/utils/authService.ts
  Platform.Admin/src/utils/tokenRefreshManager.ts
Due: prettier --write, eslint --fix

refactor: 简化 app 端 token 相关代码
  Platform.App/services/api.ts
  Platform.App/services/authService.ts
  Platform.App/utils/tokenRefreshManager.ts
Due: prettier --write, eslint --fix

style: 缩小 welcome 页面欢迎区域并适配手机显示
  Platform.Admin/src/pages/welcome/components/WelcomeHeader.tsx
  Platform.Admin/src/pages/welcome/index.tsx
Due: prettier --write, eslint --fix

fix: 修复 handleCurrentUserResponse 中 response.config 缺少空安全保护
  Platform.Admin/src/app.tsx
Due: prettier --write, eslint --fix

fix: 替换已废弃的 antd List 组件为原生 map 渲染
  Platform.Admin/src/components/NoticeIcon/index.tsx
Due: prettier --write, eslint --fix

fix: 替换所有已废弃的 antd List 组件为原生渲染
  Platform.Admin/src/pages/cloud-storage/quota/index.tsx
  Platform.Admin/src/pages/notice/index.tsx
  Platform.Admin/src/pages/park-management/contract/index.tsx
  Platform.Admin/src/pages/park-management/enterprise-service/index.tsx
Due: prettier --write, eslint --fix

fix: 修复 notice 页面 JSX 模板语法错误
  Platform.Admin/src/pages/notice/index.tsx
Due: prettier --write, eslint --fix

fix: 修复认证流程中 token 刷新、登出清理、登录异常处理等多项问题
  Platform.Admin/src/app.tsx
  Platform.Admin/src/components/RightContent/AvatarDropdown.tsx
  Platform.Admin/src/pages/user/login/index.tsx
  Platform.Admin/src/utils/tokenRefreshManager.ts
Due: prettier --write, eslint --fix

refactor: 移除 token 有效期配置，硬编码至 JwtService 并精简重复代码
  Platform.ApiService/Program.cs
  Platform.ApiService/Services/LoginService.cs
  Platform.ApiService/appsettings.Development.json
  Platform.ApiService/appsettings.json
  Platform.AppHost/appsettings.json
  Platform.ServiceDefaults/Models/AuthConstants.cs
  Platform.ServiceDefaults/Services/JwtService.cs
Due: prettier --write

feat: 前端增加 refresh token 过期检测，避免无效刷新请求
  Platform.Admin/src/app.tsx
  Platform.Admin/src/utils/token.ts
Due: prettier --write, eslint --fix

refactor: 优化 WelcomeHeader 组件代码格式，提升可读性
  Platform.Admin/src/pages/welcome/components/WelcomeHeader.tsx
Due: prettier --write, eslint --fix

feat: 优化浏览器语言检测，统一欢迎页卡片圆角为12px
  Platform.Admin/src/app.tsx
  Platform.Admin/src/pages/welcome/components/ApprovalOverviewCard.tsx
  Platform.Admin/src/pages/welcome/components/QuickActionsPanel.tsx
  Platform.Admin/src/pages/welcome/components/RecentActivitiesCard.tsx
  Platform.Admin/src/pages/welcome/components/ResourceCard.tsx
  Platform.Admin/src/pages/welcome/components/StatCard.tsx
  Platform.Admin/src/pages/welcome/components/TaskOverviewCard.tsx
Due: prettier --write, eslint --fix

style: 统一 WelcomeHeader 卡片圆角为12px
  Platform.Admin/src/pages/welcome/components/WelcomeHeader.tsx
Due: prettier --write, eslint --fix

fix: 修复 token 过期时 onPageChange 不尝试刷新直接踢出登录的问题
  Platform.Admin/src/app.tsx
  Platform.Admin/src/request-error-config.ts
  Platform.Admin/src/utils/tokenRefreshManager.ts
Due: prettier --write, eslint --fix

docs: 更新项目文档，同步新增模块与架构信息
  AGENTS.md
  docs/agents/modules/architecture.md
  docs/agents/modules/backend.md
  docs/agents/modules/frontend.md
  docs/agents/modules/mcp.md
Due: prettier --write

fix: 修复数据库操作问题
  .opencode/oh-my-openagent.jsonc
  Platform.ApiService/Controllers/ParkAssetController.cs
  Platform.ApiService/Controllers/ParkEnterpriseServiceController.cs
  Platform.ApiService/Controllers/ParkInvestmentController.cs
  Platform.ApiService/Controllers/ParkStatisticsController.cs
  Platform.ApiService/Controllers/ParkTenantController.cs
  Platform.ApiService/Controllers/StorageQuotaController.cs
  Platform.ApiService/Services/Park/Asset/ParkAssetService.cs
Due: none

fix: 修复流程设计器多项问题并完善功能
  Platform.Admin/src/pages/workflow/__tests__/list.test.tsx
  Platform.Admin/src/pages/workflow/components/BulkOperationsPanel.tsx
  Platform.Admin/src/pages/workflow/components/NodeConfigDrawer.tsx
  Platform.Admin/src/pages/workflow/components/WorkflowCreateForm.tsx
  Platform.Admin/src/pages/workflow/components/WorkflowDesigner.tsx
  Platform.Admin/src/pages/workflow/components/WorkflowDesignerConstants.tsx
  Platform.Admin/src/pages/workflow/components/WorkflowEditForm.tsx
  Platform.Admin/src/pages/workflow/components/WorkflowSidebar.tsx
  Platform.Admin/src/pages/workflow/components/__tests__/BulkOperationsPanel.test.tsx
  Platform.Admin/src/pages/workflow/components/__tests__/WorkflowDesigner.serialization.test.tsx
  Platform.Admin/src/pages/workflow/monitor.tsx
Due: prettier --write, eslint --fix

refactor: 将 forms/index.tsx 拆分为模块化结构
  Platform.Admin/src/pages/workflow/forms/FieldPropertyPanel.tsx
  Platform.Admin/src/pages/workflow/forms/FormDesigner.tsx
  Platform.Admin/src/pages/workflow/forms/api.ts
  Platform.Admin/src/pages/workflow/forms/index.tsx
  Platform.Admin/src/pages/workflow/forms/types.ts
Due: prettier --write, eslint --fix

feat: 流程设计与表单设计深度整合
  Platform.Admin/src/pages/workflow/components/FormDesignerDialog.tsx
  Platform.Admin/src/pages/workflow/components/NodeConfigDrawer.tsx
Due: prettier --write, eslint --fix

fix: 更新 launchSettings.json 中的 URL 为 0.0.0.0，以支持外部访问
  Platform.AppHost/Properties/launchSettings.json
Due: prettier --write

fix: API网关端口绑定到0.0.0.0支持局域网访问
  Platform.AppHost/AppHost.cs
Due: none

fix: 更新 YARP 配置以支持 0.0.0.0 作为目标主机
  Platform.AppHost/AppHost.cs
Due: none

fix: 修复 TaskForm.tsx 中国际化键名不匹配问题
  Platform.Admin/src/locales/en-US/modules/web-scraper.ts
  Platform.Admin/src/pages/web-scraper/components/TaskForm.tsx
Due: prettier --write, eslint --fix

fix: 补充 pages.park.asset.unitType 等缺失的国际化键
  Platform.Admin/src/locales/ar-EG/modules/park.ts
  Platform.Admin/src/locales/bn-BD/modules/park.ts
  Platform.Admin/src/locales/de-DE/modules/park.ts
  Platform.Admin/src/locales/en-US/modules/other.ts
  Platform.Admin/src/locales/en-US/modules/park.ts
  Platform.Admin/src/locales/es-ES/modules/park.ts
  Platform.Admin/src/locales/fa-IR/modules/park.ts
  Platform.Admin/src/locales/fr-FR/modules/park.ts
  Platform.Admin/src/locales/id-ID/modules/park.ts
  Platform.Admin/src/locales/it-IT/modules/park.ts
  Platform.Admin/src/locales/ja-JP/modules/park.ts
  Platform.Admin/src/locales/ko-KR/modules/park.ts
  Platform.Admin/src/locales/pt-BR/modules/park.ts
  Platform.Admin/src/locales/ru-RU/modules/park.ts
  Platform.Admin/src/locales/th-TH/modules/park.ts
  Platform.Admin/src/locales/tr-TR/modules/park.ts
  Platform.Admin/src/locales/vi-VN/modules/park.ts
  Platform.Admin/src/locales/zh-CN/modules/other.ts
  Platform.Admin/src/locales/zh-CN/modules/park.ts
  Platform.Admin/src/locales/zh-TW/modules/park.ts
Due: prettier --write, eslint --fix

docs: 更新开发文档，增加规划先行与代码审查流程
  AGENTS.md
Due: prettier --write

fix: 补充 IoT 和园区模块的英文国际化键
  Platform.Admin/src/locales/en-US/modules/iot.ts
  Platform.Admin/src/locales/en-US/modules/park.ts
Due: prettier --write, eslint --fix

fix: 补充 IoT、园区和公文模块的中文国际化键
  Platform.Admin/src/locales/zh-CN/modules/document.ts
  Platform.Admin/src/locales/zh-CN/modules/iot.ts
  Platform.Admin/src/locales/zh-CN/modules/park.ts
Due: prettier --write, eslint --fix

fix: 优化公文列表页面，移除未使用的状态筛选组件
  Platform.Admin/src/pages/document/list.tsx
Due: prettier --write, eslint --fix

fix: 补充知识库、公园管理、用户管理模块缺失的国际化键，修复 ProTable 缺少标题图标问题
  Platform.Admin/src/locales/en-US/modules/park.ts
  Platform.Admin/src/locales/en-US/modules/workflow.ts
  Platform.Admin/src/locales/zh-CN/modules/park.ts
  Platform.Admin/src/locales/zh-CN/modules/user.ts
  Platform.Admin/src/locales/zh-CN/modules/workflow.ts
  Platform.Admin/src/pages/workflow/knowledge-base/documents.tsx
  Platform.Admin/src/pages/workflow/knowledge-base/index.tsx
Due: prettier --write, eslint --fix

refactor: 将修改密码功能集成到个人中心页面，移除独立页面
  Platform.Admin/config/routes.ts
  Platform.Admin/package-lock.json
  Platform.Admin/package.json
  Platform.Admin/src/components/RightContent/AvatarDropdown.tsx
  Platform.Admin/src/locales/zh-CN/modules/user.ts
  Platform.Admin/src/pages/account/center/index.tsx
  Platform.Admin/src/pages/user/change-password/index.tsx
Due: prettier --write, eslint --fix

feat: 任务管理区分发布者/接收者操作按钮，修复创建时间不显示
  Platform.Admin/src/locales/zh-CN/modules/task.ts
  Platform.Admin/src/pages/task-management/index.tsx
  Platform.Admin/src/services/task/api.ts
  Platform.ApiService/Controllers/TaskController.cs
  Platform.ApiService/Models/Dtos/TaskDtos.cs
  Platform.ApiService/Services/ITaskCrudService.cs
  Platform.ApiService/Services/ITaskExecutionService.cs
  Platform.ApiService/Services/ITaskService.cs
  Platform.ApiService/Services/TaskCrudService.cs
  Platform.ApiService/Services/TaskExecutionService.cs
  Platform.ApiService/Services/TaskService.cs
Due: prettier --write, eslint --fix

refactor: 使用 ErrorCode 常量替换硬编码错误消息
  Platform.ApiService/Controllers/AuthController.cs
  Platform.ApiService/Controllers/CompanyController.cs
  Platform.ApiService/Controllers/DocumentController.cs
  Platform.ApiService/Controllers/UserController.cs
  Platform.ApiService/Controllers/WorkflowController.cs
  Platform.ApiService/Services/CloudStorageService.cs
  Platform.ApiService/Services/DocumentWorkflowService.cs
  Platform.ApiService/Services/FileShareService.cs
  Platform.ApiService/Services/FileVersionService.cs
  Platform.ApiService/Services/PasswordService.cs
  Platform.ApiService/Services/RoleService.cs
  Platform.ApiService/Services/StorageQuotaService.cs
  Platform.ApiService/Services/WorkflowEngine.Approval.cs
  Platform.ApiService/Services/XiaokeConfigService.cs
Due: none

fix: Modal destroyOnClose 改为 destroyOnHidden（Ant Design v6 兼容）
  Platform.Admin/src/pages/dashboard/components/CardConfigForm.tsx
  Platform.Admin/src/pages/web-scraper/components/TaskForm.tsx
  Platform.Admin/src/pages/workflow/components/BulkOperationsPanel.tsx
  Platform.Admin/src/pages/workflow/components/FormDesignerDialog.tsx
Due: prettier --write, eslint --fix

feat: 个人中心编辑资料改为弹窗，修复修改密码错误处理
  Platform.Admin/src/locales/zh-CN/modules/user.ts
  Platform.Admin/src/pages/account/center/index.tsx
  Platform.Admin/src/services/ant-design-pro/api.ts
Due: prettier --write, eslint --fix

feat: 欢迎页待办任务支持一键完成
  Platform.Admin/src/pages/welcome/components/TaskOverviewCard.tsx
  Platform.Admin/src/pages/welcome/index.tsx
Due: prettier --write, eslint --fix

docs: 补充各模块文档的 UX 设计原则与快速开始指南
  AGENTS.md
  docs/agents/modules/architecture.md
  docs/agents/modules/backend.md
  docs/agents/modules/frontend.md
  docs/agents/modules/mcp.md
  docs/agents/modules/mobile.md
  docs/agents/modules/testing.md
  docs/agents/modules/xiaoke.md
Due: prettier --write
