Repository wjw1-Evan/aspire-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx,json,css,less,md}": [
    "prettier --write",
    "git add"
  ],
  "**/*.{ts,tsx,js,jsx}": [
    "eslint --fix",
    "git add"
  ]
}

refactor: 优化代码质量和类型安全
  Platform.Admin/src/pages/task-management/components/ProjectForm.tsx
  Platform.Admin/src/pages/task-management/components/ProjectMemberForm.tsx
  Platform.Admin/src/pages/task-management/components/TaskExecutionPanel.tsx
  Platform.Admin/src/pages/task-management/components/TaskForm.tsx
  Platform.Admin/src/pages/task-management/index.tsx
  Platform.Admin/src/pages/task-management/types.ts
  Platform.ApiService/Controllers/UserController.cs
  Platform.ApiService/Services/IUserService.cs
  Platform.ApiService/Services/ProjectService.cs
  Platform.ApiService/Services/TaskService.cs
  Platform.ApiService/Services/UserService.cs
Due: prettier --write, eslint --fix

docs: 更新开发规范文档，添加性能优化和类型安全规范
  .cursor/rules/00-global.mdc
  .cursor/rules/backend.mdc
  docs/features/BACKEND-RULES.md
  docs/features/FRONTEND-RULES.md
  docs/开发规范.md
Due: prettier --write

docs: 整合移动端规则并更新 AGENTS.md 引用
  AGENTS.md
  docs/rules/00-通用原则.md
  docs/rules/README.md
  docs/rules/backend/01-控制器与权限.md
  docs/rules/backend/02-数据访问与审计.md
  docs/rules/backend/03-中间件与响应.md
  docs/rules/backend/04-分页处理规范.md
  docs/rules/backend/05-实时通信SSE.md
  docs/rules/backend/06-批量查询规范.md
  docs/rules/backend/07-类型命名规范.md
  docs/rules/backend/README.md
  docs/rules/frontend-admin/01-路由与菜单.md
  docs/rules/frontend-admin/02-服务层封装.md
  docs/rules/frontend-admin/03-页面与组件结构.md
  docs/rules/frontend-admin/04-TypeScript类型安全.md
  docs/rules/frontend-admin/05-页面风格统一规范.md
  docs/rules/frontend-admin/README.md
  docs/rules/frontend-app/01-路由与API.md
  docs/rules/frontend-app/README.md
Due: prettier --write

chore: 移除旧的 .cursor 和 .agent 规则目录，统一使用 docs/rules/
  .agent/rules/project-rules.md
  .cursor/rules/00-global.mdc
  .cursor/rules/backend.mdc
  .cursor/rules/frontend-admin.mdc
  .cursor/rules/frontend-app.mdc
  .cursor/rules/rule.mdc
  .kiro/specs/apphost-api-tests-expansion/.config.kiro
  .kiro/specs/apphost-api-tests-expansion/design.md
  .kiro/specs/apphost-api-tests-expansion/requirements.md
  .kiro/specs/apphost-api-tests-expansion/tasks.md
  .kiro/specs/aspire-apphost-auth-tests/.config.kiro
  .kiro/specs/aspire-apphost-auth-tests/design.md
  .kiro/specs/aspire-apphost-auth-tests/requirements.md
  .kiro/specs/aspire-apphost-auth-tests/tasks.md
Due: prettier --write

feat: 首页卡片拖动优化和数据库信息显示
  Platform.Admin/src/hooks/useCommonStyles.ts
  Platform.Admin/src/locales/zh-CN/welcome.ts
  Platform.Admin/src/pages/Welcome.tsx
  Platform.Admin/src/pages/welcome/components/SystemResourcesCard.tsx
  Platform.Admin/src/services/system/api.ts
  Platform.ApiService/Controllers/SystemMonitorController.cs
  Platform.ApiService/Services/SystemResourceService.cs
Due: prettier --write, eslint --fix

feat: 统一 Welcome 页卡片垂直间距，跨列保持一致
  Platform.Admin/src/hooks/useCommonStyles.ts
  Platform.Admin/src/pages/Welcome.tsx
Due: prettier --write, eslint --fix

feat: 组织添加成员改为下拉框选择用户
  Platform.Admin/src/locales/zh-CN/pages.ts
  Platform.Admin/src/pages/organization/components/AssignUserModal.tsx
  Platform.Admin/src/services/organization/api.ts
  Platform.ApiService/Controllers/OrganizationController.cs
  Platform.ApiService/Services/OrganizationService.cs
Due: prettier --write, eslint --fix

chore: 升级 Aspire 到 13.2.0 及相关依赖包版本
  Platform.ApiService/Platform.ApiService.csproj
  Platform.AppHost.Tests/Platform.AppHost.Tests.csproj
  Platform.AppHost/Platform.AppHost.csproj
  Platform.ServiceDefaults/Platform.ServiceDefaults.csproj
Due: none

chore: 移除 MongoDB DatabaseName 配置（Aspire 13.2.0 不再支持）
  Platform.AppHost/AppHost.cs
  Platform.AppHost/appsettings.Development.json
  Platform.AppHost/appsettings.Testing.json
  Platform.AppHost/appsettings.json
Due: prettier --write

chore: 移除未使用的 SixLabors.Fonts 包
  Platform.ServiceDefaults/Platform.ServiceDefaults.csproj
Due: none

fix: 恢复 Testing 环境 MongoDB 用户名和密码配置
  Platform.AppHost/appsettings.Testing.json
Due: prettier --write

Revert "fix: 恢复 Testing 环境 MongoDB 用户名和密码配置"
  Platform.AppHost/appsettings.Testing.json
Due: prettier --write

fix: 优化测试代码设计
  Platform.AppHost.Tests/AppHostFixture.cs
  Platform.AppHost.Tests/Tests/BaseIntegrationTest.cs
  Platform.AppHost.Tests/Tests/DocumentApprovalTests.cs
Due: none

refactor: 统一多企业数据隔离的 CompanyId 获取方式
  Platform.ApiService/Controllers/JoinRequestController.cs
  Platform.ApiService/Controllers/MenuController.cs
  Platform.ApiService/Controllers/ProjectController.cs
  docs/rules/backend/02-数据访问与审计.md
Due: prettier --write

refactor: 移除控制器和服务中手动获取 CompanyId 的代码
  Platform.ApiService/Controllers/ProjectController.cs
  Platform.ApiService/Services/IProjectService.cs
  Platform.ApiService/Services/Mcp/Handlers/TaskMcpToolHandler.cs
  Platform.ApiService/Services/ProjectService.cs
  docs/rules/backend/02-数据访问与审计.md
Due: prettier --write

refactor: 移除 TaskService 中手动获取 CompanyId 的代码
  Platform.ApiService/Controllers/TaskController.cs
  Platform.ApiService/Services/ITaskService.cs
  Platform.ApiService/Services/Mcp/Handlers/TaskMcpToolHandler.cs
  Platform.ApiService/Services/TaskService.cs
Due: none

refactor: 移除 ProjectStatisticsService 中手动获取 CompanyId 的代码
  Platform.ApiService/Controllers/ProjectStatisticsController.cs
  Platform.ApiService/Services/IProjectStatisticsService.cs
  Platform.ApiService/Services/ProjectStatisticsService.cs
Due: none

docs: 更新多企业数据隔离开发文档
  docs/rules/backend/02-数据访问与审计.md
Due: prettier --write

refactor: 移除 UserRoleService/UserOrganizationService 中手动获取 CompanyId
  Platform.ApiService/Services/IUserOrganizationService.cs
  Platform.ApiService/Services/IUserRoleService.cs
  Platform.ApiService/Services/UserOrganizationService.cs
  Platform.ApiService/Services/UserRoleService.cs
  Platform.ApiService/Services/UserService.cs
Due: none

refactor: 移除 NoticeService 中手动获取 CompanyId
  Platform.ApiService/Services/INoticeService.cs
  Platform.ApiService/Services/JoinRequestService.cs
  Platform.ApiService/Services/NoticeService.cs
Due: none

refactor: 移除控制器中手动获取 CompanyId
  Platform.ApiService/Controllers/FormController.cs
  Platform.ApiService/Controllers/KnowledgeBaseController.cs
  Platform.ApiService/Controllers/TaskController.cs
  Platform.ApiService/Controllers/WorkflowController.cs
  Platform.ApiService/Services/ITaskService.cs
  Platform.ApiService/Services/TaskService.cs
Due: none

refactor: 移除服务方法中的 userId 参数
  Platform.ApiService/Controllers/ProjectController.cs
  Platform.ApiService/Services/IProjectService.cs
  Platform.ApiService/Services/Mcp/Handlers/TaskMcpToolHandler.cs
  Platform.ApiService/Services/ProjectService.cs
Due: none

refactor: TaskService 移除 userId 参数
  Platform.ApiService/Services/ITaskService.cs
  Platform.ApiService/Services/TaskService.cs
Due: none

refactor: 优化审计字段自动处理并清理无用代码
  Platform.ApiService/Controllers/KnowledgeBaseController.cs
  Platform.ApiService/Controllers/PasswordBookController.cs
  Platform.ApiService/Controllers/TaskController.cs
  Platform.ApiService/Controllers/WorkflowController.cs
  Platform.ApiService/Models/PasswordBookModels.cs
  Platform.ApiService/Services/AuthService.cs
  Platform.ApiService/Services/CloudStorageService.cs
  Platform.ApiService/Services/CompanyService.cs
  Platform.ServiceDefaults/Controllers/BaseApiController.cs
  Platform.ServiceDefaults/Extensions/ExpressionExtensions.cs
  Platform.ServiceDefaults/Services/EFCoreDataFactory.cs
  Platform.ServiceDefaults/Services/IDataFactory.cs
  docs/rules/backend/01-控制器与权限.md
  docs/rules/backend/02-数据访问与审计.md
Due: prettier --write

refactor: 服务接口和实现优化
  Platform.ApiService/Controllers/StorageQuotaController.cs
  Platform.ApiService/Services/IMenuAccessService.cs
  Platform.ApiService/Services/IPasswordBookService.cs
  Platform.ApiService/Services/IStorageQuotaService.cs
  Platform.ApiService/Services/IUnifiedNotificationService.cs
  Platform.ApiService/Services/Mcp/Handlers/TaskMcpToolHandler.cs
  Platform.ApiService/Services/MenuAccessService.cs
  Platform.ApiService/Services/PasswordBookService.cs
  Platform.ApiService/Services/StorageQuotaService.cs
  Platform.ApiService/Services/TaskService.cs
  Platform.ApiService/Services/UnifiedNotificationService.cs
  Platform.ApiService/Services/UserService.cs
  Platform.ApiService/Services/WorkflowEngine.Approval.cs
  Platform.ApiService/Services/WorkflowEngine.Notifications.cs
Due: none

chore: 更新 Admin 前端依赖版本
  Platform.Admin/package-lock.json
  Platform.Admin/package.json
Due: prettier --write

docs: 添加代码洁癖开发规范
  docs/rules/00-通用原则.md
Due: prettier --write

docs: 更新审计字段自动维护开发文档
  docs/rules/backend/02-数据访问与审计.md
Due: prettier --write

refactor: 移除手动设置审计字段代码
  Platform.ApiService/Services/AiAssistantCoordinator.cs
  Platform.ApiService/Services/AuthService.cs
  Platform.ApiService/Services/ChatAttachmentService.cs
  Platform.ApiService/Services/ChatSessionService.cs
  Platform.ApiService/Services/CloudStorageService.cs
  Platform.ApiService/Services/DocumentService.cs
  Platform.ApiService/Services/TaskService.cs
  Platform.ApiService/Services/UnifiedNotificationService.cs
  Platform.ApiService/Services/UserActivityLogService.cs
Due: none

1
  Platform.AppHost/appsettings.Testing.json
Due: prettier --write

fix: 修复 DocumentService 授权漏洞
  Platform.ApiService/Services/DocumentService.cs
Due: none

fix: 修复授权漏洞
  Platform.ApiService/Controllers/TaskController.cs
  Platform.ApiService/Services/CloudStorageService.cs
  Platform.ApiService/Services/ITaskService.cs
  Platform.ApiService/Services/Mcp/Handlers/TaskMcpToolHandler.cs
  Platform.ApiService/Services/TaskService.cs
Due: none

fix: 修复 ProjectService 授权漏洞
  Platform.ApiService/Controllers/ProjectController.cs
  Platform.ApiService/Services/IProjectService.cs
  Platform.ApiService/Services/ProjectService.cs
Due: none

fix: 修复园区服务授权漏洞
  Platform.ApiService/Services/Park/ParkInvestmentService.cs
  Platform.ApiService/Services/Park/ParkTenantService.cs
Due: none

fix: 修复园区资产和走访服务授权漏洞
  Platform.ApiService/Services/Park/ParkAssetService.cs
  Platform.ApiService/Services/Park/ParkVisitService.cs
Due: none

refactor: 简化服务层ITenantContext使用，移除手动审计字段设置
  Platform.ApiService/Services/BulkOperationService.cs
  Platform.ApiService/Services/ChatAiService.cs
  Platform.ApiService/Services/ChatSessionService.cs
  Platform.ApiService/Services/DocumentService.cs
  Platform.ApiService/Services/FilePreviewService.cs
  Platform.ApiService/Services/FileShareService.cs
  Platform.ApiService/Services/FileVersionService.cs
  Platform.ApiService/Services/NoticeService.cs
  Platform.ApiService/Services/Park/ParkAssetService.cs
  Platform.ApiService/Services/Park/ParkInvestmentService.cs
  Platform.ApiService/Services/Park/ParkTenantService.cs
  Platform.ApiService/Services/Park/ParkVisitService.cs
  Platform.ApiService/Services/RoleService.cs
  Platform.ApiService/Services/RuleService.cs
  Platform.ApiService/Services/TaskService.cs
  Platform.ApiService/Services/UnifiedNotificationService.cs
  Platform.ApiService/Services/UserActivityLogService.cs
  Platform.ApiService/Services/UserRoleService.cs
  Platform.ApiService/Services/WorkflowAnalyticsService.cs
  Platform.ApiService/Services/WorkflowExportImportService.cs
  docs/rules/backend/02-数据访问与审计.md
Due: prettier --write

refactor: Standardize user activity logging and filtering to use `createdBy` instead of `userId`/`username` and update admin service port.
  Platform.Admin/src/pages/user-log/components/LogDetailDrawer.tsx
  Platform.Admin/src/pages/user-log/index.tsx
  Platform.Admin/src/services/user-log/types.ts
  Platform.ApiService/Controllers/UserController.cs
  Platform.ApiService/Middleware/ActivityLogMiddleware.cs
  Platform.ApiService/Models/Response/ActivityLogListItemResponse.cs
  Platform.ApiService/Models/User.cs
  Platform.ApiService/Services/IUserActivityLogService.cs
  Platform.ApiService/Services/IUserService.cs
  Platform.ApiService/Services/Mcp/Handlers/SystemMcpToolHandler.cs
  Platform.ApiService/Services/UserActivityLogService.cs
  Platform.ApiService/Services/UserService.cs
  Platform.AppHost/AppHost.cs
  Platform.ServiceDefaults/Models/BaseEntity.cs
Due: prettier --write, eslint --fix

refactor: Streamline EF Core data factory methods for conciseness and consistency, and enhance tenant context handling with `IsSystemContext`.
  Platform.ApiService/Services/IoTDataCollector.cs
  Platform.ApiService/Services/SimpleHttpDataCollector.cs
  Platform.ServiceDefaults/Services/EFCoreDataFactory.cs
  Platform.ServiceDefaults/Services/ITenantContext.cs
  Platform.ServiceDefaults/Services/PlatformDbContext.cs
Due: none

refactor: Optimize data factory operations with batch processing, remove `IAntiTamper` interface, and refine EF Core queries and context configuration.
  Platform.ApiService/Models/User.cs
  Platform.ServiceDefaults/Models/BaseEntity.cs
  Platform.ServiceDefaults/Models/IAntiTamper.cs
  Platform.ServiceDefaults/OPTIMIZATION_NOTES.md
  Platform.ServiceDefaults/Services/EFCoreDataFactory.cs
  Platform.ServiceDefaults/Services/IDataFactory.cs
  Platform.ServiceDefaults/Services/PlatformDbContext.cs
Due: prettier --write

refactor: Simplify `EFCoreDataFactory` to a minimal write-only factory and remove `LastOperationType` tracking from `PlatformDbContext`.
  Platform.ServiceDefaults/Models/BaseEntity.cs
  Platform.ServiceDefaults/Models/OperationTracking.cs
  Platform.ServiceDefaults/OPTIMIZATION_NOTES.md
  Platform.ServiceDefaults/Services/EFCoreDataFactory.cs
  Platform.ServiceDefaults/Services/IDataFactory.cs
  Platform.ServiceDefaults/Services/PlatformDbContext.cs
Due: prettier --write
