Repository wjw1-Evan/aspire-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

refactor: 简化 BusinessExceptionFilter 异常处理逻辑
  Platform.ServiceDefaults/Filters/BusinessExceptionFilter.cs
Due: none

style: 修复 BusinessExceptionFilter 格式问题
  Platform.ServiceDefaults/Filters/BusinessExceptionFilter.cs
Due: none

feat: 补全errorCode多语言翻译，覆盖12种语言并修复翻译循环问题
  Platform.Admin/src/constants/errorCodes.ts
  Platform.Admin/src/locales/en-US/request.ts
  Platform.Admin/src/locales/es-ES/request.ts
  Platform.Admin/src/locales/fr-FR/request.ts
  Platform.Admin/src/locales/it-IT/request.ts
  Platform.Admin/src/locales/ja-JP/request.ts
  Platform.Admin/src/locales/ko-KR/request.ts
  Platform.Admin/src/locales/ru-RU/request.ts
  Platform.Admin/src/locales/th-TH/request.ts
  Platform.Admin/src/locales/tr-TR/request.ts
  Platform.Admin/src/locales/vi-VN/request.ts
  Platform.Admin/src/locales/zh-CN/request.ts
  Platform.Admin/src/locales/zh-TW/request.ts
  Platform.Admin/src/utils/errorInterceptor.ts
Due: prettier --write, eslint --fix

fix: 修复translateMessage将中文字符串当i18n key的循环翻译问题
  Platform.Admin/src/utils/errorInterceptor.ts
Due: prettier --write, eslint --fix

fix: errorCode翻译失败时直接返回message，不继续翻译message
  Platform.Admin/src/utils/errorInterceptor.ts
Due: prettier --write, eslint --fix

debug: 添加translateMessage调试日志
  Platform.Admin/src/utils/errorInterceptor.ts
Due: prettier --write, eslint --fix

refactor: 移除 Program.cs 中的 ConvertToErrorCode 辅助方法，简化验证错误处理
  Platform.ApiService/Program.cs
Due: none

fix: 修复验证错误重复显示问题，message只在errors不存在时显示
  Platform.Admin/src/pages/user/login/index.tsx
  Platform.Admin/src/utils/errorInterceptor.ts
Due: prettier --write, eslint --fix

docs: 更新 AGENTS.md 中 errors 字段定义，明确为字段级别错误
  AGENTS.md
Due: prettier --write

fix: 登录页验证错误显示在对应字段上
  Platform.Admin/src/pages/user/login/index.tsx
Due: prettier --write, eslint --fix

fix: 注册页和忘记密码页的验证错误显示在对应字段上，并更新开发文档
  AGENTS.md
  Platform.Admin/src/pages/user/forgot-password/index.tsx
  Platform.Admin/src/pages/user/register/index.tsx
Due: prettier --write, eslint --fix

feat: 添加验证相关错误码常量，LoginRequest 使用 ErrorCode
  Platform.ApiService/Models/Dtos/AuthDtos.cs
  Platform.ServiceDefaults/Models/ErrorCode.cs
Due: none

docs: 添加 DataAnnotation 验证错误消息多语言规范
  AGENTS.md
Due: prettier --write

feat: 支持验证错误码翻译
  Platform.Admin/src/locales/zh-CN/pages.ts
  Platform.Admin/src/utils/errorInterceptor.ts
Due: prettier --write, eslint --fix

feat: 添加18个语言包的验证错误码翻译
  Platform.Admin/src/locales/ar-EG/pages.ts
  Platform.Admin/src/locales/bn-BD/pages.ts
  Platform.Admin/src/locales/de-DE/pages.ts
  Platform.Admin/src/locales/en-US/pages.ts
  Platform.Admin/src/locales/es-ES/pages.ts
  Platform.Admin/src/locales/fa-IR/pages.ts
  Platform.Admin/src/locales/fr-FR/pages.ts
  Platform.Admin/src/locales/id-ID/pages.ts
  Platform.Admin/src/locales/it-IT/pages.ts
  Platform.Admin/src/locales/ja-JP/pages.ts
  Platform.Admin/src/locales/ko-KR/pages.ts
  Platform.Admin/src/locales/pt-BR/pages.ts
  Platform.Admin/src/locales/ru-RU/pages.ts
  Platform.Admin/src/locales/th-TH/pages.ts
  Platform.Admin/src/locales/tr-TR/pages.ts
  Platform.Admin/src/locales/vi-VN/pages.ts
  Platform.Admin/src/locales/zh-TW/pages.ts
Due: prettier --write, eslint --fix

chore: 简化 commit 命令模板
  opencode.jsonc
Due: none

chore: 添加开发规则总结步骤到 commit 模板
  opencode.jsonc
Due: none

chore: 恢复 commit 模板完整内容
  opencode.jsonc
Due: none

fix: 修复法语翻译文件语法错误
  Platform.Admin/src/locales/fr-FR/pages.ts
Due: prettier --write, eslint --fix

fix: 登录页验证错误翻译
  Platform.Admin/src/pages/user/login/index.tsx
  Platform.Admin/src/utils/errorInterceptor.ts
Due: prettier --write, eslint --fix

fix: 修复验证错误消息翻译
  Platform.Admin/src/utils/errorInterceptor.ts
Due: prettier --write, eslint --fix

fix: 简化验证错误处理流程，不再重复翻译
  Platform.Admin/src/pages/user/login/index.tsx
  Platform.Admin/src/utils/errorInterceptor.ts
Due: prettier --write, eslint --fix

fix: 登录页验证错误使用 getIntl 翻译
  Platform.Admin/src/pages/user/login/index.tsx
Due: prettier --write, eslint --fix

fix: 验证错误时不显示 errorCode，只显示验证错误标题
  Platform.Admin/src/utils/errorInterceptor.ts
Due: prettier --write, eslint --fix

fix: 错误显示优先级 errors > errorCode > message
  Platform.Admin/src/utils/errorInterceptor.ts
Due: prettier --write, eslint --fix

fix: 修复登录页重复弹窗问题
  Platform.Admin/src/pages/user/login/index.tsx
  Platform.Admin/src/utils/errorInterceptor.ts
Due: prettier --write, eslint --fix

feat: 增强 errorInterceptor 处理验证错误格式
  Platform.Admin/src/pages/user/login/index.tsx
  Platform.Admin/src/utils/errorInterceptor.ts
Due: prettier --write, eslint --fix

fix: 修复错误显示优先级，errorCode 翻译后不再显示 message
  Platform.Admin/src/utils/errorInterceptor.ts
Due: prettier --write, eslint --fix

fix: 修复登录验证错误重复显示
  Platform.Admin/src/pages/user/login/index.tsx
Due: prettier --write, eslint --fix

refactor: 移除登录页 catch 块和 error.skipGlobalHandler
  Platform.Admin/src/pages/user/login/index.tsx
Due: prettier --write, eslint --fix

fix: 修复登录错误后提交按钮loading状态不重置的问题
  Platform.Admin/src/pages/user/login/index.tsx
  Platform.Admin/src/utils/antdAppInstance.ts
Due: prettier --write, eslint --fix

fix: 简化 antdAppInstance，使用静态方法作为基础
  Platform.Admin/src/pages/user/login/index.tsx
  Platform.Admin/src/utils/antdAppInstance.ts
Due: prettier --write, eslint --fix

fix: 添加登录页字段错误处理 + debug 日志
  Platform.Admin/src/request-error-config.ts
  Platform.Admin/src/utils/errorInterceptor.ts
Due: prettier --write, eslint --fix

fix: 静默验证错误显示，由页面自行处理
  Platform.Admin/src/utils/errorInterceptor.ts
Due: prettier --write, eslint --fix

fix: 登录页 catch 块添加字段错误处理
  Platform.Admin/src/pages/user/login/index.tsx
Due: prettier --write, eslint --fix

fix: 区分验证错误和业务错误
  Platform.Admin/src/pages/user/login/index.tsx
  Platform.Admin/src/utils/errorInterceptor.ts
Due: prettier --write, eslint --fix

clean: 移除 errorInterceptor 调试日志
  Platform.Admin/src/utils/errorInterceptor.ts
Due: prettier --write, eslint --fix

fix: 登录页密码输入框添加 type=password
  Platform.Admin/src/pages/user/login/index.tsx
Due: prettier --write, eslint --fix

fix: 注册页密码输入框添加 type=password
  Platform.Admin/src/pages/user/register/index.tsx
Due: prettier --write, eslint --fix

style: 调整注册页面标题文字大小与登录页面保持一致
  Platform.Admin/src/pages/user/register/index.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json,css,less,md}
  eslint --fix: any of: **/*.{ts,tsx,js,jsx}
