Repository wjw1-Evan/aspire-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx,json,css,less,md}": [
    "prettier --write",
    "git add"
  ],
  "**/*.{ts,tsx,js,jsx}": [
    "eslint --fix",
    "git add"
  ]
}

feat: refactor table column definitions and improve action handling in task and project management components
  Platform.Admin/package-lock.json
  Platform.Admin/package.json
  Platform.Admin/src/components/PageContainer/index.tsx
  Platform.Admin/src/locales/zh-CN/pages.ts
  Platform.Admin/src/pages/company/search/index.tsx
  Platform.Admin/src/pages/company/settings.tsx
  Platform.Admin/src/pages/document/approval.tsx
  Platform.Admin/src/pages/document/create.tsx
  Platform.Admin/src/pages/document/list.tsx
  Platform.Admin/src/pages/iot-platform/components/DataCenter.tsx
  Platform.Admin/src/pages/join-requests/my/index.tsx
  Platform.Admin/src/pages/join-requests/pending/index.tsx
  Platform.Admin/src/pages/my-activity/index.tsx
  Platform.Admin/src/pages/password-book/index.tsx
  Platform.Admin/src/pages/task-management/components/ProjectView.tsx
  Platform.Admin/src/pages/task-management/index.tsx
  Platform.Admin/src/pages/user-log/index.tsx
  Platform.Admin/src/pages/user-management/index.tsx
  Platform.Admin/src/pages/workflow/components/WorkflowDesigner.tsx
  Platform.Admin/src/pages/workflow/list.tsx
  Platform.Admin/src/pages/workflow/monitor.tsx
  Platform.Admin/src/pages/xiaoke-management/chat-history/components/ChatHistoryManagement.tsx
  Platform.Admin/src/pages/xiaoke-management/config/components/ConfigManagement.tsx
  Platform.Admin/src/utils/antdAppInstance.ts
  Platform.Admin/src/utils/tokenRefreshManager.ts
  Platform.AppHost/AppHost.cs
Due: prettier --write, eslint --fix

feat: 更新组件以兼容 antd v6，移除已弃用属性并添加防御性检查
  Platform.Admin/src/components/HeaderDropdown/index.tsx
  Platform.Admin/src/components/PageContainer/index.tsx
  Platform.Admin/src/pages/document/approval.tsx
  Platform.Admin/src/pages/document/list.tsx
  Platform.Admin/src/pages/password-book/index.tsx
Due: prettier --write, eslint --fix

feat: 添加开发规范文档，涵盖后端、管理后台与移动端开发规则
  README.md
  docs/开发规范.md
Due: prettier --write

feat: 统一处理认证错误，优化错误提示逻辑并避免 React 18 并发模式警告
  Platform.Admin/src/request-error-config.ts
  Platform.Admin/src/utils/errorInterceptor.ts
Due: prettier --write, eslint --fix

feat: 优化文档服务接口，移除多余空行以提升代码可读性
  Platform.ApiService/Services/DocumentService.cs
Due: none

feat: 删除 Husky 钩子和 VSCode 设置文件，简化项目结构
  .husky/commit-msg
  .husky/pre-commit
  .vscode/settings.json
Due: prettier --write

feat: 优化 MenuAccessService 中的日志记录，移除多余空行以提升代码可读性
  Platform.ApiService/Services/MenuAccessService.cs
Due: none

feat: 添加文档创建功能，优化权限验证逻辑并更新相关接口
  Platform.Admin/src/pages/document/list.tsx
  Platform.ApiService/Attributes/RequireMenuAttribute.cs
  Platform.ApiService/Controllers/WorkflowController.cs
  Platform.ApiService/Services/MenuAccessService.cs
  Platform.DataInitializer/Services/DataInitializerService.cs
Due: prettier --write, eslint --fix

feat: Implement form management feature with CRUD operations
  .cursor/rules/backend.mdc
  Platform.Admin/config/routes.ts
  Platform.Admin/package-lock.json
  Platform.Admin/package.json
  Platform.Admin/src/components/RightContent/AvatarDropdown.tsx
  Platform.Admin/src/components/RightContent/ThemeSettingsDrawer.tsx
  Platform.Admin/src/components/ThemeSettings/index.tsx
  Platform.Admin/src/locales/bn-BD/menu.ts
  Platform.Admin/src/locales/en-US/menu.ts
  Platform.Admin/src/locales/en-US/pages.ts
  Platform.Admin/src/locales/ja-JP/menu.ts
  Platform.Admin/src/locales/zh-CN/menu.ts
  Platform.Admin/src/locales/zh-CN/pages.ts
  Platform.Admin/src/pages/document/approval.tsx
  Platform.Admin/src/pages/document/create-by-workflow.tsx
  Platform.Admin/src/pages/document/create.tsx
  Platform.Admin/src/pages/document/list.tsx
  Platform.Admin/src/pages/password-book/components/PasswordBookForm.tsx
  Platform.Admin/src/pages/password-book/components/PasswordGenerator.tsx
  Platform.Admin/src/pages/password-book/index.tsx
  Platform.Admin/src/pages/workflow/components/WorkflowDesigner.tsx
  Platform.Admin/src/pages/workflow/forms/index.tsx
  Platform.Admin/src/pages/workflow/list.tsx
  Platform.Admin/src/pages/workflow/monitor.tsx
  Platform.Admin/src/pages/xiaoke-management/config/components/ConfigManagement.tsx
  Platform.Admin/src/services/document/api.ts
  Platform.Admin/src/services/form/api.ts
  Platform.Admin/src/services/workflow/api.ts
  Platform.Admin/src/utils/statusMaps.ts
  Platform.ApiService/Controllers/DocumentController.cs
  Platform.ApiService/Controllers/FormController.cs
  Platform.ApiService/Controllers/WorkflowController.cs
  Platform.ApiService/Extensions/SerializationExtensions.cs
  Platform.ApiService/Models/FormModels.cs
  Platform.ApiService/Models/WorkflowModels.cs
  Platform.ApiService/Services/DocumentService.cs
  Platform.ApiService/Services/WorkflowEngine.cs
  Platform.App/package-lock.json
  Platform.DataInitializer/Services/DataInitializerService.cs
  docs/features/MENU-LEVEL-PERMISSION-GUIDE.md
Due: prettier --write, eslint --fix

feat: 删除不再使用的配置文件和语言包分析脚本，简化项目结构
  .editorconfig
  .eslintrc.cjs
  .lintstagedrc.json
  .prettierrc.json
  Platform.App/package-lock.json
  commitlint.config.cjs
  compare-language-packs.js
  language-pack-analysis-report.md
Due: prettier --write, eslint --fix

refactor: update dependencies and remove unused d3-transition package
  Platform.Admin/package-lock.json
  Platform.Admin/package.json
  Platform.Admin/src/pages/workflow/components/WorkflowDesigner.tsx
Due: prettier --write, eslint --fix

feat: 删除 VS Code 工作区规则说明文件，简化项目结构
  .vscode/README.rules.md
Due: prettier --write

feat: Enhance document approval and management features
  Platform.Admin/src/pages/document/approval.tsx
  Platform.Admin/src/pages/document/list.tsx
Due: prettier --write, eslint --fix

feat: Add document instance form retrieval and workflow definition snapshot support
  Platform.Admin/src/pages/document/approval.tsx
  Platform.Admin/src/pages/document/list.tsx
  Platform.Admin/src/services/document/api.ts
  Platform.ApiService/Controllers/ChatHistoryController.cs
  Platform.ApiService/Controllers/DocumentController.cs
  Platform.ApiService/Controllers/FormController.cs
  Platform.ApiService/Controllers/WorkflowController.cs
  Platform.ApiService/Extensions/SerializationExtensions.cs
  Platform.ApiService/Models/FormModels.cs
  Platform.ApiService/Models/WorkflowModels.cs
  Platform.ApiService/Services/DocumentService.cs
  Platform.ApiService/Services/WorkflowEngine.cs
Due: prettier --write, eslint --fix

feat: Add frontend rules for mobile app and API call standards
  .kiro/steering/00-global.md
  .kiro/steering/backend.md
  .kiro/steering/frontend-admin.md
  .kiro/steering/frontend-app.md
  .kiro/steering/rule.md
  .vscode/settings.json
  Platform.Admin/src/pages/document/approval.tsx
  Platform.Admin/src/pages/workflow/list.tsx
  Platform.Admin/src/services/document/api.ts
  Platform.Admin/src/services/workflow/api.ts
  Platform.ApiService/Controllers/ChatHistoryController.cs
  Platform.ApiService/Controllers/DocumentController.cs
  Platform.ApiService/Controllers/LogTestController.cs
  Platform.ApiService/Controllers/WorkflowController.cs
  Platform.ApiService/Extensions/SerializationExtensions.cs
  Platform.ApiService/Models/WorkflowModels.cs
  Platform.ApiService/Program.cs
  Platform.ApiService/Services/DocumentService.cs
  Platform.ApiService/Services/FieldValidationService.cs
  Platform.ApiService/Services/WorkflowEngine.cs
  Platform.ApiService/appsettings.Development.json
  Platform.ApiService/appsettings.json
  Platform.AppHost/AppHost.cs
  Platform.ServiceDefaults/Extensions.cs
  Platform.ServiceDefaults/Models/BaseEntity.cs
  docs/log-optimization.md
  docs/log-test-guide.md
  docs/workflow-approval-node-fix.md
  docs/workflow-mongodb-serialization-fix.md
  docs/workflow-optimization-summary.md
Due: prettier --write, eslint --fix

feat: 优化工作流引擎中的审批和条件节点处理，增强日志记录
  Platform.ApiService/Services/WorkflowEngine.cs
Due: none

feat: 修复审批流程中的节点ID错误，简化智能匹配和重复审批检查逻辑，确保审批记录保存到正确的节点上
  Platform.Admin/src/pages/document/approval.tsx
  Platform.ApiService/Services/WorkflowEngine.cs
  test-approval-fix.md
Due: prettier --write, eslint --fix

feat: 删除审批流程修复验证测试文档，更新审批页面以统一审批操作逻辑，增强节点状态获取和可退回节点功能
  Platform.Admin/src/pages/document/approval.tsx
  Platform.ApiService/Services/WorkflowEngine.cs
  docs/bugfixes/workflow-approval-duplicate-check-fix.md
  test-approval-fix.md
Due: prettier --write, eslint --fix

feat: Enhance approval page functionality with additional state management and improved error handling
  Platform.Admin/src/pages/document/approval.tsx
  Platform.ApiService/Controllers/DocumentController.cs
  Platform.ApiService/Services/WorkflowEngine.cs
  审批流程修复总结.md
Due: prettier --write, eslint --fix

fix: Resolve compilation error by removing duplicate variable definition in WorkflowEngine
  Platform.ApiService/Services/WorkflowEngine.cs
  审批流程修复总结.md
Due: prettier --write

fix: Prevent approval action when already approving
  Platform.Admin/src/pages/document/approval.tsx
Due: prettier --write, eslint --fix

fix: 修复工作流监控页面表单数据隔离问题
  Platform.Admin/docs/ANTD_MIGRATION_SUMMARY.md
  Platform.Admin/docs/MESSAGE_API_MIGRATION.md
  Platform.Admin/docs/MIGRATION_COMPLETION_REPORT.md
  Platform.Admin/src/components/BulkActionModal.tsx
  Platform.Admin/src/components/CreateCompanyModal/index.tsx
  Platform.Admin/src/components/DeleteConfirmModal.tsx
  Platform.Admin/src/components/ImageCaptcha/index.tsx
  Platform.Admin/src/components/NoticeIcon/index.tsx
  Platform.Admin/src/components/ThemeSettings/index.tsx
  Platform.Admin/src/hooks/useMessage.ts
  Platform.Admin/src/locales/zh-CN/pages.ts
  Platform.Admin/src/pages/company/components/EditCompanyModal.tsx
  Platform.Admin/src/pages/company/settings.tsx
  Platform.Admin/src/pages/document/create-by-workflow.tsx
  Platform.Admin/src/pages/document/create.tsx
  Platform.Admin/src/pages/iot-platform/components/DataCenter.tsx
  Platform.Admin/src/pages/iot-platform/index.tsx
  Platform.Admin/src/pages/password-book/components/ExportDialog.tsx
  Platform.Admin/src/pages/password-book/components/PasswordBookForm.tsx
  Platform.Admin/src/pages/password-book/components/PasswordGenerator.tsx
  Platform.Admin/src/pages/password-book/index.tsx
  Platform.Admin/src/pages/role-management/components/RoleForm.tsx
  Platform.Admin/src/pages/role-management/index.tsx
  Platform.Admin/src/pages/task-management/components/ProjectMemberManagement.tsx
  Platform.Admin/src/pages/task-management/components/TaskForm.tsx
  Platform.Admin/src/pages/task-management/components/TaskTree.tsx
  Platform.Admin/src/pages/task-management/index.tsx
  Platform.Admin/src/pages/user-management/components/UserForm.tsx
  Platform.Admin/src/pages/user-management/index.tsx
  Platform.Admin/src/pages/workflow/components/WorkflowCreateForm.tsx
  Platform.Admin/src/pages/workflow/components/WorkflowDesigner.tsx
  Platform.Admin/src/pages/workflow/forms/index.tsx
  Platform.Admin/src/pages/workflow/list.tsx
  Platform.Admin/src/pages/workflow/monitor.tsx
  Platform.Admin/src/pages/xiaoke-management/chat-history/components/ChatHistoryDetail.tsx
  Platform.Admin/src/pages/xiaoke-management/chat-history/components/ChatHistoryManagement.tsx
  Platform.Admin/src/pages/xiaoke-management/config/components/ConfigForm.tsx
  Platform.Admin/src/pages/xiaoke-management/config/components/ConfigManagement.tsx
  工作流监控节点表单样式优化.md
Due: prettier --write, eslint --fix

feat: 扩展公文管理删除功能到所有状态
  Platform.Admin/src/pages/document/list.tsx
Due: prettier --write, eslint --fix

fix: 修复工作流监控表单数据显示错误问题
  Platform.Admin/src/pages/workflow/monitor.tsx
Due: prettier --write, eslint --fix

refactor: 清理工作流监控页面调试日志
  Platform.Admin/src/pages/workflow/monitor.tsx
Due: prettier --write, eslint --fix

fix: 添加缺失的公文创建国际化文本
  Platform.Admin/src/locales/bn-BD/pages.ts
  Platform.Admin/src/locales/en-US/pages.ts
  Platform.Admin/src/locales/fa-IR/pages.ts
  Platform.Admin/src/locales/id-ID/pages.ts
  Platform.Admin/src/locales/ja-JP/pages.ts
  Platform.Admin/src/locales/pt-BR/pages.ts
  Platform.Admin/src/locales/zh-CN/pages.ts
  Platform.Admin/src/locales/zh-TW/pages.ts
Due: prettier --write, eslint --fix

fix: 修复 Modal 静态方法警告，迁移到 useModal Hook
  Platform.Admin/src/hooks/useModal.ts
  Platform.Admin/src/pages/document/list.tsx
  Platform.Admin/src/pages/password-book/index.tsx
  Platform.Admin/src/pages/role-management/index.tsx
  Platform.Admin/src/pages/task-management/index.tsx
  Platform.Admin/src/pages/user-management/index.tsx
  Platform.Admin/src/pages/workflow/list.tsx
  Platform.Admin/src/utils/modalMigration.md
Due: prettier --write, eslint --fix

完善前端操作列图标映射规范
  .cursor/rules/frontend-admin.mdc
Due: none

修复 Modal 组件废弃属性警告
  Platform.Admin/src/pages/workflow/forms/index.tsx
Due: prettier --write, eslint --fix

完善 Ant Design 6 规范遵循指南
  .cursor/rules/frontend-admin.mdc
  Platform.Admin/docs/ANTD_6_COMPLIANCE.md
Due: prettier --write

全面更新前端 steering 规则
  .cursor/rules/frontend-admin.mdc
Due: none

强化 Ant Design 6 原生组件优先原则
  .cursor/rules/frontend-admin.mdc
Due: none

将工作流表单页面从 ProTable 迁移到 DataTable
  Platform.Admin/src/pages/workflow/forms/index.tsx
Due: prettier --write, eslint --fix

更新 steering 规则记录 ProComponents 迁移完成
  .cursor/rules/frontend-admin.mdc
Due: none

chore: update antd-style to 4.1.0 and @umijs/max to 4.6.15; add install-package script
  Platform.Admin/package-lock.json
  Platform.Admin/package.json
Due: prettier --write

feat: Enhance CloudStorageService with Recycle Bin statistics and validation
  .vscode/settings.json
  Platform.ApiService/Controllers/CloudStorageController.cs
  Platform.ApiService/Controllers/WorkflowController.cs
  Platform.ApiService/Models/CloudStorageModels.cs
  Platform.ApiService/Services/ApproverResolverFactory.cs
  Platform.ApiService/Services/ApproverResolvers.cs
  Platform.ApiService/Services/CloudStorageService.cs
  Platform.ApiService/Services/ICloudStorageService.cs
  Platform.ApiService/Services/IStorageQuotaService.cs
  Platform.ApiService/Services/StorageQuotaService.cs
  Platform.ApiService/Services/WorkflowEngine.cs
  Platform.ApiService/Services/WorkflowExpressionEvaluator.cs
  Platform.ApiService/Services/WorkflowGraphValidator.cs
  Platform.AppHost.Tests/AppHostTests.cs
Due: prettier --write

feat: Update README and modularize development rules
  .cursor/rules/00-global.mdc
  .cursor/rules/rule.mdc
  .vscode/launch.json
  .vscode/mcp.json
  .vscode/settings.json
  .vscode/tasks.json
  Platform.Admin/src/app.tsx
  Platform.Admin/src/pages/cloud-storage/files/index.tsx
  Platform.Admin/src/services/cloud-storage/api.ts
  Platform.ApiService/Services/CloudStorageService.cs
  README.md
  docs/开发规范.md
Due: prettier --write, eslint --fix

feat: Enhance CloudStorageQuotaPage with data transformation and display improvements
  Platform.Admin/src/pages/cloud-storage/quota/index.tsx
Due: prettier --write, eslint --fix

feat: Enhance error handling and user feedback in login and quota management
  .vscode/launch.json
  .vscode/tasks.json
  Platform.Admin/src/pages/cloud-storage/quota/index.tsx
  Platform.Admin/src/pages/user/login/index.tsx
  Platform.Admin/src/request-error-config.ts
  Platform.ApiService/Services/StorageQuotaService.cs
  Platform.AppHost/AppHost.cs
Due: prettier --write, eslint --fix
