Repository wjw1-Evan/aspire-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat: 添加表单版本回滚功能
  Platform.Admin/src/locales/ar-EG/modules/missing.ts
  Platform.Admin/src/locales/bn-BD/modules/missing.ts
  Platform.Admin/src/locales/de-DE/modules/missing.ts
  Platform.Admin/src/locales/en-US/modules/missing.ts
  Platform.Admin/src/locales/es-ES/modules/missing.ts
  Platform.Admin/src/locales/fa-IR/modules/missing.ts
  Platform.Admin/src/locales/fr-FR/modules/missing.ts
  Platform.Admin/src/locales/id-ID/modules/missing.ts
  Platform.Admin/src/locales/it-IT/modules/missing.ts
  Platform.Admin/src/locales/ja-JP/modules/missing.ts
  Platform.Admin/src/locales/ko-KR/modules/missing.ts
  Platform.Admin/src/locales/pt-BR/modules/missing.ts
  Platform.Admin/src/locales/ru-RU/modules/missing.ts
  Platform.Admin/src/locales/th-TH/modules/missing.ts
  Platform.Admin/src/locales/tr-TR/modules/missing.ts
  Platform.Admin/src/locales/vi-VN/modules/missing.ts
  Platform.Admin/src/locales/zh-CN/modules/missing.ts
  Platform.Admin/src/locales/zh-TW/modules/missing.ts
  Platform.Admin/src/pages/workflow/forms/index.tsx
Due: prettier --write, eslint --fix

feat: 扩展工作流节点表单绑定支持审批节点
  Platform.Admin/src/locales/en-US/modules/workflow.ts
  Platform.Admin/src/locales/zh-CN/modules/workflow.ts
  Platform.Admin/src/pages/workflow/components/NodeConfigDrawer.tsx
  Platform.Admin/src/pages/workflow/components/WorkflowDesigner.tsx
  Platform.Admin/src/pages/workflow/components/WorkflowDesignerConstants.tsx
  Platform.Admin/src/services/workflow/api.ts
Due: prettier --write, eslint --fix

feat(document): 添加公文审批页面的退回和转办功能
  Platform.Admin/src/pages/document/approval.tsx
Due: prettier --write, eslint --fix

feat: add status filter to document list page
  Platform.Admin/src/locales/en-US/modules/document.ts
  Platform.Admin/src/locales/zh-CN/modules/document.ts
  Platform.Admin/src/pages/document/list.tsx
Due: prettier --write, eslint --fix

fix: 修复 approval.tsx 中的 TypeScript 类型错误
  Platform.Admin/src/pages/document/approval.tsx
  Platform.Admin/src/services/document/api.ts
  Platform.Admin/src/utils/statusMaps.ts
Due: prettier --write, eslint --fix

docs: 添加全流程闭环功能测试报告
  TEST_REPORT.md
Due: prettier --write

docs: 添加十个测试用例的E2E测试报告
  E2E_TEST_REPORT.md
Due: prettier --write

docs: 添加流程设计器表单绑定功能验证报告
  FORM_BINDING_VERIFICATION.md
Due: prettier --write

fix: 移除流程设计器中重复的保存按钮
  Platform.Admin/src/pages/workflow/components/WorkflowDesignerModal.tsx
  approval-config.md
  document-create.md
  document-list.md
  duplicate-save-buttons.md
  fixed-save-button.md
  form-designer.md
  form-fields.md
  form-saved.md
  form-with-field.md
  forms-page.md
  login-page.md
  node-config.md
  start-node-config.md
  start-node-form-binding.md
  test1-form-designer.md
  test1-form-saved.md
  test1-forms-page.md
  test2-approval-config.md
  test2-node-config.md
  test2-workflow-designer.md
  test2-workflow-list.md
  test3-create-dialog.md
  test3-document-list.md
  test3-workflow-select.md
  workflow-designer-check.md
  workflow-designer-new.md
  workflow-designer.md
  workflow-list-current.md
  workflow-list-updated.md
  workflow-list.md
  workflow-select.md
Due: prettier --write, eslint --fix

fix: 删除流程设计器中的退出和关闭按钮
  Platform.Admin/src/pages/workflow/components/WorkflowDesigner.tsx
  Platform.Admin/src/pages/workflow/components/WorkflowDesignerModal.tsx
Due: prettier --write, eslint --fix

feat: 节点配置中添加选择下一个节点功能
  Platform.Admin/src/locales/en-US/modules/workflow.ts
  Platform.Admin/src/locales/zh-CN/modules/workflow.ts
  Platform.Admin/src/pages/workflow/components/NodeConfigDrawer.tsx
Due: prettier --write, eslint --fix

feat: 选择下一个节点与节点连接线同步
  Platform.Admin/src/pages/workflow/components/WorkflowDesigner.tsx
Due: prettier --write, eslint --fix

fix: 显示后端返回的具体错误消息
  Platform.Admin/src/pages/workflow/components/WorkflowDesignerModal.tsx
Due: prettier --write, eslint --fix

fix: 使用英文错误码 INVALID_WORKFLOW_GRAPH 替代中文错误消息
  Platform.ApiService/Controllers/WorkflowController.cs
  Platform.ServiceDefaults/Models/ErrorCode.cs
Due: none

feat: 审批节点支持审批通过和审批未通过两个分支的下一个节点选择
  Platform.Admin/src/locales/en-US/modules/workflow.ts
  Platform.Admin/src/locales/zh-CN/modules/workflow.ts
  Platform.Admin/src/pages/workflow/components/NodeConfigDrawer.tsx
  Platform.Admin/src/pages/workflow/components/WorkflowDesigner.tsx
Due: prettier --write, eslint --fix

fix: 为审批节点边添加 condition 数据以区分通过和拒绝分支
  Platform.Admin/src/pages/workflow/components/WorkflowDesigner.tsx
Due: prettier --write, eslint --fix

feat: 添加 oh-my-opencode 的最新版本安装命令
  .aspire/readme.md
Due: prettier --write

fix: 统一API错误码格式，使用ErrorCode常量替代中文错误消息
  Platform.ApiService/Services/WorkflowGraphValidator.cs
  Platform.ServiceDefaults/Models/ErrorCode.cs
Due: none

fix: 统一API错误码格式，为WorkflowGraphValidator添加完整的错误码支持
  Platform.Admin/src/constants/errorCodes.ts
  Platform.Admin/src/locales/zh-CN/request.ts
  Platform.ApiService/Services/WorkflowGraphValidator.cs
  Platform.ServiceDefaults/Models/ErrorCode.cs
Due: prettier --write, eslint --fix

fix: 统一FilePreviewService错误码，添加文件预览相关错误码支持
  Platform.Admin/src/constants/errorCodes.ts
  Platform.Admin/src/locales/zh-CN/request.ts
  Platform.ApiService/Services/FilePreviewService.cs
  Platform.ServiceDefaults/Models/ErrorCode.cs
Due: prettier --write, eslint --fix

fix: 统一DataQueryService错误码，添加模块和数据类型相关错误码
  Platform.Admin/src/constants/errorCodes.ts
  Platform.Admin/src/locales/zh-CN/request.ts
  Platform.ApiService/Services/DataQueryService.cs
  Platform.ServiceDefaults/Models/ErrorCode.cs
Due: prettier --write, eslint --fix

fix: 统一ProjectService错误码，添加项目相关错误码支持
  Platform.Admin/src/constants/errorCodes.ts
  Platform.Admin/src/locales/zh-CN/request.ts
  Platform.ApiService/Services/ProjectService.cs
  Platform.ServiceDefaults/Models/ErrorCode.cs
Due: prettier --write, eslint --fix

fix: 修复表单定义页面 antd message 静态调用警告
  Platform.Admin/src/pages/workflow/forms/index.tsx
Due: prettier --write, eslint --fix

chore: 清理无用的测试报告、临时文档和截图
  E2E_TEST_REPORT.md
  FORM_BINDING_VERIFICATION.md
  TEST_REPORT.md
  approval-config.md
  document-create.md
  document-list.md
  duplicate-save-buttons.md
  fixed-save-button.md
  form-designer.md
  form-fields.md
  form-saved.md
  form-with-field.md
  forms-page.md
  login-page.md
  node-config.md
  start-node-config.md
  start-node-form-binding.md
  test1-form-designer.md
  test1-form-saved.md
  test1-forms-page.md
  test2-approval-config.md
  test2-node-config.md
  test2-workflow-designer.md
  test2-workflow-list.md
  test3-create-dialog.md
  test3-document-list.md
  test3-workflow-select.md
  workflow-after-save-attempt.png
  workflow-designer-check.md
  workflow-designer-new.md
  workflow-designer-opened.png
  workflow-designer.md
  workflow-list-current.md
  workflow-list-page.png
  workflow-list-updated.md
  workflow-list.md
  workflow-node-config.png
  workflow-select.md
Due: prettier --write

refactor: 移除 SystemResourceService 的 MongoDB 依赖，改用 EF Core DbContext
  Platform.ApiService/Services/SystemResourceService.cs
Due: none

refactor: 完全移除 MongoDB GridFS 依赖，替换为文件系统存储服务
  Platform.ApiService/Controllers/FileStorageController.cs
  Platform.ApiService/Services/FileSystemStorageService.cs
  Platform.ApiService/Services/GridFSStorageService.cs
  Platform.ApiService/Services/StorageClient.cs
Due: none

refactor: 将数据初始化服务从 MongoDB 迁移到 EF Core
  Platform.AppHost/AppHost.cs
  Platform.DataInitializer/Platform.DataInitializer.csproj
  Platform.DataInitializer/Program.cs
  Platform.DataInitializer/Services/DataInitializerService.cs
Due: none

refactor: 支持 Aspire 多数据库切换，更新 README 文档
  Platform.ApiService/Extensions/SerializationExtensions.cs
  Platform.ApiService/Models/Entities/AuthEntities.cs
  Platform.ApiService/Services/CompanyService.cs
  Platform.ApiService/Services/DashboardService.cs
  Platform.ApiService/Services/FieldValidationService.cs
  Platform.ApiService/Services/McpService.cs
  Platform.ApiService/Services/UserActivityLogService.cs
  Platform.AppHost/AppHost.cs
  Platform.AppHost/Platform.AppHost.csproj
  Platform.AppHost/appsettings.json
  Platform.ServiceDefaults/Extensions/ServiceExtensions.cs
  Platform.ServiceDefaults/Platform.ServiceDefaults.csproj
  README.md
Due: prettier --write

refactor: 移除代码中的数据库提供者默认值
  Platform.AppHost/AppHost.cs
  Platform.ServiceDefaults/Extensions/ServiceExtensions.cs
Due: none

docs: 更新 ServiceExtensions XML 注释移除默认值说明
  Platform.ServiceDefaults/Extensions/ServiceExtensions.cs
Due: none

fix: 修复全部构建警告并删除小科默认配置初始化
  Platform.ApiService/Controllers/UserController.cs
  Platform.ApiService/Services/FileSystemStorageService.cs
  Platform.DataInitializer/Platform.DataInitializer.csproj
  Platform.DataInitializer/Program.cs
  Platform.DataInitializer/Services/DataInitializerService.cs
Due: none

test: 添加 AppHost 多数据库切换配置测试
  Platform.AppHost.Tests/DatabaseProviderConfigurationTests.cs
  Platform.AppHost.Tests/Platform.AppHost.Tests.csproj
Due: none

refactor: 移除 SQL Server，只保留 PostgreSQL 和 MongoDB
  Platform.AppHost.Tests/DatabaseContainerTests.cs
  Platform.AppHost.Tests/DatabaseProviderConfigurationTests.cs
  Platform.AppHost.Tests/Platform.AppHost.Tests.csproj
  Platform.AppHost/AppHost.cs
  Platform.AppHost/appsettings.json
  Platform.ServiceDefaults/Extensions/ServiceExtensions.cs
Due: prettier --write

fix: 传递 Database:Provider 配置到子项目
  Platform.AppHost/AppHost.cs
  Platform.DataInitializer/Program.cs
Due: none

fix: 添加对数据库和 Redis 的等待依赖以确保初始化顺序
  Platform.AppHost/AppHost.cs
Due: none

test: 完善 DatabaseContainerTests 测试覆盖
  Platform.AppHost.Tests/DatabaseContainerTests.cs
Due: none

feat: 实现 ModelDiffer 模型比较器，支持自动迁移差异检测和危险操作过滤
  Platform.AutoMigrate/AutoMigrateOptions.cs
  Platform.AutoMigrate/HistoryManager.cs
  Platform.AutoMigrate/ModelDiffer.cs
  Platform.AutoMigrate/Platform.AutoMigrate.csproj
Due: none

chore: 删除 SQL Server 和 PostgreSQL 支持，统一使用 MongoDB 数据库
  Platform.AppHost.Tests/DatabaseContainerTests.cs
  Platform.AppHost/AppHost.cs
  Platform.AppHost/Platform.AppHost.csproj
  Platform.AppHost/appsettings.json
  Platform.AutoMigrate/AutoMigrateOptions.cs
  Platform.AutoMigrate/HistoryManager.cs
  Platform.AutoMigrate/ModelDiffer.cs
  Platform.AutoMigrate/Platform.AutoMigrate.csproj
  Platform.ServiceDefaults/Extensions/ServiceExtensions.cs
  Platform.ServiceDefaults/Platform.ServiceDefaults.csproj
  Platform.sln
  README.md
Due: prettier --write

refactor: 删除 Database:Provider 配置检查，统一使用 MongoDB
  Platform.AppHost.Tests/DatabaseContainerTests.cs
  Platform.AppHost/AppHost.cs
  Platform.AppHost/appsettings.json
  Platform.ServiceDefaults/Extensions/ServiceExtensions.cs
  README.md
Due: prettier --write

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json,css,less,md}
  eslint --fix: any of: **/*.{ts,tsx,js,jsx}
