Repository wjw1-Evan/aspire-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

refactor: 简化GetPendingRequestsAsync分页实现
  Platform.ApiService/Services/IJoinRequestService.cs
  Platform.ApiService/Services/JoinRequestService.cs
Due: none

fix: 修复用户管理页面重复请求API问题
  Platform.Admin/src/pages/user-management/index.tsx
Due: prettier --write, eslint --fix

docs: 完善分页规范，补充密码本模块开发标准
  AGENTS.md
Due: prettier --write

refactor: ProTableRequest.Page → Current 匹配前端参数
  AGENTS.md
  Platform.ApiService/Controllers/FileVersionController.cs
  Platform.ApiService/Controllers/KnowledgeDocumentController.cs
  Platform.ApiService/Services/BulkOperationService.cs
  Platform.ApiService/Services/Mcp/Handlers/DocumentMcpToolHandler.cs
  Platform.ApiService/Services/Mcp/Handlers/FileShareMcpToolHandler.cs
  Platform.ApiService/Services/Mcp/Handlers/FormMcpToolHandler.cs
  Platform.ApiService/Services/Mcp/Handlers/IoTMcpToolHandler.cs
  Platform.ApiService/Services/Mcp/Handlers/KnowledgeMcpToolHandler.cs
  Platform.ApiService/Services/Mcp/Handlers/NotificationMcpToolHandler.cs
  Platform.ApiService/Services/Mcp/Handlers/ParkMcpToolHandler.cs
  Platform.ApiService/Services/Mcp/Handlers/PasswordBookMcpToolHandler.cs
  Platform.ApiService/Services/Mcp/Handlers/ProjectMcpToolHandler.cs
  Platform.ApiService/Services/Mcp/Handlers/SystemMcpToolHandler.cs
  Platform.ApiService/Services/Mcp/Handlers/TaskMcpToolHandler.cs
  Platform.ApiService/Services/Mcp/Handlers/UserMcpToolHandler.cs
  Platform.ApiService/Services/Mcp/Handlers/WebScraperMcpToolHandler.cs
  Platform.ApiService/Services/Mcp/Handlers/WorkflowMcpToolHandler.cs
  Platform.ApiService/Services/StorageQuotaService.cs
  Platform.ApiService/Services/TaskCrudService.cs
  Platform.ApiService/Services/TaskService.cs
  Platform.ApiService/Services/TaskStatisticsService.cs
  Platform.ApiService/Services/UserCompanyService.cs
  Platform.ApiService/Services/UserService.cs
  Platform.ApiService/Validators/UserRequestValidator.cs
  Platform.ServiceDefaults/Extensions/QueryableExtensions.cs
  Platform.ServiceDefaults/Models/ProTableRequest.cs
Due: prettier --write

fix: 修复 password-book 页面 JSX 语法错误
  Platform.Admin/src/pages/password-book/index.tsx
Due: prettier --write, eslint --fix

fix: 修复 password-book 标签列空数组显示问题
  Platform.Admin/src/pages/password-book/index.tsx
Due: prettier --write, eslint --fix

fix: 修复 TypeScript 错误
  Platform.Admin/src/locales/zh-CN/pages.ts
  Platform.Admin/src/pages/cloud-storage/files/index.tsx
  Platform.Admin/src/pages/iot-platform/index.tsx
  Platform.Admin/src/pages/organization/index.tsx
  Platform.Admin/src/pages/park-management/tenant/index.tsx
  Platform.Admin/src/pages/task-management/components/ProjectView.tsx
  Platform.Admin/src/pages/user-management/index.tsx
  Platform.Admin/src/pages/workflow/forms/index.tsx
  Platform.Admin/src/templates/StandardPageTemplate.tsx
  Platform.AppHost/Platform.AppHost.csproj
  Platform.ServiceDefaults/Platform.ServiceDefaults.csproj
Due: prettier --write, eslint --fix

fix: 添加密码本页面缺失的翻译键
  Platform.Admin/src/locales/zh-CN/pages.ts
Due: prettier --write, eslint --fix

fix: 添加密码本页面缺失的 url 翻译键
  Platform.Admin/src/locales/zh-CN/pages.ts
Due: prettier --write, eslint --fix

fix: 添加密码本页面缺失的表单字段和导出翻译键
  Platform.Admin/src/locales/zh-CN/pages.ts
Due: prettier --write, eslint --fix

fix: 修复密码本标签字段无法编辑保存的问题
  Platform.Admin/src/pages/password-book/index.tsx
Due: prettier --write, eslint --fix

chore: 清理临时脚本和文档文件
  .vscode/settings.json
  MULTILINGUAL_MODULARIZATION_COMPLETE.md
  TRANSLATION_MODULARIZATION_SOLUTION.md
  scripts/check-missing-keys.js
  scripts/restruct-locales.js
  scripts/split-all-locales.js
  scripts/split-locales.js
Due: prettier --write, eslint --fix

feat: 添加网页抓取任务心跳机制和自动恢复功能
  Platform.ApiService/BackgroundServices/WebScraperTaskRecoveryHostedService.cs
  Platform.ApiService/Models/Entities/WebScrapingEntities.cs
  Platform.ApiService/Services/WebScraperService.cs
Due: none

fix: 修复默认排序字段名为 PascalCase
  Platform.ServiceDefaults/Extensions/QueryableExtensions.cs
Due: none

refactor: 按照标准模板重构用户管理页面
  Platform.Admin/src/locales/zh-CN/modules/missing.ts
  Platform.Admin/src/locales/zh-CN/modules/user.ts
  Platform.Admin/src/pages/user-management/components/UserDetail.tsx
  Platform.Admin/src/pages/user-management/index.tsx
Due: prettier --write, eslint --fix

feat: 合并待审核用户和已加入用户到统一列表
  Platform.Admin/src/locales/zh-CN/modules/user.ts
  Platform.Admin/src/pages/user-management/components/UserDetail.tsx
  Platform.Admin/src/pages/user-management/index.tsx
Due: prettier --write, eslint --fix

fix: 修复企业加入申请流程问题
  Platform.Admin/src/pages/company/components/MyJoinRequestsTable.tsx
  Platform.Admin/src/pages/join-requests/pending/index.tsx
  Platform.Admin/src/types/index.ts
  Platform.ApiService/Controllers/CompanyController.cs
  Platform.ApiService/Controllers/JoinRequestController.cs
Due: prettier --write, eslint --fix

feat: 添加企业加入申请通知机制
  Platform.ApiService/Services/UserCompanyService.cs
Due: none

chore: 添加 git pull 拉取代码步骤
  opencode.jsonc
Due: none

chore: 更新 opencode 配置
  opencode.jsonc
Due: none

chore: 更新 opencode 提交命令模板格式
  opencode.jsonc
Due: none

fix: 修复 IChatBroadcaster.xml 注释缺失 sessionId 参数警告
  Platform.ApiService/Services/IChatBroadcaster.cs
Due: none

fix: 修复前端 my-activity 页面 API 路径错误导致 404
  Platform.Admin/src/pages/my-activity/index.tsx
Due: prettier --write, eslint --fix

fix: 规范用户删除错误码为错误码常量形式
  Platform.ApiService/Controllers/UserController.cs
  Platform.ServiceDefaults/Models/ErrorCode.cs
Due: none

fix: 添加错误码翻译 CANNOT_DELETE_CURRENT_USER 到所有 locale
  Platform.Admin/src/locales/de-DE/request.ts
  Platform.Admin/src/locales/en-US/request.ts
  Platform.Admin/src/locales/es-ES/request.ts
  Platform.Admin/src/locales/fr-FR/request.ts
  Platform.Admin/src/locales/it-IT/request.ts
  Platform.Admin/src/locales/ja-JP/request.ts
  Platform.Admin/src/locales/ko-KR/request.ts
  Platform.Admin/src/locales/ru-RU/request.ts
  Platform.Admin/src/locales/th-TH/request.ts
  Platform.Admin/src/locales/tr-TR/request.ts
  Platform.Admin/src/locales/vi-VN/request.ts
  Platform.Admin/src/locales/zh-CN/request.ts
  Platform.Admin/src/locales/zh-TW/request.ts
Due: prettier --write, eslint --fix

fix: 修复用户管理操作失败的错误处理逻辑
  Platform.Admin/src/pages/user-management/index.tsx
Due: prettier --write, eslint --fix

fix: 修复任务管理操作失败的错误处理
  Platform.Admin/src/pages/task-management/components/TaskForm.tsx
  Platform.Admin/src/pages/task-management/index.tsx
Due: prettier --write, eslint --fix

fix: 修复园区租户操作失败的错误处理
  Platform.Admin/src/pages/park-management/tenant/index.tsx
Due: prettier --write, eslint --fix

fix: 修复园区招商操作失败的错误处理
  Platform.Admin/src/pages/park-management/investment/index.tsx
Due: prettier --write, eslint --fix

fix: 修复云存储配额操作失败的错误处理
  Platform.Admin/src/pages/cloud-storage/quota/index.tsx
Due: prettier --write, eslint --fix

fix: 修复IoT设备管理操作失败的错误处理
  Platform.Admin/src/pages/iot-platform/components/DeviceManagement.tsx
Due: prettier --write, eslint --fix

fix: 修复账号中心和公文管理操作失败的错误处理
  Platform.Admin/src/pages/account/center/index.tsx
  Platform.Admin/src/pages/document/list.tsx
  Platform.Admin/src/pages/workflow/knowledge-base/index.tsx
Due: prettier --write, eslint --fix

fix: 修复园区资产和知识库文档操作失败的错误处理
  Platform.Admin/src/pages/park-management/asset/index.tsx
  Platform.Admin/src/pages/workflow/knowledge-base/documents.tsx
Due: prettier --write, eslint --fix

fix: 修复云存储分享操作失败的错误处理
  Platform.Admin/src/pages/cloud-storage/shared/index.tsx
Due: prettier --write, eslint --fix

fix: 修复网页抓取任务重复发送通知的问题
  Platform.ApiService/Models/Entities/WebScrapingEntities.cs
  Platform.ApiService/Services/SingletonTaskLauncher.cs
Due: none

fix: 修复多企业用户收到其他企业通知的SSE推送问题
  Platform.ApiService/Controllers/StreamController.cs
  Platform.ApiService/Services/ChatSseConnectionManager.cs
  Platform.ApiService/Services/IChatSseConnectionManager.cs
  Platform.ApiService/Services/JwtService.cs
  Platform.ApiService/Services/NotificationService.cs
  Platform.ApiService/Services/SingletonTaskLauncher.cs
  Platform.ApiService/Services/UserCompanyService.cs
Due: none

refactor: 提取 JwtHelper 辅助类统一 Claims 解析逻辑
  Platform.ApiService/Services/JwtService.cs
  Platform.ServiceDefaults/Services/TenantContextMiddleware.cs
Due: none

fix: 修复 JwtHelper 重复定义问题，改为引用 ServiceDefaults 中的共享定义
  Platform.ApiService/Services/JwtService.cs
Due: none

debug: 添加 token 刷新调试日志
  Platform.Admin/src/app.tsx
  Platform.Admin/src/utils/tokenRefreshManager.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json,css,less,md}
  eslint --fix: any of: **/*.{ts,tsx,js,jsx}
