Repository wjw1-Evan/aspire-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx,json,css,less,md}": [
    "prettier --write",
    "git add"
  ],
  "**/*.{ts,tsx,js,jsx}": [
    "eslint --fix",
    "git add"
  ]
}

refactor: simplify initialization and merge methods in Platform.ServiceDefaults
  Platform.ServiceDefaults/Services/EFCoreDataFactory.cs
  Platform.ServiceDefaults/Services/PlatformDbContext.cs
Due: none

fix: resolve PlatformDbContext reflection crash vulnerability and soft-delete restore bugs
  Platform.ServiceDefaults/Services/PlatformDbContext.cs
Due: none

chore: Remove unused `System.Collections.Concurrent` using directive from `PlatformDbContext.cs`.
  Platform.ServiceDefaults/Services/PlatformDbContext.cs
Due: none

perf(middleware): remove ResponseFormattingMiddleware and optimize ActivityLogMiddleware
  Platform.ApiService/Middleware/ActivityLogMiddleware.cs
  Platform.ApiService/Middleware/GlobalAuthenticationMiddleware.cs
  Platform.ApiService/Middleware/ResponseFormattingMiddleware.cs
  Platform.ApiService/Program.cs
Due: none

perf(filters): cache reflection property lookups in ApiResponseWrapperFilter
  Platform.ApiService/Filters/ApiResponseWrapperFilter.cs
Due: none

fix(iot): 修复物联网平台关键逻辑缺陷
  Platform.ApiService/Models/IoTModels.cs
  Platform.ApiService/Services/CloudStorageService.cs
  Platform.ApiService/Services/DocumentService.cs
  Platform.ApiService/Services/IoTDataCollector.cs
  Platform.ApiService/Services/IoTService.cs
Due: none

feat(iot): 参考 Azure IoT Hub 升级 IoT 模块核心功能
  Platform.ApiService/Controllers/IoTController.cs
  Platform.ApiService/Models/IoTModels.cs
  Platform.ApiService/Models/IoTRequestModels.cs
  Platform.ApiService/Program.cs
  Platform.ApiService/Services/IIoTService.cs
  Platform.ApiService/Services/IoTDataRetentionHostedService.cs
  Platform.ApiService/Services/IoTService.cs
Due: none

feat(iot-admin): 参考 Azure IoT Hub 升级 Admin 端 IoT 模块
  Platform.Admin/src/pages/iot-platform/components/CommandCenterPanel.tsx
  Platform.Admin/src/pages/iot-platform/components/DeviceManagement.tsx
  Platform.Admin/src/pages/iot-platform/components/DeviceTwinPanel.tsx
  Platform.Admin/src/services/iotService.ts
Due: prettier --write, eslint --fix

fix(iot): 修复 MongoDB 旧文档缺少新字段导致的 InvalidOperationException
  Platform.ServiceDefaults/Services/PlatformDbContext.cs
Due: none

fix(iot): 将 IoTDevice 新增字段改为可空类型修复旧文档兼容问题
  Platform.ApiService/Models/IoTModels.cs
  Platform.ApiService/Services/IoTDataRetentionHostedService.cs
  Platform.ServiceDefaults/Services/PlatformDbContext.cs
Due: none

fix(iot): 统计数据改用后端专用接口，修复设备状态统计口径
  Platform.Admin/src/pages/iot-platform/components/DeviceManagement.tsx
  Platform.Admin/src/services/iotService.ts
  Platform.ApiService/Services/IoTService.cs
Due: prettier --write, eslint --fix

feat(iot-admin): 设备管理页添加批量删除功能
  Platform.Admin/src/pages/iot-platform/components/DeviceManagement.tsx
  Platform.Admin/src/services/iotService.ts
  Platform.ApiService/Controllers/IoTController.cs
Due: prettier --write, eslint --fix

fix(iot-admin): 批量删除改为顺序执行，修复 DbContext 并发冲突
  Platform.ApiService/Controllers/IoTController.cs
Due: none

refactor(iot): 使用数据工厂的 SoftDeleteManyAsync 优化批量删除性能
  Platform.ApiService/Controllers/IoTController.cs
  Platform.ApiService/Services/IIoTService.cs
  Platform.ApiService/Services/IoTService.cs
Due: none

fix(iot): 禁用 MongoDB 自动事务以支持单机模式
  Platform.ServiceDefaults/Services/PlatformDbContext.cs
Due: none

feat: Configure and initialize MongoDB replica set to enable transactions and remove explicit transaction disabling from DbContext.
  Platform.AppHost/AppHost.cs
  Platform.AppHost/mongo/mongo-rs-entrypoint.sh
  Platform.DataInitializer/Services/DataInitializerService.cs
  Platform.ServiceDefaults/Services/PlatformDbContext.cs
Due: none

feat: Initialize MongoDB as a replica set and configure services with replica set connection strings.
  Platform.AppHost/AppHost.cs
  Platform.DataInitializer/Services/DataInitializerService.cs
Due: none

refactor: Streamline MongoDB configuration in AppHost by removing explicit replica set arguments and connection string environment variables.
  Platform.App/package-lock.json
  Platform.AppHost/AppHost.cs
  Platform.ServiceDefaults/Extensions/ServiceExtensions.cs
Due: prettier --write

chore: Remove MongoDB replica set initialization logic from data initializer.
  Platform.DataInitializer/Services/DataInitializerService.cs
Due: none

feat: Enable `Platform_ApiService` and `Platform_Web` project references in `AppHost`.
  Platform.AppHost/AppHost.cs
Due: none

refactor: Standardize user API endpoints from `/api/user` to `/api/users` and refine login error messages.
  Platform.Admin/src/components/ImageCaptcha/index.tsx
  Platform.Admin/src/hooks/useUserList.ts
  Platform.Admin/src/hooks/useUserStatistics.ts
  Platform.Admin/src/locales/en-US/pages.ts
  Platform.Admin/src/locales/zh-CN/pages.ts
  Platform.Admin/src/pages/user-management/components/UserDetail.tsx
  Platform.Admin/src/pages/user-management/components/UserForm.tsx
  Platform.Admin/src/pages/user-management/index.tsx
  Platform.Admin/src/pages/user/login/index.tsx
  Platform.Admin/src/request-error-config.ts
  Platform.Admin/src/services/ant-design-pro/api.ts
  Platform.Admin/src/services/permission.ts
  Platform.Admin/src/services/user-log/api.ts
  Platform.Admin/src/services/user/api.ts
  Platform.Admin/src/typings.d.ts
  Platform.ApiService/Attributes/RequireMenuAttribute.cs
  Platform.ApiService/Controllers/IoTController.cs
  Platform.ApiService/Controllers/QuotaController.cs
  Platform.ApiService/Controllers/UserController.cs
  Platform.ApiService/Filters/ApiResponseWrapperFilter.cs
  Platform.ApiService/Filters/BusinessExceptionFilter.cs
  Platform.ApiService/Middleware/GlobalAuthenticationMiddleware.cs
  Platform.ApiService/Program.cs
  Platform.ApiService/Services/AuthService.cs
  Platform.ApiService/Services/ImageCaptchaService.cs
  Platform.App/services/authService.ts
  Platform.App/services/userService.ts
  Platform.MiniApp/pages/index/index.js
  Platform.MiniApp/pages/profile/edit.js
  Platform.MiniApp/pages/profile/password.js
  Platform.MiniApp/pages/profile/profile.js
  Platform.MiniApp/pages/task/create.js
  Platform.ServiceDefaults/Controllers/BaseApiController.cs
  Platform.ServiceDefaults/Models/ApiResponse.cs
Due: prettier --write, eslint --fix

refactor: Replace dynamic action string generation with a dedicated function to map API routes to standardized action codes.
  Platform.ApiService/Services/UserActivityLogService.cs
Due: none

refactor: Standardize API pagination responses to use a `list` field and `SuccessPaged` helper, removing the legacy `PaginatedResponse` model and extensions.
  .cursor/rules/backend.mdc
  Platform.Admin/src/hooks/useUserList.ts
  Platform.Admin/src/pages/cloud-storage/quota/index.tsx
  Platform.Admin/src/pages/document/approval.tsx
  Platform.Admin/src/pages/my-activity/index.tsx
  Platform.Admin/src/pages/task-management/components/TaskForm.tsx
  Platform.Admin/src/pages/user-log/index.tsx
  Platform.Admin/src/pages/user-management/components/UserForm.tsx
  Platform.Admin/src/pages/user-management/index.tsx
  Platform.Admin/src/pages/user-management/types.ts
  Platform.Admin/src/pages/welcome/components/RecentActivitiesCard.tsx
  Platform.Admin/src/pages/workflow/components/WorkflowDesigner.tsx
  Platform.Admin/src/services/user-log/api.ts
  Platform.Admin/src/services/user/api.ts
  Platform.Admin/src/types/unified-api.ts
  Platform.ApiService/Controllers/ChatSessionsController.cs
  Platform.ApiService/Controllers/UserController.cs
  Platform.ApiService/Extensions/PaginationExtensions.cs
  Platform.ApiService/Middleware/ActivityLogMiddleware.cs
  Platform.ApiService/Models/Response/PaginatedResponse.cs
  Platform.ApiService/Models/User.cs
  Platform.ApiService/Program.cs
  Platform.ApiService/Services/UserActivityLogService.cs
  docs/features/API-RESPONSE-RULES.md
  docs/开发规范.md
Due: prettier --write, eslint --fix

feat: Implement typewriter effect and Markdown rendering for AI assistant messages, enhance backend session management with logging, and add streaming performance monitoring.
  Platform.Admin/src/components/AiAssistant/index.tsx
  Platform.Admin/src/services/chat/api.ts
  Platform.ApiService/Services/AiAssistantCoordinator.cs
  Platform.ApiService/Services/ChatService.cs
Due: prettier --write, eslint --fix

feat: Introduce AI agent orchestration, chat attachment management, AI chat services, and refined chat session handling.
  Platform.ApiService/Controllers/AiAgentController.cs
  Platform.ApiService/Models/AiAgent.cs
  Platform.ApiService/Models/AiAgentRun.cs
  Platform.ApiService/Models/UserMemory.cs
  Platform.ApiService/Program.cs
  Platform.ApiService/Services/AiAgentOrchestrator.cs
  Platform.ApiService/Services/AiAgentService.cs
  Platform.ApiService/Services/ChatAiService.cs
  Platform.ApiService/Services/ChatAttachmentService.cs
  Platform.ApiService/Services/ChatMcpService.cs
  Platform.ApiService/Services/ChatService.cs
  Platform.ApiService/Services/ChatSessionService.cs
  Platform.ApiService/Services/IAiAgentOrchestrator.cs
  Platform.ApiService/Services/IAiAgentService.cs
  Platform.ApiService/Services/IChatAiService.cs
  Platform.ApiService/Services/IChatAttachmentService.cs
  Platform.ApiService/Services/IChatMcpService.cs
  Platform.ApiService/Services/IChatSessionService.cs
Due: none

refactor: split McpService into multiple partial classes for improved organization.
  Platform.ApiService/Services/McpService.Documents.cs
  Platform.ApiService/Services/McpService.IoT.cs
  Platform.ApiService/Services/McpService.Notifications.cs
  Platform.ApiService/Services/McpService.Park.cs
  Platform.ApiService/Services/McpService.Tasks.cs
  Platform.ApiService/Services/McpService.Tools.cs
  Platform.ApiService/Services/McpService.User.cs
  Platform.ApiService/Services/McpService.cs
  Platform.ApiService/Services/split_mcp.py
Due: none

refactor: Reimplement MCP service with a handler-based architecture and remove friend management features.
  Platform.ApiService/Controllers/FriendsController.cs
  Platform.ApiService/Extensions/ServiceRegistrationExtensions.cs
  Platform.ApiService/Models/FriendModels.cs
  Platform.ApiService/Services/ChatAiService.cs
  Platform.ApiService/Services/ChatMcpService.cs
  Platform.ApiService/Services/FriendService.cs
  Platform.ApiService/Services/IChatMcpService.cs
  Platform.ApiService/Services/Mcp/Handlers/DocumentMcpToolHandler.cs
  Platform.ApiService/Services/Mcp/Handlers/FileShareMcpToolHandler.cs
  Platform.ApiService/Services/Mcp/Handlers/FileVersionMcpToolHandler.cs
  Platform.ApiService/Services/Mcp/Handlers/FormMcpToolHandler.cs
  Platform.ApiService/Services/Mcp/Handlers/IoTMcpToolHandler.cs
  Platform.ApiService/Services/Mcp/Handlers/JoinRequestMcpToolHandler.cs
  Platform.ApiService/Services/Mcp/Handlers/MenuMcpToolHandler.cs
  Platform.ApiService/Services/Mcp/Handlers/NoticeMcpToolHandler.cs
  Platform.ApiService/Services/Mcp/Handlers/NotificationMcpToolHandler.cs
  Platform.ApiService/Services/Mcp/Handlers/OrganizationMcpToolHandler.cs
  Platform.ApiService/Services/Mcp/Handlers/ParkMcpToolHandler.cs
  Platform.ApiService/Services/Mcp/Handlers/RuleMcpToolHandler.cs
  Platform.ApiService/Services/Mcp/Handlers/SystemMcpToolHandler.cs
  Platform.ApiService/Services/Mcp/Handlers/TaskMcpToolHandler.cs
  Platform.ApiService/Services/Mcp/Handlers/UserMcpToolHandler.cs
  Platform.ApiService/Services/Mcp/IMcpToolHandler.cs
  Platform.ApiService/Services/Mcp/McpToolHandlerBase.cs
  Platform.ApiService/Services/McpService.Documents.cs
  Platform.ApiService/Services/McpService.IoT.cs
  Platform.ApiService/Services/McpService.Notifications.cs
  Platform.ApiService/Services/McpService.Park.cs
  Platform.ApiService/Services/McpService.Tasks.cs
  Platform.ApiService/Services/McpService.Tools.cs
  Platform.ApiService/Services/McpService.User.cs
  Platform.ApiService/Services/McpService.cs
  Platform.ApiService/Services/split_mcp.py
  Platform.App/package-lock.json
Due: prettier --write

feat: Add speech-to-text input to the AI Assistant and refactor backend service registration with a new auto-discovery mechanism.
  Platform.Admin/src/components/AiAssistant/index.tsx
  Platform.Admin/src/hooks/useSseConnection.ts
  Platform.Admin/src/pages/park-management/investment/index.tsx
  Platform.ApiService/Controllers/AiAgentController.cs
  Platform.ApiService/Extensions/ServiceRegistrationExtensions.cs
  Platform.ApiService/Models/AiAgent.cs
  Platform.ApiService/Models/AiAgentRun.cs
  Platform.ApiService/Program.cs
  Platform.ApiService/Services/AiAgentOrchestrator.cs
  Platform.ApiService/Services/AiAgentService.cs
  Platform.ApiService/Services/ChatAiService.cs
  Platform.ApiService/Services/IAiAgentOrchestrator.cs
  Platform.ApiService/Services/IAiAgentService.cs
  Platform.ApiService/Services/IApproverResolver.cs
  Platform.ApiService/Services/IChatSseConnectionManager.cs
  Platform.ApiService/Services/IIoTDataFetchClient.cs
  Platform.ApiService/Services/IMcpService.cs
  Platform.ApiService/Services/IPasswordEncryptionService.cs
  Platform.ApiService/Services/Mcp/Handlers/ParkMcpToolHandler.cs
  Platform.ApiService/Services/Mcp/IMcpToolHandler.cs
  Platform.ApiService/Services/McpService.cs
  Platform.ApiService/Services/UserActivityLogQueue.cs
  Platform.ServiceDefaults/Services/IDependency.cs
  README.md
Due: prettier --write, eslint --fix

feat: Add Chinese keywords to MCP tool descriptions and enhance argument handling robustness across various handlers.
  Platform.ApiService/Models/McpModels.cs
  Platform.ApiService/Services/ChatAiService.cs
  Platform.ApiService/Services/IMcpService.cs
  Platform.ApiService/Services/Mcp/Handlers/DocumentMcpToolHandler.cs
  Platform.ApiService/Services/Mcp/Handlers/FileShareMcpToolHandler.cs
  Platform.ApiService/Services/Mcp/Handlers/FileVersionMcpToolHandler.cs
  Platform.ApiService/Services/Mcp/Handlers/FormMcpToolHandler.cs
  Platform.ApiService/Services/Mcp/Handlers/IoTMcpToolHandler.cs
  Platform.ApiService/Services/Mcp/Handlers/JoinRequestMcpToolHandler.cs
  Platform.ApiService/Services/Mcp/Handlers/MenuMcpToolHandler.cs
  Platform.ApiService/Services/Mcp/Handlers/NoticeMcpToolHandler.cs
  Platform.ApiService/Services/Mcp/Handlers/NotificationMcpToolHandler.cs
  Platform.ApiService/Services/Mcp/Handlers/OrganizationMcpToolHandler.cs
  Platform.ApiService/Services/Mcp/Handlers/ParkMcpToolHandler.cs
  Platform.ApiService/Services/Mcp/Handlers/SystemMcpToolHandler.cs
  Platform.ApiService/Services/Mcp/Handlers/TaskMcpToolHandler.cs
  Platform.ApiService/Services/Mcp/Handlers/UserMcpToolHandler.cs
  Platform.ApiService/Services/McpService.cs
Due: none

feat: Enhance MCP tool descriptions with additional keywords and refine argument handling for improved clarity and robustness across various handlers.
  Platform.ApiService/Services/Mcp/Handlers/DocumentMcpToolHandler.cs
  Platform.ApiService/Services/Mcp/Handlers/IoTMcpToolHandler.cs
  Platform.ApiService/Services/Mcp/Handlers/ParkMcpToolHandler.cs
  Platform.ApiService/Services/Mcp/Handlers/TaskMcpToolHandler.cs
  Platform.ApiService/Services/Mcp/Handlers/UserMcpToolHandler.cs
  Platform.ApiService/Services/McpService.cs
Due: none

refactor: Streamline MCP models by removing generic JSON-RPC structures, resource/prompt definitions, and the `RuleMcpToolHandler`.
  Platform.ApiService/Controllers/McpController.cs
  Platform.ApiService/Models/McpModels.cs
  Platform.ApiService/Services/IMcpService.cs
  Platform.ApiService/Services/Mcp/Handlers/RuleMcpToolHandler.cs
  Platform.ApiService/Services/McpService.cs
  Platform.ApiService/appsettings.json
  README.md
Due: prettier --write

feat: Add initial menu data and refactor database index creation logic, along with updates to MCP API components.
  Platform.ApiService/Controllers/McpController.cs
  Platform.ApiService/Models/McpModels.cs
  Platform.ApiService/Services/McpService.cs
  Platform.DataInitializer/Menus.json
  Platform.DataInitializer/Platform.DataInitializer.csproj
  Platform.DataInitializer/Scripts/CreateAllIndexes.cs
  Platform.DataInitializer/Services/DataInitializerService.cs
Due: prettier --write

docs: update project rules.
  .agent/rules/project-rules.md
Due: prettier --write

docs: Update agent project rules.
  Platform.Admin/src/hooks/useMessage.ts
  Platform.Admin/src/pages/cloud-storage/files/components/UploadModal.tsx
  Platform.ApiService/Controllers/ChatSseController.cs
  Platform.ApiService/Extensions/ServiceRegistrationExtensions.cs
  Platform.ApiService/Middleware/GlobalAuthenticationMiddleware.cs
  Platform.ServiceDefaults/Models/BaseEntity.cs
  Platform.ServiceDefaults/Services/EFCoreDataFactory.cs
  Platform.ServiceDefaults/Services/PlatformDbContext.cs
Due: prettier --write, eslint --fix

feat: Implement hard delete for single entities, enhance soft delete with `DeletedAt` timestamp, refine audit info logic, and improve entity type scanning.
  Platform.ServiceDefaults.Tests/EFCoreDataFactoryTests.cs
  Platform.ServiceDefaults.Tests/Platform.ServiceDefaults.Tests.csproj
  Platform.ServiceDefaults.Tests/TestBase.cs
  Platform.ServiceDefaults.Tests/UnitTest1.cs
  Platform.ServiceDefaults/Services/PlatformDbContext.cs
  Platform.sln
Due: none

refactor: Improve data retrieval by updating EF Core find method and adding null/empty ID checks, and add XML documentation to McpService methods.
  Platform.ApiService/Services/Mcp/Handlers/TaskMcpToolHandler.cs
  Platform.ApiService/Services/McpService.cs
  Platform.ServiceDefaults/Services/EFCoreDataFactory.cs
Due: none

build: Update NuGet package versions for test and app host projects.
  Platform.AppHost/Platform.AppHost.csproj
  Platform.ServiceDefaults.Tests/Platform.ServiceDefaults.Tests.csproj
Due: none

feat: Display report period in AI report modals and backend generation for park statistics.
  Platform.Admin/src/locales/zh-CN/pages.ts
  Platform.Admin/src/pages/park-management/statistics/index.tsx
  Platform.Admin/src/pages/park-management/visit-statistics/index.tsx
  Platform.ApiService/Models/ParkManagementModels.cs
  Platform.ApiService/Services/Park/ParkStatisticsService.cs
  Platform.ApiService/Services/Park/ParkVisitService.cs
Due: prettier --write, eslint --fix

deps: update Aspire and related package versions.
  Platform.AppHost/Platform.AppHost.csproj
  Platform.ServiceDefaults/Platform.ServiceDefaults.csproj
Due: none

chore: Delete an unspecified file.
  docs/智慧园区管理系统/智慧园区技术白皮书.html
  docs/智慧园区管理系统/智慧园区管理系统.html
  docs/智慧园区管理系统/未命名文件夹/index.html
  docs/智慧园区管理系统/未命名文件夹/智慧园区系统简介.html
Due: none
