Repository wjw1-Evan/aspire-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix: 仅搜索string类型，避免MongoDB Contains报错
  Platform.ServiceDefaults/Extensions/QueryableExtensions.cs
Due: none

fix: 优化搜索条件null检查，避免MongoDB索引错误
  Platform.ServiceDefaults/Extensions/QueryableExtensions.cs
Due: none

fix: 移除搜索功能，避免MongoDB索引错误
  Platform.ServiceDefaults/Extensions/QueryableExtensions.cs
Due: none

fix: 使用Expression API实现搜索，避免MongoDB动态查询错误
  Platform.ServiceDefaults/Extensions/QueryableExtensions.cs
Due: none

fix: 通过排除属性名过滤Dictionary类型，保留Dynamic.Core搜索
  Platform.ServiceDefaults/Extensions/QueryableExtensions.cs
Due: none

refactor: 优化搜索逻辑，通过BsonRepresentationAttribute过滤ObjectId属性
  Platform.ServiceDefaults/Extensions/QueryableExtensions.cs
Due: none

refactor: 移除服务层手动设置的审计字段，依赖 PlatformDbContext 自动填充
  Platform.ApiService/Services/AuthService.cs
  Platform.ApiService/Services/ChatAiService.cs
  Platform.ApiService/Services/MenuService.cs
  Platform.ApiService/Services/OrganizationService.cs
  Platform.ApiService/Services/PasswordBookService.cs
  Platform.ApiService/Services/ProjectService.cs
  Platform.ApiService/Services/RoleService.cs
  Platform.ApiService/Services/StorageQuotaService.cs
  Platform.ApiService/Services/TaskService.cs
  Platform.ApiService/Services/UserService.cs
  Platform.ApiService/Services/WorkflowExportImportService.cs
  Platform.ApiService/Services/WorkflowFilterPreferenceService.cs
  Platform.ApiService/Services/XiaokeConfigService.cs
  Platform.DataInitializer/Services/DataInitializerService.cs
  Platform.ServiceDefaults/Models/BaseEntity.cs
Due: none

refactor: 移除 BaseEntity 构造函数中 Id 生成逻辑，由 MongoDB 自动生成
  .opencode/package-lock.json
  Platform.ServiceDefaults/Models/BaseEntity.cs
Due: prettier --write

fix: 修复 MongoDB 查询 CreatedAt 为空导致的异常
  Platform.ServiceDefaults/Models/BaseEntity.cs
Due: none

refactor: 移除服务层对 CreatedAt/UpdatedAt 的手动赋值
  Platform.ApiService/Services/WorkflowExportImportService.cs
Due: none

fix: 移除DTO/Response/ViewModel中的CreatedAt/UpdatedAt赋值
  Platform.ApiService/Controllers/PasswordBookController.cs
  Platform.ApiService/Models/ChatModels.cs
  Platform.ApiService/Models/MenuDtoModels.cs
  Platform.ApiService/Models/OrganizationModels.cs
  Platform.ApiService/Models/ParkManagementModels.cs
  Platform.ApiService/Models/PasswordBookModels.cs
  Platform.ApiService/Models/ProjectDtoModels.cs
  Platform.ApiService/Models/Response/ActivityLogListItemResponse.cs
  Platform.ApiService/Models/Response/ActivityLogWithUserResponse.cs
  Platform.ApiService/Models/RoleModels.cs
  Platform.ApiService/Models/TaskDtoModels.cs
  Platform.ApiService/Models/User.cs
  Platform.ApiService/Models/UserCompanyModels.cs
  Platform.ApiService/Models/XiaokeConfigModels.cs
  Platform.ApiService/Services/AuthService.cs
  Platform.ApiService/Services/ChatAttachmentService.cs
  Platform.ApiService/Services/ChatHistoryService.cs
  Platform.ApiService/Services/IStorageQuotaService.cs
  Platform.ApiService/Services/JoinRequestService.cs
  Platform.ApiService/Services/MenuService.cs
  Platform.ApiService/Services/OrganizationService.cs
  Platform.ApiService/Services/Park/ParkAssetService.cs
  Platform.ApiService/Services/Park/ParkEnterpriseServiceService.cs
  Platform.ApiService/Services/Park/ParkInvestmentService.cs
  Platform.ApiService/Services/Park/ParkTenantService.cs
  Platform.ApiService/Services/Park/ParkVisitService.cs
  Platform.ApiService/Services/PasswordBookService.cs
  Platform.ApiService/Services/ProjectService.cs
  Platform.ApiService/Services/RoleService.cs
  Platform.ApiService/Services/StorageQuotaService.cs
  Platform.ApiService/Services/UserActivityLogService.cs
  Platform.ApiService/Services/UserCompanyService.cs
  Platform.ApiService/Services/UserService.cs
  Platform.ApiService/Services/XiaokeConfigService.cs
Due: none

fix: 修复 MCP Handler 中不存在的 CreatedAt/UpdatedAt 属性及 TimeSpan 空值问题
  Platform.ApiService/Services/Mcp/Handlers/NotificationMcpToolHandler.cs
  Platform.ApiService/Services/Mcp/Handlers/TaskMcpToolHandler.cs
  Platform.ApiService/Services/Park/ParkEnterpriseServiceService.cs
Due: none

refactor: 移除服务层对审计字段的手动赋值
  Platform.ApiService/Services/TaskService.cs
Due: none

fix: 修复 MongoDB 查询 IsDeleted 为空导致的异常
  Platform.ApiService/Services/AiSuggestionService.cs
  Platform.ApiService/Services/AuthService.cs
  Platform.ApiService/Services/ChatAiService.cs
  Platform.ApiService/Services/ImageCaptchaService.cs
  Platform.ApiService/Services/IoTDataCollector.cs
  Platform.ApiService/Services/IoTGatewayStatusChecker.cs
  Platform.ApiService/Services/JoinRequestService.cs
  Platform.ApiService/Services/MenuAccessService.cs
  Platform.ApiService/Services/RegistrationService.cs
  Platform.ApiService/Services/UserRoleService.cs
  Platform.ApiService/Services/UserService.cs
  Platform.DataInitializer/Services/DataInitializerService.cs
  Platform.ServiceDefaults/Models/BaseEntity.cs
  Platform.ServiceDefaults/Services/PlatformDbContext.cs
Due: none

fix: 修复新增实体时 Id 为空导致 MongoDB ObjectId 解析失败
  Platform.ServiceDefaults/Services/PlatformDbContext.cs
Due: none

refactor: Id 改为可空类型，由 MongoDB 自动生成
  Platform.ServiceDefaults/Models/BaseEntity.cs
  Platform.ServiceDefaults/Services/PlatformDbContext.cs
Due: none

refactor: Id 改为默认值自动生成
  Platform.ServiceDefaults/Models/BaseEntity.cs
Due: none

fix: 统一菜单权限大小写并补全缺失菜单
  Platform.ApiService/Services/MenuAccessService.cs
  Platform.AppHost/Platform.AppHost.csproj
  Platform.DataInitializer/Menus.json
Due: prettier --write

fix: 在AuthController添加check-username端点支持注册页面用户名检查
  Platform.ApiService/Controllers/AuthController.cs
Due: none

fix: 改进SM2加密错误处理和公钥验证
  Platform.Admin/src/utils/encryption.ts
Due: prettier --write, eslint --fix

fix: 修复SM2公钥获取，兼容字符串和对象格式的data
  Platform.Admin/src/utils/encryption.ts
Due: prettier --write, eslint --fix

fix: 恢复SM2加密结果添加04前缀以匹配后端格式
  Platform.Admin/src/utils/encryption.ts
Due: prettier --write, eslint --fix

docs: 添加notice菜单的中英文翻译
  Platform.Admin/src/locales/en-US/menu.ts
  Platform.Admin/src/locales/zh-CN/menu.ts
Due: prettier --write, eslint --fix

perf: 优化开发环境日志级别，减少调试日志输出
  Platform.AppHost/appsettings.Development.json
Due: prettier --write

fix: 修复ParkEnterpriseServiceService nullable警告
  Platform.ApiService/Services/Park/ParkEnterpriseServiceService.cs
Due: none

refactor: 简化 MongoDB 配置，使用 Aspire 标准方式
  Platform.AppHost/AppHost.cs
  Platform.AppHost/appsettings.Development.json
  Platform.AppHost/appsettings.Testing.json
  Platform.AppHost/appsettings.json
  Platform.Storage/Program.cs
Due: prettier --write

refactor: 移除 AiCompletionOptions，使用 Aspire OpenAI 集成配置
  Platform.ApiService/Services/AiCompletionService.cs
  Platform.ApiService/Services/AiSuggestionService.cs
  Platform.ApiService/Services/ChatAiService.cs
  Platform.ApiService/Services/Park/ParkStatisticsService.cs
  Platform.ApiService/Services/Park/ParkVisitService.cs
  Platform.ApiService/Services/ProjectStatisticsService.cs
  Platform.ApiService/appsettings.json
  Platform.AppHost/AppHost.cs
Due: prettier --write

refactor: 简化 OpenAI 配置，模型名称从 appsettings.json 读取
  Platform.ApiService/Platform.ApiService.csproj
  Platform.ApiService/Services/AiSuggestionService.cs
  Platform.ApiService/Services/ChatAiService.cs
  Platform.ApiService/Services/Park/ParkStatisticsService.cs
  Platform.ApiService/Services/Park/ParkVisitService.cs
  Platform.ApiService/Services/ProjectStatisticsService.cs
  Platform.ApiService/appsettings.json
Due: prettier --write

fix: 统一使用 Microsoft.Extensions.AI 接口替代 OpenAI.Chat
  Platform.ApiService/Program.cs
  Platform.ApiService/Services/AiSuggestionService.cs
  Platform.ApiService/Services/ChatAiService.cs
  Platform.ApiService/Services/Park/ParkStatisticsService.cs
  Platform.ApiService/Services/Park/ParkVisitService.cs
  Platform.ApiService/Services/ProjectStatisticsService.cs
  Platform.ApiService/appsettings.json
Due: prettier --write

fix: 统一 ChatAiService 使用 Microsoft.Extensions.AI API
  Platform.ApiService/Services/ChatAiService.cs
Due: none

fix: 修复小科对话历史未添加到请求中导致所答非所问
  Platform.ApiService/Services/ChatAiService.cs
Due: none

fix: 修复小科对话SSE流式输出延迟问题
  Platform.Admin/src/services/chat/api.ts
  Platform.ApiService/Controllers/ChatMessagesController.cs
Due: prettier --write, eslint --fix

refactor: 优化聊天消息 SSE 响应与调试日志
  .opencode/package-lock.json
  Platform.Admin/src/services/chat/api.ts
  Platform.ApiService/Controllers/ChatMessagesController.cs
Due: prettier --write, eslint --fix

perf: 优化小科MCP工具匹配性能
  Platform.ApiService/Models/McpModels.cs
  Platform.ApiService/Services/Mcp/Handlers/KnowledgeMcpToolHandler.cs
  Platform.ApiService/Services/Mcp/Handlers/PasswordBookMcpToolHandler.cs
  Platform.ApiService/Services/Mcp/Handlers/ProjectMcpToolHandler.cs
  Platform.ApiService/Services/Mcp/Handlers/WorkflowMcpToolHandler.cs
  Platform.ApiService/Services/McpService.cs
Due: none

feat: 新增 6 个 MCP Handler 扩展系统能力
  Platform.ApiService/Services/Mcp/Handlers/SocialMcpToolHandler.cs
  Platform.ApiService/Services/Mcp/Handlers/StatisticsMcpToolHandler.cs
Due: none

fix: 将编辑企业信息按钮移到企业详情卡片右上角
  Platform.Admin/src/pages/company/settings.tsx
Due: prettier --write, eslint --fix

style: 企业详情表格改为响应式布局
  Platform.Admin/src/pages/company/settings.tsx
Due: prettier --write, eslint --fix

style: 企业数据统计改为响应式布局
  Platform.Admin/src/pages/company/settings.tsx
Due: prettier --write, eslint --fix

style: 调整企业数据统计响应式布局
  Platform.Admin/src/pages/company/settings.tsx
Due: prettier --write, eslint --fix

style: 优化统计卡片响应式布局为大屏6列
  Platform.Admin/src/pages/company/settings.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json,css,less,md}
  eslint --fix: any of: **/*.{ts,tsx,js,jsx}
