Repository wjw1-Evan/aspire-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx,json,css,less,md}": [
    "prettier --write",
    "git add"
  ],
  "**/*.{ts,tsx,js,jsx}": [
    "eslint --fix",
    "git add"
  ]
}

feat: 任务编辑表单改为两列布局
  Platform.Admin/src/pages/web-scraper/components/TaskForm.tsx
  Platform.Admin/src/pages/web-scraper/index.tsx
Due: prettier --write, eslint --fix

refactor: 优化任务编辑表单布局
  Platform.Admin/src/pages/web-scraper/components/TaskForm.tsx
Due: prettier --write, eslint --fix

fix: 修复定时抓取任务重复执行问题
  Platform.ApiService/BackgroundServices/WebScraperScheduledTaskHostedService.cs
Due: none

fix: 增强定时任务日志并添加去重逻辑
  Platform.ApiService/BackgroundServices/WebScraperScheduledTaskHostedService.cs
Due: none

fix: 以任务状态为准防止重复执行
  Platform.ApiService/BackgroundServices/WebScraperScheduledTaskHostedService.cs
Due: none

fix: 解决 Admin 端频繁要求登录问题
  Platform.Admin/src/app.tsx
  Platform.Admin/src/utils/token.ts
Due: prettier --write, eslint --fix

fix: 解决 Admin 端频繁要求登录问题（仅设置固定 JWT SecretKey）
  Platform.Admin/src/app.tsx
  Platform.Admin/src/utils/token.ts
Due: prettier --write, eslint --fix

fix: 完善 Token 被动刷新机制
  Platform.Admin/src/app.tsx
  Platform.Admin/src/utils/token.ts
Due: prettier --write, eslint --fix

refactor: 统一 Token 相关类型定义，修复后端 Status 字段
  Platform.Admin/src/hooks/useAuthState.ts
  Platform.Admin/src/services/ant-design-pro/api.ts
  Platform.Admin/src/services/auth/types.ts
  Platform.ApiService/Models/Dtos/AuthDtos.cs
  Platform.ApiService/Services/LoginService.cs
Due: prettier --write, eslint --fix

refactor: 统一前后端类型定义
  Platform.Admin/src/components/AiAssistant/index.tsx
  Platform.Admin/src/components/RightContent/AvatarDropdown.tsx
  Platform.Admin/src/pages/account/center/index.tsx
  Platform.Admin/src/pages/welcome/components/RecentActivitiesCard.tsx
  Platform.Admin/src/pages/welcome/components/TaskOverviewCard.tsx
  Platform.Admin/src/pages/welcome/components/WelcomeHeader.tsx
  Platform.Admin/src/types/index.ts
  Platform.ApiService/Models/Dtos/AuthDtos.cs
  Platform.ApiService/Models/Entities/UserCompanyEntities.cs
Due: prettier --write, eslint --fix

fix: 补充 Task CreateTaskRequest 和 UpdateTaskRequest 缺失字段
  Platform.Admin/src/services/task/api.ts
Due: prettier --write, eslint --fix

refactor: 优化 XiaokeConfig 类型定义，使用接口继承避免重复
  Platform.Admin/src/services/xiaoke/api.ts
Due: prettier --write, eslint --fix

fix: 修复后端编译错误
  Platform.Admin/src/types/index.ts
  Platform.ApiService/Models/Entities/UserCompanyEntities.cs
  Platform.ApiService/Services/AuthService.cs
  Platform.ApiService/Services/IAuthService.cs
  Platform.ApiService/Services/ILoginService.cs
  Platform.ApiService/Services/LoginService.cs
  Platform.ApiService/Services/SessionService.cs
Due: prettier --write, eslint --fix

fix: 修复 WebScraperService 并发访问 Dictionary 导致崩溃
  Platform.ApiService/Services/WebScraperService.cs
Due: none

fix: 修复 IoT 数据查询接口路由
  Platform.ApiService/Controllers/IoTController.cs
Due: none

fix: 修复表单管理接口路由与统计功能
  Platform.ApiService/Controllers/FormController.cs
  Platform.ApiService/Services/FormDefinitionService.cs
  Platform.ApiService/Services/IFormDefinitionService.cs
Due: none

style: 统一 workflow 页面分页参数与规范对齐
  Platform.Admin/src/pages/workflow/forms/index.tsx
  Platform.Admin/src/pages/workflow/monitor.tsx
Due: prettier --write, eslint --fix

docs: 更新分页规范，允许前端传递 pageSize
  AGENTS.md
  Platform.Admin/src/pages/workflow/forms/index.tsx
  Platform.Admin/src/pages/workflow/monitor.tsx
Due: prettier --write, eslint --fix

style: 统一 workflow 页面搜索功能与密码本模块对齐
  Platform.Admin/src/pages/workflow/forms/index.tsx
  Platform.Admin/src/pages/workflow/monitor.tsx
Due: prettier --write, eslint --fix

fix: 添加后端搜索功能支持
  Platform.Admin/src/pages/workflow/forms/index.tsx
  Platform.ApiService/Services/FormDefinitionService.cs
  Platform.ApiService/Services/WorkflowInstanceQueryService.cs
Due: prettier --write, eslint --fix

fix: 修复 join-requests 页面未传递 pageSize 问题
  Platform.Admin/src/pages/join-requests/pending/index.tsx
Due: prettier --write, eslint --fix

docs: 补充 ProTable pageSize 传递规范至 AGENTS.md
  AGENTS.md
Due: prettier --write

docs: 补充 PageParams 类型定义说明
  AGENTS.md
Due: prettier --write

docs: 完善示例包含完整参数
  AGENTS.md
Due: prettier --write

docs: 合并 ProTable 相关内容至 7.5 节
  AGENTS.md
Due: prettier --write

docs: 参考密码本模块更新页面结构示例
  AGENTS.md
Due: prettier --write

docs: 使用 PageParams 作为 request params 类型
  AGENTS.md
Due: prettier --write

refactor: 密码本模块使用 PageParams 类型并更新文档
  AGENTS.md
  Platform.Admin/src/pages/password-book/index.tsx
Due: prettier --write, eslint --fix

revert: 恢复使用 any 类型作为 ProTable request 参数
  AGENTS.md
  Platform.Admin/src/pages/password-book/index.tsx
Due: prettier --write, eslint --fix

refactor: 密码本排序逻辑直接使用 ProTable sort 参数，移除冗余的 sorter 状态管理
  Platform.Admin/src/pages/password-book/index.tsx
  Platform.Admin/src/types/api-response.ts
Due: prettier --write, eslint --fix

refactor: 简化密码本 ProTable request 参数传递，移除手动排序解析逻辑
  Platform.Admin/src/pages/password-book/index.tsx
Due: prettier --write, eslint --fix

feat: 优化密码本页面类型定义，将 any 改为 PageParams
  Platform.Admin/src/pages/password-book/index.tsx
Due: prettier --write, eslint --fix

fix: 修复验证码加密密钥配置读取问题
  Platform.ApiService/Services/ImageCaptchaService.cs
Due: none

fix: 移除静态密钥字段，使用实例字段避免多实例问题
  Platform.ApiService/Services/ImageCaptchaService.cs
Due: none

fix: 修复密码本列表接口，避免传递空 sort/filter 对象
  Platform.Admin/src/pages/password-book/index.tsx
  Platform.ApiService/appsettings.Development.json
  Platform.ApiService/appsettings.Production.json
Due: prettier --write, eslint --fix

feat: 密码本列表接口支持 sort 和 filter 参数
  Platform.Admin/src/pages/password-book/index.tsx
Due: prettier --write, eslint --fix

feat: 密码本列表接口支持序列化 sort 和 filter 参数
  Platform.Admin/src/pages/password-book/index.tsx
  Platform.ServiceDefaults/Models/PageParams.cs
Due: prettier --write, eslint --fix

fix: 修复密码本列表排序参数未发送到后端的问题
  Platform.Admin/src/pages/password-book/index.tsx
  Platform.ServiceDefaults/Models/PageParams.cs
Due: prettier --write, eslint --fix

refactor: 使用 request 参数中的 sort 参数进行排序
  Platform.Admin/src/pages/password-book/index.tsx
Due: prettier --write, eslint --fix

fix: 修复 ProTable sort 参数获取方式
  Platform.Admin/src/pages/password-book/index.tsx
Due: prettier --write, eslint --fix
